## Kaggle Link:
https://www.kaggle.com/datasets/nathanlauga/nba-games

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## games.csv Analysis

In [2]:
games_df = pd.read_csv('games.csv')
games_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0

In [3]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB

In [4]:
games_df[pd.isnull(games_df).any(axis=1)]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
18320,2003-10-24,10300116,Final,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,...,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0
18321,2003-10-24,10300108,Final,1610612737,1610612764,2003,1610612737,NaN,NaN,NaN,...,NaN,NaN,1610612764,NaN,NaN,NaN,NaN,NaN,NaN,0
18322,2003-10-24,10300109,Final,1610612738,1610612751,2003,1610612738,NaN,NaN,NaN,...,NaN,NaN,1610612751,NaN,NaN,NaN,NaN,NaN,NaN,0
18323,2003-10-24,10300113,Final,1610612759,1610612745,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,0
18324,2003-10-24,10300112,Final,1610612749,1610612765,2003,1610612749,NaN,NaN,NaN,...,NaN,NaN,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18414,2003-10-09,10300019,Final,1610612743,1610612756,2003,1610612743,NaN,NaN,NaN,...,NaN,NaN,1610612756,NaN,NaN,NaN,NaN,NaN,NaN,0
18415,2003-10-09,10300022,Final,1610612757,1610612758,2003,1610612757,NaN,NaN,NaN,...,NaN,NaN,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,0
18416,2003-10-08,10300013,Final,1610612759,1610612763,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,0
18423,2003-10-08,10300015,Final,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0
18424,2003-10-07,10300006,Final,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
games_df[pd.isnull(games_df).any(axis=1)].iloc[0]

GAME_DATE_EST       2003-10-24
GAME_ID               10300116
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612753
VISITOR_TEAM_ID     1610612762
SEASON                    2003
TEAM_ID_home        1610612753
PTS_home                   NaN
FG_PCT_home                NaN
FT_PCT_home                NaN
FG3_PCT_home               NaN
AST_home                   NaN
REB_home                   NaN
TEAM_ID_away        1610612762
PTS_away                   NaN
FG_PCT_away                NaN
FT_PCT_away                NaN
FG3_PCT_away               NaN
AST_away                   NaN
REB_away                   NaN
HOME_TEAM_WINS               0
Name: 18320, dtype: object

In [6]:
print(len(games_df[pd.isnull(games_df).any(axis=1)]))
print(games_df[pd.isnull(games_df).any(axis=1)]['GAME_DATE_EST'].min())
print(games_df[pd.isnull(games_df).any(axis=1)]['GAME_DATE_EST'].max())

99
2003-10-07
2003-10-24

In [7]:
games_df.iloc[0]

GAME_DATE_EST       2022-03-12
GAME_ID               22101005
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612748
VISITOR_TEAM_ID     1610612750
SEASON                    2021
TEAM_ID_home        1610612748
PTS_home                 104.0
FG_PCT_home              0.398
FT_PCT_home               0.76
FG3_PCT_home             0.333
AST_home                  23.0
REB_home                  53.0
TEAM_ID_away        1610612750
PTS_away                 113.0
FG_PCT_away              0.422
FT_PCT_away              0.875
FG3_PCT_away             0.357
AST_away                  21.0
REB_away                  46.0
HOME_TEAM_WINS               0
Name: 0, dtype: object

In [8]:
games_df['GAME_STATUS_TEXT'].unique()

array(['Final'], dtype=object)

In [9]:
print(games_df['GAME_DATE_EST'].min())
print(games_df['GAME_DATE_EST'].max())

2003-10-05
2022-03-12

In [10]:
games_df[games_df['GAME_ID'] == 12100005]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
1069,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,30.0,49.0,1610612740,114.0,0.414,0.769,0.324,21.0,53.0,1

In [11]:
games_df['HOME_TEAM_WINS'].value_counts()

1    15155
0    10641
Name: HOME_TEAM_WINS, dtype: int64

In [12]:
games_df.head(100)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-02-28,22100925,Final,1610612760,1610612758,2021,1610612760,110.0,0.465,0.704,...,28.0,38.0,1610612758,131.0,0.563,0.767,0.323,30.0,46.0,0
96,2022-02-27,22100912,Final,1610612752,1610612755,2021,1610612752,109.0,0.447,0.629,...,21.0,47.0,1610612755,125.0,0.487,0.886,0.303,28.0,43.0,0
97,2022-02-27,22100913,Final,1610612756,1610612762,2021,1610612756,114.0,0.512,0.813,...,24.0,36.0,1610612762,118.0,0.468,0.650,0.425,23.0,41.0,0
98,2022-02-27,22100914,Final,1610612754,1610612738,2021,1610612754,128.0,0.522,0.850,...,25.0,49.0,1610612738,107.0,0.429,0.850,0.279,25.0,40.0,1
99,2022-02-27,22100915,Final,1610612766,1610612765,2021,1610612766,126.0,0.506,0.676,...,25.0,46.0,1610612765,127.0,0.455,0.722,0.350,30.0,54.0,0

## games_details.csv Analysis

Links for EFF calculation: 
https://captaincalculator.com/sports/basketball/efficiency/
https://en.wikipedia.org/wiki/Efficiency_(basketball)

In [12]:
games_details_df = pd.read_csv('games_details.csv')
games_details_df.head()

C:\Users\peech\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0

In [13]:
games_details_df[games_details_df['PLAYER_NAME'] == 'Paul George'].iloc[0]

GAME_ID                 22100475
TEAM_ID               1610612746
TEAM_ABBREVIATION            LAC
TEAM_CITY                     LA
PLAYER_ID                 202331
PLAYER_NAME          Paul George
NICKNAME                    Paul
START_POSITION                 F
COMMENT                      NaN
MIN                        32:15
FGM                          6.0
FGA                         18.0
FG_PCT                     0.333
FG3M                         3.0
FG3A                         7.0
FG3_PCT                    0.429
FTM                          2.0
FTA                          2.0
FT_PCT                       1.0
OREB                         0.0
DREB                         4.0
REB                          4.0
AST                          6.0
STL                          5.0
BLK                          1.0
TO                           2.0
PF                           2.0
PTS                         17.0
PLUS_MINUS                   8.0
Name: 13804, dtype: object

In [14]:
games_details_df[games_details_df['PLAYER_NAME'] == 'LeBron James'].iloc[0]

GAME_ID                  22101004
TEAM_ID                1610612747
TEAM_ABBREVIATION             LAL
TEAM_CITY             Los Angeles
PLAYER_ID                    2544
PLAYER_NAME          LeBron James
NICKNAME                   LeBron
START_POSITION                  C
COMMENT                       NaN
MIN                         35:42
FGM                          18.0
FGA                          25.0
FG_PCT                       0.72
FG3M                          6.0
FG3A                          9.0
FG3_PCT                     0.667
FTM                           8.0
FTA                           8.0
FT_PCT                        1.0
OREB                          0.0
DREB                          7.0
REB                           7.0
AST                           6.0
STL                           0.0
BLK                           1.0
TO                            3.0
PF                            3.0
PTS                          50.0
PLUS_MINUS                   22.0
Name: 405, dtype: object

In [15]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645953 entries, 0 to 645952
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            645953 non-null  int64
 1   TEAM_ID            645953 non-null  int64
 2   TEAM_ABBREVIATION  645953 non-null  object
 3   TEAM_CITY          645953 non-null  object
 4   PLAYER_ID          645953 non-null  int64
 5   PLAYER_NAME        645953 non-null  object
 6   NICKNAME           30362 non-null   object
 7   START_POSITION     247215 non-null  object
 8   COMMENT            105602 non-null  object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 142.9+ MB

In [16]:
games_details_df = games_details_df.rename(columns = {'NICKNAME': 'PLAYER_NICKNAME'})

In [17]:
games_details_df['COMMENT'].unique()

array([nan, "DNP - Coach's Decision", 'DNP - Injury/Illness', ...,
       'DND - Strained Right Hamstring and Groin',
       'DND - Strained Right Hamstring/Groin',
       'DND - Non-Displaced Fracture, Left Fibul'], dtype=object)

In [18]:
games_details_df['COMMENT'].value_counts()

DNP - Coach's Decision                      54563
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1151
DNP - Injury/Illness                          960
                                            ...
DNP - grade 2 left knee MCL sprain              1
NWT-stress reaction right ankle                 1
DND - bone spurs right ankle                    1
NWT-Bone spurs right heel                       1
NWT - Eye Injury                                1
Name: COMMENT, Length: 5348, dtype: int64

In [19]:
def getEFFColumn(pts, reb, ast, stl, blk, fgm, fga, ftm, fta, to):
    eff = pts+reb+ast+stl+blk-(fga-fgm)-(fta-ftm)-to
    return eff

games_details_df = games_details_df[games_details_df['COMMENT'].isnull()]
games_details_df['EFF'] = [getEFFColumn(p,r,a,s,b,fm,fa,fm1,fa1,t) for (p,r,a,s,b,fm,fa,fm1,fa1,t) in
                   zip(games_details_df['PTS'], games_details_df['REB'], games_details_df['AST'], games_details_df['STL'],
                      games_details_df['BLK'], games_details_df['FGM'], games_details_df['FGA'], games_details_df['FTM'],
                      games_details_df['FTA'], games_details_df['TO'])]

In [20]:
games_details_df[games_details_df['TEAM_CITY'] == 'San Antonio'].iloc[20100]

GAME_ID                 21200457
TEAM_ID               1610612759
TEAM_ABBREVIATION            SAS
TEAM_CITY            San Antonio
PLAYER_ID                   2564
PLAYER_NAME           Boris Diaw
PLAYER_NICKNAME              NaN
START_POSITION               NaN
COMMENT                      NaN
MIN                        16:06
FGM                          3.0
FGA                          5.0
FG_PCT                       0.6
FG3M                         0.0
FG3A                         0.0
FG3_PCT                      0.0
FTM                          0.0
FTA                          0.0
FT_PCT                       0.0
OREB                         1.0
DREB                         5.0
REB                          6.0
AST                          2.0
STL                          1.0
BLK                          1.0
TO                           2.0
PF                           2.0
PTS                          6.0
PLUS_MINUS                  18.0
EFF                         12.0
Name: 631808, dtype: object

In [21]:
games_details_df['COMMENT'].unique()

array([nan], dtype=object)

In [22]:
games_details_df['COMMENT'].value_counts()

Series([], Name: COMMENT, dtype: int64)

In [23]:
games_details_df[games_details_df['GAME_ID'] == 12100005]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PLAYER_NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
28050,12100005,1610612740,NOP,New Orleans,1627742,Brandon Ingram,Brandon,F,NaN,22:40,...,1.0,1.0,3.0,2.0,0.0,4.0,2.0,14.0,-10.0,12.0
28051,12100005,1610612740,NOP,New Orleans,1630230,Naji Marshall,Naji,F,NaN,18:20,...,4.0,7.0,2.0,2.0,1.0,2.0,2.0,9.0,-13.0,12.0
28052,12100005,1610612740,NOP,New Orleans,1626195,Willy Hernangomez,Willy,C,NaN,14:31,...,1.0,4.0,0.0,0.0,0.0,1.0,5.0,2.0,-6.0,2.0
28053,12100005,1610612740,NOP,New Orleans,202066,Garrett Temple,Garrett,G,NaN,14:51,...,1.0,2.0,0.0,0.0,1.0,1.0,0.0,4.0,-12.0,2.0
28054,12100005,1610612740,NOP,New Orleans,1628984,Devonte' Graham,Devonte',G,NaN,21:56,...,2.0,3.0,1.0,0.0,0.0,4.0,1.0,9.0,-13.0,4.0
28055,12100005,1610612740,NOP,New Orleans,1628404,Josh Hart,Josh,NaN,NaN,19:59,...,4.0,7.0,2.0,1.0,0.0,1.0,3.0,5.0,5.0,8.0
28056,12100005,1610612740,NOP,New Orleans,1629638,Nickeil Alexander-Walker,Nickeil,NaN,NaN,20:39,...,2.0,2.0,3.0,2.0,1.0,1.0,3.0,22.0,12.0,21.0
28057,12100005,1610612740,NOP,New Orleans,1630530,Trey Murphy III,Trey,NaN,NaN,30:19,...,4.0,6.0,0.0,0.0,0.0,1.0,1.0,21.0,7.0,16.0
28058,12100005,1610612740,NOP,New Orleans,203107,Tomas Satoransky,Tomas,NaN,NaN,13:34,...,0.0,0.0,4.0,0.0,0.0,2.0,2.0,2.0,4.0,3.0
28059,12100005,1610612740,NOP,New Orleans,1629637,Jaxson Hayes,Jaxson,NaN,NaN,20:04,...,4.0,5.0,0.0,0.0,2.0,2.0,0.0,8.0,-10.0,9.0
28060,12100005,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,NaN,NaN,18:36,...,3.0,6.0,2.0,1.0,2.0,0.0,2.0,7.0,-1.0,14.0
28061,12100005,1610612740,NOP,New Orleans,1630184,Kira Lewis Jr.,Kira,NaN,NaN,11:46,...,5.0,5.0,2.0,0.0,0.0,1.0,2.0,9.0,3.0,11.0
28062,12100005,1610612740,NOP,New Orleans,1629117,Wenyen Gabriel,Wenyen,NaN,NaN,7:59,...,2.0,4.0,2.0,0.0,0.0,1.0,1.0,2.0,11.0,3.0
28063,12100005,1610612740,NOP,New Orleans,1629712,Didi Louzada,Didi,NaN,NaN,4:46,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
28070,12100005,1610612750,MIN,Minnesota,1629006,Josh Okogie,Josh,F,NaN,19:14,...,0.0,0.0,1.0,2.0,2.0,0.0,2.0,9.0,5.0,12.0
28071,12100005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,12:57,...,2.0,3.0,0.0,1.0,0.0,2.0,6.0,0.0,-1.0,1.0
28072,12100005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,14:18,...,5.0,7.0,4.0,0.0,1.0,1.0,2.0,15.0,20.0,22.0
28073,12100005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,G,NaN,22:01,...,2.0,3.0,3.0,2.0,2.0,3.0,1.0,10.0,17.0,11.0
28074,12100005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,16:27,...,3.0,3.0,5.0,0.0,0.0,2.0,1.0,19.0,18.0,21.0
28075,12100005,1610612750,MIN,Minnesota,1627752,Taurean Prince,Taurean,NaN,NaN,15:15,...,2.0,3.0,2.0,1.0,0.0,0.0,1.0,12.0,-5.0,16.0
28076,12100005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,NaN,NaN,19:13,...,2.0,3.0,2.0,1.0,0.0,0.0,0.0,6.0,6.0,7.0
28077,12100005,1610612750,MIN,Minnesota,1629675,Naz Reid,Naz,NaN,NaN,18:50,...,2.0,2.0,1.0,1.0,1.0,0.0,2.0,13.0,3.0,11.0
28078,12100005,1610612750,MIN,Minnesota,201976,Patrick Beverley,Patrick,NaN,NaN,16:41,...,2.0,3.0,6.0,2.0,0.0,3.0,2.0,5.0,5.0,6.0
28079,12100005,1610612750,MIN,Minnesota,1629020,Jarred Vanderbilt,Jarred,NaN,NaN,17:02,...,6.0,7.0,0.0,1.0,0.0,3.0,3.0,3.0,3.0,6.0
28080,12100005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,Jordan,NaN,NaN,14:43,...,3.0,3.0,2.0,3.0,0.0,1.0,1.0,2.0,6.0,7.0
28081,12100005,1610612750,MIN,Minnesota,1627774,Jake Layman,Jake,NaN,NaN,10:06,...,2.0,2.0,0.0,0.0,0.0,1.0,1.0,5.0,-12.0,4.0
28082,12100005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,Jaylen,NaN,NaN,8:06,...,3.0,4.0,1.0,0.0,0.0,1.0,0.0,5.0,-5.0,5.0
28083,12100005,1610612750,MIN,Minnesota,1630233,Nathan Knight,Nathan,NaN,NaN,10:13,...,1.0,2.0,1.0,0.0,2.0,1.0,2.0,8.0,-11.0,11.0
28084,12100005,1610612750,MIN,Minnesota,1630195,Leandro Bolmaro,Leandro,NaN,NaN,8:45,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,-9.0,1.0
28085,12100005,1610612750,MIN,Minnesota,1630593,McKinley Wright IV,McKinley,NaN,NaN,8:23,...,1.0,1.0,1.0,0.0,2.0,0.0,0.0,1.0,-11.0,2.0
28086,12100005,1610612750,MIN,Minnesota,1628968,Brian Bowen II,Brian,NaN,NaN,4:46,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,-8.0,2.0
28087,12100005,1610612750,MIN,Minnesota,1630627,Isaiah Miller,Isaiah,NaN,NaN,3:00,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.0,1.0

In [24]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540351 entries, 0 to 645952
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540351 non-null  int64
 1   TEAM_ID            540351 non-null  int64
 2   TEAM_ABBREVIATION  540351 non-null  object
 3   TEAM_CITY          540351 non-null  object
 4   PLAYER_ID          540351 non-null  int64
 5   PLAYER_NAME        540351 non-null  object
 6   PLAYER_NICKNAME    24808 non-null   object
 7   START_POSITION     247215 non-null  object
 8   COMMENT            0 non-null       object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
 29  EFF                540350 non-null  float64
dtypes: float64(20), int64(3), object(7)
memory usage: 127.8+ MB

In [25]:
teams_df = pd.read_csv('teams.csv')
games_details_df = pd.merge(games_details_df, teams_df, how='inner', on='TEAM_ID')
games_details_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PLAYER_NICKNAME,START_POSITION,COMMENT,MIN,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves

In [26]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540351 entries, 0 to 540350
Data columns (total 43 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GAME_ID             540351 non-null  int64
 1   TEAM_ID             540351 non-null  int64
 2   TEAM_ABBREVIATION   540351 non-null  object
 3   TEAM_CITY           540351 non-null  object
 4   PLAYER_ID           540351 non-null  int64
 5   PLAYER_NAME         540351 non-null  object
 6   PLAYER_NICKNAME     24808 non-null   object
 7   START_POSITION      247215 non-null  object
 8   COMMENT             0 non-null       object
 9   MIN                 540350 non-null  object
 10  FGM                 540350 non-null  float64
 11  FGA                 540350 non-null  float64
 12  FG_PCT              540350 non-null  float64
 13  FG3M                540350 non-null  float64
 14  FG3A                540350 non-null  float64
 15  FG3_PCT             540350 non-null  float64
 16  FTM                 540350 non-null  float64
 17  FTA                 540350 non-null  float64
 18  FT_PCT              540350 non-null  float64
 19  OREB                540350 non-null  float64
 20  DREB                540350 non-null  float64
 21  REB                 540350 non-null  float64
 22  AST                 540350 non-null  float64
 23  STL                 540350 non-null  float64
 24  BLK                 540350 non-null  float64
 25  TO                  540350 non-null  float64
 26  PF                  540350 non-null  float64
 27  PTS                 540350 non-null  float64
 28  PLUS_MINUS          516689 non-null  float64
 29  EFF                 540350 non-null  float64
 30  LEAGUE_ID           540351 non-null  int64
 31  MIN_YEAR            540351 non-null  int64
 32  MAX_YEAR            540351 non-null  int64
 33  ABBREVIATION        540351 non-null  object
 34  NICKNAME            540351 non-null  object
 35  YEARFOUNDED         540351 non-null  int64
 36  CITY                540351 non-null  object
 37  ARENA               540351 non-null  object
 38  ARENACAPACITY       470374 non-null  float64
 39  OWNER               540351 non-null  object
 40  GENERALMANAGER      540351 non-null  object
 41  HEADCOACH           540351 non-null  object
 42  DLEAGUEAFFILIATION  540351 non-null  object
dtypes: float64(21), int64(7), object(15)
memory usage: 181.4+ MB

In [27]:
games_details_df.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION', 'COMMENT', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'EFF', 'LEAGUE_ID', 'MIN_YEAR', 'MAX_YEAR',
       'ABBREVIATION', 'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA',
       'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH',
       'DLEAGUEAFFILIATION'],
      dtype='object')

In [28]:
games_details_df = games_details_df[['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'NICKNAME', 'PLAYER_ID',
       'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION', 'COMMENT', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'EFF']]
games_details_df = games_details_df.rename(columns = {'NICKNAME': 'TEAM_NICKNAME'})
games_details_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,TEAM_NICKNAME,PLAYER_ID,PLAYER_NAME,PLAYER_NICKNAME,START_POSITION,COMMENT,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
0,22101005,1610612750,MIN,Minnesota,Timberwolves,1630162,Anthony Edwards,Anthony,F,NaN,...,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0,25.0
1,22101005,1610612750,MIN,Minnesota,Timberwolves,1630183,Jaden McDaniels,Jaden,F,NaN,...,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0,18.0
2,22101005,1610612750,MIN,Minnesota,Timberwolves,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,...,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0,15.0
3,22101005,1610612750,MIN,Minnesota,Timberwolves,1627736,Malik Beasley,Malik,G,NaN,...,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0,11.0
4,22101005,1610612750,MIN,Minnesota,Timberwolves,1626156,D'Angelo Russell,D'Angelo,G,NaN,...,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0,15.0

In [29]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540351 entries, 0 to 540350
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540351 non-null  int64
 1   TEAM_ID            540351 non-null  int64
 2   TEAM_ABBREVIATION  540351 non-null  object
 3   TEAM_CITY          540351 non-null  object
 4   TEAM_NICKNAME      540351 non-null  object
 5   PLAYER_ID          540351 non-null  int64
 6   PLAYER_NAME        540351 non-null  object
 7   PLAYER_NICKNAME    24808 non-null   object
 8   START_POSITION     247215 non-null  object
 9   COMMENT            0 non-null       object
 10  MIN                540350 non-null  object
 11  FGM                540350 non-null  float64
 12  FGA                540350 non-null  float64
 13  FG_PCT             540350 non-null  float64
 14  FG3M               540350 non-null  float64
 15  FG3A               540350 non-null  float64
 16  FG3_PCT            540350 non-null  float64
 17  FTM                540350 non-null  float64
 18  FTA                540350 non-null  float64
 19  FT_PCT             540350 non-null  float64
 20  OREB               540350 non-null  float64
 21  DREB               540350 non-null  float64
 22  REB                540350 non-null  float64
 23  AST                540350 non-null  float64
 24  STL                540350 non-null  float64
 25  BLK                540350 non-null  float64
 26  TO                 540350 non-null  float64
 27  PF                 540350 non-null  float64
 28  PTS                540350 non-null  float64
 29  PLUS_MINUS         516689 non-null  float64
 30  EFF                540350 non-null  float64
dtypes: float64(20), int64(3), object(8)
memory usage: 131.9+ MB

In [30]:
games_details_df.iloc[0]

GAME_ID                     22101005
TEAM_ID                   1610612750
TEAM_ABBREVIATION                MIN
TEAM_CITY                  Minnesota
TEAM_NICKNAME           Timberwolves
PLAYER_ID                    1630162
PLAYER_NAME          Anthony Edwards
PLAYER_NICKNAME              Anthony
START_POSITION                     F
COMMENT                          NaN
MIN                            36:22
FGM                              4.0
FGA                             10.0
FG_PCT                           0.4
FG3M                             3.0
FG3A                             8.0
FG3_PCT                        0.375
FTM                              4.0
FTA                              4.0
FT_PCT                           1.0
OREB                             0.0
DREB                             8.0
REB                              8.0
AST                              5.0
STL                              3.0
BLK                              1.0
TO                               1.0
PF                               1.0
PTS                             15.0
PLUS_MINUS                       5.0
EFF                             25.0
Name: 0, dtype: object

In [31]:
games_details_df[games_details_df['TEAM_NICKNAME'] == 'Spurs'].iloc[21]

GAME_ID                  22100989
TEAM_ID                1610612759
TEAM_ABBREVIATION             SAS
TEAM_CITY             San Antonio
TEAM_NICKNAME               Spurs
PLAYER_ID                 1627751
PLAYER_NAME          Jakob Poeltl
PLAYER_NICKNAME             Jakob
START_POSITION                  C
COMMENT                       NaN
MIN                         33:50
FGM                           5.0
FGA                           8.0
FG_PCT                      0.625
FG3M                          0.0
FG3A                          0.0
FG3_PCT                       0.0
FTM                           1.0
FTA                           1.0
FT_PCT                        1.0
OREB                          5.0
DREB                          7.0
REB                          12.0
AST                           2.0
STL                           0.0
BLK                           1.0
TO                            3.0
PF                            4.0
PTS                          11.0
PLUS_MINUS                  -15.0
EFF                          20.0
Name: 90189, dtype: object

## players.csv Analysis

In [32]:
players_df = pd.read_csv('players.csv')
players_df.head()

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [33]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [34]:
print(players_df['SEASON'].min())
print(players_df['SEASON'].max())

2009
2019

In [35]:
players_df[players_df['PLAYER_NAME'] == 'Tim Duncan']

     PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
2841  Tim Duncan  1610612759       1495    2015
3553  Tim Duncan  1610612759       1495    2014
4150  Tim Duncan  1610612759       1495    2013
4791  Tim Duncan  1610612759       1495    2012
5467  Tim Duncan  1610612759       1495    2011
6110  Tim Duncan  1610612759       1495    2010
6720  Tim Duncan  1610612759       1495    2009

In [36]:
players_df[players_df['PLAYER_NAME'] == 'Manu Ginobili']

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
1569  Manu Ginobili  1610612759       1938    2017
2137  Manu Ginobili  1610612759       1938    2016
2846  Manu Ginobili  1610612759       1938    2015
3558  Manu Ginobili  1610612759       1938    2014
4154  Manu Ginobili  1610612759       1938    2013
4790  Manu Ginobili  1610612759       1938    2012
5469  Manu Ginobili  1610612759       1938    2011
6112  Manu Ginobili  1610612759       1938    2010
6722  Manu Ginobili  1610612759       1938    2009

In [37]:
players_df[players_df['PLAYER_NAME'] == 'Tony Parker']

      PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
887   Tony Parker  1610612766       2225    2018
1572  Tony Parker  1610612759       2225    2017
2206  Tony Parker  1610612759       2225    2016
2843  Tony Parker  1610612759       2225    2015
3556  Tony Parker  1610612759       2225    2014
4153  Tony Parker  1610612759       2225    2013
4793  Tony Parker  1610612759       2225    2012
5470  Tony Parker  1610612759       2225    2011
6113  Tony Parker  1610612759       2225    2010
6721  Tony Parker  1610612759       2225    2009

## ranking.csv Analysis

In [38]:
ranking_df = pd.read_csv('ranking.csv')
ranking_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN

In [39]:
def getHomeRoadPct(record):
    r_lst = record.split('-')
    w = int(r_lst[0])
    l = int(r_lst[1])
    if w+l != 0:
        return np.round((w)/(w+l),3)
    else:
        return 0

ranking_df['HOME_W_PCT'] = [getHomeRoadPct(hr) for hr in ranking_df['HOME_RECORD']]
ranking_df['ROAD_W_PCT'] = [getHomeRoadPct(rr) for rr in ranking_df['ROAD_RECORD']]
ranking_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN,0.778,0.806
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN,0.800,0.545
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN,0.706,0.647
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN,0.706,0.545
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN,0.657,0.562

In [40]:
ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201792 entries, 0 to 201791
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        201792 non-null  int64
 1   LEAGUE_ID      201792 non-null  int64
 2   SEASON_ID      201792 non-null  int64
 3   STANDINGSDATE  201792 non-null  object
 4   CONFERENCE     201792 non-null  object
 5   TEAM           201792 non-null  object
 6   G              201792 non-null  int64
 7   W              201792 non-null  int64
 8   L              201792 non-null  int64
 9   W_PCT          201792 non-null  float64
 10  HOME_RECORD    201792 non-null  object
 11  ROAD_RECORD    201792 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
 13  HOME_W_PCT     201792 non-null  float64
 14  ROAD_W_PCT     201792 non-null  float64
dtypes: float64(4), int64(6), object(5)
memory usage: 23.1+ MB

In [41]:
print(np.sort(ranking_df['TEAM'].unique()))

['Atlanta' 'Boston' 'Brooklyn' 'Charlotte' 'Chicago' 'Cleveland' 'Dallas'
 'Denver' 'Detroit' 'Golden State' 'Houston' 'Indiana' 'L.A. Clippers'
 'L.A. Lakers' 'LA Clippers' 'Memphis' 'Miami' 'Milwaukee' 'Minnesota'
 'New Jersey' 'New Orleans' 'New Orleans/Oklahoma City' 'New York'
 'Oklahoma City' 'Orlando' 'Philadelphia' 'Phoenix' 'Portland'
 'Sacramento' 'San Antonio' 'Seattle' 'Toronto' 'Utah' 'Washington']

In [42]:
print(len(ranking_df['TEAM'].unique()))

34

In [43]:
print(len(ranking_df['TEAM_ID'].unique()))

30

In [44]:
print(ranking_df[ranking_df['TEAM'] == 'L.A. Clippers']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'LA Clippers']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'New Orleans']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'New Orleans/Oklahoma City']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'Oklahoma City']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'Seattle']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'Brooklyn']['TEAM_ID'].unique())
print(ranking_df[ranking_df['TEAM'] == 'New Jersey']['TEAM_ID'].unique())

[1610612746]
[1610612746]
[1610612740]
[1610612740]
[1610612760]
[1610612760]
[1610612751]
[1610612751]

In [45]:
ranking_df['RETURNTOPLAY'].unique()

array([nan,  1.,  0.])

In [46]:
ranking_df['LEAGUE_ID'].value_counts()

0    201792
Name: LEAGUE_ID, dtype: int64

In [47]:
ranking_df['LEAGUE_ID'].unique()

array([0], dtype=int64)

In [48]:
print(ranking_df['STANDINGSDATE'].min())
print(ranking_df['STANDINGSDATE'].max())

2003-10-01
2022-03-12

In [49]:
print(np.sort(ranking_df['STANDINGSDATE'].unique()))
print(len(np.sort(ranking_df['STANDINGSDATE'].unique())))

['2003-10-01' '2003-10-02' '2003-10-03' ... '2022-03-10' '2022-03-11'
 '2022-03-12']
6738

In [50]:
ranking_df[ranking_df['STANDINGSDATE'] == '2003-10-01']

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT
84388,1610612742,0,22002,2003-10-01,West,Dallas,82,60,22,0.732,33-8,27-14,NaN,0.805,0.659
84389,1610612759,0,22002,2003-10-01,West,San Antonio,82,60,22,0.732,33-8,27-14,NaN,0.805,0.659
84390,1610612758,0,22002,2003-10-01,West,Sacramento,82,59,23,0.720,35-6,24-17,NaN,0.854,0.585
84391,1610612750,0,22002,2003-10-01,West,Minnesota,82,51,31,0.622,33-8,18-23,NaN,0.805,0.439
84392,1610612747,0,22002,2003-10-01,West,L.A. Lakers,82,50,32,0.610,31-10,19-22,NaN,0.756,0.463
84393,1610612757,0,22002,2003-10-01,West,Portland,82,50,32,0.610,27-14,23-18,NaN,0.659,0.561
84394,1610612762,0,22002,2003-10-01,West,Utah,82,47,35,0.573,29-12,18-23,NaN,0.707,0.439
84395,1610612756,0,22002,2003-10-01,West,Phoenix,82,44,38,0.537,30-11,14-27,NaN,0.732,0.341
84396,1610612745,0,22002,2003-10-01,West,Houston,82,43,39,0.524,28-13,15-26,NaN,0.683,0.366
84397,1610612760,0,22002,2003-10-01,West,Seattle,82,40,42,0.488,25-16,15-26,NaN,0.610,0.366
84398,1610612744,0,22002,2003-10-01,West,Golden State,82,38,44,0.463,24-17,14-27,NaN,0.585,0.341
84399,1610612763,0,22002,2003-10-01,West,Memphis,82,28,54,0.341,20-21,8-33,NaN,0.488,0.195
84400,1610612746,0,22002,2003-10-01,West,L.A. Clippers,82,27,55,0.329,16-25,11-30,NaN,0.390,0.268
84401,1610612743,0,22002,2003-10-01,West,Denver,82,17,65,0.207,13-28,4-37,NaN,0.317,0.098
172992,1610612765,0,22002,2003-10-01,East,Detroit,82,50,32,0.610,30-11,20-21,NaN,0.732,0.488
172993,1610612751,0,22002,2003-10-01,East,New Jersey,82,49,33,0.598,33-8,16-25,NaN,0.805,0.390
172994,1610612754,0,22002,2003-10-01,East,Indiana,82,48,34,0.585,32-9,16-25,NaN,0.780,0.390
172995,1610612755,0,22002,2003-10-01,East,Philadelphia,82,48,34,0.585,25-16,23-18,NaN,0.610,0.561
172996,1610612740,0,22002,2003-10-01,East,New Orleans,82,47,35,0.573,29-12,18-23,NaN,0.707,0.439
172997,1610612738,0,22002,2003-10-01,East,Boston,82,44,38,0.537,25-16,19-22,NaN,0.610,0.463
172998,1610612749,0,22002,2003-10-01,East,Milwaukee,82,42,40,0.512,25-16,17-24,NaN,0.610,0.415
172999,1610612753,0,22002,2003-10-01,East,Orlando,82,42,40,0.512,26-15,16-25,NaN,0.634,0.390
173000,1610612752,0,22002,2003-10-01,East,New York,82,37,45,0.451,24-17,13-28,NaN,0.585,0.317
173001,1610612764,0,22002,2003-10-01,East,Washington,82,37,45,0.451,23-18,14-27,NaN,0.561,0.341
173002,1610612737,0,22002,2003-10-01,East,Atlanta,82,35,47,0.427,26-15,9-32,NaN,0.634,0.220
173003,1610612741,0,22002,2003-10-01,East,Chicago,82,30,52,0.366,27-14,3-38,NaN,0.659,0.073
173004,1610612748,0,22002,2003-10-01,East,Miami,82,25,57,0.305,16-25,9-32,NaN,0.390,0.220
173005,1610612761,0,22002,2003-10-01,East,Toronto,82,24,58,0.293,15-26,9-32,NaN,0.366,0.220
173006,1610612739,0,22002,2003-10-01,East,Cleveland,82,17,65,0.207,14-27,3-38,NaN,0.341,0.073

In [51]:
print(ranking_df['SEASON_ID'].min())
print(ranking_df['SEASON_ID'].max())

12003
22021

In [52]:
ranking_df['RANK'] = ranking_df.sort_values('W_PCT', ascending = False).groupby('STANDINGSDATE').cumcount()+1

In [53]:
ranking_df[ranking_df['STANDINGSDATE'] == '2021-10-04'].sort_values('RANK').head(30)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT,RANK
4113,1610612758,0,12021,2021-10-04,West,Sacramento,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,1
4114,1610612759,0,12021,2021-10-04,West,San Antonio,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,2
4112,1610612750,0,12021,2021-10-04,West,Minnesota,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,3
4111,1610612746,0,12021,2021-10-04,West,LA Clippers,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,4
4110,1610612744,0,12021,2021-10-04,West,Golden State,1,1,0,1.0,0-0,1-0,NaN,0.0,1.0,5
6737,1610612766,0,12021,2021-10-04,East,Charlotte,1,1,0,1.0,0-0,1-0,NaN,0.0,1.0,6
6738,1610612748,0,12021,2021-10-04,East,Miami,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,7
6739,1610612761,0,12021,2021-10-04,East,Toronto,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,8
6735,1610612738,0,12021,2021-10-04,East,Boston,1,1,0,1.0,1-0,0-0,NaN,1.0,0.0,9
6736,1610612751,0,12021,2021-10-04,East,Brooklyn,1,1,0,1.0,0-0,1-0,NaN,0.0,1.0,10
4117,1610612740,0,12021,2021-10-04,West,New Orleans,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,11
4116,1610612747,0,12021,2021-10-04,West,L.A. Lakers,1,0,1,0.0,0-1,0-0,NaN,0.0,0.0,12
4115,1610612743,0,12021,2021-10-04,West,Denver,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,13
4124,1610612763,0,12021,2021-10-04,West,Memphis,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,14
4123,1610612745,0,12021,2021-10-04,West,Houston,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,15
4122,1610612742,0,12021,2021-10-04,West,Dallas,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,16
4121,1610612762,0,12021,2021-10-04,West,Utah,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,17
4120,1610612757,0,12021,2021-10-04,West,Portland,1,0,1,0.0,0-1,0-0,NaN,0.0,0.0,18
4119,1610612756,0,12021,2021-10-04,West,Phoenix,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,19
4118,1610612760,0,12021,2021-10-04,West,Oklahoma City,1,0,1,0.0,0-1,0-0,NaN,0.0,0.0,20
6740,1610612737,0,12021,2021-10-04,East,Atlanta,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,21
6741,1610612753,0,12021,2021-10-04,East,Orlando,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,22
6742,1610612755,0,12021,2021-10-04,East,Philadelphia,1,0,1,0.0,0-0,0-1,NaN,0.0,0.0,23
6743,1610612741,0,12021,2021-10-04,East,Chicago,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,24
6744,1610612739,0,12021,2021-10-04,East,Cleveland,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,25
6745,1610612765,0,12021,2021-10-04,East,Detroit,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,26
6746,1610612754,0,12021,2021-10-04,East,Indiana,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,27
6747,1610612749,0,12021,2021-10-04,East,Milwaukee,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,28
6748,1610612752,0,12021,2021-10-04,East,New York,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,29
6749,1610612764,0,12021,2021-10-04,East,Washington,0,0,0,0.0,0-0,0-0,NaN,0.0,0.0,30

In [54]:
games_df[games_df['GAME_DATE_EST'] == '2021-10-04']

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
1066,2021-10-04,12100002,Final,1610612761,1610612755,2021,1610612761,123.0,0.500,0.667,...,33.0,57.0,1610612755,107.0,0.417,0.731,0.235,19.0,40.0,1
1067,2021-10-04,12100003,Final,1610612738,1610612753,2021,1610612738,98.0,0.352,0.870,...,19.0,51.0,1610612753,97.0,0.404,0.571,0.405,25.0,50.0,1
1068,2021-10-04,12100004,Final,1610612748,1610612737,2021,1610612748,125.0,0.524,0.750,...,28.0,44.0,1610612737,99.0,0.400,0.917,0.237,19.0,33.0,1
1069,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,30.0,49.0,1610612740,114.0,0.414,0.769,0.324,21.0,53.0,1
1070,2021-10-04,12100006,Final,1610612760,1610612766,2021,1610612760,97.0,0.384,0.696,...,21.0,43.0,1610612766,113.0,0.494,0.667,0.273,25.0,54.0,0
1071,2021-10-04,12100007,Final,1610612759,1610612762,2021,1610612759,111.0,0.465,0.760,...,22.0,60.0,1610612762,85.0,0.317,0.600,0.233,14.0,47.0,1
1072,2021-10-04,12100008,Final,1610612757,1610612744,2021,1610612757,107.0,0.446,0.773,...,21.0,53.0,1610612744,121.0,0.420,0.765,0.348,32.0,47.0,0
1073,2021-10-04,12100009,Final,1610612758,1610612756,2021,1610612758,117.0,0.473,0.684,...,22.0,51.0,1610612756,106.0,0.467,0.846,0.314,24.0,38.0,1
1074,2021-10-04,12100010,Final,1610612746,1610612743,2021,1610612746,103.0,0.432,0.760,...,26.0,52.0,1610612743,102.0,0.430,0.621,0.270,20.0,45.0,1

In [55]:
ranking_df[ranking_df['STANDINGSDATE'] == '2021-07-03'].sort_values('RANK').head(30)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT,RANK
5505,1610612762,0,22020,2021-07-03,West,Utah,72,52,20,0.722,31-5,21-15,NaN,0.861,0.583,1
5506,1610612756,0,22020,2021-07-03,West,Phoenix,72,51,21,0.708,27-9,24-12,NaN,0.750,0.667,2
8130,1610612755,0,22020,2021-07-03,East,Philadelphia,72,49,23,0.681,29-7,20-16,NaN,0.806,0.556,3
8131,1610612751,0,22020,2021-07-03,East,Brooklyn,72,48,24,0.667,28-8,20-16,NaN,0.778,0.556,4
5508,1610612746,0,22020,2021-07-03,West,LA Clippers,72,47,25,0.653,26-10,21-15,NaN,0.722,0.583,5
5507,1610612743,0,22020,2021-07-03,West,Denver,72,47,25,0.653,25-11,22-14,NaN,0.694,0.611,6
8132,1610612749,0,22020,2021-07-03,East,Milwaukee,72,46,26,0.639,26-10,20-16,NaN,0.722,0.556,7
5511,1610612757,0,22020,2021-07-03,West,Portland,72,42,30,0.583,20-16,22-14,NaN,0.556,0.611,8
5510,1610612747,0,22020,2021-07-03,West,L.A. Lakers,72,42,30,0.583,21-15,21-15,NaN,0.583,0.583,9
5509,1610612742,0,22020,2021-07-03,West,Dallas,72,42,30,0.583,21-15,21-15,NaN,0.583,0.583,10
8133,1610612737,0,22020,2021-07-03,East,Atlanta,72,41,31,0.569,25-11,16-20,NaN,0.694,0.444,11
8134,1610612752,0,22020,2021-07-03,East,New York,72,41,31,0.569,25-11,16-20,NaN,0.694,0.444,12
8135,1610612748,0,22020,2021-07-03,East,Miami,72,40,32,0.556,21-15,19-17,NaN,0.583,0.528,13
5512,1610612744,0,22020,2021-07-03,West,Golden State,72,39,33,0.542,25-11,14-22,NaN,0.694,0.389,14
5513,1610612763,0,22020,2021-07-03,West,Memphis,72,38,34,0.528,18-18,20-16,NaN,0.500,0.556,15
8136,1610612738,0,22020,2021-07-03,East,Boston,72,36,36,0.500,21-15,15-21,NaN,0.583,0.417,16
8137,1610612754,0,22020,2021-07-03,East,Indiana,72,34,38,0.472,13-23,21-15,NaN,0.361,0.583,17
8138,1610612764,0,22020,2021-07-03,East,Washington,72,34,38,0.472,19-17,15-21,NaN,0.528,0.417,18
8139,1610612766,0,22020,2021-07-03,East,Charlotte,72,33,39,0.458,18-18,15-21,NaN,0.500,0.417,19
5514,1610612759,0,22020,2021-07-03,West,San Antonio,72,33,39,0.458,14-22,19-17,NaN,0.389,0.528,20
8140,1610612741,0,22020,2021-07-03,East,Chicago,72,31,41,0.431,15-21,16-20,NaN,0.417,0.444,21
5515,1610612740,0,22020,2021-07-03,West,New Orleans,72,31,41,0.431,18-18,13-23,NaN,0.500,0.361,22
5516,1610612758,0,22020,2021-07-03,West,Sacramento,72,31,41,0.431,16-20,15-21,NaN,0.444,0.417,23
8141,1610612761,0,22020,2021-07-03,East,Toronto,72,27,45,0.375,16-20,11-25,NaN,0.444,0.306,24
5517,1610612750,0,22020,2021-07-03,West,Minnesota,72,23,49,0.319,13-23,10-26,NaN,0.361,0.278,25
8142,1610612739,0,22020,2021-07-03,East,Cleveland,72,22,50,0.306,13-23,9-27,NaN,0.361,0.250,26
5518,1610612760,0,22020,2021-07-03,West,Oklahoma City,72,22,50,0.306,10-26,12-24,NaN,0.278,0.333,27
8143,1610612753,0,22020,2021-07-03,East,Orlando,72,21,51,0.292,11-25,10-26,NaN,0.306,0.278,28
8144,1610612765,0,22020,2021-07-03,East,Detroit,72,20,52,0.278,13-23,7-29,NaN,0.361,0.194,29
5519,1610612745,0,22020,2021-07-03,West,Houston,72,17,55,0.236,9-27,8-28,NaN,0.250,0.222,30

## teams.csv Analysis

In [56]:
teams_df = pd.read_csv('teams.csv')
teams_df.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [57]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [58]:
print(teams_df['NICKNAME'].unique())
print(len(teams_df['NICKNAME'].unique()))

['Hawks' 'Celtics' 'Pelicans' 'Bulls' 'Mavericks' 'Nuggets' 'Rockets'
 'Clippers' 'Lakers' 'Heat' 'Bucks' 'Timberwolves' 'Nets' 'Knicks' 'Magic'
 'Pacers' '76ers' 'Suns' 'Trail Blazers' 'Kings' 'Spurs' 'Thunder'
 'Raptors' 'Jazz' 'Grizzlies' 'Wizards' 'Pistons' 'Hornets' 'Cavaliers'
 'Warriors']
30

In [59]:
teams_df[teams_df['NICKNAME'] == 'Spurs'].iloc[0]

LEAGUE_ID                          0
TEAM_ID                   1610612759
MIN_YEAR                        1976
MAX_YEAR                        2019
ABBREVIATION                     SAS
NICKNAME                       Spurs
YEARFOUNDED                     1976
CITY                     San Antonio
ARENA                    AT&T Center
ARENACAPACITY                18694.0
OWNER                     Peter Holt
GENERALMANAGER          Brian Wright
HEADCOACH             Gregg Popovich
DLEAGUEAFFILIATION      Austin Spurs
Name: 20, dtype: object

In [60]:
print(teams_df['MIN_YEAR'].min())
print(teams_df['MIN_YEAR'].max())
print(teams_df['MAX_YEAR'].min())
print(teams_df['MAX_YEAR'].min())

1946
2002
2019
2019

## Joining games and games_details dataframes

In [61]:
print(games_df.info())
print()
print(games_details_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540351 entries, 0 to 540350
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540351 non-null  int64
 1   TEAM_ID            540351 non-null  int64
 2   TEAM_ABBREVIATION  540351 non-null  object
 3   TEAM_CITY          540351 non-null  object
 4   TEAM_NICKNAME      540351 non-null  object
 5   PLAYER_ID          540351 non-null  int64
 6   PLAYER_NAME        540351 non-null  object
 7   PLAYER_NICKNAME    24808 non-null   object
 8   START_POSITION     247215 non-null  object
 9   COMMENT            0 non-null       object
 10  MIN                540350 non-null  object
 11  FGM                540350 non-null  float64
 12  FGA                540350 non-null  float64
 13  FG_PCT             540350 non-null  float64
 14  FG3M               540350 non-null  float64
 15  FG3A               540350 non-null  float64
 16  FG3_PCT            540350 non-null  float64
 17  FTM                540350 non-null  float64
 18  FTA                540350 non-null  float64
 19  FT_PCT             540350 non-null  float64
 20  OREB               540350 non-null  float64
 21  DREB               540350 non-null  float64
 22  REB                540350 non-null  float64
 23  AST                540350 non-null  float64
 24  STL                540350 non-null  float64
 25  BLK                540350 non-null  float64
 26  TO                 540350 non-null  float64
 27  PF                 540350 non-null  float64
 28  PTS                540350 non-null  float64
 29  PLUS_MINUS         516689 non-null  float64
 30  EFF                540350 non-null  float64
dtypes: float64(20), int64(3), object(8)
memory usage: 131.9+ MB
None

In [62]:
games_details_df_games_id = np.array(games_details_df['GAME_ID'].unique())
games_df_games_id = np.array(games_df['GAME_ID'].unique())
lst1 = []
lst2 = []
for i in games_df_games_id:
    if i not in games_details_df_games_id:
        lst1.append(i)
for i in games_details_df_games_id:
    if i not in games_df_games_id:
        lst2.append(i)

print(lst1)
print(min(lst1))
print(max(lst1))
print()
print(lst2)

[10300116, 10300108, 10300109, 10300113, 10300112, 10300110, 10300111, 10300114, 10300115, 10300103, 10300106, 10300107, 10300104, 10300102, 10300105, 10300094, 10300095, 10300101, 10300097, 10300099, 10300096, 10300098, 10300100, 10300089, 10300091, 10300093, 10300090, 10300092, 10300085, 10300088, 10300087, 10300086, 10300080, 10300082, 10300083, 10300084, 10300081, 10300074, 10300077, 10300073, 10300079, 10300075, 10300076, 10300078, 10300069, 10300064, 10300071, 10300066, 10300067, 10300070, 10300068, 10300065, 10300072, 10300058, 10300062, 10300059, 10300060, 10300061, 10300063, 10300057, 10300054, 10300055, 10300056, 10300051, 10300049, 10300050, 10300048, 10300044, 10300052, 10300046, 10300053, 10300045, 10300047, 10300043, 10300042, 10300039, 10300040, 10300041, 10300034, 10300035, 10300036, 10300030, 10300031, 10300032, 10300033, 10300037, 10300038, 10300023, 10300027, 10300024, 10300025, 10300026, 10300020, 10300021, 10300019, 10300022, 10300013, 10300015, 10300006]
10300006
10300116

[]

In [63]:
games_df[games_df['GAME_ID'] == 10300116]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
18320,2003-10-24,10300116,Final,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,...,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0

In [64]:
games_games_details_df = pd.merge(games_df, games_details_df, how='inner', on='GAME_ID')
games_games_details_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0,25.0
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0,18.0
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0,15.0
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0,11.0
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0,15.0

In [65]:
games_games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 51 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541091 non-null  object
 1   GAME_ID            541091 non-null  int64
 2   GAME_STATUS_TEXT   541091 non-null  object
 3   HOME_TEAM_ID       541091 non-null  int64
 4   VISITOR_TEAM_ID    541091 non-null  int64
 5   SEASON             541091 non-null  int64
 6   TEAM_ID_home       541091 non-null  int64
 7   PTS_home           541091 non-null  float64
 8   FG_PCT_home        541091 non-null  float64
 9   FT_PCT_home        541091 non-null  float64
 10  FG3_PCT_home       541091 non-null  float64
 11  AST_home           541091 non-null  float64
 12  REB_home           541091 non-null  float64
 13  TEAM_ID_away       541091 non-null  int64
 14  PTS_away           541091 non-null  float64
 15  FG_PCT_away        541091 non-null  float64
 16  FT_PCT_away        541091 non-null  float64
 17  FG3_PCT_away       541091 non-null  float64
 18  AST_away           541091 non-null  float64
 19  REB_away           541091 non-null  float64
 20  HOME_TEAM_WINS     541091 non-null  int64
 21  TEAM_ID            541091 non-null  int64
 22  TEAM_ABBREVIATION  541091 non-null  object
 23  TEAM_CITY          541091 non-null  object
 24  TEAM_NICKNAME      541091 non-null  object
 25  PLAYER_ID          541091 non-null  int64
 26  PLAYER_NAME        541091 non-null  object
 27  PLAYER_NICKNAME    24808 non-null   object
 28  START_POSITION     247554 non-null  object
 29  COMMENT            0 non-null       object
 30  MIN                541090 non-null  object
 31  FGM                541090 non-null  float64
 32  FGA                541090 non-null  float64
 33  FG_PCT             541090 non-null  float64
 34  FG3M               541090 non-null  float64
 35  FG3A               541090 non-null  float64
 36  FG3_PCT            541090 non-null  float64
 37  FTM                541090 non-null  float64
 38  FTA                541090 non-null  float64
 39  FT_PCT             541090 non-null  float64
 40  OREB               541090 non-null  float64
 41  DREB               541090 non-null  float64
 42  REB                541090 non-null  float64
 43  AST                541090 non-null  float64
 44  STL                541090 non-null  float64
 45  BLK                541090 non-null  float64
 46  TO                 541090 non-null  float64
 47  PF                 541090 non-null  float64
 48  PTS                541090 non-null  float64
 49  PLUS_MINUS         517429 non-null  float64
 50  EFF                541090 non-null  float64
dtypes: float64(32), int64(9), object(10)
memory usage: 214.7+ MB

In [66]:
games_games_details_df[games_games_details_df['GAME_ID'] == 10300116]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, TEAM_NICKNAME, PLAYER_ID, PLAYER_NAME, PLAYER_NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, EFF]
Index: []

[0 rows x 51 columns]

In [67]:
games_games_details_df.iloc[0]

GAME_DATE_EST             2022-03-12
GAME_ID                     22101005
GAME_STATUS_TEXT               Final
HOME_TEAM_ID              1610612748
VISITOR_TEAM_ID           1610612750
SEASON                          2021
TEAM_ID_home              1610612748
PTS_home                       104.0
FG_PCT_home                    0.398
FT_PCT_home                     0.76
FG3_PCT_home                   0.333
AST_home                        23.0
REB_home                        53.0
TEAM_ID_away              1610612750
PTS_away                       113.0
FG_PCT_away                    0.422
FT_PCT_away                    0.875
FG3_PCT_away                   0.357
AST_away                        21.0
REB_away                        46.0
HOME_TEAM_WINS                     0
TEAM_ID                   1610612750
TEAM_ABBREVIATION                MIN
TEAM_CITY                  Minnesota
TEAM_NICKNAME           Timberwolves
PLAYER_ID                    1630162
PLAYER_NAME          Anthony Edwards
PLAYER_NICKNAME              Anthony
START_POSITION                     F
COMMENT                          NaN
MIN                            36:22
FGM                              4.0
FGA                             10.0
FG_PCT                           0.4
FG3M                             3.0
FG3A                             8.0
FG3_PCT                        0.375
FTM                              4.0
FTA                              4.0
FT_PCT                           1.0
OREB                             0.0
DREB                             8.0
REB                              8.0
AST                              5.0
STL                              3.0
BLK                              1.0
TO                               1.0
PF                               1.0
PTS                             15.0
PLUS_MINUS                       5.0
EFF                             25.0
Name: 0, dtype: object

In [68]:
print(games_games_details_df['GAME_ID'].min())
print(games_games_details_df['GAME_ID'].max())
print(games_games_details_df['GAME_DATE_EST'].min())
print(games_games_details_df['GAME_DATE_EST'].max())

10300001
52000211
2003-10-05
2022-03-12

In [69]:
games_games_details_df[games_games_details_df['GAME_ID'] == 10300002]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
382091,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,-2.0
382092,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,NaN,3.0
382093,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,1.0,3.0,1.0,0.0,1.0,0.0,1.0,NaN,0.0
382094,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,2.0,2.0,0.0,1.0,0.0,3.0,5.0,13.0,NaN,8.0
382095,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,2.0,2.0,0.0,1.0,0.0,1.0,0.0,8.0,NaN,5.0
382096,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,1.0,4.0,1.0,0.0,0.0,1.0,2.0,NaN,6.0
382097,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,3.0,6.0,2.0,0.0,0.0,1.0,4.0,10.0,NaN,13.0
382098,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,5.0,6.0,0.0,0.0,0.0,1.0,2.0,0.0,NaN,3.0
382099,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,3.0,4.0,0.0,0.0,1.0,0.0,6.0,4.0,NaN,6.0
382100,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,2.0,4.0,0.0,2.0,0.0,2.0,1.0,21.0,NaN,14.0
382101,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,3.0,5.0,7.0,1.0,0.0,5.0,2.0,15.0,NaN,20.0
382102,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,5.0,7.0,1.0,1.0,1.0,3.0,3.0,9.0,NaN,5.0
382103,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,4.0,4.0,2.0,0.0,0.0,6.0,0.0,11.0,NaN,10.0
382104,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,0.0,0.0,1.0,1.0,0.0,2.0,6.0,2.0,NaN,0.0
382105,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,1.0,6.0,2.0,0.0,1.0,3.0,8.0,NaN,12.0
382106,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,2.0,3.0,0.0,0.0,1.0,1.0,2.0,2.0,NaN,2.0
382107,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,2.0,2.0,1.0,5.0,0.0,1.0,4.0,2.0,NaN,7.0
382108,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,3.0,4.0,8.0,4.0,0.0,3.0,1.0,11.0,NaN,23.0
382109,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,5.0,6.0,1.0,1.0,0.0,5.0,4.0,6.0,NaN,3.0
382110,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,2.0,3.0,1.0,0.0,2.0,4.0,21.0,NaN,19.0
382111,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,4.0,8.0,2.0,0.0,0.0,3.0,2.0,21.0,NaN,19.0
382112,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,-2.0
382113,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,1.0,2.0,0.0,1.0,3.0,3.0,2.0,7.0,NaN,6.0
382114,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,3.0,5.0,1.0,0.0,1.0,0.0,1.0,10.0,NaN,14.0
382115,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0
382116,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,6.0,8.0,1.0,3.0,1.0,2.0,1.0,8.0,NaN,14.0
382117,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,5.0,6.0,0.0,0.0,1.0,2.0,1.0,3.0,NaN,5.0
382118,2003-10-06,10300002,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0,NaN,1.0

In [70]:
games_games_details_df[games_games_details_df['PLAYER_ID'].isnull()]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, TEAM_NICKNAME, PLAYER_ID, PLAYER_NAME, PLAYER_NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, EFF]
Index: []

[0 rows x 51 columns]

In [71]:
games_games_details_df[games_games_details_df['GAME_DATE_EST'] == '2003-10-05']

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
382119,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,1.0,1.0,0.0,0.0,1.0,2.0,2.0,NaN,3.0
382120,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,5.0,5.0,2.0,2.0,1.0,4.0,1.0,1.0,NaN,1.0
382121,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,4.0,6.0,0.0,0.0,0.0,2.0,4.0,4.0,NaN,4.0
382122,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,0.0,3.0,0.0,0.0,0.0,2.0,2.0,NaN,5.0
382123,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,4.0,NaN,4.0
382124,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0,NaN,5.0
382125,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,3.0,3.0,0.0,0.0,0.0,0.0,1.0,8.0,NaN,8.0
382126,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,5.0,6.0,1.0,0.0,0.0,1.0,1.0,3.0,NaN,6.0
382127,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,2.0,2.0,0.0,0.0,0.0,2.0,2.0,4.0,NaN,3.0
382128,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,1.0,4.0,2.0,0.0,0.0,3.0,7.0,NaN,12.0
382129,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,3.0,3.0,1.0,0.0,2.0,1.0,2.0,2.0,NaN,6.0
382130,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,2.0,0.0,0.0,0.0,1.0,1.0,6.0,NaN,4.0
382131,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,1.0,1.0,2.0,0.0,1.0,1.0,9.0,NaN,9.0
382132,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,2.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0,NaN,6.0
382133,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,NaN,-2.0
382134,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0,NaN,7.0
382135,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,2.0,1.0,1.0,0.0,0.0,0.0,2.0,NaN,2.0
382136,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,1.0,4.0,0.0,0.0,2.0,0.0,10.0,NaN,6.0
382137,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,2.0,2.0,2.0,0.0,1.0,2.0,4.0,10.0,NaN,12.0
382138,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,3.0,2.0,2.0,0.0,2.0,3.0,16.0,NaN,10.0
382139,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,2.0,3.0,0.0,0.0,0.0,1.0,3.0,0.0,NaN,0.0
382140,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,4.0,6.0,1.0,0.0,0.0,2.0,1.0,16.0,NaN,13.0
382141,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,3.0,1.0,3.0,1.0,3.0,6.0,8.0,NaN,11.0
382142,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,4.0,4.0,2.0,0.0,0.0,3.0,3.0,8.0,NaN,0.0
382143,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,3.0,3.0,0.0,1.0,1.0,1.0,4.0,8.0,NaN,7.0
382144,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,4.0,5.0,0.0,1.0,1.0,1.0,2.0,10.0,NaN,14.0
382145,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,2.0,4.0,1.0,1.0,1.0,0.0,1.0,7.0,NaN,9.0
382146,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,0.0,NaN,3.0
382147,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,4.0,5.0,3.0,0.0,0.0,0.0,2.0,2.0,NaN,6.0
382148,2003-10-05,10300001,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,...,1.0,1.0,5.0,0.0,0.0,3.0,6.0,10.0,NaN,8.0

In [72]:
games_games_details_df[games_games_details_df['GAME_ID'] == 12100005]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,EFF
23086,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,0.0,0.0,1.0,2.0,2.0,0.0,2.0,9.0,5.0,12.0
23087,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,0.0,1.0,0.0,2.0,6.0,0.0,-1.0,1.0
23088,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,5.0,7.0,4.0,0.0,1.0,1.0,2.0,15.0,20.0,22.0
23089,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,3.0,2.0,2.0,3.0,1.0,10.0,17.0,11.0
23090,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,3.0,3.0,5.0,0.0,0.0,2.0,1.0,19.0,18.0,21.0
23091,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,2.0,1.0,0.0,0.0,1.0,12.0,-5.0,16.0
23092,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,2.0,1.0,0.0,0.0,0.0,6.0,6.0,7.0
23093,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,2.0,1.0,1.0,1.0,0.0,2.0,13.0,3.0,11.0
23094,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,6.0,2.0,0.0,3.0,2.0,5.0,5.0,6.0
23095,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,6.0,7.0,0.0,1.0,0.0,3.0,3.0,3.0,3.0,6.0
23096,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,3.0,3.0,2.0,3.0,0.0,1.0,1.0,2.0,6.0,7.0
23097,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,2.0,0.0,0.0,0.0,1.0,1.0,5.0,-12.0,4.0
23098,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,3.0,4.0,1.0,0.0,0.0,1.0,0.0,5.0,-5.0,5.0
23099,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,2.0,1.0,0.0,2.0,1.0,2.0,8.0,-11.0,11.0
23100,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,-9.0,1.0
23101,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,1.0,1.0,0.0,2.0,0.0,0.0,1.0,-11.0,2.0
23102,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,-8.0,2.0
23103,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.0,1.0
23104,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,1.0,3.0,2.0,0.0,4.0,2.0,14.0,-10.0,12.0
23105,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,4.0,7.0,2.0,2.0,1.0,2.0,2.0,9.0,-13.0,12.0
23106,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,4.0,0.0,0.0,0.0,1.0,5.0,2.0,-6.0,2.0
23107,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,2.0,0.0,0.0,1.0,1.0,0.0,4.0,-12.0,2.0
23108,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,3.0,1.0,0.0,0.0,4.0,1.0,9.0,-13.0,4.0
23109,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,4.0,7.0,2.0,1.0,0.0,1.0,3.0,5.0,5.0,8.0
23110,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,2.0,3.0,2.0,1.0,1.0,3.0,22.0,12.0,21.0
23111,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,4.0,6.0,0.0,0.0,0.0,1.0,1.0,21.0,7.0,16.0
23112,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,0.0,0.0,4.0,0.0,0.0,2.0,2.0,2.0,4.0,3.0
23113,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,4.0,5.0,0.0,0.0,2.0,2.0,0.0,8.0,-10.0,9.0
23114,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,3.0,6.0,2.0,1.0,2.0,0.0,2.0,7.0,-1.0,14.0
23115,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,5.0,5.0,2.0,0.0,0.0,1.0,2.0,9.0,3.0,11.0
23116,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,2.0,4.0,2.0,0.0,0.0,1.0,1.0,2.0,11.0,3.0
23117,2021-10-04,12100005,Final,1610612750,1610612740,2021,1610612750,117.0,0.457,0.773,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0

In [73]:
games_games_details_df[games_games_details_df['TEAM_NICKNAME'] == 'Spurs'].iloc[21]

GAME_DATE_EST          2022-03-09
GAME_ID                  22100989
GAME_STATUS_TEXT            Final
HOME_TEAM_ID           1610612759
VISITOR_TEAM_ID        1610612761
SEASON                       2021
TEAM_ID_home           1610612759
PTS_home                    104.0
FG_PCT_home                 0.452
FT_PCT_home                  0.95
FG3_PCT_home                0.281
AST_home                     24.0
REB_home                     36.0
TEAM_ID_away           1610612761
PTS_away                    119.0
FG_PCT_away                 0.482
FT_PCT_away                 0.929
FG3_PCT_away                0.367
AST_away                     12.0
REB_away                     47.0
HOME_TEAM_WINS                  0
TEAM_ID                1610612759
TEAM_ABBREVIATION             SAS
TEAM_CITY             San Antonio
TEAM_NICKNAME               Spurs
PLAYER_ID                 1627751
PLAYER_NAME          Jakob Poeltl
PLAYER_NICKNAME             Jakob
START_POSITION                  C
COMMENT                       NaN
MIN                         33:50
FGM                           5.0
FGA                           8.0
FG_PCT                      0.625
FG3M                          0.0
FG3A                          0.0
FG3_PCT                       0.0
FTM                           1.0
FTA                           1.0
FT_PCT                        1.0
OREB                          5.0
DREB                          7.0
REB                          12.0
AST                           2.0
STL                           0.0
BLK                           1.0
TO                            3.0
PF                            4.0
PTS                          11.0
PLUS_MINUS                  -15.0
EFF                          20.0
Name: 567, dtype: object

In [74]:
games_games_details_df.iloc[383000]

GAME_DATE_EST                   2019-11-27
GAME_ID                           21900261
GAME_STATUS_TEXT                     Final
HOME_TEAM_ID                    1610612749
VISITOR_TEAM_ID                 1610612737
SEASON                                2019
TEAM_ID_home                    1610612749
PTS_home                             111.0
FG_PCT_home                          0.477
FT_PCT_home                           0.63
FG3_PCT_home                         0.294
AST_home                              25.0
REB_home                              47.0
TEAM_ID_away                    1610612737
PTS_away                             102.0
FG_PCT_away                          0.404
FT_PCT_away                          0.682
FG3_PCT_away                         0.324
AST_away                              22.0
REB_away                              49.0
HOME_TEAM_WINS                           1
TEAM_ID                         1610612749
TEAM_ABBREVIATION                      MIL
TEAM_CITY                        Milwaukee
TEAM_NICKNAME                        Bucks
PLAYER_ID                           203507
PLAYER_NAME          Giannis Antetokounmpo
PLAYER_NICKNAME                        NaN
START_POSITION                           F
COMMENT                                NaN
MIN                                  35:12
FGM                                   12.0
FGA                                   23.0
FG_PCT                               0.522
FG3M                                   1.0
FG3A                                   5.0
FG3_PCT                                0.2
FTM                                    5.0
FTA                                   13.0
FT_PCT                               0.385
OREB                                   2.0
DREB                                   8.0
REB                                   10.0
AST                                    4.0
STL                                    0.0
BLK                                    4.0
TO                                     4.0
PF                                     5.0
PTS                                   30.0
PLUS_MINUS                             0.0
EFF                                   25.0
Name: 383000, dtype: object

In [75]:
players_df[players_df['PLAYER_ID'] == 203507]

                PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
38    Giannis Antetokounmpo  1610612749     203507    2019
657   Giannis Antetokounmpo  1610612749     203507    2018
1494  Giannis Antetokounmpo  1610612749     203507    2017
2249  Giannis Antetokounmpo  1610612749     203507    2016
3086  Giannis Antetokounmpo  1610612749     203507    2015
3578  Giannis Antetokounmpo  1610612749     203507    2014
4517  Giannis Antetokounmpo  1610612749     203507    2013

In [76]:
teams_df[teams_df['TEAM_ID'] == 1610612737]

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks

In [77]:
teams_df[teams_df['TEAM_ID'] == 1610612749]

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens &Â Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd

## Joining games_games_details_df and teams dataframes for home teams

In [78]:
print(games_games_details_df.info())
print()
print(teams_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 51 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541091 non-null  object
 1   GAME_ID            541091 non-null  int64
 2   GAME_STATUS_TEXT   541091 non-null  object
 3   HOME_TEAM_ID       541091 non-null  int64
 4   VISITOR_TEAM_ID    541091 non-null  int64
 5   SEASON             541091 non-null  int64
 6   TEAM_ID_home       541091 non-null  int64
 7   PTS_home           541091 non-null  float64
 8   FG_PCT_home        541091 non-null  float64
 9   FT_PCT_home        541091 non-null  float64
 10  FG3_PCT_home       541091 non-null  float64
 11  AST_home           541091 non-null  float64
 12  REB_home           541091 non-null  float64
 13  TEAM_ID_away       541091 non-null  int64
 14  PTS_away           541091 non-null  float64
 15  FG_PCT_away        541091 non-null  float64
 16  FT_PCT_away        541091 non-null  float64
 17  FG3_PCT_away       541091 non-null  float64
 18  AST_away           541091 non-null  float64
 19  REB_away           541091 non-null  float64
 20  HOME_TEAM_WINS     541091 non-null  int64
 21  TEAM_ID            541091 non-null  int64
 22  TEAM_ABBREVIATION  541091 non-null  object
 23  TEAM_CITY          541091 non-null  object
 24  TEAM_NICKNAME      541091 non-null  object
 25  PLAYER_ID          541091 non-null  int64
 26  PLAYER_NAME        541091 non-null  object
 27  PLAYER_NICKNAME    24808 non-null   object
 28  START_POSITION     247554 non-null  object
 29  COMMENT            0 non-null       object
 30  MIN                541090 non-null  object
 31  FGM                541090 non-null  float64
 32  FGA                541090 non-null  float64
 33  FG_PCT             541090 non-null  float64
 34  FG3M               541090 non-null  float64
 35  FG3A               541090 non-null  float64
 36  FG3_PCT            541090 non-null  float64
 37  FTM                541090 non-null  float64
 38  FTA                541090 non-null  float64
 39  FT_PCT             541090 non-null  float64
 40  OREB               541090 non-null  float64
 41  DREB               541090 non-null  float64
 42  REB                541090 non-null  float64
 43  AST                541090 non-null  float64
 44  STL                541090 non-null  float64
 45  BLK                541090 non-null  float64
 46  TO                 541090 non-null  float64
 47  PF                 541090 non-null  float64
 48  PTS                541090 non-null  float64
 49  PLUS_MINUS         517429 non-null  float64
 50  EFF                541090 non-null  float64
dtypes: float64(32), int64(9), object(10)
memory usage: 214.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB
None

In [79]:
games_games_details_teams_df = pd.merge(games_games_details_df, teams_df, how='left', left_on='HOME_TEAM_ID', 
                                        right_on='TEAM_ID')
games_games_details_teams_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.76,...,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce

In [80]:
games_games_details_teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 65 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GAME_DATE_EST       541091 non-null  object
 1   GAME_ID             541091 non-null  int64
 2   GAME_STATUS_TEXT    541091 non-null  object
 3   HOME_TEAM_ID        541091 non-null  int64
 4   VISITOR_TEAM_ID     541091 non-null  int64
 5   SEASON              541091 non-null  int64
 6   TEAM_ID_home        541091 non-null  int64
 7   PTS_home            541091 non-null  float64
 8   FG_PCT_home         541091 non-null  float64
 9   FT_PCT_home         541091 non-null  float64
 10  FG3_PCT_home        541091 non-null  float64
 11  AST_home            541091 non-null  float64
 12  REB_home            541091 non-null  float64
 13  TEAM_ID_away        541091 non-null  int64
 14  PTS_away            541091 non-null  float64
 15  FG_PCT_away         541091 non-null  float64
 16  FT_PCT_away         541091 non-null  float64
 17  FG3_PCT_away        541091 non-null  float64
 18  AST_away            541091 non-null  float64
 19  REB_away            541091 non-null  float64
 20  HOME_TEAM_WINS      541091 non-null  int64
 21  TEAM_ID_x           541091 non-null  int64
 22  TEAM_ABBREVIATION   541091 non-null  object
 23  TEAM_CITY           541091 non-null  object
 24  TEAM_NICKNAME       541091 non-null  object
 25  PLAYER_ID           541091 non-null  int64
 26  PLAYER_NAME         541091 non-null  object
 27  PLAYER_NICKNAME     24808 non-null   object
 28  START_POSITION      247554 non-null  object
 29  COMMENT             0 non-null       object
 30  MIN                 541090 non-null  object
 31  FGM                 541090 non-null  float64
 32  FGA                 541090 non-null  float64
 33  FG_PCT              541090 non-null  float64
 34  FG3M                541090 non-null  float64
 35  FG3A                541090 non-null  float64
 36  FG3_PCT             541090 non-null  float64
 37  FTM                 541090 non-null  float64
 38  FTA                 541090 non-null  float64
 39  FT_PCT              541090 non-null  float64
 40  OREB                541090 non-null  float64
 41  DREB                541090 non-null  float64
 42  REB                 541090 non-null  float64
 43  AST                 541090 non-null  float64
 44  STL                 541090 non-null  float64
 45  BLK                 541090 non-null  float64
 46  TO                  541090 non-null  float64
 47  PF                  541090 non-null  float64
 48  PTS                 541090 non-null  float64
 49  PLUS_MINUS          517429 non-null  float64
 50  EFF                 541090 non-null  float64
 51  LEAGUE_ID           541091 non-null  int64
 52  TEAM_ID_y           541091 non-null  int64
 53  MIN_YEAR            541091 non-null  int64
 54  MAX_YEAR            541091 non-null  int64
 55  ABBREVIATION        541091 non-null  object
 56  NICKNAME            541091 non-null  object
 57  YEARFOUNDED         541091 non-null  int64
 58  CITY                541091 non-null  object
 59  ARENA               541091 non-null  object
 60  ARENACAPACITY       470755 non-null  float64
 61  OWNER               541091 non-null  object
 62  GENERALMANAGER      541091 non-null  object
 63  HEADCOACH           541091 non-null  object
 64  DLEAGUEAFFILIATION  541091 non-null  object
dtypes: float64(33), int64(14), object(18)
memory usage: 272.5+ MB

In [81]:
games_games_details_teams_df.iloc[0]

GAME_DATE_EST                   2022-03-12
GAME_ID                           22101005
GAME_STATUS_TEXT                     Final
HOME_TEAM_ID                    1610612748
VISITOR_TEAM_ID                 1610612750
                              ...
ARENACAPACITY                      19600.0
OWNER                         Micky Arison
GENERALMANAGER                   Pat Riley
HEADCOACH                   Erik Spoelstra
DLEAGUEAFFILIATION    Sioux Falls Skyforce
Name: 0, Length: 65, dtype: object

In [82]:
games_games_details_teams_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID_x', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'TEAM_NICKNAME', 'PLAYER_ID', 'PLAYER_NAME',
       'PLAYER_NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS',
       'EFF', 'LEAGUE_ID', 'TEAM_ID_y', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [83]:
games_games_details_teams_df = games_games_details_teams_df[['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID_x', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'TEAM_NICKNAME', 'PLAYER_ID', 'PLAYER_NAME', 'PLAYER_NICKNAME',
       'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS', 'EFF', 'NICKNAME', 'CITY']]

In [84]:
games_games_details_teams_df = games_games_details_teams_df.rename(columns = {'TEAM_ID_x': 'TEAM_ID',
                                                                             'NICKNAME': 'NICKNAME_HOME',
                                                                             'CITY': 'CITY_HOME'})
games_games_details_teams_df.iloc[320000]

GAME_DATE_EST         2005-12-09
GAME_ID                 20500276
GAME_STATUS_TEXT           Final
HOME_TEAM_ID          1610612762
VISITOR_TEAM_ID       1610612760
SEASON                      2005
PTS_home                    90.0
FG_PCT_home                0.438
FT_PCT_home                0.657
FG3_PCT_home                 0.2
AST_home                    20.0
REB_home                    38.0
PTS_away                   106.0
FG_PCT_away                0.476
FT_PCT_away                0.762
FG3_PCT_away               0.417
AST_away                    26.0
REB_away                    46.0
HOME_TEAM_WINS                 0
TEAM_ID               1610612760
TEAM_ABBREVIATION            SEA
TEAM_CITY                Seattle
TEAM_NICKNAME            Thunder
PLAYER_ID                   2436
PLAYER_NAME          Flip Murray
PLAYER_NICKNAME              NaN
START_POSITION               NaN
COMMENT                      NaN
MIN                        21:57
FGM                          5.0
FGA                         12.0
FG_PCT                     0.417
FG3M                         0.0
FG3A                         0.0
FG3_PCT                      0.0
FTM                          2.0
FTA                          2.0
FT_PCT                       1.0
OREB                         0.0
DREB                         0.0
REB                          0.0
AST                          2.0
STL                          0.0
BLK                          0.0
TO                           1.0
PF                           1.0
PTS                         12.0
PLUS_MINUS                   4.0
EFF                          6.0
NICKNAME_HOME               Jazz
CITY_HOME                   Utah
Name: 320000, dtype: object

## Joining games_games_details_teams_df and teams dataframes for away teams

In [85]:
print(games_games_details_df.info())
print()
print(teams_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 51 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541091 non-null  object
 1   GAME_ID            541091 non-null  int64
 2   GAME_STATUS_TEXT   541091 non-null  object
 3   HOME_TEAM_ID       541091 non-null  int64
 4   VISITOR_TEAM_ID    541091 non-null  int64
 5   SEASON             541091 non-null  int64
 6   TEAM_ID_home       541091 non-null  int64
 7   PTS_home           541091 non-null  float64
 8   FG_PCT_home        541091 non-null  float64
 9   FT_PCT_home        541091 non-null  float64
 10  FG3_PCT_home       541091 non-null  float64
 11  AST_home           541091 non-null  float64
 12  REB_home           541091 non-null  float64
 13  TEAM_ID_away       541091 non-null  int64
 14  PTS_away           541091 non-null  float64
 15  FG_PCT_away        541091 non-null  float64
 16  FT_PCT_away        541091 non-null  float64
 17  FG3_PCT_away       541091 non-null  float64
 18  AST_away           541091 non-null  float64
 19  REB_away           541091 non-null  float64
 20  HOME_TEAM_WINS     541091 non-null  int64
 21  TEAM_ID            541091 non-null  int64
 22  TEAM_ABBREVIATION  541091 non-null  object
 23  TEAM_CITY          541091 non-null  object
 24  TEAM_NICKNAME      541091 non-null  object
 25  PLAYER_ID          541091 non-null  int64
 26  PLAYER_NAME        541091 non-null  object
 27  PLAYER_NICKNAME    24808 non-null   object
 28  START_POSITION     247554 non-null  object
 29  COMMENT            0 non-null       object
 30  MIN                541090 non-null  object
 31  FGM                541090 non-null  float64
 32  FGA                541090 non-null  float64
 33  FG_PCT             541090 non-null  float64
 34  FG3M               541090 non-null  float64
 35  FG3A               541090 non-null  float64
 36  FG3_PCT            541090 non-null  float64
 37  FTM                541090 non-null  float64
 38  FTA                541090 non-null  float64
 39  FT_PCT             541090 non-null  float64
 40  OREB               541090 non-null  float64
 41  DREB               541090 non-null  float64
 42  REB                541090 non-null  float64
 43  AST                541090 non-null  float64
 44  STL                541090 non-null  float64
 45  BLK                541090 non-null  float64
 46  TO                 541090 non-null  float64
 47  PF                 541090 non-null  float64
 48  PTS                541090 non-null  float64
 49  PLUS_MINUS         517429 non-null  float64
 50  EFF                541090 non-null  float64
dtypes: float64(32), int64(9), object(10)
memory usage: 214.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB
None

In [86]:
games_games_details_teams_df = pd.merge(games_games_details_teams_df, teams_df, how='left', left_on='VISITOR_TEAM_ID', 
                                        right_on='TEAM_ID')
games_games_details_teams_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves

In [87]:
games_games_details_teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 65 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GAME_DATE_EST       541091 non-null  object
 1   GAME_ID             541091 non-null  int64
 2   GAME_STATUS_TEXT    541091 non-null  object
 3   HOME_TEAM_ID        541091 non-null  int64
 4   VISITOR_TEAM_ID     541091 non-null  int64
 5   SEASON              541091 non-null  int64
 6   PTS_home            541091 non-null  float64
 7   FG_PCT_home         541091 non-null  float64
 8   FT_PCT_home         541091 non-null  float64
 9   FG3_PCT_home        541091 non-null  float64
 10  AST_home            541091 non-null  float64
 11  REB_home            541091 non-null  float64
 12  PTS_away            541091 non-null  float64
 13  FG_PCT_away         541091 non-null  float64
 14  FT_PCT_away         541091 non-null  float64
 15  FG3_PCT_away        541091 non-null  float64
 16  AST_away            541091 non-null  float64
 17  REB_away            541091 non-null  float64
 18  HOME_TEAM_WINS      541091 non-null  int64
 19  TEAM_ID_x           541091 non-null  int64
 20  TEAM_ABBREVIATION   541091 non-null  object
 21  TEAM_CITY           541091 non-null  object
 22  TEAM_NICKNAME       541091 non-null  object
 23  PLAYER_ID           541091 non-null  int64
 24  PLAYER_NAME         541091 non-null  object
 25  PLAYER_NICKNAME     24808 non-null   object
 26  START_POSITION      247554 non-null  object
 27  COMMENT             0 non-null       object
 28  MIN                 541090 non-null  object
 29  FGM                 541090 non-null  float64
 30  FGA                 541090 non-null  float64
 31  FG_PCT              541090 non-null  float64
 32  FG3M                541090 non-null  float64
 33  FG3A                541090 non-null  float64
 34  FG3_PCT             541090 non-null  float64
 35  FTM                 541090 non-null  float64
 36  FTA                 541090 non-null  float64
 37  FT_PCT              541090 non-null  float64
 38  OREB                541090 non-null  float64
 39  DREB                541090 non-null  float64
 40  REB                 541090 non-null  float64
 41  AST                 541090 non-null  float64
 42  STL                 541090 non-null  float64
 43  BLK                 541090 non-null  float64
 44  TO                  541090 non-null  float64
 45  PF                  541090 non-null  float64
 46  PTS                 541090 non-null  float64
 47  PLUS_MINUS          517429 non-null  float64
 48  EFF                 541090 non-null  float64
 49  NICKNAME_HOME       541091 non-null  object
 50  CITY_HOME           541091 non-null  object
 51  LEAGUE_ID           541091 non-null  int64
 52  TEAM_ID_y           541091 non-null  int64
 53  MIN_YEAR            541091 non-null  int64
 54  MAX_YEAR            541091 non-null  int64
 55  ABBREVIATION        541091 non-null  object
 56  NICKNAME            541091 non-null  object
 57  YEARFOUNDED         541091 non-null  int64
 58  CITY                541091 non-null  object
 59  ARENA               541091 non-null  object
 60  ARENACAPACITY       470304 non-null  float64
 61  OWNER               541091 non-null  object
 62  GENERALMANAGER      541091 non-null  object
 63  HEADCOACH           541091 non-null  object
 64  DLEAGUEAFFILIATION  541091 non-null  object
dtypes: float64(33), int64(12), object(20)
memory usage: 272.5+ MB

In [88]:
games_games_details_teams_df.iloc[0]

GAME_DATE_EST            2022-03-12
GAME_ID                    22101005
GAME_STATUS_TEXT              Final
HOME_TEAM_ID             1610612748
VISITOR_TEAM_ID          1610612750
                          ...
ARENACAPACITY               19356.0
OWNER                   Glen Taylor
GENERALMANAGER         Scott Layden
HEADCOACH             Ryan Saunders
DLEAGUEAFFILIATION      Iowa Wolves
Name: 0, Length: 65, dtype: object

In [89]:
games_games_details_teams_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'TEAM_ID_x', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'TEAM_NICKNAME',
       'PLAYER_ID', 'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION',
       'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TO', 'PF', 'PTS', 'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME',
       'LEAGUE_ID', 'TEAM_ID_y', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [90]:
games_games_details_teams_df = games_games_details_teams_df[['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID_x', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'TEAM_NICKNAME', 'PLAYER_ID', 'PLAYER_NAME', 'PLAYER_NICKNAME',
       'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME', 'NICKNAME', 'CITY']]

In [91]:
games_games_details_teams_df = games_games_details_teams_df.rename(columns = {'TEAM_ID_x': 'TEAM_ID',
                                                                             'NICKNAME': 'NICKNAME_AWAY',
                                                                             'CITY': 'CITY_AWAY'})
games_games_details_teams_df.iloc[320000]

GAME_DATE_EST           2005-12-09
GAME_ID                   20500276
GAME_STATUS_TEXT             Final
HOME_TEAM_ID            1610612762
VISITOR_TEAM_ID         1610612760
SEASON                        2005
PTS_home                      90.0
FG_PCT_home                  0.438
FT_PCT_home                  0.657
FG3_PCT_home                   0.2
AST_home                      20.0
REB_home                      38.0
PTS_away                     106.0
FG_PCT_away                  0.476
FT_PCT_away                  0.762
FG3_PCT_away                 0.417
AST_away                      26.0
REB_away                      46.0
HOME_TEAM_WINS                   0
TEAM_ID                 1610612760
TEAM_ABBREVIATION              SEA
TEAM_CITY                  Seattle
TEAM_NICKNAME              Thunder
PLAYER_ID                     2436
PLAYER_NAME            Flip Murray
PLAYER_NICKNAME                NaN
START_POSITION                 NaN
COMMENT                        NaN
MIN                          21:57
FGM                            5.0
FGA                           12.0
FG_PCT                       0.417
FG3M                           0.0
FG3A                           0.0
FG3_PCT                        0.0
FTM                            2.0
FTA                            2.0
FT_PCT                         1.0
OREB                           0.0
DREB                           0.0
REB                            0.0
AST                            2.0
STL                            0.0
BLK                            0.0
TO                             1.0
PF                             1.0
PTS                           12.0
PLUS_MINUS                     4.0
EFF                            6.0
NICKNAME_HOME                 Jazz
CITY_HOME                     Utah
NICKNAME_AWAY              Thunder
CITY_AWAY            Oklahoma City
Name: 320000, dtype: object

In [92]:
games_games_details_teams_df[games_games_details_teams_df['TEAM_NICKNAME'] == 'Spurs'].iloc[3200]

GAME_DATE_EST         2013-12-23
GAME_ID                 21300414
GAME_STATUS_TEXT           Final
HOME_TEAM_ID          1610612759
VISITOR_TEAM_ID       1610612761
SEASON                      2013
PTS_home                   112.0
FG_PCT_home                0.451
FT_PCT_home                0.778
FG3_PCT_home               0.391
AST_home                    27.0
REB_home                    50.0
PTS_away                    99.0
FG_PCT_away                0.457
FT_PCT_away                 0.72
FG3_PCT_away               0.333
AST_away                    21.0
REB_away                    40.0
HOME_TEAM_WINS                 1
TEAM_ID               1610612759
TEAM_ABBREVIATION            SAS
TEAM_CITY            San Antonio
TEAM_NICKNAME              Spurs
PLAYER_ID                   2564
PLAYER_NAME           Boris Diaw
PLAYER_NICKNAME              NaN
START_POSITION               NaN
COMMENT                      NaN
MIN                        27:51
FGM                          4.0
FGA                          9.0
FG_PCT                     0.444
FG3M                         0.0
FG3A                         0.0
FG3_PCT                      0.0
FTM                          1.0
FTA                          2.0
FT_PCT                       0.5
OREB                         0.0
DREB                         4.0
REB                          4.0
AST                          1.0
STL                          0.0
BLK                          0.0
TO                           0.0
PF                           2.0
PTS                          9.0
PLUS_MINUS                   0.0
EFF                          8.0
NICKNAME_HOME              Spurs
CITY_HOME            San Antonio
NICKNAME_AWAY            Raptors
CITY_AWAY                Toronto
Name: 88198, dtype: object

In [93]:
teams_df[(teams_df['TEAM_ID'] == 1610612759) | (teams_df['TEAM_ID'] == 1610612761)]

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905

In [94]:
games_games_details_teams_df[['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'PTS_away',
                             'NICKNAME_HOME', 'NICKNAME_AWAY', 'TEAM_ID', 'TEAM_NICKNAME', 'PLAYER_NAME', 'EFF', 'HOME_TEAM_WINS']].head(55)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,NICKNAME_HOME,NICKNAME_AWAY,TEAM_ID,TEAM_NICKNAME,PLAYER_NAME,EFF,HOME_TEAM_WINS
0,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Anthony Edwards,25.0,0
1,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Jaden McDaniels,18.0,0
2,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Karl-Anthony Towns,15.0,0
3,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Malik Beasley,11.0,0
4,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,D'Angelo Russell,15.0,0
5,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Naz Reid,21.0,0
6,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Jordan McLaughlin,9.0,0
7,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Jaylen Nowell,10.0,0
8,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Taurean Prince,7.0,0
9,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612750,Timberwolves,Josh Okogie,0.0,0
10,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Duncan Robinson,2.0,0
11,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,P.J. Tucker,6.0,0
12,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Bam Adebayo,25.0,0
13,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Gabe Vincent,0.0,0
14,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Kyle Lowry,15.0,0
15,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Tyler Herro,29.0,0
16,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Max Strus,21.0,0
17,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Markieff Morris,3.0,0
18,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Dewayne Dedmon,7.0,0
19,2022-03-12,22101005,1610612748,1610612750,2021,104.0,113.0,Heat,Timberwolves,1610612748,Heat,Haywood Highsmith,3.0,0
20,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Dean Wade,7.0,1
21,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Kevin Love,19.0,1
22,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Evan Mobley,16.0,1
23,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Isaac Okoro,9.0,1
24,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Darius Garland,18.0,1
25,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Lamar Stevens,5.0,1
26,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Cedi Osman,12.0,1
27,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Rajon Rondo,7.0,1
28,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Ed Davis,1.0,1
29,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612739,Cavaliers,Brandon Goodwin,0.0,1
30,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Javonte Green,17.0,1
31,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,DeMar DeRozan,16.0,1
32,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Nikola Vucevic,23.0,1
33,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Coby White,16.0,1
34,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Ayo Dosunmu,21.0,1
35,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Alex Caruso,16.0,1
36,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Troy Brown Jr.,1.0,1
37,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Derrick Jones Jr.,2.0,1
38,2022-03-12,22101006,1610612741,1610612739,2021,101.0,91.0,Bulls,Cavaliers,1610612741,Bulls,Tristan Thompson,10.0,1
39,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Buddy Hield,15.0,0
40,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Oshae Brissett,16.0,0
41,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Isaiah Jackson,15.0,0
42,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Chris Duarte,19.0,0
43,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Tyrese Haliburton,21.0,0
44,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Keifer Sykes,9.0,0
45,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Goga Bitadze,18.0,0
46,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Jalen Smith,15.0,0
47,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612754,Pacers,Duane Washington Jr.,18.0,0
48,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Josh Richardson,14.0,0
49,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Doug McDermott,3.0,0
50,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Zach Collins,14.0,0
51,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Devin Vassell,17.0,0
52,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Tre Jones,21.0,0
53,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Keita Bates-Diop,4.0,0
54,2022-03-12,22101007,1610612759,1610612754,2021,108.0,119.0,Spurs,Pacers,1610612759,Spurs,Jock Landale,32.0,0

In [95]:
games_games_details_teams_df[(games_games_details_teams_df['NICKNAME_HOME'] == 'Spurs') & (games_games_details_teams_df['SEASON'] == 2013)][['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'PTS_away',
                             'NICKNAME_HOME', 'NICKNAME_AWAY', 'TEAM_ID', 'TEAM_NICKNAME', 'PLAYER_NAME', 'EFF', 'HOME_TEAM_WINS']].head(30)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,NICKNAME_HOME,NICKNAME_AWAY,TEAM_ID,TEAM_NICKNAME,PLAYER_NAME,EFF,HOME_TEAM_WINS
69282,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,LeBron James,35.0,1
69283,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Rashard Lewis,5.0,1
69284,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Chris Bosh,14.0,1
69285,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Dwyane Wade,2.0,1
69286,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Ray Allen,2.0,1
69287,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Shane Battier,0.0,1
69288,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Chris Andersen,7.0,1
69289,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Norris Cole,2.0,1
69290,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Udonis Haslem,3.0,1
69291,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Michael Beasley,7.0,1
69292,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Mario Chalmers,8.0,1
69293,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,James Jones,0.0,1
69294,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612748,Heat,Toney Douglas,4.0,1
69295,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Kawhi Leonard,29.0,1
69296,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Tim Duncan,19.0,1
69297,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Boris Diaw,14.0,1
69298,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Danny Green,0.0,1
69299,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Tony Parker,8.0,1
69300,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Manu Ginobili,19.0,1
69301,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Tiago Splitter,8.0,1
69302,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Patty Mills,16.0,1
69303,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Matt Bonner,2.0,1
69304,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Marco Belinelli,6.0,1
69305,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Jeff Ayres,2.0,1
69306,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Cory Joseph,-2.0,1
69307,2014-06-15,41300405,1610612759,1610612748,2013,104.0,87.0,Spurs,Heat,1610612759,Spurs,Aron Baynes,3.0,1
69360,2014-06-08,41300402,1610612759,1610612748,2013,96.0,98.0,Spurs,Heat,1610612748,Heat,LeBron James,37.0,0
69361,2014-06-08,41300402,1610612759,1610612748,2013,96.0,98.0,Spurs,Heat,1610612748,Heat,Rashard Lewis,12.0,0
69362,2014-06-08,41300402,1610612759,1610612748,2013,96.0,98.0,Spurs,Heat,1610612748,Heat,Chris Bosh,19.0,0
69363,2014-06-08,41300402,1610612759,1610612748,2013,96.0,98.0,Spurs,Heat,1610612748,Heat,Dwyane Wade,17.0,0

## Joining games_games_details_teams_df and ranking_df dataframes for home teams

In [96]:
print(games_games_details_teams_df.info())
print()
print(ranking_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541091 entries, 0 to 541090
Data columns (total 53 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541091 non-null  object
 1   GAME_ID            541091 non-null  int64
 2   GAME_STATUS_TEXT   541091 non-null  object
 3   HOME_TEAM_ID       541091 non-null  int64
 4   VISITOR_TEAM_ID    541091 non-null  int64
 5   SEASON             541091 non-null  int64
 6   PTS_home           541091 non-null  float64
 7   FG_PCT_home        541091 non-null  float64
 8   FT_PCT_home        541091 non-null  float64
 9   FG3_PCT_home       541091 non-null  float64
 10  AST_home           541091 non-null  float64
 11  REB_home           541091 non-null  float64
 12  PTS_away           541091 non-null  float64
 13  FG_PCT_away        541091 non-null  float64
 14  FT_PCT_away        541091 non-null  float64
 15  FG3_PCT_away       541091 non-null  float64
 16  AST_away           541091 non-null  float64
 17  REB_away           541091 non-null  float64
 18  HOME_TEAM_WINS     541091 non-null  int64
 19  TEAM_ID            541091 non-null  int64
 20  TEAM_ABBREVIATION  541091 non-null  object
 21  TEAM_CITY          541091 non-null  object
 22  TEAM_NICKNAME      541091 non-null  object
 23  PLAYER_ID          541091 non-null  int64
 24  PLAYER_NAME        541091 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247554 non-null  object
 27  COMMENT            0 non-null       object
 28  MIN                541090 non-null  object
 29  FGM                541090 non-null  float64
 30  FGA                541090 non-null  float64
 31  FG_PCT             541090 non-null  float64
 32  FG3M               541090 non-null  float64
 33  FG3A               541090 non-null  float64
 34  FG3_PCT            541090 non-null  float64
 35  FTM                541090 non-null  float64
 36  FTA                541090 non-null  float64
 37  FT_PCT             541090 non-null  float64
 38  OREB               541090 non-null  float64
 39  DREB               541090 non-null  float64
 40  REB                541090 non-null  float64
 41  AST                541090 non-null  float64
 42  STL                541090 non-null  float64
 43  BLK                541090 non-null  float64
 44  TO                 541090 non-null  float64
 45  PF                 541090 non-null  float64
 46  PTS                541090 non-null  float64
 47  PLUS_MINUS         517429 non-null  float64
 48  EFF                541090 non-null  float64
 49  NICKNAME_HOME      541091 non-null  object
 50  CITY_HOME          541091 non-null  object
 51  NICKNAME_AWAY      541091 non-null  object
 52  CITY_AWAY          541091 non-null  object
dtypes: float64(32), int64(7), object(14)
memory usage: 222.9+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201792 entries, 0 to 201791
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        201792 non-null  int64
 1   LEAGUE_ID      201792 non-null  int64
 2   SEASON_ID      201792 non-null  int64
 3   STANDINGSDATE  201792 non-null  object
 4   CONFERENCE     201792 non-null  object
 5   TEAM           201792 non-null  object
 6   G              201792 non-null  int64
 7   W              201792 non-null  int64
 8   L              201792 non-null  int64
 9   W_PCT          201792 non-null  float64
 10  HOME_RECORD    201792 non-null  object
 11  ROAD_RECORD    201792 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
 13  HOME_W_PCT     201792 non-null  float64
 14  ROAD_W_PCT     201792 non-null  float64
 15  RANK           201792 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 24.6+ MB
None

In [97]:
games_games_details_teams_ranking_df = pd.merge(games_games_details_teams_df, ranking_df, how='inner', left_on=['GAME_DATE_EST', 'HOME_TEAM_ID'],
                                               right_on=['STANDINGSDATE', 'TEAM_ID'])
games_games_details_teams_ranking_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT,RANK
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,45,24,0.652,24-9,21-15,NaN,0.727,0.583,4
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,45,24,0.652,24-9,21-15,NaN,0.727,0.583,4
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,45,24,0.652,24-9,21-15,NaN,0.727,0.583,4
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,45,24,0.652,24-9,21-15,NaN,0.727,0.583,4
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,45,24,0.652,24-9,21-15,NaN,0.727,0.583,4

In [98]:
games_games_details_teams_ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541356 entries, 0 to 541355
Data columns (total 69 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541356 non-null  object
 1   GAME_ID            541356 non-null  int64
 2   GAME_STATUS_TEXT   541356 non-null  object
 3   HOME_TEAM_ID       541356 non-null  int64
 4   VISITOR_TEAM_ID    541356 non-null  int64
 5   SEASON             541356 non-null  int64
 6   PTS_home           541356 non-null  float64
 7   FG_PCT_home        541356 non-null  float64
 8   FT_PCT_home        541356 non-null  float64
 9   FG3_PCT_home       541356 non-null  float64
 10  AST_home           541356 non-null  float64
 11  REB_home           541356 non-null  float64
 12  PTS_away           541356 non-null  float64
 13  FG_PCT_away        541356 non-null  float64
 14  FT_PCT_away        541356 non-null  float64
 15  FG3_PCT_away       541356 non-null  float64
 16  AST_away           541356 non-null  float64
 17  REB_away           541356 non-null  float64
 18  HOME_TEAM_WINS     541356 non-null  int64
 19  TEAM_ID_x          541356 non-null  int64
 20  TEAM_ABBREVIATION  541356 non-null  object
 21  TEAM_CITY          541356 non-null  object
 22  TEAM_NICKNAME      541356 non-null  object
 23  PLAYER_ID          541356 non-null  int64
 24  PLAYER_NAME        541356 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247669 non-null  object
 27  COMMENT            0 non-null       object
 28  MIN                541355 non-null  object
 29  FGM                541355 non-null  float64
 30  FGA                541355 non-null  float64
 31  FG_PCT             541355 non-null  float64
 32  FG3M               541355 non-null  float64
 33  FG3A               541355 non-null  float64
 34  FG3_PCT            541355 non-null  float64
 35  FTM                541355 non-null  float64
 36  FTA                541355 non-null  float64
 37  FT_PCT             541355 non-null  float64
 38  OREB               541355 non-null  float64
 39  DREB               541355 non-null  float64
 40  REB                541355 non-null  float64
 41  AST                541355 non-null  float64
 42  STL                541355 non-null  float64
 43  BLK                541355 non-null  float64
 44  TO                 541355 non-null  float64
 45  PF                 541355 non-null  float64
 46  PTS                541355 non-null  float64
 47  PLUS_MINUS         517694 non-null  float64
 48  EFF                541355 non-null  float64
 49  NICKNAME_HOME      541356 non-null  object
 50  CITY_HOME          541356 non-null  object
 51  NICKNAME_AWAY      541356 non-null  object
 52  CITY_AWAY          541356 non-null  object
 53  TEAM_ID_y          541356 non-null  int64
 54  LEAGUE_ID          541356 non-null  int64
 55  SEASON_ID          541356 non-null  int64
 56  STANDINGSDATE      541356 non-null  object
 57  CONFERENCE         541356 non-null  object
 58  TEAM               541356 non-null  object
 59  G                  541356 non-null  int64
 60  W                  541356 non-null  int64
 61  L                  541356 non-null  int64
 62  W_PCT              541356 non-null  float64
 63  HOME_RECORD        541356 non-null  object
 64  ROAD_RECORD        541356 non-null  object
 65  RETURNTOPLAY       1533 non-null    float64
 66  HOME_W_PCT         541356 non-null  float64
 67  ROAD_W_PCT         541356 non-null  float64
 68  RANK               541356 non-null  int64
dtypes: float64(36), int64(14), object(19)
memory usage: 289.1+ MB

In [99]:
games_games_details_teams_ranking_df[games_games_details_teams_ranking_df['GAME_DATE_EST'].isnull()]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS, TEAM_ID_x, TEAM_ABBREVIATION, TEAM_CITY, TEAM_NICKNAME, PLAYER_ID, PLAYER_NAME, PLAYER_NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, EFF, NICKNAME_HOME, CITY_HOME, NICKNAME_AWAY, CITY_AWAY, TEAM_ID_y, LEAGUE_ID, SEASON_ID, STANDINGSDATE, CONFERENCE, TEAM, G, W, L, W_PCT, HOME_RECORD, ROAD_RECORD, RETURNTOPLAY, HOME_W_PCT, ROAD_W_PCT, RANK]
Index: []

[0 rows x 69 columns]

In [100]:
games_games_details_teams_ranking_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'TEAM_ID_x', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'TEAM_NICKNAME',
       'PLAYER_ID', 'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION',
       'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TO', 'PF', 'PTS', 'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME',
       'NICKNAME_AWAY', 'CITY_AWAY', 'TEAM_ID_y', 'LEAGUE_ID', 'SEASON_ID',
       'STANDINGSDATE', 'CONFERENCE', 'TEAM', 'G', 'W', 'L', 'W_PCT',
       'HOME_RECORD', 'ROAD_RECORD', 'RETURNTOPLAY', 'HOME_W_PCT',
       'ROAD_W_PCT', 'RANK'],
      dtype='object')

In [101]:
games_games_details_teams_ranking_df = games_games_details_teams_ranking_df[['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'TEAM_ID_x', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'TEAM_NICKNAME', 'PLAYER_ID',
       'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION', 'COMMENT', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME', 'NICKNAME_AWAY', 'CITY_AWAY', 
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD', 'HOME_W_PCT', 'ROAD_W_PCT', 'RANK']]

games_games_details_teams_ranking_df = games_games_details_teams_ranking_df.rename(columns = {'TEAM_ID_x': 'TEAM_ID',
                                                                                             'TEAM': 'TEAM_HOME',
                                                                                             'G': 'G_HOME',
                                                                                             'W': 'W_HOME',
                                                                                             'L': 'L_HOME',
                                                                                             'W_PCT': 'W_PCT_HOME',
                                                                                             'HOME_RECORD': 'HOME_RECORD_HOME',
                                                                                             'ROAD_RECORD': 'ROAD_RECORD_HOME',
                                                                                             'HOME_W_PCT': 'HOME_W_PCT_HOME',
                                                                                             'ROAD_W_PCT': 'ROAD_W_PCT_HOME',
                                                                                             'RANK': 'RANK_HOME'})
games_games_details_teams_ranking_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_HOME,G_HOME,W_HOME,L_HOME,W_PCT_HOME,HOME_RECORD_HOME,ROAD_RECORD_HOME,HOME_W_PCT_HOME,ROAD_W_PCT_HOME,RANK_HOME
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Miami,69,45,24,0.652,24-9,21-15,0.727,0.583,4
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Miami,69,45,24,0.652,24-9,21-15,0.727,0.583,4
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Miami,69,45,24,0.652,24-9,21-15,0.727,0.583,4
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Miami,69,45,24,0.652,24-9,21-15,0.727,0.583,4
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Miami,69,45,24,0.652,24-9,21-15,0.727,0.583,4

In [102]:
games_games_details_teams_ranking_df.iloc[320000]

GAME_DATE_EST       2005-12-10
GAME_ID               20500284
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612766
VISITOR_TEAM_ID     1610612761
                       ...
HOME_RECORD_HOME           4-5
ROAD_RECORD_HOME          1-11
HOME_W_PCT_HOME          0.444
ROAD_W_PCT_HOME          0.083
RANK_HOME                   28
Name: 320000, Length: 63, dtype: object

In [103]:
games_games_details_teams_ranking_df[(games_games_details_teams_ranking_df['TEAM_NICKNAME'] == 'Spurs') & 
                                    (games_games_details_teams_ranking_df['PLAYER_NAME'] == 'LaMarcus Aldridge')].tail()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_HOME,G_HOME,W_HOME,L_HOME,W_PCT_HOME,HOME_RECORD_HOME,ROAD_RECORD_HOME,HOME_W_PCT_HOME,ROAD_W_PCT_HOME,RANK_HOME
508622,2015-10-23,11500109,Final,1610612759,1610612745,2015,111.0,0.513,0.690,0.458,...,San Antonio,6,2,4,0.333,2-1,0-3,0.667,0.0,24
508937,2015-10-20,11500090,Final,1610612759,1610612756,2015,84.0,0.440,0.714,0.250,...,San Antonio,5,1,4,0.200,1-1,0-3,0.500,0.0,27
509162,2015-10-18,11500076,Final,1610612759,1610612765,2015,96.0,0.458,0.909,0.455,...,San Antonio,4,1,3,0.250,1-0,0-3,1.000,0.0,27
510043,2015-10-12,11500049,Final,1610612748,1610612759,2015,97.0,0.384,0.897,0.208,...,Miami,3,1,2,0.333,1-2,0-0,0.333,0.0,24
510477,2015-10-08,11500027,Final,1610612758,1610612759,2015,95.0,0.455,0.833,0.250,...,Sacramento,3,2,1,0.667,1-0,1-1,1.000,0.5,12

## Joining games_games_details_df_teams and ranking_df dataframes for away teams

In [104]:
games_games_details_teams_ranking_df = pd.merge(games_games_details_teams_ranking_df, ranking_df, how='inner', left_on=['GAME_DATE_EST', 'VISITOR_TEAM_ID'],
                                               right_on=['STANDINGSDATE', 'TEAM_ID'])
games_games_details_teams_ranking_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,HOME_W_PCT,ROAD_W_PCT,RANK
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,39,30,0.565,22-12,17-18,NaN,0.647,0.486,13
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,39,30,0.565,22-12,17-18,NaN,0.647,0.486,13
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,39,30,0.565,22-12,17-18,NaN,0.647,0.486,13
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,39,30,0.565,22-12,17-18,NaN,0.647,0.486,13
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,69,39,30,0.565,22-12,17-18,NaN,0.647,0.486,13

In [105]:
games_games_details_teams_ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541608 entries, 0 to 541607
Data columns (total 79 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541608 non-null  object
 1   GAME_ID            541608 non-null  int64
 2   GAME_STATUS_TEXT   541608 non-null  object
 3   HOME_TEAM_ID       541608 non-null  int64
 4   VISITOR_TEAM_ID    541608 non-null  int64
 5   SEASON             541608 non-null  int64
 6   PTS_home           541608 non-null  float64
 7   FG_PCT_home        541608 non-null  float64
 8   FT_PCT_home        541608 non-null  float64
 9   FG3_PCT_home       541608 non-null  float64
 10  AST_home           541608 non-null  float64
 11  REB_home           541608 non-null  float64
 12  PTS_away           541608 non-null  float64
 13  FG_PCT_away        541608 non-null  float64
 14  FT_PCT_away        541608 non-null  float64
 15  FG3_PCT_away       541608 non-null  float64
 16  AST_away           541608 non-null  float64
 17  REB_away           541608 non-null  float64
 18  HOME_TEAM_WINS     541608 non-null  int64
 19  TEAM_ID_x          541608 non-null  int64
 20  TEAM_ABBREVIATION  541608 non-null  object
 21  TEAM_CITY          541608 non-null  object
 22  TEAM_NICKNAME      541608 non-null  object
 23  PLAYER_ID          541608 non-null  int64
 24  PLAYER_NAME        541608 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247779 non-null  object
 27  COMMENT            0 non-null       object
 28  MIN                541607 non-null  object
 29  FGM                541607 non-null  float64
 30  FGA                541607 non-null  float64
 31  FG_PCT             541607 non-null  float64
 32  FG3M               541607 non-null  float64
 33  FG3A               541607 non-null  float64
 34  FG3_PCT            541607 non-null  float64
 35  FTM                541607 non-null  float64
 36  FTA                541607 non-null  float64
 37  FT_PCT             541607 non-null  float64
 38  OREB               541607 non-null  float64
 39  DREB               541607 non-null  float64
 40  REB                541607 non-null  float64
 41  AST                541607 non-null  float64
 42  STL                541607 non-null  float64
 43  BLK                541607 non-null  float64
 44  TO                 541607 non-null  float64
 45  PF                 541607 non-null  float64
 46  PTS                541607 non-null  float64
 47  PLUS_MINUS         517946 non-null  float64
 48  EFF                541607 non-null  float64
 49  NICKNAME_HOME      541608 non-null  object
 50  CITY_HOME          541608 non-null  object
 51  NICKNAME_AWAY      541608 non-null  object
 52  CITY_AWAY          541608 non-null  object
 53  TEAM_HOME          541608 non-null  object
 54  G_HOME             541608 non-null  int64
 55  W_HOME             541608 non-null  int64
 56  L_HOME             541608 non-null  int64
 57  W_PCT_HOME         541608 non-null  float64
 58  HOME_RECORD_HOME   541608 non-null  object
 59  ROAD_RECORD_HOME   541608 non-null  object
 60  HOME_W_PCT_HOME    541608 non-null  float64
 61  ROAD_W_PCT_HOME    541608 non-null  float64
 62  RANK_HOME          541608 non-null  int64
 63  TEAM_ID_y          541608 non-null  int64
 64  LEAGUE_ID          541608 non-null  int64
 65  SEASON_ID          541608 non-null  int64
 66  STANDINGSDATE      541608 non-null  object
 67  CONFERENCE         541608 non-null  object
 68  TEAM               541608 non-null  object
 69  G                  541608 non-null  int64
 70  W                  541608 non-null  int64
 71  L                  541608 non-null  int64
 72  W_PCT              541608 non-null  float64
 73  HOME_RECORD        541608 non-null  object
 74  ROAD_RECORD        541608 non-null  object
 75  RETURNTOPLAY       1548 non-null    float64
 76  HOME_W_PCT         541608 non-null  float64
 77  ROAD_W_PCT         541608 non-null  float64
 78  RANK               541608 non-null  int64
dtypes: float64(39), int64(18), object(22)
memory usage: 330.6+ MB

In [106]:
games_games_details_teams_ranking_df.iloc[0]

GAME_DATE_EST       2022-03-12
GAME_ID               22101005
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612748
VISITOR_TEAM_ID     1610612750
                       ...
ROAD_RECORD              17-18
RETURNTOPLAY               NaN
HOME_W_PCT               0.647
ROAD_W_PCT               0.486
RANK                        13
Name: 0, Length: 79, dtype: object

In [107]:
for i in games_games_details_teams_ranking_df.columns:
    print(i)

GAME_DATE_EST
GAME_ID
GAME_STATUS_TEXT
HOME_TEAM_ID
VISITOR_TEAM_ID
SEASON
PTS_home
FG_PCT_home
FT_PCT_home
FG3_PCT_home
AST_home
REB_home
PTS_away
FG_PCT_away
FT_PCT_away
FG3_PCT_away
AST_away
REB_away
HOME_TEAM_WINS
TEAM_ID_x
TEAM_ABBREVIATION
TEAM_CITY
TEAM_NICKNAME
PLAYER_ID
PLAYER_NAME
PLAYER_NICKNAME
START_POSITION
COMMENT
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
STL
BLK
TO
PF
PTS
PLUS_MINUS
EFF
NICKNAME_HOME
CITY_HOME
NICKNAME_AWAY
CITY_AWAY
TEAM_HOME
G_HOME
W_HOME
L_HOME
W_PCT_HOME
HOME_RECORD_HOME
ROAD_RECORD_HOME
HOME_W_PCT_HOME
ROAD_W_PCT_HOME
RANK_HOME
TEAM_ID_y
LEAGUE_ID
SEASON_ID
STANDINGSDATE
CONFERENCE
TEAM
G
W
L
W_PCT
HOME_RECORD
ROAD_RECORD
RETURNTOPLAY
HOME_W_PCT
ROAD_W_PCT
RANK

In [108]:
games_games_details_teams_ranking_df[['GAME_ID', 'GAME_DATE_EST', 'PLAYER_NAME', 'RANK_HOME', 'RANK']].head(100)

     GAME_ID GAME_DATE_EST         PLAYER_NAME  RANK_HOME  RANK
0   22101005    2022-03-12     Anthony Edwards          4    13
1   22101005    2022-03-12     Jaden McDaniels          4    13
2   22101005    2022-03-12  Karl-Anthony Towns          4    13
3   22101005    2022-03-12       Malik Beasley          4    13
4   22101005    2022-03-12    D'Angelo Russell          4    13
..       ...           ...                 ...        ...   ...
95  22101009    2022-03-12         Will Barton         11    14
96  22101009    2022-03-12        Monte Morris         11    14
97  22101009    2022-03-12       Austin Rivers         11    14
98  22101009    2022-03-12        Bones Hyland         11    14
99  22101009    2022-03-12      JaMychal Green         11    14

[100 rows x 5 columns]

In [109]:
games_games_details_teams_ranking_df[games_games_details_teams_ranking_df['GAME_ID'] == 22101009][['GAME_ID', 'GAME_DATE_EST',
                                                                                                   'NICKNAME_HOME', 'NICKNAME_AWAY',
                                                                                                   'TEAM_ID_y', 'TEAM_CITY',
                                                                                                   'TEAM_NICKNAME',
                                                                                                   'PLAYER_NAME', 'EFF',
                                                                                                  'PTS_home', 'PTS_away',
                                                                                                  'RANK_HOME', 'RANK',
                                                                                                  'HOME_TEAM_WINS']]

,GAME_ID,GAME_DATE_EST,NICKNAME_HOME,NICKNAME_AWAY,TEAM_ID_y,TEAM_CITY,TEAM_NICKNAME,PLAYER_NAME,EFF,PTS_home,PTS_away,RANK_HOME,RANK,HOME_TEAM_WINS
81,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Gary Trent Jr.,0.0,115.0,127.0,11,14,0
82,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Pascal Siakam,35.0,115.0,127.0,11,14,0
83,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Precious Achiuwa,12.0,115.0,127.0,11,14,0
84,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Scottie Barnes,34.0,115.0,127.0,11,14,0
85,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Armoni Brooks,9.0,115.0,127.0,11,14,0
86,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Thaddeus Young,15.0,115.0,127.0,11,14,0
87,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Chris Boucher,31.0,115.0,127.0,11,14,0
88,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Dalano Banton,6.0,115.0,127.0,11,14,0
89,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Khem Birch,12.0,115.0,127.0,11,14,0
90,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Yuta Watanabe,3.0,115.0,127.0,11,14,0
91,22101009,2022-03-12,Nuggets,Raptors,1610612761,Toronto,Raptors,Svi Mykhailiuk,-1.0,115.0,127.0,11,14,0
92,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Davon Reed,8.0,115.0,127.0,11,14,0
93,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Jeff Green,11.0,115.0,127.0,11,14,0
94,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Nikola Jokic,37.0,115.0,127.0,11,14,0
95,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Will Barton,15.0,115.0,127.0,11,14,0
96,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Monte Morris,13.0,115.0,127.0,11,14,0
97,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Austin Rivers,12.0,115.0,127.0,11,14,0
98,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Bones Hyland,20.0,115.0,127.0,11,14,0
99,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,JaMychal Green,5.0,115.0,127.0,11,14,0
100,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Bryn Forbes,7.0,115.0,127.0,11,14,0
101,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,DeMarcus Cousins,7.0,115.0,127.0,11,14,0
102,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Markus Howard,0.0,115.0,127.0,11,14,0
103,22101009,2022-03-12,Nuggets,Raptors,1610612761,Denver,Nuggets,Facundo Campazzo,0.0,115.0,127.0,11,14,0

In [110]:
games_games_details_teams_ranking_df = games_games_details_teams_ranking_df[['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'TEAM_ID_x', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'TEAM_NICKNAME', 'PLAYER_ID',
       'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION', 'COMMENT', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME', 'NICKNAME_AWAY', 'CITY_AWAY', 
       'TEAM_HOME', 'G_HOME', 'W_HOME', 'L_HOME', 'W_PCT_HOME', 'HOME_RECORD_HOME', 'ROAD_RECORD_HOME', 'HOME_W_PCT_HOME', 'ROAD_W_PCT_HOME', 'RANK_HOME',
        'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD', 'HOME_W_PCT', 'ROAD_W_PCT', 'RANK']]

games_games_details_teams_ranking_df = games_games_details_teams_ranking_df.rename(columns = {'TEAM_ID_x': 'TEAM_ID',
                                                                                             'TEAM': 'TEAM_AWAY',
                                                                                             'G': 'G_AWAY',
                                                                                             'W': 'W_AWAY',
                                                                                             'L': 'L_AWAY',
                                                                                             'W_PCT': 'W_PCT_AWAY',
                                                                                             'HOME_RECORD': 'HOME_RECORD_AWAY',
                                                                                             'ROAD_RECORD': 'ROAD_RECORD_AWAY',
                                                                                             'HOME_W_PCT': 'HOME_W_PCT_AWAY',
                                                                                             'ROAD_W_PCT': 'ROAD_W_PCT_AWAY',
                                                                                             'RANK': 'RANK_AWAY'})
games_games_details_teams_ranking_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_AWAY,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13

In [111]:
games_games_details_teams_ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541608 entries, 0 to 541607
Data columns (total 73 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541608 non-null  object
 1   GAME_ID            541608 non-null  int64
 2   GAME_STATUS_TEXT   541608 non-null  object
 3   HOME_TEAM_ID       541608 non-null  int64
 4   VISITOR_TEAM_ID    541608 non-null  int64
 5   SEASON             541608 non-null  int64
 6   PTS_home           541608 non-null  float64
 7   FG_PCT_home        541608 non-null  float64
 8   FT_PCT_home        541608 non-null  float64
 9   FG3_PCT_home       541608 non-null  float64
 10  AST_home           541608 non-null  float64
 11  REB_home           541608 non-null  float64
 12  PTS_away           541608 non-null  float64
 13  FG_PCT_away        541608 non-null  float64
 14  FT_PCT_away        541608 non-null  float64
 15  FG3_PCT_away       541608 non-null  float64
 16  AST_away           541608 non-null  float64
 17  REB_away           541608 non-null  float64
 18  HOME_TEAM_WINS     541608 non-null  int64
 19  TEAM_ID            541608 non-null  int64
 20  TEAM_ABBREVIATION  541608 non-null  object
 21  TEAM_CITY          541608 non-null  object
 22  TEAM_NICKNAME      541608 non-null  object
 23  PLAYER_ID          541608 non-null  int64
 24  PLAYER_NAME        541608 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247779 non-null  object
 27  COMMENT            0 non-null       object
 28  MIN                541607 non-null  object
 29  FGM                541607 non-null  float64
 30  FGA                541607 non-null  float64
 31  FG_PCT             541607 non-null  float64
 32  FG3M               541607 non-null  float64
 33  FG3A               541607 non-null  float64
 34  FG3_PCT            541607 non-null  float64
 35  FTM                541607 non-null  float64
 36  FTA                541607 non-null  float64
 37  FT_PCT             541607 non-null  float64
 38  OREB               541607 non-null  float64
 39  DREB               541607 non-null  float64
 40  REB                541607 non-null  float64
 41  AST                541607 non-null  float64
 42  STL                541607 non-null  float64
 43  BLK                541607 non-null  float64
 44  TO                 541607 non-null  float64
 45  PF                 541607 non-null  float64
 46  PTS                541607 non-null  float64
 47  PLUS_MINUS         517946 non-null  float64
 48  EFF                541607 non-null  float64
 49  NICKNAME_HOME      541608 non-null  object
 50  CITY_HOME          541608 non-null  object
 51  NICKNAME_AWAY      541608 non-null  object
 52  CITY_AWAY          541608 non-null  object
 53  TEAM_HOME          541608 non-null  object
 54  G_HOME             541608 non-null  int64
 55  W_HOME             541608 non-null  int64
 56  L_HOME             541608 non-null  int64
 57  W_PCT_HOME         541608 non-null  float64
 58  HOME_RECORD_HOME   541608 non-null  object
 59  ROAD_RECORD_HOME   541608 non-null  object
 60  HOME_W_PCT_HOME    541608 non-null  float64
 61  ROAD_W_PCT_HOME    541608 non-null  float64
 62  RANK_HOME          541608 non-null  int64
 63  TEAM_AWAY          541608 non-null  object
 64  G_AWAY             541608 non-null  int64
 65  W_AWAY             541608 non-null  int64
 66  L_AWAY             541608 non-null  int64
 67  W_PCT_AWAY         541608 non-null  float64
 68  HOME_RECORD_AWAY   541608 non-null  object
 69  ROAD_RECORD_AWAY   541608 non-null  object
 70  HOME_W_PCT_AWAY    541608 non-null  float64
 71  ROAD_W_PCT_AWAY    541608 non-null  float64
 72  RANK_AWAY          541608 non-null  int64
dtypes: float64(38), int64(15), object(20)
memory usage: 305.8+ MB

In [112]:
games_games_details_teams_ranking_df[(games_games_details_teams_ranking_df['TEAM_NICKNAME'] == 'Spurs') &
                                    (games_games_details_teams_ranking_df['SEASON'] == 2006)]['PLAYER_NAME'].head(30)

270128        Bruce Bowen
270129         Tim Duncan
270130    Fabricio Oberto
270131     Michael Finley
270132        Tony Parker
270133       Robert Horry
270134      Manu Ginobili
270135    Francisco Elson
270136      Jacque Vaughn
270137        Brent Barry
270147        Bruce Bowen
270148         Tim Duncan
270149    Fabricio Oberto
270150     Michael Finley
270151        Tony Parker
270152       Robert Horry
270153      Manu Ginobili
270154      Jacque Vaughn
270155    Francisco Elson
270156        Brent Barry
270169        Bruce Bowen
270170         Tim Duncan
270171    Fabricio Oberto
270172     Michael Finley
270173        Tony Parker
270174       Robert Horry
270175      Manu Ginobili
270176        Brent Barry
270177    Francisco Elson
270178      Jacque Vaughn
Name: PLAYER_NAME, dtype: object

In [114]:
games_games_details_teams_ranking_df.to_csv('Combined Dataset.csv', index=False)

In [115]:
games_games_details_teams_ranking_df[(games_games_details_teams_ranking_df['SEASON'] == 2015) &
                                    (games_games_details_teams_ranking_df['PLAYER_NAME'] == 'Tim Duncan')]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_AWAY,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY
481224,2016-05-12,41500236,Final,1610612760,1610612759,2015,113.0,0.471,0.871,0.273,...,San Antonio,82,67,15,0.817,40-1,27-14,0.976,0.659,2
481286,2016-05-10,41500235,Final,1610612759,1610612760,2015,91.0,0.398,0.765,0.444,...,Oklahoma City,82,55,27,0.671,32-9,23-18,0.780,0.561,5
481363,2016-05-08,41500234,Final,1610612760,1610612759,2015,111.0,0.506,0.759,0.391,...,San Antonio,82,67,15,0.817,40-1,27-14,0.976,0.659,2
481452,2016-05-06,41500233,Final,1610612760,1610612759,2015,96.0,0.415,0.900,0.333,...,San Antonio,82,67,15,0.817,40-1,27-14,0.976,0.659,2
481579,2016-05-02,41500232,Final,1610612759,1610612760,2015,97.0,0.426,0.846,0.261,...,Oklahoma City,82,55,27,0.671,32-9,23-18,0.780,0.561,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508873,2015-10-23,11500109,Final,1610612759,1610612745,2015,111.0,0.513,0.690,0.458,...,Houston,8,3,5,0.375,2-2,1-3,0.500,0.250,21
509188,2015-10-20,11500090,Final,1610612759,1610612756,2015,84.0,0.440,0.714,0.250,...,Phoenix,5,3,2,0.600,2-1,1-1,0.667,0.500,13
509415,2015-10-18,11500076,Final,1610612759,1610612765,2015,96.0,0.458,0.909,0.455,...,Detroit,6,2,4,0.333,0-2,2-2,0.000,0.500,23
509988,2015-10-14,11500060,Final,1610612737,1610612759,2015,100.0,0.410,0.862,0.355,...,San Antonio,3,0,3,0.000,0-0,0-3,0.000,0.000,28
510294,2015-10-12,11500049,Final,1610612748,1610612759,2015,97.0,0.384,0.897,0.208,...,San Antonio,2,0,2,0.000,0-0,0-2,0.000,0.000,26