In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading in Combined Dataset.csv

In [2]:
combined_dataset_df = pd.read_csv('Combined Dataset.csv')
combined_dataset_df.head(10)

C:\Users\peech\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_AWAY,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
1,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
2,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
3,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
4,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
5,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
6,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
7,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
8,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13
9,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,...,Minnesota,69,39,30,0.565,22-12,17-18,0.647,0.486,13

In [3]:
combined_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541608 entries, 0 to 541607
Data columns (total 73 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541608 non-null  object
 1   GAME_ID            541608 non-null  int64
 2   GAME_STATUS_TEXT   541608 non-null  object
 3   HOME_TEAM_ID       541608 non-null  int64
 4   VISITOR_TEAM_ID    541608 non-null  int64
 5   SEASON             541608 non-null  int64
 6   PTS_home           541608 non-null  float64
 7   FG_PCT_home        541608 non-null  float64
 8   FT_PCT_home        541608 non-null  float64
 9   FG3_PCT_home       541608 non-null  float64
 10  AST_home           541608 non-null  float64
 11  REB_home           541608 non-null  float64
 12  PTS_away           541608 non-null  float64
 13  FG_PCT_away        541608 non-null  float64
 14  FT_PCT_away        541608 non-null  float64
 15  FG3_PCT_away       541608 non-null  float64
 16  AST_away           541608 non-null  float64
 17  REB_away           541608 non-null  float64
 18  HOME_TEAM_WINS     541608 non-null  int64
 19  TEAM_ID            541608 non-null  int64
 20  TEAM_ABBREVIATION  541608 non-null  object
 21  TEAM_CITY          541608 non-null  object
 22  TEAM_NICKNAME      541608 non-null  object
 23  PLAYER_ID          541608 non-null  int64
 24  PLAYER_NAME        541608 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247779 non-null  object
 27  COMMENT            0 non-null       float64
 28  MIN                541607 non-null  object
 29  FGM                541607 non-null  float64
 30  FGA                541607 non-null  float64
 31  FG_PCT             541607 non-null  float64
 32  FG3M               541607 non-null  float64
 33  FG3A               541607 non-null  float64
 34  FG3_PCT            541607 non-null  float64
 35  FTM                541607 non-null  float64
 36  FTA                541607 non-null  float64
 37  FT_PCT             541607 non-null  float64
 38  OREB               541607 non-null  float64
 39  DREB               541607 non-null  float64
 40  REB                541607 non-null  float64
 41  AST                541607 non-null  float64
 42  STL                541607 non-null  float64
 43  BLK                541607 non-null  float64
 44  TO                 541607 non-null  float64
 45  PF                 541607 non-null  float64
 46  PTS                541607 non-null  float64
 47  PLUS_MINUS         517946 non-null  float64
 48  EFF                541607 non-null  float64
 49  NICKNAME_HOME      541608 non-null  object
 50  CITY_HOME          541608 non-null  object
 51  NICKNAME_AWAY      541608 non-null  object
 52  CITY_AWAY          541608 non-null  object
 53  TEAM_HOME          541608 non-null  object
 54  G_HOME             541608 non-null  int64
 55  W_HOME             541608 non-null  int64
 56  L_HOME             541608 non-null  int64
 57  W_PCT_HOME         541608 non-null  float64
 58  HOME_RECORD_HOME   541608 non-null  object
 59  ROAD_RECORD_HOME   541608 non-null  object
 60  HOME_W_PCT_HOME    541608 non-null  float64
 61  ROAD_W_PCT_HOME    541608 non-null  float64
 62  RANK_HOME          541608 non-null  int64
 63  TEAM_AWAY          541608 non-null  object
 64  G_AWAY             541608 non-null  int64
 65  W_AWAY             541608 non-null  int64
 66  L_AWAY             541608 non-null  int64
 67  W_PCT_AWAY         541608 non-null  float64
 68  HOME_RECORD_AWAY   541608 non-null  object
 69  ROAD_RECORD_AWAY   541608 non-null  object
 70  HOME_W_PCT_AWAY    541608 non-null  float64
 71  ROAD_W_PCT_AWAY    541608 non-null  float64
 72  RANK_AWAY          541608 non-null  int64
dtypes: float64(39), int64(15), object(19)
memory usage: 301.6+ MB

## Dropping Duplicate Values

In [4]:
full_df = combined_dataset_df.drop_duplicates()
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541608 entries, 0 to 541607
Data columns (total 73 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      541608 non-null  object
 1   GAME_ID            541608 non-null  int64
 2   GAME_STATUS_TEXT   541608 non-null  object
 3   HOME_TEAM_ID       541608 non-null  int64
 4   VISITOR_TEAM_ID    541608 non-null  int64
 5   SEASON             541608 non-null  int64
 6   PTS_home           541608 non-null  float64
 7   FG_PCT_home        541608 non-null  float64
 8   FT_PCT_home        541608 non-null  float64
 9   FG3_PCT_home       541608 non-null  float64
 10  AST_home           541608 non-null  float64
 11  REB_home           541608 non-null  float64
 12  PTS_away           541608 non-null  float64
 13  FG_PCT_away        541608 non-null  float64
 14  FT_PCT_away        541608 non-null  float64
 15  FG3_PCT_away       541608 non-null  float64
 16  AST_away           541608 non-null  float64
 17  REB_away           541608 non-null  float64
 18  HOME_TEAM_WINS     541608 non-null  int64
 19  TEAM_ID            541608 non-null  int64
 20  TEAM_ABBREVIATION  541608 non-null  object
 21  TEAM_CITY          541608 non-null  object
 22  TEAM_NICKNAME      541608 non-null  object
 23  PLAYER_ID          541608 non-null  int64
 24  PLAYER_NAME        541608 non-null  object
 25  PLAYER_NICKNAME    24808 non-null   object
 26  START_POSITION     247779 non-null  object
 27  COMMENT            0 non-null       float64
 28  MIN                541607 non-null  object
 29  FGM                541607 non-null  float64
 30  FGA                541607 non-null  float64
 31  FG_PCT             541607 non-null  float64
 32  FG3M               541607 non-null  float64
 33  FG3A               541607 non-null  float64
 34  FG3_PCT            541607 non-null  float64
 35  FTM                541607 non-null  float64
 36  FTA                541607 non-null  float64
 37  FT_PCT             541607 non-null  float64
 38  OREB               541607 non-null  float64
 39  DREB               541607 non-null  float64
 40  REB                541607 non-null  float64
 41  AST                541607 non-null  float64
 42  STL                541607 non-null  float64
 43  BLK                541607 non-null  float64
 44  TO                 541607 non-null  float64
 45  PF                 541607 non-null  float64
 46  PTS                541607 non-null  float64
 47  PLUS_MINUS         517946 non-null  float64
 48  EFF                541607 non-null  float64
 49  NICKNAME_HOME      541608 non-null  object
 50  CITY_HOME          541608 non-null  object
 51  NICKNAME_AWAY      541608 non-null  object
 52  CITY_AWAY          541608 non-null  object
 53  TEAM_HOME          541608 non-null  object
 54  G_HOME             541608 non-null  int64
 55  W_HOME             541608 non-null  int64
 56  L_HOME             541608 non-null  int64
 57  W_PCT_HOME         541608 non-null  float64
 58  HOME_RECORD_HOME   541608 non-null  object
 59  ROAD_RECORD_HOME   541608 non-null  object
 60  HOME_W_PCT_HOME    541608 non-null  float64
 61  ROAD_W_PCT_HOME    541608 non-null  float64
 62  RANK_HOME          541608 non-null  int64
 63  TEAM_AWAY          541608 non-null  object
 64  G_AWAY             541608 non-null  int64
 65  W_AWAY             541608 non-null  int64
 66  L_AWAY             541608 non-null  int64
 67  W_PCT_AWAY         541608 non-null  float64
 68  HOME_RECORD_AWAY   541608 non-null  object
 69  ROAD_RECORD_AWAY   541608 non-null  object
 70  HOME_W_PCT_AWAY    541608 non-null  float64
 71  ROAD_W_PCT_AWAY    541608 non-null  float64
 72  RANK_AWAY          541608 non-null  int64
dtypes: float64(39), int64(15), object(19)
memory usage: 305.8+ MB

In [5]:
full_df[full_df['G_HOME'] == 0]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_AWAY,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY
355586,2004-10-29,10400118,Final,1610612759,1610612740,2004,102.0,0.451,0.756,0.583,...,New Orleans,0,0,0,0.0,0-0,0-0,0.0,0.0,18
355587,2004-10-29,10400118,Final,1610612759,1610612740,2004,102.0,0.451,0.756,0.583,...,New Orleans,0,0,0,0.0,0-0,0-0,0.0,0.0,18
355588,2004-10-29,10400118,Final,1610612759,1610612740,2004,102.0,0.451,0.756,0.583,...,New Orleans,0,0,0,0.0,0-0,0-0,0.0,0.0,18
355589,2004-10-29,10400118,Final,1610612759,1610612740,2004,102.0,0.451,0.756,0.583,...,New Orleans,0,0,0,0.0,0-0,0-0,0.0,0.0,18
355590,2004-10-29,10400118,Final,1610612759,1610612740,2004,102.0,0.451,0.756,0.583,...,New Orleans,0,0,0,0.0,0-0,0-0,0.0,0.0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382661,2003-10-05,10300001,Final,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,...,Dallas,0,0,0,0.0,0-0,0-0,0.0,0.0,14
382662,2003-10-05,10300001,Final,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,...,Dallas,0,0,0,0.0,0-0,0-0,0.0,0.0,14
382663,2003-10-05,10300001,Final,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,...,Dallas,0,0,0,0.0,0-0,0-0,0.0,0.0,14
382664,2003-10-05,10300001,Final,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,...,Dallas,0,0,0,0.0,0-0,0-0,0.0,0.0,14
382665,2003-10-05,10300001,Final,1610612762,1610612742,2003,90.0,0.457,0.735,0.143,...,Dallas,0,0,0,0.0,0-0,0-0,0.0,0.0,14

In [6]:
full_df[full_df['TEAM_NICKNAME'] == 'Spurs'].iloc[0]

GAME_DATE_EST       2022-03-12
GAME_ID               22101007
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612759
VISITOR_TEAM_ID     1610612754
                       ...
HOME_RECORD_AWAY         15-19
ROAD_RECORD_AWAY          8-26
HOME_W_PCT_AWAY          0.441
ROAD_W_PCT_AWAY          0.235
RANK_AWAY                   26
Name: 48, Length: 73, dtype: object

In [7]:
print(np.sort(full_df['SEASON'].unique()))
print(len(np.sort(full_df['SEASON'].unique())))

[2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021]
19

In [8]:
print(np.sort(full_df[(full_df['SEASON'] == 2004) & (full_df['GAME_DATE_EST'] < '2004-11-02')]['G_HOME'].unique()))
print()
print(np.sort(full_df[(full_df['SEASON'] == 2004) & (full_df['GAME_DATE_EST'] < '2004-11-02')]['G_AWAY'].unique()))

[0]

[0]

## Filtering Dataset to exclude Pre-Season Games. Just want Regular Season and Playoff Games

In [9]:
df_2003 = full_df[(full_df['SEASON'] == 2003) & (full_df['GAME_DATE_EST'] >= '2003-10-28')]
df_2004 = full_df[(full_df['SEASON'] == 2004) & (full_df['GAME_DATE_EST'] >= '2004-11-02')]
df_2005 = full_df[(full_df['SEASON'] == 2005) & (full_df['GAME_DATE_EST'] >= '2005-11-01')]
df_2006 = full_df[(full_df['SEASON'] == 2006) & (full_df['GAME_DATE_EST'] >= '2006-10-31')]
df_2007 = full_df[(full_df['SEASON'] == 2007) & (full_df['GAME_DATE_EST'] >= '2007-10-30')]
df_2008 = full_df[(full_df['SEASON'] == 2008) & (full_df['GAME_DATE_EST'] >= '2008-10-28')]
df_2009 = full_df[(full_df['SEASON'] == 2009) & (full_df['GAME_DATE_EST'] >= '2009-10-27')]
df_2010 = full_df[(full_df['SEASON'] == 2010) & (full_df['GAME_DATE_EST'] >= '2010-10-26')]
df_2011 = full_df[(full_df['SEASON'] == 2011) & (full_df['GAME_DATE_EST'] >= '2011-12-25')]
df_2012 = full_df[(full_df['SEASON'] == 2012) & (full_df['GAME_DATE_EST'] >= '2012-10-30')]
df_2013 = full_df[(full_df['SEASON'] == 2013) & (full_df['GAME_DATE_EST'] >= '2013-10-29')]
df_2014 = full_df[(full_df['SEASON'] == 2014) & (full_df['GAME_DATE_EST'] >= '2014-10-28')]
df_2015 = full_df[(full_df['SEASON'] == 2015) & (full_df['GAME_DATE_EST'] >= '2015-10-27')]
df_2016 = full_df[(full_df['SEASON'] == 2016) & (full_df['GAME_DATE_EST'] >= '2016-10-25')]
df_2017 = full_df[(full_df['SEASON'] == 2017) & (full_df['GAME_DATE_EST'] >= '2017-10-17')]
df_2018 = full_df[(full_df['SEASON'] == 2018) & (full_df['GAME_DATE_EST'] >= '2018-10-16')]
df_2019 = full_df[(full_df['SEASON'] == 2019) & (full_df['GAME_DATE_EST'] >= '2019-10-22')]
df_2020 = full_df[(full_df['SEASON'] == 2020) & (full_df['GAME_DATE_EST'] >= '2020-12-22')]
df_2021 = full_df[(full_df['SEASON'] == 2021) & (full_df['GAME_DATE_EST'] >= '2021-10-19')]

df_lst = [df_2003,df_2004,df_2005,df_2006,df_2007,df_2008,df_2009,df_2010,df_2011,df_2012,df_2013,df_2014,df_2015,df_2016,
         df_2017,df_2018,df_2019,df_2020,df_2021]

df = pd.concat(df_lst)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 356766 to 21484
Data columns (total 73 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      501383 non-null  object
 1   GAME_ID            501383 non-null  int64
 2   GAME_STATUS_TEXT   501383 non-null  object
 3   HOME_TEAM_ID       501383 non-null  int64
 4   VISITOR_TEAM_ID    501383 non-null  int64
 5   SEASON             501383 non-null  int64
 6   PTS_home           501383 non-null  float64
 7   FG_PCT_home        501383 non-null  float64
 8   FT_PCT_home        501383 non-null  float64
 9   FG3_PCT_home       501383 non-null  float64
 10  AST_home           501383 non-null  float64
 11  REB_home           501383 non-null  float64
 12  PTS_away           501383 non-null  float64
 13  FG_PCT_away        501383 non-null  float64
 14  FT_PCT_away        501383 non-null  float64
 15  FG3_PCT_away       501383 non-null  float64
 16  AST_away           501383 non-null  float64
 17  REB_away           501383 non-null  float64
 18  HOME_TEAM_WINS     501383 non-null  int64
 19  TEAM_ID            501383 non-null  int64
 20  TEAM_ABBREVIATION  501383 non-null  object
 21  TEAM_CITY          501383 non-null  object
 22  TEAM_NICKNAME      501383 non-null  object
 23  PLAYER_ID          501383 non-null  int64
 24  PLAYER_NAME        501383 non-null  object
 25  PLAYER_NICKNAME    23002 non-null   object
 26  START_POSITION     241589 non-null  object
 27  COMMENT            0 non-null       float64
 28  MIN                501383 non-null  object
 29  FGM                501383 non-null  float64
 30  FGA                501383 non-null  float64
 31  FG_PCT             501383 non-null  float64
 32  FG3M               501383 non-null  float64
 33  FG3A               501383 non-null  float64
 34  FG3_PCT            501383 non-null  float64
 35  FTM                501383 non-null  float64
 36  FTA                501383 non-null  float64
 37  FT_PCT             501383 non-null  float64
 38  OREB               501383 non-null  float64
 39  DREB               501383 non-null  float64
 40  REB                501383 non-null  float64
 41  AST                501383 non-null  float64
 42  STL                501383 non-null  float64
 43  BLK                501383 non-null  float64
 44  TO                 501383 non-null  float64
 45  PF                 501383 non-null  float64
 46  PTS                501383 non-null  float64
 47  PLUS_MINUS         501383 non-null  float64
 48  EFF                501383 non-null  float64
 49  NICKNAME_HOME      501383 non-null  object
 50  CITY_HOME          501383 non-null  object
 51  NICKNAME_AWAY      501383 non-null  object
 52  CITY_AWAY          501383 non-null  object
 53  TEAM_HOME          501383 non-null  object
 54  G_HOME             501383 non-null  int64
 55  W_HOME             501383 non-null  int64
 56  L_HOME             501383 non-null  int64
 57  W_PCT_HOME         501383 non-null  float64
 58  HOME_RECORD_HOME   501383 non-null  object
 59  ROAD_RECORD_HOME   501383 non-null  object
 60  HOME_W_PCT_HOME    501383 non-null  float64
 61  ROAD_W_PCT_HOME    501383 non-null  float64
 62  RANK_HOME          501383 non-null  int64
 63  TEAM_AWAY          501383 non-null  object
 64  G_AWAY             501383 non-null  int64
 65  W_AWAY             501383 non-null  int64
 66  L_AWAY             501383 non-null  int64
 67  W_PCT_AWAY         501383 non-null  float64
 68  HOME_RECORD_AWAY   501383 non-null  object
 69  ROAD_RECORD_AWAY   501383 non-null  object
 70  HOME_W_PCT_AWAY    501383 non-null  float64
 71  ROAD_W_PCT_AWAY    501383 non-null  float64
 72  RANK_AWAY          501383 non-null  int64
dtypes: float64(39), int64(15), object(19)
memory usage: 283.1+ MB

In [11]:
print(np.sort(df['G_AWAY'].unique()))
print(len(np.sort(df['G_AWAY'].unique())))
print()
print(np.sort(df['G_HOME'].unique()))
print(len(np.sort(df['G_HOME'].unique())))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82]
82

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82]
82

In [12]:
print(np.sort(df['SEASON'].unique()))
print(len(np.sort(df['SEASON'].unique())))

[2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021]
19

In [13]:
df.iloc[0]

GAME_DATE_EST       2004-06-15
GAME_ID               40300405
GAME_STATUS_TEXT         Final
HOME_TEAM_ID        1610612765
VISITOR_TEAM_ID     1610612747
                       ...
HOME_RECORD_AWAY          34-7
ROAD_RECORD_AWAY         22-19
HOME_W_PCT_AWAY          0.829
ROAD_W_PCT_AWAY          0.537
RANK_AWAY                    4
Name: 356766, Length: 73, dtype: object

In [14]:
print(df[df['GAME_DATE_EST'] == '2014-06-15']['G_AWAY'].unique())
print()
print(df[df['GAME_DATE_EST'] == '2014-06-15']['G_HOME'].unique())

[82]

[82]

## Getting Game Numbers For the Team - Might create this variable that will be used in the model later when aggregating at team level

In [15]:
def getGameNumberTeam(team_id,home_id,away_id,g_home,g_away):
    if team_id == home_id:
        return g_home
    else:
        return g_away

df = df.sort_values(by=['GAME_DATE_EST', 'GAME_ID', 'TEAM_ID'])
df['GAME_NUMBER_TEAM'] = [getGameNumberTeam(t,h,a,gh,ga) for (t,h,a,gh,ga) in zip(df['TEAM_ID'], df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'],
                                                                        df['G_HOME'], df['G_AWAY'])]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 382233 to 134
Data columns (total 74 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      501383 non-null  object
 1   GAME_ID            501383 non-null  int64
 2   GAME_STATUS_TEXT   501383 non-null  object
 3   HOME_TEAM_ID       501383 non-null  int64
 4   VISITOR_TEAM_ID    501383 non-null  int64
 5   SEASON             501383 non-null  int64
 6   PTS_home           501383 non-null  float64
 7   FG_PCT_home        501383 non-null  float64
 8   FT_PCT_home        501383 non-null  float64
 9   FG3_PCT_home       501383 non-null  float64
 10  AST_home           501383 non-null  float64
 11  REB_home           501383 non-null  float64
 12  PTS_away           501383 non-null  float64
 13  FG_PCT_away        501383 non-null  float64
 14  FT_PCT_away        501383 non-null  float64
 15  FG3_PCT_away       501383 non-null  float64
 16  AST_away           501383 non-null  float64
 17  REB_away           501383 non-null  float64
 18  HOME_TEAM_WINS     501383 non-null  int64
 19  TEAM_ID            501383 non-null  int64
 20  TEAM_ABBREVIATION  501383 non-null  object
 21  TEAM_CITY          501383 non-null  object
 22  TEAM_NICKNAME      501383 non-null  object
 23  PLAYER_ID          501383 non-null  int64
 24  PLAYER_NAME        501383 non-null  object
 25  PLAYER_NICKNAME    23002 non-null   object
 26  START_POSITION     241589 non-null  object
 27  COMMENT            0 non-null       float64
 28  MIN                501383 non-null  object
 29  FGM                501383 non-null  float64
 30  FGA                501383 non-null  float64
 31  FG_PCT             501383 non-null  float64
 32  FG3M               501383 non-null  float64
 33  FG3A               501383 non-null  float64
 34  FG3_PCT            501383 non-null  float64
 35  FTM                501383 non-null  float64
 36  FTA                501383 non-null  float64
 37  FT_PCT             501383 non-null  float64
 38  OREB               501383 non-null  float64
 39  DREB               501383 non-null  float64
 40  REB                501383 non-null  float64
 41  AST                501383 non-null  float64
 42  STL                501383 non-null  float64
 43  BLK                501383 non-null  float64
 44  TO                 501383 non-null  float64
 45  PF                 501383 non-null  float64
 46  PTS                501383 non-null  float64
 47  PLUS_MINUS         501383 non-null  float64
 48  EFF                501383 non-null  float64
 49  NICKNAME_HOME      501383 non-null  object
 50  CITY_HOME          501383 non-null  object
 51  NICKNAME_AWAY      501383 non-null  object
 52  CITY_AWAY          501383 non-null  object
 53  TEAM_HOME          501383 non-null  object
 54  G_HOME             501383 non-null  int64
 55  W_HOME             501383 non-null  int64
 56  L_HOME             501383 non-null  int64
 57  W_PCT_HOME         501383 non-null  float64
 58  HOME_RECORD_HOME   501383 non-null  object
 59  ROAD_RECORD_HOME   501383 non-null  object
 60  HOME_W_PCT_HOME    501383 non-null  float64
 61  ROAD_W_PCT_HOME    501383 non-null  float64
 62  RANK_HOME          501383 non-null  int64
 63  TEAM_AWAY          501383 non-null  object
 64  G_AWAY             501383 non-null  int64
 65  W_AWAY             501383 non-null  int64
 66  L_AWAY             501383 non-null  int64
 67  W_PCT_AWAY         501383 non-null  float64
 68  HOME_RECORD_AWAY   501383 non-null  object
 69  ROAD_RECORD_AWAY   501383 non-null  object
 70  HOME_W_PCT_AWAY    501383 non-null  float64
 71  ROAD_W_PCT_AWAY    501383 non-null  float64
 72  RANK_AWAY          501383 non-null  int64
 73  GAME_NUMBER_TEAM   501383 non-null  int64
dtypes: float64(39), int64(16), object(19)
memory usage: 286.9+ MB

In [16]:
df.head(100)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM
382233,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382234,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382235,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382236,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382237,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382037,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,1,1,0,1.0,0-0,1-0,0.0,1.0,9,1
382017,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,1,1,0,1.0,0-0,1-0,0.0,1.0,9,1
382018,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,1,1,0,1.0,0-0,1-0,0.0,1.0,9,1
382019,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,1,1,0,1.0,0-0,1-0,0.0,1.0,9,1
382020,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,1,1,0,1.0,0-0,1-0,0.0,1.0,9,1

In [17]:
df.tail(100)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM
44,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,...,68,23,45,0.338,15-19,8-26,0.441,0.235,26,68
45,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,...,68,23,45,0.338,15-19,8-26,0.441,0.235,26,68
46,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,...,68,23,45,0.338,15-19,8-26,0.441,0.235,26,68
47,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,...,68,23,45,0.338,15-19,8-26,0.441,0.235,26,68
48,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,...,68,23,45,0.338,15-19,8-26,0.441,0.235,26,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.500,0.375,19,66
131,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.500,0.375,19,66
132,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.500,0.375,19,66
133,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.500,0.375,19,66
134,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.500,0.375,19,66

In [18]:
df.head(30)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM
382233,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382234,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382235,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382236,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382237,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382238,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382239,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382240,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382241,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382242,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382243,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382244,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382245,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382246,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382247,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382248,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382249,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382250,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382251,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382252,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382253,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382254,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.440,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,1
382264,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382265,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382266,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382267,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382268,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382269,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382270,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1
382271,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.10,...,1,0,1,0.0,0-0,0-1,0.0,0.0,8,1

In [19]:
df[(df['SEASON'] == 2004) & (df['PLAYER_NAME'] == 'Tim Duncan')]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM
355311,2004-11-03,20400012,Final,1610612759,1610612758,2004,101.0,0.451,0.769,0.389,...,2,0,2,0.000,0-0,0-2,0.000,0.000,29,1
354978,2004-11-05,20400027,Final,1610612747,1610612759,2004,96.0,0.432,0.765,0.400,...,2,2,0,1.000,1-0,1-0,1.000,1.000,9,2
354705,2004-11-07,20400043,Final,1610612760,1610612759,2004,113.0,0.506,0.879,0.462,...,3,2,1,0.667,1-0,1-1,1.000,0.500,12,3
354169,2004-11-10,20400066,Final,1610612759,1610612744,2004,91.0,0.468,0.667,0.429,...,5,0,5,0.000,0-3,0-2,0.000,0.000,30,4
353949,2004-11-12,20400078,Final,1610612759,1610612748,2004,93.0,0.453,0.586,0.421,...,6,4,2,0.667,2-1,2-1,0.667,0.667,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329107,2005-06-14,40400403,Final,1610612765,1610612759,2004,96.0,0.471,0.765,0.214,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329085,2005-06-16,40400404,Final,1610612765,1610612759,2004,102.0,0.456,0.783,0.222,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329070,2005-06-19,40400405,Final,1610612765,1610612759,2004,95.0,0.440,0.826,0.222,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329054,2005-06-21,40400406,Final,1610612759,1610612765,2004,86.0,0.413,0.615,0.286,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82
329036,2005-06-23,40400407,Final,1610612759,1610612765,2004,81.0,0.426,0.842,0.636,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82

In [20]:
df[(df['SEASON'] == 2004) & (df['PLAYER_NAME'] == 'Tim Duncan')].tail(30)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,G_AWAY,W_AWAY,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM
336316,2005-03-16,20400951,Final,1610612759,1610612750,2004,89.0,0.439,0.625,0.500,...,66,33,33,0.500,18-15,15-18,0.545,0.455,17,64
335970,2005-03-18,20400966,Final,1610612759,1610612766,2004,93.0,0.443,0.520,0.143,...,63,12,51,0.190,10-21,2-30,0.323,0.062,29,65
335741,2005-03-20,20400978,Final,1610612765,1610612759,2004,110.0,0.514,0.789,0.429,...,66,50,16,0.758,31-3,19-13,0.912,0.594,2,66
332085,2005-04-13,20401169,Final,1610612762,1610612759,2004,93.0,0.443,0.769,0.429,...,79,58,21,0.734,37-3,21-18,0.925,0.538,2,79
331494,2005-04-16,20401189,Final,1610612759,1610612763,2004,97.0,0.493,0.773,0.500,...,80,44,36,0.550,25-14,19-22,0.641,0.463,13,80
331192,2005-04-18,20401203,Final,1610612763,1610612759,2004,94.0,0.466,0.710,0.286,...,81,59,22,0.728,38-3,21-19,0.927,0.525,2,81
330715,2005-04-20,20401226,Final,1610612750,1610612759,2004,95.0,0.419,0.938,0.286,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
330520,2005-04-24,40400151,Final,1610612759,1610612743,2004,87.0,0.420,0.842,0.231,...,82,49,33,0.598,31-10,18-23,0.756,0.439,9,82
330352,2005-04-27,40400152,Final,1610612759,1610612743,2004,104.0,0.479,0.684,0.556,...,82,49,33,0.598,31-10,18-23,0.756,0.439,9,82
330216,2005-04-30,40400153,Final,1610612743,1610612759,2004,78.0,0.408,0.567,0.300,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
330058,2005-05-02,40400154,Final,1610612743,1610612759,2004,115.0,0.458,0.826,0.125,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329922,2005-05-04,40400155,Final,1610612759,1610612743,2004,99.0,0.452,0.727,0.375,...,82,49,33,0.598,31-10,18-23,0.756,0.439,9,82
329794,2005-05-08,40400231,Final,1610612759,1610612760,2004,103.0,0.507,0.829,0.308,...,82,52,30,0.634,26-15,26-15,0.634,0.634,6,82
329687,2005-05-10,40400232,Final,1610612759,1610612760,2004,108.0,0.528,0.771,0.385,...,82,52,30,0.634,26-15,26-15,0.634,0.634,6,82
329631,2005-05-12,40400233,Final,1610612760,1610612759,2004,92.0,0.408,0.848,0.125,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329539,2005-05-15,40400234,Final,1610612760,1610612759,2004,101.0,0.500,0.630,0.462,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329458,2005-05-17,40400235,Final,1610612759,1610612760,2004,103.0,0.462,0.735,0.353,...,82,52,30,0.634,26-15,26-15,0.634,0.634,6,82
329423,2005-05-19,40400236,Final,1610612760,1610612759,2004,96.0,0.480,0.769,0.364,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329374,2005-05-22,40400311,Final,1610612756,1610612759,2004,114.0,0.488,0.828,0.400,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329339,2005-05-24,40400312,Final,1610612756,1610612759,2004,108.0,0.557,0.824,0.500,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329303,2005-05-28,40400313,Final,1610612759,1610612756,2004,102.0,0.461,0.867,0.300,...,82,62,20,0.756,31-10,31-10,0.756,0.756,1,82
329270,2005-05-30,40400314,Final,1610612759,1610612756,2004,106.0,0.442,0.478,0.440,...,82,62,20,0.756,31-10,31-10,0.756,0.756,1,82
329232,2005-06-01,40400315,Final,1610612756,1610612759,2004,95.0,0.437,0.824,0.294,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329153,2005-06-09,40400401,Final,1610612759,1610612765,2004,84.0,0.430,0.800,0.308,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82
329130,2005-06-12,40400402,Final,1610612759,1610612765,2004,97.0,0.468,0.824,0.458,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82
329107,2005-06-14,40400403,Final,1610612765,1610612759,2004,96.0,0.471,0.765,0.214,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329085,2005-06-16,40400404,Final,1610612765,1610612759,2004,102.0,0.456,0.783,0.222,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329070,2005-06-19,40400405,Final,1610612765,1610612759,2004,95.0,0.440,0.826,0.222,...,82,59,23,0.720,38-3,21-20,0.927,0.512,2,82
329054,2005-06-21,40400406,Final,1610612759,1610612765,2004,86.0,0.413,0.615,0.286,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82
329036,2005-06-23,40400407,Final,1610612759,1610612765,2004,81.0,0.426,0.842,0.636,...,82,54,28,0.659,32-9,22-19,0.780,0.537,5,82

## Getting the Game Numbers for Each Player

In [21]:
game_number_player_df = df.groupby(['SEASON', 'PLAYER_ID']).cumcount()+1
game_number_player_df = game_number_player_df.reset_index()
game_number_player_df = game_number_player_df.rename(columns = {'index': 'index1', 0: 'GAME_NUMBER_PLAYER'})
game_number_player_df

        index1  GAME_NUMBER_PLAYER
0       382233                   1
1       382234                   1
2       382235                   1
3       382236                   1
4       382237                   1
...        ...                 ...
501378     130                  49
501379     131                  21
501380     132                  26
501381     133                  39
501382     134                  31

[501383 rows x 2 columns]

In [22]:
df['index1'] = df.index
df = pd.merge(df, game_number_player_df, how='inner',on='index1')
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER
0,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0.0,0-0,0-1,0.0,0.0,16,1,382233,1
1,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0.0,0-0,0-1,0.0,0.0,16,1,382234,1
2,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0.0,0-0,0-1,0.0,0.0,16,1,382235,1
3,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0.0,0-0,0-1,0.0,0.0,16,1,382236,1
4,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0.0,0-0,0-1,0.0,0.0,16,1,382237,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 76 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GAME_DATE_EST       501383 non-null  object
 1   GAME_ID             501383 non-null  int64
 2   GAME_STATUS_TEXT    501383 non-null  object
 3   HOME_TEAM_ID        501383 non-null  int64
 4   VISITOR_TEAM_ID     501383 non-null  int64
 5   SEASON              501383 non-null  int64
 6   PTS_home            501383 non-null  float64
 7   FG_PCT_home         501383 non-null  float64
 8   FT_PCT_home         501383 non-null  float64
 9   FG3_PCT_home        501383 non-null  float64
 10  AST_home            501383 non-null  float64
 11  REB_home            501383 non-null  float64
 12  PTS_away            501383 non-null  float64
 13  FG_PCT_away         501383 non-null  float64
 14  FT_PCT_away         501383 non-null  float64
 15  FG3_PCT_away        501383 non-null  float64
 16  AST_away            501383 non-null  float64
 17  REB_away            501383 non-null  float64
 18  HOME_TEAM_WINS      501383 non-null  int64
 19  TEAM_ID             501383 non-null  int64
 20  TEAM_ABBREVIATION   501383 non-null  object
 21  TEAM_CITY           501383 non-null  object
 22  TEAM_NICKNAME       501383 non-null  object
 23  PLAYER_ID           501383 non-null  int64
 24  PLAYER_NAME         501383 non-null  object
 25  PLAYER_NICKNAME     23002 non-null   object
 26  START_POSITION      241589 non-null  object
 27  COMMENT             0 non-null       float64
 28  MIN                 501383 non-null  object
 29  FGM                 501383 non-null  float64
 30  FGA                 501383 non-null  float64
 31  FG_PCT              501383 non-null  float64
 32  FG3M                501383 non-null  float64
 33  FG3A                501383 non-null  float64
 34  FG3_PCT             501383 non-null  float64
 35  FTM                 501383 non-null  float64
 36  FTA                 501383 non-null  float64
 37  FT_PCT              501383 non-null  float64
 38  OREB                501383 non-null  float64
 39  DREB                501383 non-null  float64
 40  REB                 501383 non-null  float64
 41  AST                 501383 non-null  float64
 42  STL                 501383 non-null  float64
 43  BLK                 501383 non-null  float64
 44  TO                  501383 non-null  float64
 45  PF                  501383 non-null  float64
 46  PTS                 501383 non-null  float64
 47  PLUS_MINUS          501383 non-null  float64
 48  EFF                 501383 non-null  float64
 49  NICKNAME_HOME       501383 non-null  object
 50  CITY_HOME           501383 non-null  object
 51  NICKNAME_AWAY       501383 non-null  object
 52  CITY_AWAY           501383 non-null  object
 53  TEAM_HOME           501383 non-null  object
 54  G_HOME              501383 non-null  int64
 55  W_HOME              501383 non-null  int64
 56  L_HOME              501383 non-null  int64
 57  W_PCT_HOME          501383 non-null  float64
 58  HOME_RECORD_HOME    501383 non-null  object
 59  ROAD_RECORD_HOME    501383 non-null  object
 60  HOME_W_PCT_HOME     501383 non-null  float64
 61  ROAD_W_PCT_HOME     501383 non-null  float64
 62  RANK_HOME           501383 non-null  int64
 63  TEAM_AWAY           501383 non-null  object
 64  G_AWAY              501383 non-null  int64
 65  W_AWAY              501383 non-null  int64
 66  L_AWAY              501383 non-null  int64
 67  W_PCT_AWAY          501383 non-null  float64
 68  HOME_RECORD_AWAY    501383 non-null  object
 69  ROAD_RECORD_AWAY    501383 non-null  object
 70  HOME_W_PCT_AWAY     501383 non-null  float64
 71  ROAD_W_PCT_AWAY     501383 non-null  float64
 72  RANK_AWAY           501383 non-null  int64
 73  GAME_NUMBER_TEAM    501383 non-null  int64
 74  index1              501383 non-null  int64
 75  GAME_NUMBER_PLAYER  501383 non-null  int64
dtypes: float64(39), int64(18), object(19)
memory usage: 294.5+ MB

In [24]:
df[(df['SEASON'] == 2004) & (df['PLAYER_NAME'] == 'Tim Duncan')].tail(30)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER
44780,2005-03-16,20400951,Final,1610612759,1610612750,2004,89.0,0.439,0.625,0.500,...,33,0.500,18-15,15-18,0.545,0.455,17,64,336316,60
45068,2005-03-18,20400966,Final,1610612759,1610612766,2004,93.0,0.443,0.520,0.143,...,51,0.190,10-21,2-30,0.323,0.062,29,65,335970,61
45303,2005-03-20,20400978,Final,1610612765,1610612759,2004,110.0,0.514,0.789,0.429,...,16,0.758,31-3,19-13,0.912,0.594,2,66,335741,62
49178,2005-04-13,20401169,Final,1610612762,1610612759,2004,93.0,0.443,0.769,0.429,...,21,0.734,37-3,21-18,0.925,0.538,2,79,332085,63
49579,2005-04-16,20401189,Final,1610612759,1610612763,2004,97.0,0.493,0.773,0.500,...,36,0.550,25-14,19-22,0.641,0.463,13,80,331494,64
49866,2005-04-18,20401203,Final,1610612763,1610612759,2004,94.0,0.466,0.710,0.286,...,22,0.728,38-3,21-19,0.927,0.525,2,81,331192,65
50345,2005-04-20,20401226,Final,1610612750,1610612759,2004,95.0,0.419,0.938,0.286,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330715,66
50589,2005-04-24,40400151,Final,1610612759,1610612743,2004,87.0,0.420,0.842,0.231,...,33,0.598,31-10,18-23,0.756,0.439,9,82,330520,67
50755,2005-04-27,40400152,Final,1610612759,1610612743,2004,104.0,0.479,0.684,0.556,...,33,0.598,31-10,18-23,0.756,0.439,9,82,330352,68
50939,2005-04-30,40400153,Final,1610612743,1610612759,2004,78.0,0.408,0.567,0.300,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330216,69
51072,2005-05-02,40400154,Final,1610612743,1610612759,2004,115.0,0.458,0.826,0.125,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330058,70
51187,2005-05-04,40400155,Final,1610612759,1610612743,2004,99.0,0.452,0.727,0.375,...,33,0.598,31-10,18-23,0.756,0.439,9,82,329922,71
51323,2005-05-08,40400231,Final,1610612759,1610612760,2004,103.0,0.507,0.829,0.308,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329794,72
51411,2005-05-10,40400232,Final,1610612759,1610612760,2004,108.0,0.528,0.771,0.385,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329687,73
51483,2005-05-12,40400233,Final,1610612760,1610612759,2004,92.0,0.408,0.848,0.125,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329631,74
51596,2005-05-15,40400234,Final,1610612760,1610612759,2004,101.0,0.500,0.630,0.462,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329539,75
51640,2005-05-17,40400235,Final,1610612759,1610612760,2004,103.0,0.462,0.735,0.353,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329458,76
51694,2005-05-19,40400236,Final,1610612760,1610612759,2004,96.0,0.480,0.769,0.364,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329423,77
51736,2005-05-22,40400311,Final,1610612756,1610612759,2004,114.0,0.488,0.828,0.400,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329374,78
51771,2005-05-24,40400312,Final,1610612756,1610612759,2004,108.0,0.557,0.824,0.500,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329339,79
51807,2005-05-28,40400313,Final,1610612759,1610612756,2004,102.0,0.461,0.867,0.300,...,20,0.756,31-10,31-10,0.756,0.756,1,82,329303,80
51841,2005-05-30,40400314,Final,1610612759,1610612756,2004,106.0,0.442,0.478,0.440,...,20,0.756,31-10,31-10,0.756,0.756,1,82,329270,81
51878,2005-06-01,40400315,Final,1610612756,1610612759,2004,95.0,0.437,0.824,0.294,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329232,82
51945,2005-06-09,40400401,Final,1610612759,1610612765,2004,84.0,0.430,0.800,0.308,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329153,83
51966,2005-06-12,40400402,Final,1610612759,1610612765,2004,97.0,0.468,0.824,0.458,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329130,84
51989,2005-06-14,40400403,Final,1610612765,1610612759,2004,96.0,0.471,0.765,0.214,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329107,85
52012,2005-06-16,40400404,Final,1610612765,1610612759,2004,102.0,0.456,0.783,0.222,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329085,86
52034,2005-06-19,40400405,Final,1610612765,1610612759,2004,95.0,0.440,0.826,0.222,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329070,87
52049,2005-06-21,40400406,Final,1610612759,1610612765,2004,86.0,0.413,0.615,0.286,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329054,88
52065,2005-06-23,40400407,Final,1610612759,1610612765,2004,81.0,0.426,0.842,0.636,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329036,89

In [25]:
df[(df['SEASON'] == 2004) & (df['PLAYER_NAME'] == 'Bruce Bowen')].tail(30)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,L_AWAY,W_PCT_AWAY,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER
48586,2005-04-09,20401139,Final,1610612746,1610612759,2004,124.0,0.577,0.775,0.600,...,20,0.737,36-3,20-17,0.923,0.541,2,76,332519,76
48705,2005-04-10,20401145,Final,1610612744,1610612759,2004,134.0,0.467,0.735,0.407,...,20,0.740,36-3,21-17,0.923,0.553,2,77,332439,77
48943,2005-04-12,20401157,Final,1610612759,1610612757,2004,95.0,0.419,0.577,0.471,...,52,0.325,16-22,9-30,0.421,0.231,26,78,332146,78
49176,2005-04-13,20401169,Final,1610612762,1610612759,2004,93.0,0.443,0.769,0.429,...,21,0.734,37-3,21-18,0.925,0.538,2,79,332083,79
49578,2005-04-16,20401189,Final,1610612759,1610612763,2004,97.0,0.493,0.773,0.500,...,36,0.550,25-14,19-22,0.641,0.463,13,80,331493,80
49865,2005-04-18,20401203,Final,1610612763,1610612759,2004,94.0,0.466,0.710,0.286,...,22,0.728,38-3,21-19,0.927,0.525,2,81,331191,81
50344,2005-04-20,20401226,Final,1610612750,1610612759,2004,95.0,0.419,0.938,0.286,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330714,82
50588,2005-04-24,40400151,Final,1610612759,1610612743,2004,87.0,0.420,0.842,0.231,...,33,0.598,31-10,18-23,0.756,0.439,9,82,330519,83
50754,2005-04-27,40400152,Final,1610612759,1610612743,2004,104.0,0.479,0.684,0.556,...,33,0.598,31-10,18-23,0.756,0.439,9,82,330351,84
50938,2005-04-30,40400153,Final,1610612743,1610612759,2004,78.0,0.408,0.567,0.300,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330215,85
51071,2005-05-02,40400154,Final,1610612743,1610612759,2004,115.0,0.458,0.826,0.125,...,23,0.720,38-3,21-20,0.927,0.512,2,82,330057,86
51186,2005-05-04,40400155,Final,1610612759,1610612743,2004,99.0,0.452,0.727,0.375,...,33,0.598,31-10,18-23,0.756,0.439,9,82,329921,87
51322,2005-05-08,40400231,Final,1610612759,1610612760,2004,103.0,0.507,0.829,0.308,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329793,88
51410,2005-05-10,40400232,Final,1610612759,1610612760,2004,108.0,0.528,0.771,0.385,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329686,89
51482,2005-05-12,40400233,Final,1610612760,1610612759,2004,92.0,0.408,0.848,0.125,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329630,90
51595,2005-05-15,40400234,Final,1610612760,1610612759,2004,101.0,0.500,0.630,0.462,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329538,91
51639,2005-05-17,40400235,Final,1610612759,1610612760,2004,103.0,0.462,0.735,0.353,...,30,0.634,26-15,26-15,0.634,0.634,6,82,329457,92
51693,2005-05-19,40400236,Final,1610612760,1610612759,2004,96.0,0.480,0.769,0.364,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329422,93
51735,2005-05-22,40400311,Final,1610612756,1610612759,2004,114.0,0.488,0.828,0.400,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329373,94
51770,2005-05-24,40400312,Final,1610612756,1610612759,2004,108.0,0.557,0.824,0.500,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329338,95
51806,2005-05-28,40400313,Final,1610612759,1610612756,2004,102.0,0.461,0.867,0.300,...,20,0.756,31-10,31-10,0.756,0.756,1,82,329302,96
51840,2005-05-30,40400314,Final,1610612759,1610612756,2004,106.0,0.442,0.478,0.440,...,20,0.756,31-10,31-10,0.756,0.756,1,82,329269,97
51877,2005-06-01,40400315,Final,1610612756,1610612759,2004,95.0,0.437,0.824,0.294,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329231,98
51944,2005-06-09,40400401,Final,1610612759,1610612765,2004,84.0,0.430,0.800,0.308,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329152,99
51965,2005-06-12,40400402,Final,1610612759,1610612765,2004,97.0,0.468,0.824,0.458,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329129,100
51988,2005-06-14,40400403,Final,1610612765,1610612759,2004,96.0,0.471,0.765,0.214,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329106,101
52011,2005-06-16,40400404,Final,1610612765,1610612759,2004,102.0,0.456,0.783,0.222,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329084,102
52033,2005-06-19,40400405,Final,1610612765,1610612759,2004,95.0,0.440,0.826,0.222,...,23,0.720,38-3,21-20,0.927,0.512,2,82,329069,103
52048,2005-06-21,40400406,Final,1610612759,1610612765,2004,86.0,0.413,0.615,0.286,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329053,104
52064,2005-06-23,40400407,Final,1610612759,1610612765,2004,81.0,0.426,0.842,0.636,...,28,0.659,32-9,22-19,0.780,0.537,5,82,329035,105

## Getting each individual players' metrics to be used in the model
## Getting each Player's Average EFF in each season

In [26]:
df[(df['SEASON'] == 2012) & (df['PLAYER_NAME'] == 'Tim Duncan')]['EFF'].mean()

23.31111111111111

In [27]:
eff_season_avg_df = df.groupby(['SEASON', 'PLAYER_ID', 'PLAYER_NAME'])['EFF'].mean().reset_index()
eff_season_avg_df = eff_season_avg_df.rename(columns = {'EFF': 'EFF_SEASON_AVG'})
eff_season_avg_df[eff_season_avg_df['PLAYER_NAME'] == 'Tim Duncan']

      SEASON  PLAYER_ID PLAYER_NAME  EFF_SEASON_AVG
146     2003       1495  Tim Duncan       26.493671
564     2004       1495  Tim Duncan       25.539326
990     2005       1495  Tim Duncan       24.032258
1426    2006       1495  Tim Duncan       25.720000
1872    2007       1495  Tim Duncan       24.894737
2305    2008       1495  Tim Duncan       24.062500
2743    2009       1495  Tim Duncan       23.125000
3180    2010       1495  Tim Duncan       19.487805
3626    2011       1495  Tim Duncan       19.986111
4103    2012       1495  Tim Duncan       23.311111
4567    2013       1495  Tim Duncan       20.783505
5045    2014       1495  Tim Duncan       21.333333
5537    2015       1495  Tim Duncan       13.971831

In [28]:
eff_season_avg_df['EFF_PREV_SEASON_AVG'] = eff_season_avg_df.groupby('PLAYER_ID')['EFF_SEASON_AVG'].shift(1)
eff_season_avg_df[eff_season_avg_df['PLAYER_NAME'] == 'Tim Duncan']

      SEASON  PLAYER_ID PLAYER_NAME  EFF_SEASON_AVG  EFF_PREV_SEASON_AVG
146     2003       1495  Tim Duncan       26.493671                  NaN
564     2004       1495  Tim Duncan       25.539326            26.493671
990     2005       1495  Tim Duncan       24.032258            25.539326
1426    2006       1495  Tim Duncan       25.720000            24.032258
1872    2007       1495  Tim Duncan       24.894737            25.720000
2305    2008       1495  Tim Duncan       24.062500            24.894737
2743    2009       1495  Tim Duncan       23.125000            24.062500
3180    2010       1495  Tim Duncan       19.487805            23.125000
3626    2011       1495  Tim Duncan       19.986111            19.487805
4103    2012       1495  Tim Duncan       23.311111            19.986111
4567    2013       1495  Tim Duncan       20.783505            23.311111
5045    2014       1495  Tim Duncan       21.333333            20.783505
5537    2015       1495  Tim Duncan       13.971831            21.333333

In [29]:
eff_season_avg_df[eff_season_avg_df['PLAYER_NAME'] == 'Manu Ginobili']

      SEASON  PLAYER_ID    PLAYER_NAME  EFF_SEASON_AVG  EFF_PREV_SEASON_AVG
250     2003       1938  Manu Ginobili       14.321839                  NaN
662     2004       1938  Manu Ginobili       18.298969            14.321839
1075    2005       1938  Manu Ginobili       15.987179            18.298969
1506    2006       1938  Manu Ginobili       17.294737            15.987179
1944    2007       1938  Manu Ginobili       19.087912            17.294737
2364    2008       1938  Manu Ginobili       16.818182            19.087912
2788    2009       1938  Manu Ginobili       17.776471            16.818182
3214    2010       1938  Manu Ginobili       17.917647            17.776471
3657    2011       1938  Manu Ginobili       15.020833            17.917647
4123    2012       1938  Manu Ginobili       12.987654            15.020833
4583    2013       1938  Manu Ginobili       13.846154            12.987654
5055    2014       1938  Manu Ginobili       11.103896            13.846154
5546    2015       1938  Manu Ginobili       10.117647            11.103896
6018    2016       1938  Manu Ginobili        8.200000            10.117647
6502    2017       1938  Manu Ginobili        8.642857             8.200000

In [30]:
eff_season_avg_df[eff_season_avg_df['PLAYER_NAME'] == 'Reggie Miller']

     SEASON  PLAYER_ID    PLAYER_NAME  EFF_SEASON_AVG  EFF_PREV_SEASON_AVG
52     2003        397  Reggie Miller       11.010417                  NaN
483    2004        397  Reggie Miller       12.531646            11.010417

In [31]:
eff_season_avg_df[eff_season_avg_df['SEASON'] == 2021].sort_values(by='EFF_SEASON_AVG', ascending = False).head(10)

,SEASON,PLAYER_ID,PLAYER_NAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG
8795,2021,203999,Nikola Jokic,37.786885,35.876404
8764,2021,203507,Giannis Antetokounmpo,34.771930,31.894737
8791,2021,203954,Joel Embiid,32.830189,31.000000
8643,2021,2544,LeBron James,31.645833,27.433962
8658,2021,201142,Kevin Durant,30.400000,30.750000
8963,2021,1629029,Luka Doncic,29.352941,29.378378
8758,2021,203497,Rudy Gobert,28.173077,25.773810
8809,2021,1626157,Karl-Anthony Towns,28.032258,28.673077
8678,2021,201935,James Harden,27.780000,30.864407
8840,2021,1627749,Dejounte Murray,27.745763,19.626667

In [32]:
df = pd.merge(df, eff_season_avg_df, how='left', on=['SEASON', 'PLAYER_ID', 'PLAYER_NAME'])
df.head(100)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG
0,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,0-0,0-1,0.0,0.0,16,1,382233,1,19.967742,NaN
1,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,0-0,0-1,0.0,0.0,16,1,382234,1,9.556818,NaN
2,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,0-0,0-1,0.0,0.0,16,1,382235,1,11.932584,NaN
3,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,0-0,0-1,0.0,0.0,16,1,382236,1,15.378378,NaN
4,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.350,...,0-0,0-1,0.0,0.0,16,1,382237,1,14.648936,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,0-0,1-0,0.0,1.0,9,1,382037,1,6.130435,NaN
96,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,0-0,1-0,0.0,1.0,9,1,382017,1,12.303797,NaN
97,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,0-0,1-0,0.0,1.0,9,1,382018,1,2.100000,NaN
98,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,0-0,1-0,0.0,1.0,9,1,382019,1,15.888889,NaN
99,2003-10-29,20300005,Final,1610612752,1610612753,2003,83.0,0.40,0.824,0.313,...,0-0,1-0,0.0,1.0,9,1,382020,1,10.657895,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 78 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
dtypes: float64(41), int64(18), object(19)
memory usage: 302.2+ MB

In [34]:
df[df['PLAYER_NAME'] == 'Tim Duncan']

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,HOME_RECORD_AWAY,ROAD_RECORD_AWAY,HOME_W_PCT_AWAY,ROAD_W_PCT_AWAY,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG
34,2003-10-28,20300002,Final,1610612759,1610612756,2003,83.0,0.425,0.769,0.100,...,0-0,0-1,0.000,0.000,8,1,382256,1,26.493671,NaN
215,2003-10-29,20300011,Final,1610612743,1610612759,2003,80.0,0.292,0.690,0.400,...,1-0,0-1,1.000,0.000,14,2,382156,2,26.493671,NaN
704,2003-11-01,20300035,Final,1610612759,1610612752,2003,86.0,0.429,0.743,0.333,...,0-1,0-1,0.000,0.000,29,3,381497,3,26.493671,NaN
860,2003-11-03,20300043,Final,1610612763,1610612759,2003,88.0,0.373,0.714,0.316,...,2-0,0-2,1.000,0.000,17,4,381457,4,26.493671,NaN
1880,2003-11-10,20300093,Final,1610612759,1610612762,2003,87.0,0.443,0.636,0.333,...,4-0,0-3,1.000,0.000,10,8,380384,5,26.493671,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343967,2016-05-02,41500232,Final,1610612759,1610612760,2015,97.0,0.426,0.846,0.261,...,32-9,23-18,0.780,0.561,5,82,481579,67,13.971831,21.333333
344094,2016-05-06,41500233,Final,1610612760,1610612759,2015,96.0,0.415,0.900,0.333,...,40-1,27-14,0.976,0.659,2,82,481452,68,13.971831,21.333333
344175,2016-05-08,41500234,Final,1610612760,1610612759,2015,111.0,0.506,0.759,0.391,...,40-1,27-14,0.976,0.659,2,82,481363,69,13.971831,21.333333
344237,2016-05-10,41500235,Final,1610612759,1610612760,2015,91.0,0.398,0.765,0.444,...,32-9,23-18,0.780,0.561,5,82,481286,70,13.971831,21.333333
344297,2016-05-12,41500236,Final,1610612760,1610612759,2015,113.0,0.471,0.871,0.273,...,40-1,27-14,0.976,0.659,2,82,481224,71,13.971831,21.333333

## Getting each player's average EFF over the last 5 games

In [35]:
df['EFF_LAST_FIVE_AVG'] = df.groupby(['PLAYER_ID'])['EFF'].rolling(5).mean().reset_index(0,drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 79 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
dtypes: float64(42), int64(18), object(19)
memory usage: 306.0+ MB

In [36]:
df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2003)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG
34,2003-10-28,1,1,Tim Duncan,38.0,26.493671,NaN,NaN
215,2003-10-29,2,2,Tim Duncan,28.0,26.493671,NaN,NaN
704,2003-11-01,3,3,Tim Duncan,17.0,26.493671,NaN,NaN
860,2003-11-03,4,4,Tim Duncan,13.0,26.493671,NaN,NaN
1880,2003-11-10,8,5,Tim Duncan,22.0,26.493671,NaN,23.6
2106,2003-11-12,9,6,Tim Duncan,36.0,26.493671,NaN,23.2
2406,2003-11-14,10,7,Tim Duncan,36.0,26.493671,NaN,24.8
2565,2003-11-15,11,8,Tim Duncan,21.0,26.493671,NaN,25.6
3025,2003-11-18,12,9,Tim Duncan,26.0,26.493671,NaN,28.2
3284,2003-11-20,13,10,Tim Duncan,41.0,26.493671,NaN,32.0
3412,2003-11-21,14,11,Tim Duncan,32.0,26.493671,NaN,31.2
4176,2003-11-26,15,12,Tim Duncan,17.0,26.493671,NaN,27.4
4524,2003-11-28,16,13,Tim Duncan,15.0,26.493671,NaN,26.2
4726,2003-11-29,17,14,Tim Duncan,26.0,26.493671,NaN,26.2
5107,2003-12-03,19,15,Tim Duncan,34.0,26.493671,NaN,24.8
5343,2003-12-05,20,16,Tim Duncan,41.0,26.493671,NaN,26.6
5516,2003-12-06,21,17,Tim Duncan,34.0,26.493671,NaN,30.0
5810,2003-12-08,22,18,Tim Duncan,28.0,26.493671,NaN,32.6
6132,2003-12-10,23,19,Tim Duncan,28.0,26.493671,NaN,33.0
6217,2003-12-11,24,20,Tim Duncan,17.0,26.493671,NaN,29.6
6581,2003-12-13,25,21,Tim Duncan,17.0,26.493671,NaN,24.8
6777,2003-12-15,26,22,Tim Duncan,20.0,26.493671,NaN,22.0
7144,2003-12-17,27,23,Tim Duncan,31.0,26.493671,NaN,22.6
7465,2003-12-19,28,24,Tim Duncan,44.0,26.493671,NaN,25.8
7652,2003-12-20,29,25,Tim Duncan,25.0,26.493671,NaN,27.4
7993,2003-12-23,30,26,Tim Duncan,25.0,26.493671,NaN,29.0
8269,2003-12-26,31,27,Tim Duncan,43.0,26.493671,NaN,33.6
8559,2003-12-28,32,28,Tim Duncan,9.0,26.493671,NaN,29.2
9306,2004-01-03,33,29,Tim Duncan,7.0,26.493671,NaN,21.8
9672,2004-01-05,34,30,Tim Duncan,42.0,26.493671,NaN,25.2
9806,2004-01-06,35,31,Tim Duncan,27.0,26.493671,NaN,25.6
10189,2004-01-09,36,32,Tim Duncan,16.0,26.493671,NaN,20.2
10425,2004-01-10,37,33,Tim Duncan,27.0,26.493671,NaN,23.8
10675,2004-01-13,38,34,Tim Duncan,23.0,26.493671,NaN,27.0
10946,2004-01-14,39,35,Tim Duncan,45.0,26.493671,NaN,27.6
11151,2004-01-16,40,36,Tim Duncan,20.0,26.493671,NaN,26.2
11507,2004-01-18,41,37,Tim Duncan,14.0,26.493671,NaN,25.8
11654,2004-01-19,42,38,Tim Duncan,20.0,26.493671,NaN,24.4
11999,2004-01-21,43,39,Tim Duncan,27.0,26.493671,NaN,25.2
12339,2004-01-23,44,40,Tim Duncan,27.0,26.493671,NaN,21.6
12457,2004-01-24,45,41,Tim Duncan,23.0,26.493671,NaN,22.2
12713,2004-01-26,46,42,Tim Duncan,18.0,26.493671,NaN,23.0
12795,2004-01-27,47,43,Tim Duncan,31.0,26.493671,NaN,25.2
13156,2004-01-29,48,44,Tim Duncan,45.0,26.493671,NaN,28.8
13499,2004-01-31,49,45,Tim Duncan,37.0,26.493671,NaN,30.8
13741,2004-02-02,50,46,Tim Duncan,39.0,26.493671,NaN,34.0
14142,2004-02-05,51,47,Tim Duncan,30.0,26.493671,NaN,36.4
14388,2004-02-06,52,48,Tim Duncan,33.0,26.493671,NaN,36.8
14764,2004-02-09,53,49,Tim Duncan,27.0,26.493671,NaN,33.2
15445,2004-02-18,54,50,Tim Duncan,30.0,26.493671,NaN,31.8

## Making sure the average EFF of the last 5 games is in the next row

In [37]:
df['EFF_PREV_FIVE_AVG'] = df.groupby(['PLAYER_ID'])['EFF_LAST_FIVE_AVG'].shift(1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 80 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
dtypes: float64(43), int64(18), object(19)
memory usage: 309.8+ MB

In [38]:
df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2003)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
34,2003-10-28,1,1,Tim Duncan,38.0,26.493671,NaN,NaN,NaN
215,2003-10-29,2,2,Tim Duncan,28.0,26.493671,NaN,NaN,NaN
704,2003-11-01,3,3,Tim Duncan,17.0,26.493671,NaN,NaN,NaN
860,2003-11-03,4,4,Tim Duncan,13.0,26.493671,NaN,NaN,NaN
1880,2003-11-10,8,5,Tim Duncan,22.0,26.493671,NaN,23.6,NaN
2106,2003-11-12,9,6,Tim Duncan,36.0,26.493671,NaN,23.2,23.6
2406,2003-11-14,10,7,Tim Duncan,36.0,26.493671,NaN,24.8,23.2
2565,2003-11-15,11,8,Tim Duncan,21.0,26.493671,NaN,25.6,24.8
3025,2003-11-18,12,9,Tim Duncan,26.0,26.493671,NaN,28.2,25.6
3284,2003-11-20,13,10,Tim Duncan,41.0,26.493671,NaN,32.0,28.2
3412,2003-11-21,14,11,Tim Duncan,32.0,26.493671,NaN,31.2,32.0
4176,2003-11-26,15,12,Tim Duncan,17.0,26.493671,NaN,27.4,31.2
4524,2003-11-28,16,13,Tim Duncan,15.0,26.493671,NaN,26.2,27.4
4726,2003-11-29,17,14,Tim Duncan,26.0,26.493671,NaN,26.2,26.2
5107,2003-12-03,19,15,Tim Duncan,34.0,26.493671,NaN,24.8,26.2
5343,2003-12-05,20,16,Tim Duncan,41.0,26.493671,NaN,26.6,24.8
5516,2003-12-06,21,17,Tim Duncan,34.0,26.493671,NaN,30.0,26.6
5810,2003-12-08,22,18,Tim Duncan,28.0,26.493671,NaN,32.6,30.0
6132,2003-12-10,23,19,Tim Duncan,28.0,26.493671,NaN,33.0,32.6
6217,2003-12-11,24,20,Tim Duncan,17.0,26.493671,NaN,29.6,33.0
6581,2003-12-13,25,21,Tim Duncan,17.0,26.493671,NaN,24.8,29.6
6777,2003-12-15,26,22,Tim Duncan,20.0,26.493671,NaN,22.0,24.8
7144,2003-12-17,27,23,Tim Duncan,31.0,26.493671,NaN,22.6,22.0
7465,2003-12-19,28,24,Tim Duncan,44.0,26.493671,NaN,25.8,22.6
7652,2003-12-20,29,25,Tim Duncan,25.0,26.493671,NaN,27.4,25.8
7993,2003-12-23,30,26,Tim Duncan,25.0,26.493671,NaN,29.0,27.4
8269,2003-12-26,31,27,Tim Duncan,43.0,26.493671,NaN,33.6,29.0
8559,2003-12-28,32,28,Tim Duncan,9.0,26.493671,NaN,29.2,33.6
9306,2004-01-03,33,29,Tim Duncan,7.0,26.493671,NaN,21.8,29.2
9672,2004-01-05,34,30,Tim Duncan,42.0,26.493671,NaN,25.2,21.8
9806,2004-01-06,35,31,Tim Duncan,27.0,26.493671,NaN,25.6,25.2
10189,2004-01-09,36,32,Tim Duncan,16.0,26.493671,NaN,20.2,25.6
10425,2004-01-10,37,33,Tim Duncan,27.0,26.493671,NaN,23.8,20.2
10675,2004-01-13,38,34,Tim Duncan,23.0,26.493671,NaN,27.0,23.8
10946,2004-01-14,39,35,Tim Duncan,45.0,26.493671,NaN,27.6,27.0
11151,2004-01-16,40,36,Tim Duncan,20.0,26.493671,NaN,26.2,27.6
11507,2004-01-18,41,37,Tim Duncan,14.0,26.493671,NaN,25.8,26.2
11654,2004-01-19,42,38,Tim Duncan,20.0,26.493671,NaN,24.4,25.8
11999,2004-01-21,43,39,Tim Duncan,27.0,26.493671,NaN,25.2,24.4
12339,2004-01-23,44,40,Tim Duncan,27.0,26.493671,NaN,21.6,25.2
12457,2004-01-24,45,41,Tim Duncan,23.0,26.493671,NaN,22.2,21.6
12713,2004-01-26,46,42,Tim Duncan,18.0,26.493671,NaN,23.0,22.2
12795,2004-01-27,47,43,Tim Duncan,31.0,26.493671,NaN,25.2,23.0
13156,2004-01-29,48,44,Tim Duncan,45.0,26.493671,NaN,28.8,25.2
13499,2004-01-31,49,45,Tim Duncan,37.0,26.493671,NaN,30.8,28.8
13741,2004-02-02,50,46,Tim Duncan,39.0,26.493671,NaN,34.0,30.8
14142,2004-02-05,51,47,Tim Duncan,30.0,26.493671,NaN,36.4,34.0
14388,2004-02-06,52,48,Tim Duncan,33.0,26.493671,NaN,36.8,36.4
14764,2004-02-09,53,49,Tim Duncan,27.0,26.493671,NaN,33.2,36.8
15445,2004-02-18,54,50,Tim Duncan,30.0,26.493671,NaN,31.8,33.2

In [39]:
pd.isna(df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2003)]['EFF_PREV_FIVE_AVG'].iloc[4])

True

## Getting the EFF of each player in their last game

In [40]:
df['EFF_PREV_GAME'] = df.groupby(['PLAYER_ID'])['EFF'].shift(1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 81 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
 80  EFF_PREV_GAME        499396 non-null  float64
dtypes: float64(44), int64(18), object(19)
memory usage: 313.7+ MB

In [41]:
df[(df['PLAYER_NAME'] == 'Kawhi Leonard') & (df['SEASON'] == 2011)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
211905,2011-12-26,1,1,Kawhi Leonard,4.0,NaN,11.769231,NaN,NaN
212262,2011-12-28,2,2,Kawhi Leonard,8.0,4.0,11.769231,NaN,NaN
212381,2011-12-29,3,3,Kawhi Leonard,7.0,8.0,11.769231,NaN,NaN
212822,2011-12-31,4,4,Kawhi Leonard,11.0,7.0,11.769231,NaN,NaN
213198,2012-01-02,5,5,Kawhi Leonard,8.0,11.0,11.769231,7.6,NaN
213615,2012-01-04,6,6,Kawhi Leonard,3.0,8.0,11.769231,7.4,7.6
213709,2012-01-05,7,7,Kawhi Leonard,3.0,3.0,11.769231,6.4,7.4
214156,2012-01-07,8,8,Kawhi Leonard,11.0,3.0,11.769231,7.2,6.4
214275,2012-01-08,9,9,Kawhi Leonard,22.0,11.0,11.769231,9.4,7.2
214579,2012-01-10,10,10,Kawhi Leonard,26.0,22.0,11.769231,13.0,9.4
214840,2012-01-11,11,11,Kawhi Leonard,12.0,26.0,11.769231,14.8,13.0
215201,2012-01-13,12,12,Kawhi Leonard,12.0,12.0,11.769231,16.6,14.8
215570,2012-01-15,13,13,Kawhi Leonard,17.0,12.0,11.769231,17.8,16.6
215846,2012-01-17,14,14,Kawhi Leonard,13.0,17.0,11.769231,16.0,17.8
215994,2012-01-18,15,15,Kawhi Leonard,6.0,13.0,11.769231,12.0,16.0
216414,2012-01-20,16,16,Kawhi Leonard,8.0,6.0,11.769231,11.2,12.0
216641,2012-01-21,17,17,Kawhi Leonard,10.0,8.0,11.769231,10.8,11.2
216876,2012-01-23,18,18,Kawhi Leonard,-1.0,10.0,11.769231,7.2,10.8
217283,2012-01-25,19,19,Kawhi Leonard,12.0,-1.0,11.769231,7.0,7.2
217604,2012-01-27,20,20,Kawhi Leonard,2.0,12.0,11.769231,6.2,7.0
217937,2012-01-29,21,21,Kawhi Leonard,7.0,2.0,11.769231,6.0,6.2
218099,2012-01-30,22,22,Kawhi Leonard,19.0,7.0,11.769231,7.8,6.0
218539,2012-02-01,23,23,Kawhi Leonard,0.0,19.0,11.769231,8.0,7.8
218651,2012-02-02,24,24,Kawhi Leonard,2.0,0.0,11.769231,6.0,8.0
219098,2012-02-04,25,25,Kawhi Leonard,26.0,2.0,11.769231,10.8,6.0
219379,2012-02-06,26,26,Kawhi Leonard,2.0,26.0,11.769231,9.8,10.8
219617,2012-02-08,27,27,Kawhi Leonard,4.0,2.0,11.769231,6.8,9.8
220211,2012-02-11,28,28,Kawhi Leonard,15.0,4.0,11.769231,9.8,6.8
220600,2012-02-14,29,29,Kawhi Leonard,14.0,15.0,11.769231,12.2,9.8
220750,2012-02-15,30,30,Kawhi Leonard,2.0,14.0,11.769231,7.4,12.2
221324,2012-02-18,31,31,Kawhi Leonard,9.0,2.0,11.769231,8.8,7.4
221753,2012-02-20,32,32,Kawhi Leonard,11.0,9.0,11.769231,10.2,8.8
221926,2012-02-21,33,33,Kawhi Leonard,32.0,11.0,11.769231,13.6,10.2
222257,2012-02-23,34,34,Kawhi Leonard,3.0,32.0,11.769231,11.4,13.6
222975,2012-03-02,36,35,Kawhi Leonard,14.0,3.0,11.769231,13.8,11.4
223352,2012-03-04,37,36,Kawhi Leonard,18.0,14.0,11.769231,15.6,13.8
223869,2012-03-07,38,37,Kawhi Leonard,18.0,18.0,11.769231,17.0,15.6
224142,2012-03-09,39,38,Kawhi Leonard,13.0,18.0,11.769231,13.2,17.0
224608,2012-03-12,40,39,Kawhi Leonard,13.0,13.0,11.769231,15.2,13.2
225013,2012-03-14,41,40,Kawhi Leonard,21.0,13.0,11.769231,16.6,15.2
225325,2012-03-16,42,41,Kawhi Leonard,18.0,21.0,11.769231,16.6,16.6
225537,2012-03-17,43,42,Kawhi Leonard,9.0,18.0,11.769231,14.8,16.6
226182,2012-03-21,44,43,Kawhi Leonard,23.0,9.0,11.769231,16.8,14.8
226549,2012-03-23,45,44,Kawhi Leonard,20.0,23.0,11.769231,18.2,16.8
226719,2012-03-24,46,45,Kawhi Leonard,9.0,20.0,11.769231,15.8,18.2
226888,2012-03-25,47,46,Kawhi Leonard,20.0,9.0,11.769231,16.2,15.8
227235,2012-03-27,48,47,Kawhi Leonard,17.0,20.0,11.769231,17.8,16.2
227443,2012-03-28,49,48,Kawhi Leonard,26.0,17.0,11.769231,18.4,17.8
227928,2012-03-31,50,49,Kawhi Leonard,7.0,26.0,11.769231,15.8,18.4
228300,2012-04-03,51,50,Kawhi Leonard,11.0,7.0,11.769231,16.2,15.8

In [42]:
df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2004)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
25771,2004-11-03,1,1,Tim Duncan,37.0,21.0,25.539326,26.493671,24.8,21.6
26085,2004-11-05,2,2,Tim Duncan,31.0,37.0,25.539326,26.493671,29.0,24.8
26410,2004-11-07,3,3,Tim Duncan,16.0,31.0,25.539326,26.493671,27.0,29.0
26892,2004-11-10,4,4,Tim Duncan,36.0,16.0,25.539326,26.493671,28.2,27.0
27150,2004-11-12,5,5,Tim Duncan,23.0,36.0,25.539326,26.493671,28.6,28.2
27256,2004-11-13,6,6,Tim Duncan,29.0,23.0,25.539326,26.493671,27.0,28.6
27655,2004-11-16,7,7,Tim Duncan,24.0,29.0,25.539326,26.493671,25.6,27.0
27945,2004-11-18,8,8,Tim Duncan,25.0,24.0,25.539326,26.493671,27.4,25.6
28029,2004-11-19,9,9,Tim Duncan,31.0,25.0,25.539326,26.493671,26.4,27.4
28318,2004-11-21,10,10,Tim Duncan,28.0,31.0,25.539326,26.493671,27.4,26.4
28519,2004-11-22,11,11,Tim Duncan,24.0,28.0,25.539326,26.493671,26.4,27.4
28950,2004-11-24,12,12,Tim Duncan,30.0,24.0,25.539326,26.493671,27.6,26.4
29192,2004-11-26,13,13,Tim Duncan,34.0,30.0,25.539326,26.493671,29.4,27.6
29432,2004-11-27,14,14,Tim Duncan,21.0,34.0,25.539326,26.493671,27.4,29.4
29805,2004-11-30,15,15,Tim Duncan,30.0,21.0,25.539326,26.493671,27.8,27.4
29992,2004-12-01,16,16,Tim Duncan,36.0,30.0,25.539326,26.493671,30.2,27.8
30208,2004-12-03,17,17,Tim Duncan,26.0,36.0,25.539326,26.493671,29.4,30.2
30445,2004-12-04,18,18,Tim Duncan,29.0,26.0,25.539326,26.493671,28.4,29.4
30683,2004-12-06,19,19,Tim Duncan,12.0,29.0,25.539326,26.493671,26.6,28.4
31078,2004-12-08,20,20,Tim Duncan,38.0,12.0,25.539326,26.493671,28.2,26.6
31146,2004-12-09,21,21,Tim Duncan,34.0,38.0,25.539326,26.493671,27.8,28.2
31517,2004-12-11,22,22,Tim Duncan,47.0,34.0,25.539326,26.493671,32.0,27.8
32162,2004-12-15,23,23,Tim Duncan,28.0,47.0,25.539326,26.493671,31.8,32.0
32397,2004-12-17,24,24,Tim Duncan,23.0,28.0,25.539326,26.493671,34.0,31.8
32645,2004-12-18,25,25,Tim Duncan,16.0,23.0,25.539326,26.493671,29.6,34.0
33062,2004-12-22,26,26,Tim Duncan,19.0,16.0,25.539326,26.493671,26.6,29.6
33265,2004-12-23,27,27,Tim Duncan,15.0,19.0,25.539326,26.493671,20.2,26.6
33418,2004-12-26,28,28,Tim Duncan,23.0,15.0,25.539326,26.493671,19.2,20.2
33804,2004-12-28,29,29,Tim Duncan,32.0,23.0,25.539326,26.493671,21.0,19.2
34105,2004-12-30,30,30,Tim Duncan,24.0,32.0,25.539326,26.493671,22.6,21.0
34208,2004-12-31,31,31,Tim Duncan,25.0,24.0,25.539326,26.493671,23.8,22.6
34473,2005-01-02,32,32,Tim Duncan,15.0,25.0,25.539326,26.493671,23.8,23.8
34755,2005-01-04,33,33,Tim Duncan,25.0,15.0,25.539326,26.493671,24.2,23.8
35057,2005-01-06,34,34,Tim Duncan,29.0,25.0,25.539326,26.493671,23.6,24.2
35295,2005-01-08,35,35,Tim Duncan,25.0,29.0,25.539326,26.493671,23.8,23.6
35629,2005-01-10,36,36,Tim Duncan,25.0,25.0,25.539326,26.493671,23.8,23.8
35918,2005-01-12,37,37,Tim Duncan,22.0,25.0,25.539326,26.493671,25.2,23.8
36224,2005-01-14,38,38,Tim Duncan,22.0,22.0,25.539326,26.493671,24.6,25.2
36471,2005-01-15,39,39,Tim Duncan,19.0,22.0,25.539326,26.493671,22.6,24.6
36715,2005-01-17,40,40,Tim Duncan,19.0,19.0,25.539326,26.493671,21.4,22.6
37042,2005-01-19,41,41,Tim Duncan,22.0,19.0,25.539326,26.493671,20.8,21.4
37330,2005-01-21,42,42,Tim Duncan,42.0,22.0,25.539326,26.493671,24.8,20.8
37645,2005-01-23,43,43,Tim Duncan,31.0,42.0,25.539326,26.493671,26.6,24.8
37809,2005-01-24,44,44,Tim Duncan,24.0,31.0,25.539326,26.493671,27.6,26.6
38255,2005-01-27,45,45,Tim Duncan,25.0,24.0,25.539326,26.493671,28.8,27.6
38632,2005-01-29,46,46,Tim Duncan,22.0,25.0,25.539326,26.493671,28.8,28.8
38862,2005-01-31,47,47,Tim Duncan,28.0,22.0,25.539326,26.493671,26.0,28.8
39307,2005-02-03,48,48,Tim Duncan,23.0,28.0,25.539326,26.493671,24.4,26.0
40430,2005-02-11,51,49,Tim Duncan,26.0,23.0,25.539326,26.493671,24.8,24.4
40624,2005-02-13,52,50,Tim Duncan,23.0,26.0,25.539326,26.493671,24.4,24.8

In [43]:
df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2004)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].tail()

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
51989,2005-06-14,82,85,Tim Duncan,20.0,26.0,25.539326,26.493671,26.2,30.8
52012,2005-06-16,82,86,Tim Duncan,19.0,20.0,25.539326,26.493671,26.4,26.2
52034,2005-06-19,82,87,Tim Duncan,27.0,19.0,25.539326,26.493671,24.2,26.4
52049,2005-06-21,82,88,Tim Duncan,27.0,27.0,25.539326,26.493671,23.8,24.2
52065,2005-06-23,82,89,Tim Duncan,18.0,27.0,25.539326,26.493671,22.2,23.8

In [44]:
df[(df['PLAYER_NAME'] == 'Manu Ginobili') & (df['SEASON'] == 2004)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].tail()

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
51991,2005-06-14,82,93,Manu Ginobili,1.0,33.0,18.298969,14.321839,22.4,27.0
52014,2005-06-16,82,94,Manu Ginobili,13.0,1.0,18.298969,14.321839,19.4,22.4
52036,2005-06-19,82,95,Manu Ginobili,18.0,13.0,18.298969,14.321839,18.6,19.4
52052,2005-06-21,82,96,Manu Ginobili,20.0,18.0,18.298969,14.321839,17.0,18.6
52068,2005-06-23,82,97,Manu Ginobili,25.0,20.0,18.298969,14.321839,15.4,17.0

In [45]:
df[(df['PLAYER_NAME'] == 'Joshua Primo') & (df['SEASON'] == 2021)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
480115,2021-10-20,1,1,Joshua Primo,3.0,NaN,5.194444,NaN,NaN,NaN
480612,2021-10-23,3,2,Joshua Primo,3.0,3.0,5.194444,NaN,NaN,NaN
483536,2021-11-10,11,3,Joshua Primo,1.0,3.0,5.194444,NaN,NaN,NaN
486163,2021-11-26,18,4,Joshua Primo,-1.0,1.0,5.194444,NaN,NaN,NaN
486658,2021-11-29,19,5,Joshua Primo,9.0,-1.0,5.194444,NaN,3.0,NaN
487709,2021-12-06,22,6,Joshua Primo,11.0,9.0,5.194444,NaN,4.6,3.0
487794,2021-12-07,23,7,Joshua Primo,2.0,11.0,5.194444,NaN,4.4,4.6
488162,2021-12-09,24,8,Joshua Primo,0.0,2.0,5.194444,NaN,4.2,4.4
490425,2021-12-26,32,9,Joshua Primo,11.0,0.0,5.194444,NaN,6.6,4.2
490547,2021-12-27,33,10,Joshua Primo,2.0,11.0,5.194444,NaN,5.2,6.6
491148,2021-12-31,34,11,Joshua Primo,2.0,2.0,5.194444,NaN,3.4,5.2
491263,2022-01-01,35,12,Joshua Primo,1.0,2.0,5.194444,NaN,3.2,3.4
491743,2022-01-04,36,13,Joshua Primo,17.0,1.0,5.194444,NaN,6.6,3.2
491896,2022-01-05,37,14,Joshua Primo,0.0,17.0,5.194444,NaN,4.4,6.6
492139,2022-01-07,38,15,Joshua Primo,10.0,0.0,5.194444,NaN,6.0,4.4
492589,2022-01-09,39,16,Joshua Primo,2.0,10.0,5.194444,NaN,6.0,6.0
492781,2022-01-10,40,17,Joshua Primo,11.0,2.0,5.194444,NaN,8.0,6.0
493089,2022-01-12,41,18,Joshua Primo,7.0,11.0,5.194444,NaN,6.0,8.0
493429,2022-01-14,42,19,Joshua Primo,1.0,7.0,5.194444,NaN,6.2,6.0
493633,2022-01-15,43,20,Joshua Primo,-3.0,1.0,5.194444,NaN,3.6,6.2
495632,2022-01-28,50,21,Joshua Primo,3.0,-3.0,5.194444,NaN,3.8,3.6
495971,2022-01-30,51,22,Joshua Primo,9.0,3.0,5.194444,NaN,3.4,3.8
496247,2022-02-01,52,23,Joshua Primo,9.0,9.0,5.194444,NaN,3.8,3.4
496502,2022-02-03,53,24,Joshua Primo,-2.0,9.0,5.194444,NaN,3.2,3.8
496699,2022-02-04,54,25,Joshua Primo,9.0,-2.0,5.194444,NaN,5.6,3.2
497411,2022-02-09,55,26,Joshua Primo,-1.0,9.0,5.194444,NaN,4.8,5.6
497739,2022-02-11,56,27,Joshua Primo,11.0,-1.0,5.194444,NaN,5.2,4.8
497879,2022-02-12,57,28,Joshua Primo,12.0,11.0,5.194444,NaN,5.8,5.2
498140,2022-02-14,58,29,Joshua Primo,3.0,12.0,5.194444,NaN,6.8,5.8
498545,2022-02-16,59,30,Joshua Primo,2.0,3.0,5.194444,NaN,5.4,6.8
499137,2022-02-26,61,31,Joshua Primo,4.0,2.0,5.194444,NaN,6.4,5.4
499469,2022-02-28,62,32,Joshua Primo,2.0,4.0,5.194444,NaN,4.6,6.4
499933,2022-03-03,63,33,Joshua Primo,11.0,2.0,5.194444,NaN,4.4,4.6
500182,2022-03-05,64,34,Joshua Primo,15.0,11.0,5.194444,NaN,6.8,4.4
500582,2022-03-07,65,35,Joshua Primo,9.0,15.0,5.194444,NaN,8.2,6.8
501294,2022-03-12,68,36,Joshua Primo,2.0,9.0,5.194444,NaN,7.8,8.2

In [46]:
df[(df['PLAYER_NAME'] == 'Othyus Jeffers') & (df['SEASON'] == 2013)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG
274975,2014-01-24,43,1,Othyus Jeffers,4.0,10.0,2.333333,7.823529,11.4,12.4
275375,2014-01-26,44,2,Othyus Jeffers,6.0,4.0,2.333333,7.823529,11.2,11.4
275729,2014-01-28,45,3,Othyus Jeffers,0.0,6.0,2.333333,7.823529,6.2,11.2
275941,2014-01-29,46,4,Othyus Jeffers,1.0,0.0,2.333333,7.823529,4.2,6.2
285802,2014-04-08,77,5,Othyus Jeffers,0.0,1.0,2.333333,7.823529,2.2,4.2
286070,2014-04-09,78,6,Othyus Jeffers,3.0,0.0,2.333333,7.823529,2.0,2.2

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 81 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
 80  EFF_PREV_GAME        499396 non-null  float64
dtypes: float64(44), int64(18), object(19)
memory usage: 313.7+ MB

## Getting the EFF to be used in the model

In [48]:
def getEFFUsedInModel(game_number_player, eff_prev_game, eff_prev_season, eff_prev_five):
    if game_number_player == 1:
        if pd.isna(eff_prev_season):
            return 0
        else:
            return eff_prev_season
    else:
        if pd.isna(eff_prev_five):
            return eff_prev_game
        else:
            if game_number_player <= 5:
                return eff_prev_game
            else:
                return eff_prev_five

df['EFF_USED_IN_MODEL'] = [getEFFUsedInModel(gnp,epg,eps,epf) for (gnp,epg,eps,epf) in zip(df['GAME_NUMBER_PLAYER'],
                                                                                          df['EFF_PREV_GAME'],
                                                                                          df['EFF_PREV_SEASON_AVG'],
                                                                                          df['EFF_PREV_FIVE_AVG'])]
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,RANK_AWAY,GAME_NUMBER_TEAM,index1,GAME_NUMBER_PLAYER,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG,EFF_PREV_GAME,EFF_USED_IN_MODEL
0,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,16,1,382233,1,19.967742,NaN,NaN,NaN,NaN,0.0
1,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,16,1,382234,1,9.556818,NaN,NaN,NaN,NaN,0.0
2,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,16,1,382235,1,11.932584,NaN,NaN,NaN,NaN,0.0
3,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,16,1,382236,1,15.378378,NaN,NaN,NaN,NaN,0.0
4,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,16,1,382237,1,14.648936,NaN,NaN,NaN,NaN,0.0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 82 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
 80  EFF_PREV_GAME        499396 non-null  float64
 81  EFF_USED_IN_MODEL    501383 non-null  float64
dtypes: float64(45), int64(18), object(19)
memory usage: 317.5+ MB

In [50]:
df[(df['PLAYER_NAME'] == 'Tim Duncan') & (df['SEASON'] == 2004)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG', 'EFF_USED_IN_MODEL']].head(10)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG,EFF_USED_IN_MODEL
25771,2004-11-03,1,1,Tim Duncan,37.0,21.0,25.539326,26.493671,24.8,21.6,26.493671
26085,2004-11-05,2,2,Tim Duncan,31.0,37.0,25.539326,26.493671,29.0,24.8,37.000000
26410,2004-11-07,3,3,Tim Duncan,16.0,31.0,25.539326,26.493671,27.0,29.0,31.000000
26892,2004-11-10,4,4,Tim Duncan,36.0,16.0,25.539326,26.493671,28.2,27.0,16.000000
27150,2004-11-12,5,5,Tim Duncan,23.0,36.0,25.539326,26.493671,28.6,28.2,36.000000
27256,2004-11-13,6,6,Tim Duncan,29.0,23.0,25.539326,26.493671,27.0,28.6,28.600000
27655,2004-11-16,7,7,Tim Duncan,24.0,29.0,25.539326,26.493671,25.6,27.0,27.000000
27945,2004-11-18,8,8,Tim Duncan,25.0,24.0,25.539326,26.493671,27.4,25.6,25.600000
28029,2004-11-19,9,9,Tim Duncan,31.0,25.0,25.539326,26.493671,26.4,27.4,27.400000
28318,2004-11-21,10,10,Tim Duncan,28.0,31.0,25.539326,26.493671,27.4,26.4,26.400000

In [51]:
df[(df['PLAYER_NAME'] == 'Manu Ginobili') & (df['SEASON'] == 2004)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG', 'EFF_USED_IN_MODEL']].tail()

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG,EFF_USED_IN_MODEL
51991,2005-06-14,82,93,Manu Ginobili,1.0,33.0,18.298969,14.321839,22.4,27.0,27.0
52014,2005-06-16,82,94,Manu Ginobili,13.0,1.0,18.298969,14.321839,19.4,22.4,22.4
52036,2005-06-19,82,95,Manu Ginobili,18.0,13.0,18.298969,14.321839,18.6,19.4,19.4
52052,2005-06-21,82,96,Manu Ginobili,20.0,18.0,18.298969,14.321839,17.0,18.6,18.6
52068,2005-06-23,82,97,Manu Ginobili,25.0,20.0,18.298969,14.321839,15.4,17.0,17.0

In [52]:
df[(df['PLAYER_NAME'] == 'Joshua Primo') & (df['SEASON'] == 2021)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG', 'EFF_USED_IN_MODEL']].head(10)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG,EFF_USED_IN_MODEL
480115,2021-10-20,1,1,Joshua Primo,3.0,NaN,5.194444,NaN,NaN,NaN,0.0
480612,2021-10-23,3,2,Joshua Primo,3.0,3.0,5.194444,NaN,NaN,NaN,3.0
483536,2021-11-10,11,3,Joshua Primo,1.0,3.0,5.194444,NaN,NaN,NaN,3.0
486163,2021-11-26,18,4,Joshua Primo,-1.0,1.0,5.194444,NaN,NaN,NaN,1.0
486658,2021-11-29,19,5,Joshua Primo,9.0,-1.0,5.194444,NaN,3.0,NaN,-1.0
487709,2021-12-06,22,6,Joshua Primo,11.0,9.0,5.194444,NaN,4.6,3.0,3.0
487794,2021-12-07,23,7,Joshua Primo,2.0,11.0,5.194444,NaN,4.4,4.6,4.6
488162,2021-12-09,24,8,Joshua Primo,0.0,2.0,5.194444,NaN,4.2,4.4,4.4
490425,2021-12-26,32,9,Joshua Primo,11.0,0.0,5.194444,NaN,6.6,4.2,4.2
490547,2021-12-27,33,10,Joshua Primo,2.0,11.0,5.194444,NaN,5.2,6.6,6.6

In [53]:
df[(df['PLAYER_NAME'] == 'Othyus Jeffers') & (df['SEASON'] == 2013)][['GAME_DATE_EST', 'GAME_NUMBER_TEAM', 'GAME_NUMBER_PLAYER', 'PLAYER_NAME', 'EFF', 'EFF_PREV_GAME', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG', 'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG', 'EFF_USED_IN_MODEL']].head(50)

,GAME_DATE_EST,GAME_NUMBER_TEAM,GAME_NUMBER_PLAYER,PLAYER_NAME,EFF,EFF_PREV_GAME,EFF_SEASON_AVG,EFF_PREV_SEASON_AVG,EFF_LAST_FIVE_AVG,EFF_PREV_FIVE_AVG,EFF_USED_IN_MODEL
274975,2014-01-24,43,1,Othyus Jeffers,4.0,10.0,2.333333,7.823529,11.4,12.4,7.823529
275375,2014-01-26,44,2,Othyus Jeffers,6.0,4.0,2.333333,7.823529,11.2,11.4,4.000000
275729,2014-01-28,45,3,Othyus Jeffers,0.0,6.0,2.333333,7.823529,6.2,11.2,6.000000
275941,2014-01-29,46,4,Othyus Jeffers,1.0,0.0,2.333333,7.823529,4.2,6.2,0.000000
285802,2014-04-08,77,5,Othyus Jeffers,0.0,1.0,2.333333,7.823529,2.2,4.2,1.000000
286070,2014-04-09,78,6,Othyus Jeffers,3.0,0.0,2.333333,7.823529,2.0,2.2,2.200000

In [54]:
def getTeamWinsColumn(home_team_id, visitor_team_id, team_id, home_team_wins):
    if team_id == home_team_id:
        return home_team_wins
    else:
        if home_team_wins == 0:
            return 1
        else:
            return 0

def getTeamMetricColumn(home_team_id, visitor_team_id, team_id, home_metric, away_metric):
    if team_id == home_team_id:
        return home_metric
    else:
        return away_metric

df['TEAM_PTS'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['PTS_home'], df['PTS_away'])]
df['TEAM_FG_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['FG_PCT_home'], df['FG_PCT_away'])]
df['TEAM_FT_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['FT_PCT_home'], df['FT_PCT_away'])]
df['TEAM_FG3_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['FG3_PCT_home'], df['FG3_PCT_away'])]
df['TEAM_AST'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['AST_home'], df['AST_away'])]
df['TEAM_REB'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['REB_home'], df['REB_away'])]
df['TEAM_G'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['G_HOME'], df['G_AWAY'])]
df['TEAM_W'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['W_HOME'], df['W_AWAY'])]
df['TEAM_L'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['L_HOME'], df['L_AWAY'])]
df['TEAM_W_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['W_PCT_HOME'], df['W_PCT_AWAY'])]
df['TEAM_HOME_RECORD'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['HOME_RECORD_HOME'], df['HOME_RECORD_AWAY'])]
df['TEAM_ROAD_RECORD'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['ROAD_RECORD_HOME'], df['ROAD_RECORD_AWAY'])]
df['TEAM_HOME_W_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['HOME_W_PCT_HOME'], df['HOME_W_PCT_AWAY'])]
df['TEAM_ROAD_W_PCT'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['ROAD_W_PCT_HOME'], df['ROAD_W_PCT_AWAY'])]
df['TEAM_RANK'] = [getTeamMetricColumn(ht,vt,ti,hm,am) for (ht,vt,ti,hm,am) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['RANK_HOME'], df['RANK_AWAY'])]
df['TEAM_WINS'] = [getTeamWinsColumn(h,v,t,hw) for (h,v,t,hw) in zip(df['HOME_TEAM_ID'], df['VISITOR_TEAM_ID'], df['TEAM_ID'], df['HOME_TEAM_WINS'])]
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_G,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_RECORD,TEAM_ROAD_RECORD,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_WINS
0,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
1,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
2,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
3,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
4,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 98 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
 80  EFF_PREV_GAME        499396 non-null  float64
 81  EFF_USED_IN_MODEL    501383 non-null  float64
 82  TEAM_PTS             501383 non-null  float64
 83  TEAM_FG_PCT          501383 non-null  float64
 84  TEAM_FT_PCT          501383 non-null  float64
 85  TEAM_FG3_PCT         501383 non-null  float64
 86  TEAM_AST             501383 non-null  float64
 87  TEAM_REB             501383 non-null  float64
 88  TEAM_G               501383 non-null  int64
 89  TEAM_W               501383 non-null  int64
 90  TEAM_L               501383 non-null  int64
 91  TEAM_W_PCT           501383 non-null  float64
 92  TEAM_HOME_RECORD     501383 non-null  object
 93  TEAM_ROAD_RECORD     501383 non-null  object
 94  TEAM_HOME_W_PCT      501383 non-null  float64
 95  TEAM_ROAD_W_PCT      501383 non-null  float64
 96  TEAM_RANK            501383 non-null  int64
 97  TEAM_WINS            501383 non-null  int64
dtypes: float64(54), int64(23), object(21)
memory usage: 378.7+ MB

In [56]:
df[(df['HOME_TEAM_ID'] == df['TEAM_ID']) & (df['HOME_TEAM_WINS'] != df['TEAM_WINS'])]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, TEAM_NICKNAME, PLAYER_ID, PLAYER_NAME, PLAYER_NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, EFF, NICKNAME_HOME, CITY_HOME, NICKNAME_AWAY, CITY_AWAY, TEAM_HOME, G_HOME, W_HOME, L_HOME, W_PCT_HOME, HOME_RECORD_HOME, ROAD_RECORD_HOME, HOME_W_PCT_HOME, ROAD_W_PCT_HOME, RANK_HOME, TEAM_AWAY, G_AWAY, W_AWAY, L_AWAY, W_PCT_AWAY, HOME_RECORD_AWAY, ROAD_RECORD_AWAY, HOME_W_PCT_AWAY, ROAD_W_PCT_AWAY, RANK_AWAY, GAME_NUMBER_TEAM, index1, GAME_NUMBER_PLAYER, EFF_SEASON_AVG, EFF_PREV_SEASON_AVG, EFF_LAST_FIVE_AVG, EFF_PREV_FIVE_AVG, EFF_PREV_GAME, EFF_USED_IN_MODEL, TEAM_PTS, TEAM_FG_PCT, TEAM_FT_PCT, TEAM_FG3_PCT, TEAM_AST, TEAM_REB, TEAM_G, TEAM_W, TEAM_L, TEAM_W_PCT, TEAM_HOME_RECORD, TEAM_ROAD_RECORD, TEAM_HOME_W_PCT, TEAM_ROAD_W_PCT, TEAM_RANK, TEAM_WINS]
Index: []

[0 rows x 98 columns]

In [57]:
df[(df['HOME_TEAM_ID'] != df['TEAM_ID']) & (df['HOME_TEAM_WINS'] == df['TEAM_WINS'])]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, TEAM_NICKNAME, PLAYER_ID, PLAYER_NAME, PLAYER_NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, EFF, NICKNAME_HOME, CITY_HOME, NICKNAME_AWAY, CITY_AWAY, TEAM_HOME, G_HOME, W_HOME, L_HOME, W_PCT_HOME, HOME_RECORD_HOME, ROAD_RECORD_HOME, HOME_W_PCT_HOME, ROAD_W_PCT_HOME, RANK_HOME, TEAM_AWAY, G_AWAY, W_AWAY, L_AWAY, W_PCT_AWAY, HOME_RECORD_AWAY, ROAD_RECORD_AWAY, HOME_W_PCT_AWAY, ROAD_W_PCT_AWAY, RANK_AWAY, GAME_NUMBER_TEAM, index1, GAME_NUMBER_PLAYER, EFF_SEASON_AVG, EFF_PREV_SEASON_AVG, EFF_LAST_FIVE_AVG, EFF_PREV_FIVE_AVG, EFF_PREV_GAME, EFF_USED_IN_MODEL, TEAM_PTS, TEAM_FG_PCT, TEAM_FT_PCT, TEAM_FG3_PCT, TEAM_AST, TEAM_REB, TEAM_G, TEAM_W, TEAM_L, TEAM_W_PCT, TEAM_HOME_RECORD, TEAM_ROAD_RECORD, TEAM_HOME_W_PCT, TEAM_ROAD_W_PCT, TEAM_RANK, TEAM_WINS]
Index: []

[0 rows x 98 columns]

In [58]:
df.to_csv('Dataset At Individual Player Level.csv', index=False)

## We have the EFF metric for each individual player that we want in the model (EFF_USED_IN_MODEL) Column

## Now, need to aggregate metrics at team level for each game_id

In [59]:
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_G,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_RECORD,TEAM_ROAD_RECORD,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_WINS
0,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
1,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
2,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
3,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0
4,2003-10-28,20300001,Final,1610612755,1610612748,2003,89.0,0.44,0.533,0.35,...,1,0,1,0.0,0-0,0-1,0.0,0.0,16,0

In [60]:
df.tail()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,TEAM_G,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_RECORD,TEAM_ROAD_RECORD,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_WINS
501378,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.5,0.375,19,0
501379,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.5,0.375,19,0
501380,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.5,0.375,19,0
501381,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.5,0.375,19,0
501382,2022-03-12,22101011,Final,1610612757,1610612764,2021,127.0,0.516,0.909,0.367,...,66,29,37,0.439,17-17,12-20,0.5,0.375,19,0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501383 entries, 0 to 501382
Data columns (total 98 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GAME_DATE_EST        501383 non-null  object
 1   GAME_ID              501383 non-null  int64
 2   GAME_STATUS_TEXT     501383 non-null  object
 3   HOME_TEAM_ID         501383 non-null  int64
 4   VISITOR_TEAM_ID      501383 non-null  int64
 5   SEASON               501383 non-null  int64
 6   PTS_home             501383 non-null  float64
 7   FG_PCT_home          501383 non-null  float64
 8   FT_PCT_home          501383 non-null  float64
 9   FG3_PCT_home         501383 non-null  float64
 10  AST_home             501383 non-null  float64
 11  REB_home             501383 non-null  float64
 12  PTS_away             501383 non-null  float64
 13  FG_PCT_away          501383 non-null  float64
 14  FT_PCT_away          501383 non-null  float64
 15  FG3_PCT_away         501383 non-null  float64
 16  AST_away             501383 non-null  float64
 17  REB_away             501383 non-null  float64
 18  HOME_TEAM_WINS       501383 non-null  int64
 19  TEAM_ID              501383 non-null  int64
 20  TEAM_ABBREVIATION    501383 non-null  object
 21  TEAM_CITY            501383 non-null  object
 22  TEAM_NICKNAME        501383 non-null  object
 23  PLAYER_ID            501383 non-null  int64
 24  PLAYER_NAME          501383 non-null  object
 25  PLAYER_NICKNAME      23002 non-null   object
 26  START_POSITION       241589 non-null  object
 27  COMMENT              0 non-null       float64
 28  MIN                  501383 non-null  object
 29  FGM                  501383 non-null  float64
 30  FGA                  501383 non-null  float64
 31  FG_PCT               501383 non-null  float64
 32  FG3M                 501383 non-null  float64
 33  FG3A                 501383 non-null  float64
 34  FG3_PCT              501383 non-null  float64
 35  FTM                  501383 non-null  float64
 36  FTA                  501383 non-null  float64
 37  FT_PCT               501383 non-null  float64
 38  OREB                 501383 non-null  float64
 39  DREB                 501383 non-null  float64
 40  REB                  501383 non-null  float64
 41  AST                  501383 non-null  float64
 42  STL                  501383 non-null  float64
 43  BLK                  501383 non-null  float64
 44  TO                   501383 non-null  float64
 45  PF                   501383 non-null  float64
 46  PTS                  501383 non-null  float64
 47  PLUS_MINUS           501383 non-null  float64
 48  EFF                  501383 non-null  float64
 49  NICKNAME_HOME        501383 non-null  object
 50  CITY_HOME            501383 non-null  object
 51  NICKNAME_AWAY        501383 non-null  object
 52  CITY_AWAY            501383 non-null  object
 53  TEAM_HOME            501383 non-null  object
 54  G_HOME               501383 non-null  int64
 55  W_HOME               501383 non-null  int64
 56  L_HOME               501383 non-null  int64
 57  W_PCT_HOME           501383 non-null  float64
 58  HOME_RECORD_HOME     501383 non-null  object
 59  ROAD_RECORD_HOME     501383 non-null  object
 60  HOME_W_PCT_HOME      501383 non-null  float64
 61  ROAD_W_PCT_HOME      501383 non-null  float64
 62  RANK_HOME            501383 non-null  int64
 63  TEAM_AWAY            501383 non-null  object
 64  G_AWAY               501383 non-null  int64
 65  W_AWAY               501383 non-null  int64
 66  L_AWAY               501383 non-null  int64
 67  W_PCT_AWAY           501383 non-null  float64
 68  HOME_RECORD_AWAY     501383 non-null  object
 69  ROAD_RECORD_AWAY     501383 non-null  object
 70  HOME_W_PCT_AWAY      501383 non-null  float64
 71  ROAD_W_PCT_AWAY      501383 non-null  float64
 72  RANK_AWAY            501383 non-null  int64
 73  GAME_NUMBER_TEAM     501383 non-null  int64
 74  index1               501383 non-null  int64
 75  GAME_NUMBER_PLAYER   501383 non-null  int64
 76  EFF_SEASON_AVG       501383 non-null  float64
 77  EFF_PREV_SEASON_AVG  417940 non-null  float64
 78  EFF_LAST_FIVE_AVG    493634 non-null  float64
 79  EFF_PREV_FIVE_AVG    491773 non-null  float64
 80  EFF_PREV_GAME        499396 non-null  float64
 81  EFF_USED_IN_MODEL    501383 non-null  float64
 82  TEAM_PTS             501383 non-null  float64
 83  TEAM_FG_PCT          501383 non-null  float64
 84  TEAM_FT_PCT          501383 non-null  float64
 85  TEAM_FG3_PCT         501383 non-null  float64
 86  TEAM_AST             501383 non-null  float64
 87  TEAM_REB             501383 non-null  float64
 88  TEAM_G               501383 non-null  int64
 89  TEAM_W               501383 non-null  int64
 90  TEAM_L               501383 non-null  int64
 91  TEAM_W_PCT           501383 non-null  float64
 92  TEAM_HOME_RECORD     501383 non-null  object
 93  TEAM_ROAD_RECORD     501383 non-null  object
 94  TEAM_HOME_W_PCT      501383 non-null  float64
 95  TEAM_ROAD_W_PCT      501383 non-null  float64
 96  TEAM_RANK            501383 non-null  int64
 97  TEAM_WINS            501383 non-null  int64
dtypes: float64(54), int64(23), object(21)
memory usage: 378.7+ MB

In [62]:
game_team_grouped_df = df.groupby(['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_CITY', 'TEAM_NICKNAME'])[['TEAM_PTS','TEAM_FG_PCT',
                                                                                                                    'TEAM_FT_PCT','TEAM_FG3_PCT','TEAM_AST',
                                                                                                                    'TEAM_REB','TEAM_G','TEAM_W','TEAM_L','TEAM_W_PCT',
                                                                                                                    'TEAM_HOME_W_PCT','TEAM_ROAD_W_PCT','TEAM_RANK',
                                                                                                                    'EFF_USED_IN_MODEL','TEAM_WINS']].mean().reset_index()
game_team_grouped_df = game_team_grouped_df.rename(columns = {'EFF_USED_IN_MODEL': 'TEAM_AVERAGE_EFF'})
for i in game_team_grouped_df.columns[6:]:
    if 'pct' not in i.lower() and 'eff' not in i.lower():
        game_team_grouped_df[i] = game_team_grouped_df[i].astype(int)
game_team_grouped_df

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_REB,TEAM_G,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_AVERAGE_EFF,TEAM_WINS
0,2003-10-28,20300001,2003,1610612748,Miami,Heat,74,0.408,0.824,0.250,...,44,1,0,1,0.000,0.000,0.000,16,0.000000,0
1,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,89,0.440,0.533,0.350,...,39,1,1,0,1.000,1.000,0.000,3,0.000000,1
2,2003-10-28,20300002,2003,1610612756,Phoenix,Suns,82,0.361,0.810,0.500,...,43,1,0,1,0.000,0.000,0.000,8,0.000000,0
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,38,1,1,0,1.000,1.000,0.000,1,0.000000,1
4,2003-10-28,20300003,2003,1610612742,Dallas,Mavericks,93,0.376,0.733,0.280,...,46,1,0,1,0.000,0.000,0.000,9,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48177,2022-03-12,22101009,2021,1610612761,Toronto,Raptors,127,0.471,0.760,0.387,...,50,67,37,30,0.552,0.531,0.571,14,9.581818,1
48178,2022-03-12,22101010,2021,1610612758,Sacramento,Kings,125,0.500,0.857,0.394,...,33,69,24,45,0.348,0.429,0.265,25,10.672727,0
48179,2022-03-12,22101010,2021,1610612762,Utah,Jazz,134,0.558,0.710,0.390,...,44,67,42,25,0.627,0.706,0.545,5,10.200000,1
48180,2022-03-12,22101011,2021,1610612757,Portland,Trail Blazers,127,0.516,0.909,0.367,...,43,66,26,40,0.394,0.486,0.290,23,8.866667,1
48181,2022-03-12,22101011,2021,1610612764,Washington,Wizards,118,0.470,0.963,0.412,...,35,66,29,37,0.439,0.500,0.375,19,12.327273,0

In [63]:
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48182 entries, 0 to 48181
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     48182 non-null  object
 1   GAME_ID           48182 non-null  int64
 2   SEASON            48182 non-null  int64
 3   TEAM_ID           48182 non-null  int64
 4   TEAM_CITY         48182 non-null  object
 5   TEAM_NICKNAME     48182 non-null  object
 6   TEAM_PTS          48182 non-null  int32
 7   TEAM_FG_PCT       48182 non-null  float64
 8   TEAM_FT_PCT       48182 non-null  float64
 9   TEAM_FG3_PCT      48182 non-null  float64
 10  TEAM_AST          48182 non-null  int32
 11  TEAM_REB          48182 non-null  int32
 12  TEAM_G            48182 non-null  int32
 13  TEAM_W            48182 non-null  int32
 14  TEAM_L            48182 non-null  int32
 15  TEAM_W_PCT        48182 non-null  float64
 16  TEAM_HOME_W_PCT   48182 non-null  float64
 17  TEAM_ROAD_W_PCT   48182 non-null  float64
 18  TEAM_RANK         48182 non-null  int32
 19  TEAM_AVERAGE_EFF  48182 non-null  float64
 20  TEAM_WINS         48182 non-null  int32
dtypes: float64(7), int32(8), int64(3), object(3)
memory usage: 6.2+ MB

In [64]:
print(len(np.unique(df['GAME_ID'])))
print(len(np.unique(game_team_grouped_df['GAME_ID'])))

24091
24091

In [65]:
game_team_grouped_df[game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs'].iloc[0]

GAME_DATE_EST        2003-10-28
GAME_ID                20300002
SEASON                     2003
TEAM_ID              1610612759
TEAM_CITY           San Antonio
TEAM_NICKNAME             Spurs
TEAM_PTS                     83
TEAM_FG_PCT               0.425
TEAM_FT_PCT               0.769
TEAM_FG3_PCT                0.1
TEAM_AST                     20
TEAM_REB                     38
TEAM_G                        1
TEAM_W                        1
TEAM_L                        0
TEAM_W_PCT                  1.0
TEAM_HOME_W_PCT             1.0
TEAM_ROAD_W_PCT             0.0
TEAM_RANK                     1
TEAM_AVERAGE_EFF            0.0
TEAM_WINS                     1
Name: 3, dtype: object

In [66]:
game_number_team_df = game_team_grouped_df.groupby(['SEASON', 'TEAM_ID']).cumcount()+1
game_number_team_df = game_number_team_df.reset_index()
game_number_team_df = game_number_team_df.rename(columns = {'index': 'index1', 0: 'GAME_NUMBER_TEAM'})
game_number_team_df

       index1  GAME_NUMBER_TEAM
0           0                 1
1           1                 1
2           2                 1
3           3                 1
4           4                 1
...       ...               ...
48177   48177                67
48178   48178                69
48179   48179                67
48180   48180                66
48181   48181                66

[48182 rows x 2 columns]

In [67]:
game_team_grouped_df['index1'] = game_team_grouped_df.index
game_team_grouped_df = pd.merge(game_team_grouped_df, game_number_team_df, how='inner',on='index1')
game_team_grouped_df.head()

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_AVERAGE_EFF,TEAM_WINS,index1,GAME_NUMBER_TEAM
0,2003-10-28,20300001,2003,1610612748,Miami,Heat,74,0.408,0.824,0.25,...,0,1,0.0,0.0,0.0,16,0.0,0,0,1
1,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,89,0.440,0.533,0.35,...,1,0,1.0,1.0,0.0,3,0.0,1,1,1
2,2003-10-28,20300002,2003,1610612756,Phoenix,Suns,82,0.361,0.810,0.50,...,0,1,0.0,0.0,0.0,8,0.0,0,2,1
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.10,...,1,0,1.0,1.0,0.0,1,0.0,1,3,1
4,2003-10-28,20300003,2003,1610612742,Dallas,Mavericks,93,0.376,0.733,0.28,...,0,1,0.0,0.0,0.0,9,0.0,0,4,1

In [68]:
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     48182 non-null  object
 1   GAME_ID           48182 non-null  int64
 2   SEASON            48182 non-null  int64
 3   TEAM_ID           48182 non-null  int64
 4   TEAM_CITY         48182 non-null  object
 5   TEAM_NICKNAME     48182 non-null  object
 6   TEAM_PTS          48182 non-null  int32
 7   TEAM_FG_PCT       48182 non-null  float64
 8   TEAM_FT_PCT       48182 non-null  float64
 9   TEAM_FG3_PCT      48182 non-null  float64
 10  TEAM_AST          48182 non-null  int32
 11  TEAM_REB          48182 non-null  int32
 12  TEAM_G            48182 non-null  int32
 13  TEAM_W            48182 non-null  int32
 14  TEAM_L            48182 non-null  int32
 15  TEAM_W_PCT        48182 non-null  float64
 16  TEAM_HOME_W_PCT   48182 non-null  float64
 17  TEAM_ROAD_W_PCT   48182 non-null  float64
 18  TEAM_RANK         48182 non-null  int32
 19  TEAM_AVERAGE_EFF  48182 non-null  float64
 20  TEAM_WINS         48182 non-null  int32
 21  index1            48182 non-null  int64
 22  GAME_NUMBER_TEAM  48182 non-null  int64
dtypes: float64(7), int32(8), int64(5), object(3)
memory usage: 7.4+ MB

In [69]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2003) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_AVERAGE_EFF,TEAM_WINS,index1,GAME_NUMBER_TEAM
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,1,0,1.000,1.000,0.000,1,0.000000,1,3,1
21,2003-10-29,20300011,2003,1610612759,San Antonio,Spurs,72,0.268,0.783,0.154,...,1,1,0.500,1.000,0.000,14,9.200000,0,21,2
69,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,86,0.429,0.743,0.333,...,2,1,0.667,1.000,0.000,5,8.600000,1,69,3
84,2003-11-03,20300043,2003,1610612759,San Antonio,Spurs,80,0.382,0.720,0.400,...,2,2,0.500,1.000,0.000,17,8.636364,0,84,4
101,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,80,0.342,0.634,0.267,...,3,2,0.600,1.000,0.000,13,7.500000,1,101,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,2004-05-05,40300232,2003,1610612759,San Antonio,Spurs,95,0.522,0.600,0.238,...,57,25,0.695,0.805,0.585,3,10.820000,1,2463,88
2475,2004-05-09,40300233,2003,1610612759,San Antonio,Spurs,81,0.341,0.545,0.289,...,57,25,0.695,0.805,0.585,3,9.250000,0,2475,89
2483,2004-05-11,40300234,2003,1610612759,San Antonio,Spurs,90,0.405,0.818,0.320,...,57,25,0.695,0.805,0.585,3,10.577778,0,2483,90
2489,2004-05-13,40300235,2003,1610612759,San Antonio,Spurs,73,0.382,0.529,0.206,...,57,25,0.695,0.805,0.585,3,11.550000,0,2489,91
2497,2004-05-15,40300236,2003,1610612759,San Antonio,Spurs,76,0.302,0.808,0.111,...,57,25,0.695,0.805,0.585,3,8.127273,0,2497,92

In [70]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2013) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK,TEAM_AVERAGE_EFF,TEAM_WINS,index1,GAME_NUMBER_TEAM
25734,2013-10-30,21300013,2013,1610612759,San Antonio,Spurs,101,0.526,0.625,0.550,...,1,0,1.000,1.00,0.000,8,11.018742,1,25734,1
25773,2013-11-01,21300032,2013,1610612759,San Antonio,Spurs,91,0.404,0.714,0.238,...,2,0,1.000,1.00,1.000,2,9.921875,1,25773,2
25787,2013-11-02,21300039,2013,1610612759,San Antonio,Spurs,105,0.500,0.625,0.500,...,2,1,0.667,1.00,0.500,10,8.909091,0,25787,3
25823,2013-11-05,21300057,2013,1610612759,San Antonio,Spurs,102,0.465,0.900,0.250,...,3,1,0.750,1.00,0.667,3,9.727273,1,25823,4
25845,2013-11-06,21300068,2013,1610612759,San Antonio,Spurs,99,0.482,0.733,0.375,...,4,1,0.800,1.00,0.667,2,11.272727,1,25845,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28339,2014-06-05,41300401,2013,1610612759,San Antonio,Spurs,110,0.588,0.773,0.520,...,62,20,0.756,0.78,0.732,1,11.755556,1,28339,101
28341,2014-06-08,41300402,2013,1610612759,San Antonio,Spurs,96,0.439,0.600,0.462,...,62,20,0.756,0.78,0.732,1,10.980000,0,28341,102
28343,2014-06-10,41300403,2013,1610612759,San Antonio,Spurs,111,0.594,0.813,0.450,...,62,20,0.756,0.78,0.732,1,9.523077,1,28343,103
28345,2014-06-12,41300404,2013,1610612759,San Antonio,Spurs,107,0.571,0.720,0.429,...,62,20,0.756,0.78,0.732,1,10.476923,1,28345,104
28347,2014-06-15,41300405,2013,1610612759,San Antonio,Spurs,104,0.474,0.783,0.462,...,62,20,0.756,0.78,0.732,1,10.123077,1,28347,105

### TEAM_AVERAGE_EFF is the only column in the dataset that is good to be used in the ML Model because the data for this column is based on previous games
### The rest of the columns will need to have some shifts to ensure that previous games' data will be used as input parameters to the ML Model

In [71]:
game_team_grouped_df['PTS_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_PTS'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df['FG_PCT_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FG_PCT'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df['FT_PCT_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FT_PCT'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df['FG3_PCT_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FG3_PCT'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df['AST_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_AST'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df['REB_LAST_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_REB'].rolling(5).mean().reset_index(0,drop=True)
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          48182 non-null  object
 1   GAME_ID                48182 non-null  int64
 2   SEASON                 48182 non-null  int64
 3   TEAM_ID                48182 non-null  int64
 4   TEAM_CITY              48182 non-null  object
 5   TEAM_NICKNAME          48182 non-null  object
 6   TEAM_PTS               48182 non-null  int32
 7   TEAM_FG_PCT            48182 non-null  float64
 8   TEAM_FT_PCT            48182 non-null  float64
 9   TEAM_FG3_PCT           48182 non-null  float64
 10  TEAM_AST               48182 non-null  int32
 11  TEAM_REB               48182 non-null  int32
 12  TEAM_G                 48182 non-null  int32
 13  TEAM_W                 48182 non-null  int32
 14  TEAM_L                 48182 non-null  int32
 15  TEAM_W_PCT             48182 non-null  float64
 16  TEAM_HOME_W_PCT        48182 non-null  float64
 17  TEAM_ROAD_W_PCT        48182 non-null  float64
 18  TEAM_RANK              48182 non-null  int32
 19  TEAM_AVERAGE_EFF       48182 non-null  float64
 20  TEAM_WINS              48182 non-null  int32
 21  index1                 48182 non-null  int64
 22  GAME_NUMBER_TEAM       48182 non-null  int64
 23  PTS_LAST_FIVE_AVG      48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG   48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG   48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG  48062 non-null  float64
 27  AST_LAST_FIVE_AVG      48062 non-null  float64
 28  REB_LAST_FIVE_AVG      48062 non-null  float64
dtypes: float64(13), int32(8), int64(5), object(3)
memory usage: 9.6+ MB

In [72]:
game_team_grouped_df

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_AVERAGE_EFF,TEAM_WINS,index1,GAME_NUMBER_TEAM,PTS_LAST_FIVE_AVG,FG_PCT_LAST_FIVE_AVG,FT_PCT_LAST_FIVE_AVG,FG3_PCT_LAST_FIVE_AVG,AST_LAST_FIVE_AVG,REB_LAST_FIVE_AVG
0,2003-10-28,20300001,2003,1610612748,Miami,Heat,74,0.408,0.824,0.250,...,0.000000,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,89,0.440,0.533,0.350,...,0.000000,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2003-10-28,20300002,2003,1610612756,Phoenix,Suns,82,0.361,0.810,0.500,...,0.000000,0,2,1,NaN,NaN,NaN,NaN,NaN,NaN
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,0.000000,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN
4,2003-10-28,20300003,2003,1610612742,Dallas,Mavericks,93,0.376,0.733,0.280,...,0.000000,0,4,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48177,2022-03-12,22101009,2021,1610612761,Toronto,Raptors,127,0.471,0.760,0.387,...,9.581818,1,48177,67,111.2,0.4384,0.7712,0.3532,19.6,48.8
48178,2022-03-12,22101010,2021,1610612758,Sacramento,Kings,125,0.500,0.857,0.394,...,10.672727,0,48178,69,113.6,0.4766,0.7514,0.3528,24.8,41.0
48179,2022-03-12,22101010,2021,1610612762,Utah,Jazz,134,0.558,0.710,0.390,...,10.200000,1,48179,67,115.6,0.4724,0.7468,0.3828,24.2,48.8
48180,2022-03-12,22101011,2021,1610612757,Portland,Trail Blazers,127,0.516,0.909,0.367,...,8.866667,1,48180,66,100.8,0.3950,0.8114,0.3286,19.4,39.4
48181,2022-03-12,22101011,2021,1610612764,Washington,Wizards,118,0.470,0.963,0.412,...,12.327273,0,48181,66,116.6,0.4928,0.8364,0.4006,28.6,40.0

In [73]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2003) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,TEAM_AVERAGE_EFF,TEAM_WINS,index1,GAME_NUMBER_TEAM,PTS_LAST_FIVE_AVG,FG_PCT_LAST_FIVE_AVG,FT_PCT_LAST_FIVE_AVG,FG3_PCT_LAST_FIVE_AVG,AST_LAST_FIVE_AVG,REB_LAST_FIVE_AVG
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,0.000000,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN
21,2003-10-29,20300011,2003,1610612759,San Antonio,Spurs,72,0.268,0.783,0.154,...,9.200000,0,21,2,NaN,NaN,NaN,NaN,NaN,NaN
69,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,86,0.429,0.743,0.333,...,8.600000,1,69,3,NaN,NaN,NaN,NaN,NaN,NaN
84,2003-11-03,20300043,2003,1610612759,San Antonio,Spurs,80,0.382,0.720,0.400,...,8.636364,0,84,4,NaN,NaN,NaN,NaN,NaN,NaN
101,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,80,0.342,0.634,0.267,...,7.500000,1,101,5,80.2,0.3692,0.7298,0.2508,17.4,46.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,2004-05-05,40300232,2003,1610612759,San Antonio,Spurs,95,0.522,0.600,0.238,...,10.820000,1,2463,88,95.0,0.4982,0.5878,0.2848,18.8,41.0
2475,2004-05-09,40300233,2003,1610612759,San Antonio,Spurs,81,0.341,0.545,0.289,...,9.250000,0,2475,89,93.8,0.4780,0.5884,0.2906,19.0,39.4
2483,2004-05-11,40300234,2003,1610612759,San Antonio,Spurs,90,0.405,0.818,0.320,...,10.577778,0,2483,90,92.8,0.4646,0.6254,0.2932,20.4,38.0
2489,2004-05-13,40300235,2003,1610612759,San Antonio,Spurs,73,0.382,0.529,0.206,...,11.550000,0,2489,91,85.4,0.4236,0.5842,0.2560,18.6,41.2
2497,2004-05-15,40300236,2003,1610612759,San Antonio,Spurs,76,0.302,0.808,0.111,...,8.127273,0,2497,92,83.0,0.3904,0.6600,0.2328,18.2,43.0

In [74]:
game_team_grouped_df['PTS_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['PTS_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df['FG_PCT_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['FG_PCT_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df['FT_PCT_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['FT_PCT_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df['FG3_PCT_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['FG3_PCT_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df['AST_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['AST_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df['REB_PREV_FIVE_AVG'] = game_team_grouped_df.groupby(['TEAM_ID'])['REB_LAST_FIVE_AVG'].shift(1)
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          48182 non-null  object
 1   GAME_ID                48182 non-null  int64
 2   SEASON                 48182 non-null  int64
 3   TEAM_ID                48182 non-null  int64
 4   TEAM_CITY              48182 non-null  object
 5   TEAM_NICKNAME          48182 non-null  object
 6   TEAM_PTS               48182 non-null  int32
 7   TEAM_FG_PCT            48182 non-null  float64
 8   TEAM_FT_PCT            48182 non-null  float64
 9   TEAM_FG3_PCT           48182 non-null  float64
 10  TEAM_AST               48182 non-null  int32
 11  TEAM_REB               48182 non-null  int32
 12  TEAM_G                 48182 non-null  int32
 13  TEAM_W                 48182 non-null  int32
 14  TEAM_L                 48182 non-null  int32
 15  TEAM_W_PCT             48182 non-null  float64
 16  TEAM_HOME_W_PCT        48182 non-null  float64
 17  TEAM_ROAD_W_PCT        48182 non-null  float64
 18  TEAM_RANK              48182 non-null  int32
 19  TEAM_AVERAGE_EFF       48182 non-null  float64
 20  TEAM_WINS              48182 non-null  int32
 21  index1                 48182 non-null  int64
 22  GAME_NUMBER_TEAM       48182 non-null  int64
 23  PTS_LAST_FIVE_AVG      48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG   48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG   48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG  48062 non-null  float64
 27  AST_LAST_FIVE_AVG      48062 non-null  float64
 28  REB_LAST_FIVE_AVG      48062 non-null  float64
 29  PTS_PREV_FIVE_AVG      48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG   48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG   48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG  48032 non-null  float64
 33  AST_PREV_FIVE_AVG      48032 non-null  float64
 34  REB_PREV_FIVE_AVG      48032 non-null  float64
dtypes: float64(19), int32(8), int64(5), object(3)
memory usage: 11.8+ MB

In [75]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2003) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,FT_PCT_LAST_FIVE_AVG,FG3_PCT_LAST_FIVE_AVG,AST_LAST_FIVE_AVG,REB_LAST_FIVE_AVG,PTS_PREV_FIVE_AVG,FG_PCT_PREV_FIVE_AVG,FT_PCT_PREV_FIVE_AVG,FG3_PCT_PREV_FIVE_AVG,AST_PREV_FIVE_AVG,REB_PREV_FIVE_AVG
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2003-10-29,20300011,2003,1610612759,San Antonio,Spurs,72,0.268,0.783,0.154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,86,0.429,0.743,0.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2003-11-03,20300043,2003,1610612759,San Antonio,Spurs,80,0.382,0.720,0.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,80,0.342,0.634,0.267,...,0.7298,0.2508,17.4,46.6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,2004-05-05,40300232,2003,1610612759,San Antonio,Spurs,95,0.522,0.600,0.238,...,0.5878,0.2848,18.8,41.0,95.6,0.5016,0.6216,0.3002,20.6,41.6
2475,2004-05-09,40300233,2003,1610612759,San Antonio,Spurs,81,0.341,0.545,0.289,...,0.5884,0.2906,19.0,39.4,95.0,0.4982,0.5878,0.2848,18.8,41.0
2483,2004-05-11,40300234,2003,1610612759,San Antonio,Spurs,90,0.405,0.818,0.320,...,0.6254,0.2932,20.4,38.0,93.8,0.4780,0.5884,0.2906,19.0,39.4
2489,2004-05-13,40300235,2003,1610612759,San Antonio,Spurs,73,0.382,0.529,0.206,...,0.5842,0.2560,18.6,41.2,92.8,0.4646,0.6254,0.2932,20.4,38.0
2497,2004-05-15,40300236,2003,1610612759,San Antonio,Spurs,76,0.302,0.808,0.111,...,0.6600,0.2328,18.2,43.0,85.4,0.4236,0.5842,0.2560,18.6,41.2

In [76]:
game_team_grouped_df['PTS_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_PTS'].shift(1)
game_team_grouped_df['FG_PCT_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FG_PCT'].shift(1)
game_team_grouped_df['FT_PCT_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FT_PCT'].shift(1)
game_team_grouped_df['FG3_PCT_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_FG3_PCT'].shift(1)
game_team_grouped_df['AST_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_AST'].shift(1)
game_team_grouped_df['REB_PREV_GAME'] = game_team_grouped_df.groupby(['TEAM_ID'])['TEAM_REB'].shift(1)
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          48182 non-null  object
 1   GAME_ID                48182 non-null  int64
 2   SEASON                 48182 non-null  int64
 3   TEAM_ID                48182 non-null  int64
 4   TEAM_CITY              48182 non-null  object
 5   TEAM_NICKNAME          48182 non-null  object
 6   TEAM_PTS               48182 non-null  int32
 7   TEAM_FG_PCT            48182 non-null  float64
 8   TEAM_FT_PCT            48182 non-null  float64
 9   TEAM_FG3_PCT           48182 non-null  float64
 10  TEAM_AST               48182 non-null  int32
 11  TEAM_REB               48182 non-null  int32
 12  TEAM_G                 48182 non-null  int32
 13  TEAM_W                 48182 non-null  int32
 14  TEAM_L                 48182 non-null  int32
 15  TEAM_W_PCT             48182 non-null  float64
 16  TEAM_HOME_W_PCT        48182 non-null  float64
 17  TEAM_ROAD_W_PCT        48182 non-null  float64
 18  TEAM_RANK              48182 non-null  int32
 19  TEAM_AVERAGE_EFF       48182 non-null  float64
 20  TEAM_WINS              48182 non-null  int32
 21  index1                 48182 non-null  int64
 22  GAME_NUMBER_TEAM       48182 non-null  int64
 23  PTS_LAST_FIVE_AVG      48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG   48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG   48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG  48062 non-null  float64
 27  AST_LAST_FIVE_AVG      48062 non-null  float64
 28  REB_LAST_FIVE_AVG      48062 non-null  float64
 29  PTS_PREV_FIVE_AVG      48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG   48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG   48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG  48032 non-null  float64
 33  AST_PREV_FIVE_AVG      48032 non-null  float64
 34  REB_PREV_FIVE_AVG      48032 non-null  float64
 35  PTS_PREV_GAME          48152 non-null  float64
 36  FG_PCT_PREV_GAME       48152 non-null  float64
 37  FT_PCT_PREV_GAME       48152 non-null  float64
 38  FG3_PCT_PREV_GAME      48152 non-null  float64
 39  AST_PREV_GAME          48152 non-null  float64
 40  REB_PREV_GAME          48152 non-null  float64
dtypes: float64(25), int32(8), int64(5), object(3)
memory usage: 14.0+ MB

In [77]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2003) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,FT_PCT_PREV_FIVE_AVG,FG3_PCT_PREV_FIVE_AVG,AST_PREV_FIVE_AVG,REB_PREV_FIVE_AVG,PTS_PREV_GAME,FG_PCT_PREV_GAME,FT_PCT_PREV_GAME,FG3_PCT_PREV_GAME,AST_PREV_GAME,REB_PREV_GAME
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2003-10-29,20300011,2003,1610612759,San Antonio,Spurs,72,0.268,0.783,0.154,...,NaN,NaN,NaN,NaN,83.0,0.425,0.769,0.100,20.0,38.0
69,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,86,0.429,0.743,0.333,...,NaN,NaN,NaN,NaN,72.0,0.268,0.783,0.154,14.0,60.0
84,2003-11-03,20300043,2003,1610612759,San Antonio,Spurs,80,0.382,0.720,0.400,...,NaN,NaN,NaN,NaN,86.0,0.429,0.743,0.333,20.0,39.0
101,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,80,0.342,0.634,0.267,...,NaN,NaN,NaN,NaN,80.0,0.382,0.720,0.400,21.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,2004-05-05,40300232,2003,1610612759,San Antonio,Spurs,95,0.522,0.600,0.238,...,0.6216,0.3002,20.6,41.6,88.0,0.468,0.429,0.227,16.0,40.0
2475,2004-05-09,40300233,2003,1610612759,San Antonio,Spurs,81,0.341,0.545,0.289,...,0.5878,0.2848,18.8,41.0,95.0,0.522,0.600,0.238,17.0,33.0
2483,2004-05-11,40300234,2003,1610612759,San Antonio,Spurs,90,0.405,0.818,0.320,...,0.5884,0.2906,19.0,39.4,81.0,0.341,0.545,0.289,18.0,45.0
2489,2004-05-13,40300235,2003,1610612759,San Antonio,Spurs,73,0.382,0.529,0.206,...,0.6254,0.2932,20.4,38.0,90.0,0.405,0.818,0.320,26.0,41.0
2497,2004-05-15,40300236,2003,1610612759,San Antonio,Spurs,76,0.302,0.808,0.111,...,0.5842,0.2560,18.6,41.2,73.0,0.382,0.529,0.206,16.0,47.0

In [78]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2006) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')]['TEAM_FG3_PCT'].mean()

0.37851960784313715

In [79]:
team_season_avg_df = game_team_grouped_df.groupby(['SEASON', 'TEAM_ID', 'TEAM_NICKNAME'])[['TEAM_PTS', 'TEAM_FG_PCT', 'TEAM_FT_PCT', 'TEAM_FG3_PCT', 'TEAM_AST', 'TEAM_REB']].mean().reset_index()
team_season_avg_df = team_season_avg_df.rename(columns = {'TEAM_PTS': 'PTS_SEASON_AVG', 'TEAM_FG_PCT': 'FG_PCT_SEASON_AVG',
                                                         'TEAM_FT_PCT': 'FT_PCT_SEASON_AVG', 'TEAM_FG3_PCT': 'FG3_PCT_SEASON_AVG',
                                                         'TEAM_AST': 'AST_SEASON_AVG', 'TEAM_REB': 'REB_SEASON_AVG'})
team_season_avg_df[team_season_avg_df['TEAM_NICKNAME'] == 'Spurs']

,SEASON,TEAM_ID,TEAM_NICKNAME,PTS_SEASON_AVG,FG_PCT_SEASON_AVG,FT_PCT_SEASON_AVG,FG3_PCT_SEASON_AVG,AST_SEASON_AVG,REB_SEASON_AVG
22,2003,1610612759,Spurs,91.239130,0.442576,0.676848,0.348315,20.326087,44.793478
51,2004,1610612759,Spurs,96.352381,0.454333,0.725714,0.368771,20.895238,42.323810
81,2005,1610612759,Spurs,96.600000,0.474947,0.709716,0.377589,20.463158,40.863158
111,2006,1610612759,Spurs,97.960784,0.472735,0.750980,0.378520,21.676471,40.686275
141,2007,1610612759,Spurs,95.141414,0.455545,0.753242,0.370364,20.848485,41.343434
171,2008,1610612759,Spurs,96.666667,0.465575,0.761563,0.387586,20.873563,40.850575
201,2009,1610612759,Spurs,100.793478,0.473000,0.736685,0.360772,21.967391,42.597826
231,2010,1610612759,Spurs,103.045455,0.473818,0.761705,0.388705,22.079545,41.840909
261,2011,1610612759,Spurs,103.362500,0.479675,0.738400,0.399400,23.100000,42.562500
291,2012,1610612759,Spurs,102.475728,0.479010,0.783893,0.376019,24.436893,41.563107
321,2013,1610612759,Spurs,105.571429,0.488990,0.776114,0.399638,24.523810,43.000000
351,2014,1610612759,Spurs,103.202247,0.468169,0.773337,0.362416,24.370787,43.853933
381,2015,1610612759,Spurs,103.369565,0.483185,0.808141,0.384641,24.163043,43.434783
411,2016,1610612759,Spurs,105.612245,0.469388,0.791796,0.387000,23.418367,43.969388
441,2017,1610612759,Spurs,102.390805,0.455195,0.780943,0.349632,22.563218,43.839080
471,2018,1610612759,Spurs,111.000000,0.478326,0.815528,0.392416,24.280899,44.752809
501,2019,1610612759,Spurs,113.878378,0.472473,0.808041,0.373284,24.648649,44.783784
531,2020,1610612759,Spurs,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699
561,2021,1610612759,Spurs,112.485294,0.467706,0.743250,0.348324,27.970588,45.426471

In [80]:
team_season_avg_df['PTS_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['PTS_SEASON_AVG'].shift(1)
team_season_avg_df['FG_PCT_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['FG_PCT_SEASON_AVG'].shift(1)
team_season_avg_df['FT_PCT_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['FT_PCT_SEASON_AVG'].shift(1)
team_season_avg_df['FG3_PCT_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['FG3_PCT_SEASON_AVG'].shift(1)
team_season_avg_df['AST_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['AST_SEASON_AVG'].shift(1)
team_season_avg_df['REB_PREV_SEASON_AVG'] = team_season_avg_df.groupby('TEAM_ID')['REB_SEASON_AVG'].shift(1)
team_season_avg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SEASON                   569 non-null    int64
 1   TEAM_ID                  569 non-null    int64
 2   TEAM_NICKNAME            569 non-null    object
 3   PTS_SEASON_AVG           569 non-null    float64
 4   FG_PCT_SEASON_AVG        569 non-null    float64
 5   FT_PCT_SEASON_AVG        569 non-null    float64
 6   FG3_PCT_SEASON_AVG       569 non-null    float64
 7   AST_SEASON_AVG           569 non-null    float64
 8   REB_SEASON_AVG           569 non-null    float64
 9   PTS_PREV_SEASON_AVG      539 non-null    float64
 10  FG_PCT_PREV_SEASON_AVG   539 non-null    float64
 11  FT_PCT_PREV_SEASON_AVG   539 non-null    float64
 12  FG3_PCT_PREV_SEASON_AVG  539 non-null    float64
 13  AST_PREV_SEASON_AVG      539 non-null    float64
 14  REB_PREV_SEASON_AVG      539 non-null    float64
dtypes: float64(12), int64(2), object(1)
memory usage: 66.8+ KB

In [81]:
team_season_avg_df[team_season_avg_df['TEAM_NICKNAME'] == 'Spurs']

,SEASON,TEAM_ID,TEAM_NICKNAME,PTS_SEASON_AVG,FG_PCT_SEASON_AVG,FT_PCT_SEASON_AVG,FG3_PCT_SEASON_AVG,AST_SEASON_AVG,REB_SEASON_AVG,PTS_PREV_SEASON_AVG,FG_PCT_PREV_SEASON_AVG,FT_PCT_PREV_SEASON_AVG,FG3_PCT_PREV_SEASON_AVG,AST_PREV_SEASON_AVG,REB_PREV_SEASON_AVG
22,2003,1610612759,Spurs,91.239130,0.442576,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
51,2004,1610612759,Spurs,96.352381,0.454333,0.725714,0.368771,20.895238,42.323810,91.239130,0.442576,0.676848,0.348315,20.326087,44.793478
81,2005,1610612759,Spurs,96.600000,0.474947,0.709716,0.377589,20.463158,40.863158,96.352381,0.454333,0.725714,0.368771,20.895238,42.323810
111,2006,1610612759,Spurs,97.960784,0.472735,0.750980,0.378520,21.676471,40.686275,96.600000,0.474947,0.709716,0.377589,20.463158,40.863158
141,2007,1610612759,Spurs,95.141414,0.455545,0.753242,0.370364,20.848485,41.343434,97.960784,0.472735,0.750980,0.378520,21.676471,40.686275
171,2008,1610612759,Spurs,96.666667,0.465575,0.761563,0.387586,20.873563,40.850575,95.141414,0.455545,0.753242,0.370364,20.848485,41.343434
201,2009,1610612759,Spurs,100.793478,0.473000,0.736685,0.360772,21.967391,42.597826,96.666667,0.465575,0.761563,0.387586,20.873563,40.850575
231,2010,1610612759,Spurs,103.045455,0.473818,0.761705,0.388705,22.079545,41.840909,100.793478,0.473000,0.736685,0.360772,21.967391,42.597826
261,2011,1610612759,Spurs,103.362500,0.479675,0.738400,0.399400,23.100000,42.562500,103.045455,0.473818,0.761705,0.388705,22.079545,41.840909
291,2012,1610612759,Spurs,102.475728,0.479010,0.783893,0.376019,24.436893,41.563107,103.362500,0.479675,0.738400,0.399400,23.100000,42.562500
321,2013,1610612759,Spurs,105.571429,0.488990,0.776114,0.399638,24.523810,43.000000,102.475728,0.479010,0.783893,0.376019,24.436893,41.563107
351,2014,1610612759,Spurs,103.202247,0.468169,0.773337,0.362416,24.370787,43.853933,105.571429,0.488990,0.776114,0.399638,24.523810,43.000000
381,2015,1610612759,Spurs,103.369565,0.483185,0.808141,0.384641,24.163043,43.434783,103.202247,0.468169,0.773337,0.362416,24.370787,43.853933
411,2016,1610612759,Spurs,105.612245,0.469388,0.791796,0.387000,23.418367,43.969388,103.369565,0.483185,0.808141,0.384641,24.163043,43.434783
441,2017,1610612759,Spurs,102.390805,0.455195,0.780943,0.349632,22.563218,43.839080,105.612245,0.469388,0.791796,0.387000,23.418367,43.969388
471,2018,1610612759,Spurs,111.000000,0.478326,0.815528,0.392416,24.280899,44.752809,102.390805,0.455195,0.780943,0.349632,22.563218,43.839080
501,2019,1610612759,Spurs,113.878378,0.472473,0.808041,0.373284,24.648649,44.783784,111.000000,0.478326,0.815528,0.392416,24.280899,44.752809
531,2020,1610612759,Spurs,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699,113.878378,0.472473,0.808041,0.373284,24.648649,44.783784
561,2021,1610612759,Spurs,112.485294,0.467706,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699

In [82]:
game_team_grouped_df = pd.merge(game_team_grouped_df, team_season_avg_df, how='left', on=['SEASON', 'TEAM_ID', 'TEAM_NICKNAME'])
game_team_grouped_df.head(100)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,FT_PCT_SEASON_AVG,FG3_PCT_SEASON_AVG,AST_SEASON_AVG,REB_SEASON_AVG,PTS_PREV_SEASON_AVG,FG_PCT_PREV_SEASON_AVG,FT_PCT_PREV_SEASON_AVG,FG3_PCT_PREV_SEASON_AVG,AST_PREV_SEASON_AVG,REB_PREV_SEASON_AVG
0,2003-10-28,20300001,2003,1610612748,Miami,Heat,74,0.408,0.824,0.250,...,0.759505,0.338411,18.705263,41.505263,NaN,NaN,NaN,NaN,NaN,NaN
1,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,89,0.440,0.533,0.350,...,0.751927,0.335171,20.000000,40.841463,NaN,NaN,NaN,NaN,NaN,NaN
2,2003-10-28,20300002,2003,1610612756,Phoenix,Suns,82,0.361,0.810,0.500,...,0.743293,0.340049,19.341463,40.609756,NaN,NaN,NaN,NaN,NaN,NaN
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
4,2003-10-28,20300003,2003,1610612742,Dallas,Mavericks,93,0.376,0.733,0.280,...,0.797770,0.339793,23.747126,45.666667,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2003-11-04,20300048,2003,1610612754,Indiana,Pacers,71,0.355,0.739,0.000,...,0.754857,0.330796,21.020408,41.744898,NaN,NaN,NaN,NaN,NaN,NaN
96,2003-11-04,20300049,2003,1610612745,Houston,Rockets,86,0.530,0.647,0.500,...,0.770299,0.357218,19.137931,42.712644,NaN,NaN,NaN,NaN,NaN,NaN
97,2003-11-04,20300049,2003,1610612751,New Jersey,Nets,75,0.338,0.773,0.333,...,0.744161,0.318527,24.021505,40.913978,NaN,NaN,NaN,NaN,NaN,NaN
98,2003-11-04,20300050,2003,1610612747,Los Angeles,Lakers,113,0.460,0.610,0.421,...,0.679125,0.306394,23.519231,42.509615,NaN,NaN,NaN,NaN,NaN,NaN
99,2003-11-04,20300050,2003,1610612749,Milwaukee,Bucks,107,0.400,0.867,0.474,...,0.772621,0.344184,22.701149,42.045977,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 53 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GAME_DATE_EST            48182 non-null  object
 1   GAME_ID                  48182 non-null  int64
 2   SEASON                   48182 non-null  int64
 3   TEAM_ID                  48182 non-null  int64
 4   TEAM_CITY                48182 non-null  object
 5   TEAM_NICKNAME            48182 non-null  object
 6   TEAM_PTS                 48182 non-null  int32
 7   TEAM_FG_PCT              48182 non-null  float64
 8   TEAM_FT_PCT              48182 non-null  float64
 9   TEAM_FG3_PCT             48182 non-null  float64
 10  TEAM_AST                 48182 non-null  int32
 11  TEAM_REB                 48182 non-null  int32
 12  TEAM_G                   48182 non-null  int32
 13  TEAM_W                   48182 non-null  int32
 14  TEAM_L                   48182 non-null  int32
 15  TEAM_W_PCT               48182 non-null  float64
 16  TEAM_HOME_W_PCT          48182 non-null  float64
 17  TEAM_ROAD_W_PCT          48182 non-null  float64
 18  TEAM_RANK                48182 non-null  int32
 19  TEAM_AVERAGE_EFF         48182 non-null  float64
 20  TEAM_WINS                48182 non-null  int32
 21  index1                   48182 non-null  int64
 22  GAME_NUMBER_TEAM         48182 non-null  int64
 23  PTS_LAST_FIVE_AVG        48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG     48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG     48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG    48062 non-null  float64
 27  AST_LAST_FIVE_AVG        48062 non-null  float64
 28  REB_LAST_FIVE_AVG        48062 non-null  float64
 29  PTS_PREV_FIVE_AVG        48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG     48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG     48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG    48032 non-null  float64
 33  AST_PREV_FIVE_AVG        48032 non-null  float64
 34  REB_PREV_FIVE_AVG        48032 non-null  float64
 35  PTS_PREV_GAME            48152 non-null  float64
 36  FG_PCT_PREV_GAME         48152 non-null  float64
 37  FT_PCT_PREV_GAME         48152 non-null  float64
 38  FG3_PCT_PREV_GAME        48152 non-null  float64
 39  AST_PREV_GAME            48152 non-null  float64
 40  REB_PREV_GAME            48152 non-null  float64
 41  PTS_SEASON_AVG           48182 non-null  float64
 42  FG_PCT_SEASON_AVG        48182 non-null  float64
 43  FT_PCT_SEASON_AVG        48182 non-null  float64
 44  FG3_PCT_SEASON_AVG       48182 non-null  float64
 45  AST_SEASON_AVG           48182 non-null  float64
 46  REB_SEASON_AVG           48182 non-null  float64
 47  PTS_PREV_SEASON_AVG      45558 non-null  float64
 48  FG_PCT_PREV_SEASON_AVG   45558 non-null  float64
 49  FT_PCT_PREV_SEASON_AVG   45558 non-null  float64
 50  FG3_PCT_PREV_SEASON_AVG  45558 non-null  float64
 51  AST_PREV_SEASON_AVG      45558 non-null  float64
 52  REB_PREV_SEASON_AVG      45558 non-null  float64
dtypes: float64(37), int32(8), int64(5), object(3)
memory usage: 18.4+ MB

In [84]:
game_team_grouped_df[game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs']

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,FT_PCT_SEASON_AVG,FG3_PCT_SEASON_AVG,AST_SEASON_AVG,REB_SEASON_AVG,PTS_PREV_SEASON_AVG,FG_PCT_PREV_SEASON_AVG,FT_PCT_PREV_SEASON_AVG,FG3_PCT_PREV_SEASON_AVG,AST_PREV_SEASON_AVG,REB_PREV_SEASON_AVG
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.100,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
21,2003-10-29,20300011,2003,1610612759,San Antonio,Spurs,72,0.268,0.783,0.154,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
69,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,86,0.429,0.743,0.333,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
84,2003-11-03,20300043,2003,1610612759,San Antonio,Spurs,80,0.382,0.720,0.400,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
101,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,80,0.342,0.634,0.267,...,0.676848,0.348315,20.326087,44.793478,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48066,2022-03-05,22100955,2021,1610612759,San Antonio,Spurs,117,0.459,0.800,0.297,...,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699
48105,2022-03-07,22100973,2021,1610612759,San Antonio,Spurs,117,0.548,0.533,0.346,...,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699
48136,2022-03-09,22100989,2021,1610612759,San Antonio,Spurs,104,0.452,0.950,0.281,...,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699
48162,2022-03-11,22101002,2021,1610612759,San Antonio,Spurs,104,0.400,0.698,0.207,...,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699
48173,2022-03-12,22101007,2021,1610612759,San Antonio,Spurs,108,0.412,0.813,0.324,...,0.743250,0.348324,27.970588,45.426471,110.876712,0.461164,0.793644,0.347014,24.369863,44.013699

In [85]:
game_team_grouped_df[game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs'].iloc[0]

GAME_DATE_EST               2003-10-28
GAME_ID                       20300002
SEASON                            2003
TEAM_ID                     1610612759
TEAM_CITY                  San Antonio
TEAM_NICKNAME                    Spurs
TEAM_PTS                            83
TEAM_FG_PCT                      0.425
TEAM_FT_PCT                      0.769
TEAM_FG3_PCT                       0.1
TEAM_AST                            20
TEAM_REB                            38
TEAM_G                               1
TEAM_W                               1
TEAM_L                               0
TEAM_W_PCT                         1.0
TEAM_HOME_W_PCT                    1.0
TEAM_ROAD_W_PCT                    0.0
TEAM_RANK                            1
TEAM_AVERAGE_EFF                   0.0
TEAM_WINS                            1
index1                               3
GAME_NUMBER_TEAM                     1
PTS_LAST_FIVE_AVG                  NaN
FG_PCT_LAST_FIVE_AVG               NaN
FT_PCT_LAST_FIVE_AVG               NaN
FG3_PCT_LAST_FIVE_AVG              NaN
AST_LAST_FIVE_AVG                  NaN
REB_LAST_FIVE_AVG                  NaN
PTS_PREV_FIVE_AVG                  NaN
FG_PCT_PREV_FIVE_AVG               NaN
FT_PCT_PREV_FIVE_AVG               NaN
FG3_PCT_PREV_FIVE_AVG              NaN
AST_PREV_FIVE_AVG                  NaN
REB_PREV_FIVE_AVG                  NaN
PTS_PREV_GAME                      NaN
FG_PCT_PREV_GAME                   NaN
FT_PCT_PREV_GAME                   NaN
FG3_PCT_PREV_GAME                  NaN
AST_PREV_GAME                      NaN
REB_PREV_GAME                      NaN
PTS_SEASON_AVG                91.23913
FG_PCT_SEASON_AVG             0.442576
FT_PCT_SEASON_AVG             0.676848
FG3_PCT_SEASON_AVG            0.348315
AST_SEASON_AVG               20.326087
REB_SEASON_AVG               44.793478
PTS_PREV_SEASON_AVG                NaN
FG_PCT_PREV_SEASON_AVG             NaN
FT_PCT_PREV_SEASON_AVG             NaN
FG3_PCT_PREV_SEASON_AVG            NaN
AST_PREV_SEASON_AVG                NaN
REB_PREV_SEASON_AVG                NaN
Name: 3, dtype: object

In [86]:
game_team_grouped_df[game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs'].iloc[1]

GAME_DATE_EST               2003-10-29
GAME_ID                       20300011
SEASON                            2003
TEAM_ID                     1610612759
TEAM_CITY                  San Antonio
TEAM_NICKNAME                    Spurs
TEAM_PTS                            72
TEAM_FG_PCT                      0.268
TEAM_FT_PCT                      0.783
TEAM_FG3_PCT                     0.154
TEAM_AST                            14
TEAM_REB                            60
TEAM_G                               2
TEAM_W                               1
TEAM_L                               1
TEAM_W_PCT                         0.5
TEAM_HOME_W_PCT                    1.0
TEAM_ROAD_W_PCT                    0.0
TEAM_RANK                           14
TEAM_AVERAGE_EFF                   9.2
TEAM_WINS                            0
index1                              21
GAME_NUMBER_TEAM                     2
PTS_LAST_FIVE_AVG                  NaN
FG_PCT_LAST_FIVE_AVG               NaN
FT_PCT_LAST_FIVE_AVG               NaN
FG3_PCT_LAST_FIVE_AVG              NaN
AST_LAST_FIVE_AVG                  NaN
REB_LAST_FIVE_AVG                  NaN
PTS_PREV_FIVE_AVG                  NaN
FG_PCT_PREV_FIVE_AVG               NaN
FT_PCT_PREV_FIVE_AVG               NaN
FG3_PCT_PREV_FIVE_AVG              NaN
AST_PREV_FIVE_AVG                  NaN
REB_PREV_FIVE_AVG                  NaN
PTS_PREV_GAME                     83.0
FG_PCT_PREV_GAME                 0.425
FT_PCT_PREV_GAME                 0.769
FG3_PCT_PREV_GAME                  0.1
AST_PREV_GAME                     20.0
REB_PREV_GAME                     38.0
PTS_SEASON_AVG                91.23913
FG_PCT_SEASON_AVG             0.442576
FT_PCT_SEASON_AVG             0.676848
FG3_PCT_SEASON_AVG            0.348315
AST_SEASON_AVG               20.326087
REB_SEASON_AVG               44.793478
PTS_PREV_SEASON_AVG                NaN
FG_PCT_PREV_SEASON_AVG             NaN
FT_PCT_PREV_SEASON_AVG             NaN
FG3_PCT_PREV_SEASON_AVG            NaN
AST_PREV_SEASON_AVG                NaN
REB_PREV_SEASON_AVG                NaN
Name: 21, dtype: object

In [87]:
def getMetricUsedInModel(game_number_team, metric_prev_game, metric_prev_season, metric_prev_five):
    if game_number_team == 1:
        if pd.isna(metric_prev_season):
            return 0
        else:
            return metric_prev_season
    else:
        if pd.isna(metric_prev_five):
            return metric_prev_game
        else:
            if game_number_team <= 5:
                return metric_prev_game
            else:
                return metric_prev_five

game_team_grouped_df['TEAM_PTS_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['PTS_PREV_GAME'],
                                                                                                                     game_team_grouped_df['PTS_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['PTS_PREV_FIVE_AVG'])]
game_team_grouped_df['TEAM_FG_PCT_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['FG_PCT_PREV_GAME'],
                                                                                                                     game_team_grouped_df['FG_PCT_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['FG_PCT_PREV_FIVE_AVG'])]
game_team_grouped_df['TEAM_FT_PCT_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['FT_PCT_PREV_GAME'],
                                                                                                                     game_team_grouped_df['FT_PCT_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['FT_PCT_PREV_FIVE_AVG'])]
game_team_grouped_df['TEAM_FG3_PCT_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['FG3_PCT_PREV_GAME'],
                                                                                                                     game_team_grouped_df['FG3_PCT_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['FG3_PCT_PREV_FIVE_AVG'])]
game_team_grouped_df['TEAM_AST_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['AST_PREV_GAME'],
                                                                                                                     game_team_grouped_df['AST_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['AST_PREV_FIVE_AVG'])]
game_team_grouped_df['TEAM_REB_USED_IN_MODEL'] = [getMetricUsedInModel(gnt,mpg,mps,mpf) for (gnt,mpg,mps,mpf) in zip(game_team_grouped_df['GAME_NUMBER_TEAM'],
                                                                                                                     game_team_grouped_df['REB_PREV_GAME'],
                                                                                                                     game_team_grouped_df['REB_PREV_SEASON_AVG'],
                                                                                                                     game_team_grouped_df['REB_PREV_FIVE_AVG'])]
game_team_grouped_df = game_team_grouped_df.rename(columns = {'TEAM_AVERAGE_EFF': 'TEAM_EFF_USED_IN_MODEL'})
game_team_grouped_df.head()

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,FT_PCT_PREV_SEASON_AVG,FG3_PCT_PREV_SEASON_AVG,AST_PREV_SEASON_AVG,REB_PREV_SEASON_AVG,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL
0,2003-10-28,20300001,2003,1610612748,Miami,Heat,74,0.408,0.824,0.25,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,89,0.440,0.533,0.35,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2003-10-28,20300002,2003,1610612756,Phoenix,Suns,82,0.361,0.810,0.50,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,83,0.425,0.769,0.10,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-10-28,20300003,2003,1610612742,Dallas,Mavericks,93,0.376,0.733,0.28,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
game_team_grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 0 to 48181
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GAME_DATE_EST               48182 non-null  object
 1   GAME_ID                     48182 non-null  int64
 2   SEASON                      48182 non-null  int64
 3   TEAM_ID                     48182 non-null  int64
 4   TEAM_CITY                   48182 non-null  object
 5   TEAM_NICKNAME               48182 non-null  object
 6   TEAM_PTS                    48182 non-null  int32
 7   TEAM_FG_PCT                 48182 non-null  float64
 8   TEAM_FT_PCT                 48182 non-null  float64
 9   TEAM_FG3_PCT                48182 non-null  float64
 10  TEAM_AST                    48182 non-null  int32
 11  TEAM_REB                    48182 non-null  int32
 12  TEAM_G                      48182 non-null  int32
 13  TEAM_W                      48182 non-null  int32
 14  TEAM_L                      48182 non-null  int32
 15  TEAM_W_PCT                  48182 non-null  float64
 16  TEAM_HOME_W_PCT             48182 non-null  float64
 17  TEAM_ROAD_W_PCT             48182 non-null  float64
 18  TEAM_RANK                   48182 non-null  int32
 19  TEAM_EFF_USED_IN_MODEL      48182 non-null  float64
 20  TEAM_WINS                   48182 non-null  int32
 21  index1                      48182 non-null  int64
 22  GAME_NUMBER_TEAM            48182 non-null  int64
 23  PTS_LAST_FIVE_AVG           48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG        48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG        48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG       48062 non-null  float64
 27  AST_LAST_FIVE_AVG           48062 non-null  float64
 28  REB_LAST_FIVE_AVG           48062 non-null  float64
 29  PTS_PREV_FIVE_AVG           48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG        48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG        48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG       48032 non-null  float64
 33  AST_PREV_FIVE_AVG           48032 non-null  float64
 34  REB_PREV_FIVE_AVG           48032 non-null  float64
 35  PTS_PREV_GAME               48152 non-null  float64
 36  FG_PCT_PREV_GAME            48152 non-null  float64
 37  FT_PCT_PREV_GAME            48152 non-null  float64
 38  FG3_PCT_PREV_GAME           48152 non-null  float64
 39  AST_PREV_GAME               48152 non-null  float64
 40  REB_PREV_GAME               48152 non-null  float64
 41  PTS_SEASON_AVG              48182 non-null  float64
 42  FG_PCT_SEASON_AVG           48182 non-null  float64
 43  FT_PCT_SEASON_AVG           48182 non-null  float64
 44  FG3_PCT_SEASON_AVG          48182 non-null  float64
 45  AST_SEASON_AVG              48182 non-null  float64
 46  REB_SEASON_AVG              48182 non-null  float64
 47  PTS_PREV_SEASON_AVG         45558 non-null  float64
 48  FG_PCT_PREV_SEASON_AVG      45558 non-null  float64
 49  FT_PCT_PREV_SEASON_AVG      45558 non-null  float64
 50  FG3_PCT_PREV_SEASON_AVG     45558 non-null  float64
 51  AST_PREV_SEASON_AVG         45558 non-null  float64
 52  REB_PREV_SEASON_AVG         45558 non-null  float64
 53  TEAM_PTS_USED_IN_MODEL      48182 non-null  float64
 54  TEAM_FG_PCT_USED_IN_MODEL   48182 non-null  float64
 55  TEAM_FT_PCT_USED_IN_MODEL   48182 non-null  float64
 56  TEAM_FG3_PCT_USED_IN_MODEL  48182 non-null  float64
 57  TEAM_AST_USED_IN_MODEL      48182 non-null  float64
 58  TEAM_REB_USED_IN_MODEL      48182 non-null  float64
dtypes: float64(43), int32(8), int64(5), object(3)
memory usage: 20.6+ MB

In [89]:
game_team_grouped_df[(game_team_grouped_df['SEASON'] == 2013) & (game_team_grouped_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS']]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS
25734,2013-10-30,21300013,2013,1610612759,Spurs,1,102.475728,0.47901,0.783893,0.376019,24.436893,41.563107,11.018742,1
25773,2013-11-01,21300032,2013,1610612759,Spurs,2,101.000000,0.52600,0.625000,0.550000,25.000000,40.000000,9.921875,1
25787,2013-11-02,21300039,2013,1610612759,Spurs,3,91.000000,0.40400,0.714000,0.238000,20.000000,50.000000,8.909091,0
25823,2013-11-05,21300057,2013,1610612759,Spurs,4,105.000000,0.50000,0.625000,0.500000,24.000000,35.000000,9.727273,1
25845,2013-11-06,21300068,2013,1610612759,Spurs,5,102.000000,0.46500,0.900000,0.250000,27.000000,39.000000,11.272727,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28339,2014-06-05,41300401,2013,1610612759,Spurs,101,106.000000,0.44220,0.845200,0.384600,21.800000,45.400000,11.755556,1
28341,2014-06-08,41300402,2013,1610612759,Spurs,102,105.600000,0.45980,0.817200,0.410400,22.400000,42.600000,10.980000,0
28343,2014-06-10,41300403,2013,1610612759,Spurs,103,105.400000,0.46840,0.749600,0.425800,23.200000,42.800000,9.523077,1
28345,2014-06-12,41300404,2013,1610612759,Spurs,104,109.200000,0.50760,0.757600,0.449200,24.000000,40.400000,10.476923,1
28347,2014-06-15,41300405,2013,1610612759,Spurs,105,107.200000,0.51920,0.728200,0.435000,24.400000,39.600000,10.123077,1

### Getting Win/Losing Streak Column that will be used in the model

### Positive values will indicate a winning streak while negative values will indicate a losing streak

In [90]:
def getTeamStreakPositiveNegative(team_wins,team_streak):
    if team_wins == 0:
        return -1*team_streak
    else:
        return team_streak

In [91]:
sorted_team_game_df = game_team_grouped_df.sort_values(['TEAM_ID', 'SEASON', 'GAME_NUMBER_TEAM'])
sorted_team_game_df['TEAM_STREAK'] = sorted_team_game_df['TEAM_WINS'].groupby((sorted_team_game_df['TEAM_WINS'] != sorted_team_game_df.groupby(['TEAM_ID'])['TEAM_WINS'].shift()).cumsum()).cumcount() + 1
sorted_team_game_df['TEAM_STREAK_NEW'] = [getTeamStreakPositiveNegative(tw,ts) for (tw,ts) in zip(sorted_team_game_df['TEAM_WINS'], sorted_team_game_df['TEAM_STREAK'])]

In [92]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2003) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW
3,2003-10-28,20300002,2003,1610612759,Spurs,1,0.0,0.0000,0.0000,0.0000,0.0,0.0,0.000000,1,1,0,1,1
21,2003-10-29,20300011,2003,1610612759,Spurs,2,83.0,0.4250,0.7690,0.1000,20.0,38.0,9.200000,0,1,1,1,-1
69,2003-11-01,20300035,2003,1610612759,Spurs,3,72.0,0.2680,0.7830,0.1540,14.0,60.0,8.600000,1,2,1,1,1
84,2003-11-03,20300043,2003,1610612759,Spurs,4,86.0,0.4290,0.7430,0.3330,20.0,39.0,8.636364,0,2,2,1,-1
101,2003-11-04,20300051,2003,1610612759,Spurs,5,80.0,0.3820,0.7200,0.4000,21.0,48.0,7.500000,1,3,2,1,1
127,2003-11-06,20300064,2003,1610612759,Spurs,6,80.2,0.3692,0.7298,0.2508,17.4,46.6,7.480000,0,3,3,1,-1
163,2003-11-08,20300082,2003,1610612759,Spurs,7,87.0,0.3656,0.7396,0.3242,17.2,48.4,9.022222,0,3,4,2,-2
184,2003-11-10,20300093,2003,1610612759,Spurs,8,88.2,0.3770,0.7446,0.3310,17.4,46.2,10.222222,1,4,4,1,1
207,2003-11-12,20300104,2003,1610612759,Spurs,9,88.4,0.3798,0.7232,0.3310,17.4,46.0,11.844444,1,5,4,2,2
237,2003-11-14,20300119,2003,1610612759,Spurs,10,89.4,0.3854,0.7476,0.3176,16.4,46.4,11.580000,0,5,5,1,-1
252,2003-11-15,20300127,2003,1610612759,Spurs,11,92.6,0.3920,0.7708,0.3274,19.2,47.0,10.890909,1,6,5,1,1
297,2003-11-18,20300149,2003,1610612759,Spurs,12,88.2,0.4056,0.7650,0.3140,21.0,48.2,9.109091,1,7,5,2,2
323,2003-11-20,20300162,2003,1610612759,Spurs,13,91.4,0.4406,0.7100,0.3940,23.4,46.2,10.960000,0,7,6,1,-1
335,2003-11-21,20300168,2003,1610612759,Spurs,14,92.4,0.4406,0.7256,0.3560,24.4,48.0,10.133333,1,8,6,1,1
409,2003-11-26,20300205,2003,1610612759,Spurs,15,98.2,0.4622,0.7072,0.3960,26.8,48.0,10.966667,1,9,6,2,2
443,2003-11-28,20300222,2003,1610612759,Spurs,16,100.8,0.4908,0.6876,0.4186,27.8,46.8,11.083333,0,9,7,1,-1
463,2003-11-29,20300232,2003,1610612759,Spurs,17,99.2,0.4738,0.6534,0.3786,26.0,45.6,11.181818,0,9,8,2,-2
479,2003-12-01,20300240,2003,1610612759,Spurs,18,98.2,0.4548,0.6906,0.2974,24.0,47.4,8.460000,0,9,9,3,-3
501,2003-12-03,20300251,2003,1610612759,Spurs,19,96.4,0.4400,0.6568,0.3234,22.6,47.6,12.088889,0,9,10,4,-4
525,2003-12-05,20300263,2003,1610612759,Spurs,20,90.8,0.4198,0.6488,0.2740,19.8,47.0,9.777778,1,10,10,1,1

In [93]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2004) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW
2565,2004-11-03,20400012,2004,1610612759,Spurs,1,91.23913,0.442576,0.676848,0.348315,20.326087,44.793478,9.864888,1,1,0,1,1
2595,2004-11-05,20400027,2004,1610612759,Spurs,2,101.00000,0.451000,0.769000,0.389000,19.000000,54.000000,11.800000,1,2,0,2,2
2626,2004-11-07,20400043,2004,1610612759,Spurs,3,105.00000,0.476000,0.633000,0.316000,28.000000,41.000000,11.545455,0,2,1,1,-1
2673,2004-11-10,20400066,2004,1610612759,Spurs,4,94.00000,0.425000,0.833000,0.333000,17.000000,32.000000,7.545455,1,3,1,1,1
2697,2004-11-12,20400078,2004,1610612759,Spurs,5,91.00000,0.468000,0.667000,0.429000,19.000000,48.000000,10.181818,1,4,1,2,2
2707,2004-11-13,20400083,2004,1610612759,Spurs,6,96.80000,0.454600,0.697600,0.377600,21.400000,42.000000,9.866667,1,5,1,3,3
2747,2004-11-16,20400103,2004,1610612759,Spurs,7,97.20000,0.451600,0.688200,0.405600,22.200000,41.400000,10.018182,1,6,1,4,4
2775,2004-11-18,20400117,2004,1610612759,Spurs,8,96.00000,0.449200,0.737400,0.399600,21.600000,41.600000,10.980000,1,7,1,5,5
2783,2004-11-19,20400121,2004,1610612759,Spurs,9,94.80000,0.445800,0.708400,0.386400,23.400000,45.200000,9.666667,1,8,1,6,6
2812,2004-11-21,20400136,2004,1610612759,Spurs,10,95.00000,0.446600,0.693600,0.376800,25.000000,41.400000,11.240000,0,8,2,1,-1
2832,2004-11-22,20400146,2004,1610612759,Spurs,11,94.60000,0.433200,0.711800,0.344800,24.400000,43.400000,10.072727,0,8,3,2,-2
2873,2004-11-24,20400166,2004,1610612759,Spurs,12,92.00000,0.433600,0.706600,0.292400,22.400000,41.600000,8.666667,1,9,3,1,1
2897,2004-11-26,20400178,2004,1610612759,Spurs,13,91.00000,0.425400,0.655200,0.318600,22.200000,43.200000,8.366667,1,10,3,2,2
2920,2004-11-27,20400190,2004,1610612759,Spurs,14,91.20000,0.435000,0.682400,0.311400,21.200000,42.200000,8.316667,1,11,3,3,3
2957,2004-11-30,20400208,2004,1610612759,Spurs,15,94.60000,0.458600,0.719800,0.318600,20.000000,43.800000,9.472727,1,12,3,4,4
2975,2004-12-01,20400217,2004,1610612759,Spurs,16,97.80000,0.476400,0.738200,0.284600,20.200000,42.400000,9.300000,1,13,3,5,5
2996,2004-12-03,20400228,2004,1610612759,Spurs,17,100.80000,0.494400,0.750800,0.292000,23.200000,42.800000,11.420000,1,14,3,6,6
3019,2004-12-04,20400239,2004,1610612759,Spurs,18,98.00000,0.496000,0.748200,0.275200,22.000000,42.600000,9.833333,1,15,3,7,7
3041,2004-12-06,20400250,2004,1610612759,Spurs,19,101.00000,0.519400,0.758400,0.286200,23.400000,40.000000,10.183333,1,16,3,8,8
3080,2004-12-08,20400270,2004,1610612759,Spurs,20,97.40000,0.485000,0.752400,0.308000,24.200000,42.800000,11.160000,0,16,4,1,-1

In [94]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2020) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Heat')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW
43832,2020-12-23,22000012,2020,1610612748,Heat,1,111.360825,0.466206,0.79067,0.373804,25.752577,43.56701,12.280272,0,0,1,2,-2
43849,2020-12-25,22000005,2020,1610612748,Heat,2,107.000000,0.506000,0.84200,0.350000,25.000000,43.00000,11.543856,1,1,1,1,1
43918,2020-12-29,22000051,2020,1610612748,Heat,3,111.000000,0.507000,0.82600,0.432000,29.000000,35.00000,7.958929,0,1,2,1,-1
43932,2020-12-30,22000058,2020,1610612748,Heat,4,97.000000,0.468000,0.66700,0.297000,23.000000,30.00000,10.623590,1,2,2,1,1
43959,2021-01-01,22000071,2020,1610612748,Heat,5,119.000000,0.488000,0.82800,0.385000,25.000000,52.00000,8.783333,0,2,3,1,-1
44008,2021-01-04,22000096,2020,1610612748,Heat,6,103.400000,0.468200,0.77660,0.335200,24.400000,40.20000,7.630769,1,3,3,1,1
44039,2021-01-06,22000111,2020,1610612748,Heat,7,105.600000,0.480600,0.71940,0.359400,26.200000,41.00000,13.511111,0,3,4,1,-1
44088,2021-01-09,22000136,2020,1610612748,Heat,8,104.400000,0.465600,0.72340,0.345200,25.600000,42.40000,11.200000,1,4,4,1,1
44126,2021-01-12,22000157,2020,1610612748,Heat,9,110.600000,0.471000,0.74380,0.360200,27.400000,48.60000,9.400000,0,4,5,1,-1
44152,2021-01-14,22000174,2020,1610612748,Heat,10,113.600000,0.465800,0.73660,0.351000,27.800000,47.40000,11.900000,0,4,6,2,-2
44182,2021-01-16,22000192,2020,1610612748,Heat,11,118.600000,0.490200,0.71560,0.379200,29.400000,47.40000,12.036364,0,4,7,3,-3
44202,2021-01-18,22000206,2020,1610612748,Heat,12,115.000000,0.472200,0.78220,0.367800,27.600000,44.20000,10.640000,1,5,7,1,1
44228,2021-01-20,22000220,2020,1610612748,Heat,13,116.600000,0.500400,0.77080,0.375600,27.000000,43.00000,12.777778,1,6,7,2,2
44254,2021-01-22,22000234,2020,1610612748,Heat,14,113.200000,0.499000,0.79340,0.391200,26.400000,40.00000,11.600000,0,6,8,1,-1
44270,2021-01-23,22000244,2020,1610612748,Heat,15,102.600000,0.492400,0.79500,0.368600,24.800000,37.20000,11.340000,0,6,9,2,-2
44300,2021-01-25,22000260,2020,1610612748,Heat,16,105.800000,0.488000,0.84080,0.354600,25.000000,35.20000,11.640000,0,6,10,3,-3
44327,2021-01-27,22000275,2020,1610612748,Heat,17,102.800000,0.466200,0.80420,0.323000,24.000000,38.00000,10.800000,0,6,11,4,-4
44345,2021-01-28,22000285,2020,1610612748,Heat,18,96.600000,0.426600,0.81000,0.300800,24.200000,38.40000,10.666667,0,6,12,5,-5
44376,2021-01-30,22000301,2020,1610612748,Heat,19,95.400000,0.417800,0.79360,0.289600,23.200000,38.20000,11.420000,1,7,12,1,1
44402,2021-02-01,22000314,2020,1610612748,Heat,20,100.200000,0.425600,0.80280,0.313200,24.400000,39.60000,13.840000,0,7,13,1,-1

In [95]:
sorted_team_game_df['TEAM_STREAK_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_STREAK_NEW'].shift()
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2003) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_SHIFT
3,2003-10-28,20300002,2003,1610612759,Spurs,1,0.0,0.0000,0.0000,0.0000,0.0,0.0,0.000000,1,1,0,1,1,NaN
21,2003-10-29,20300011,2003,1610612759,Spurs,2,83.0,0.4250,0.7690,0.1000,20.0,38.0,9.200000,0,1,1,1,-1,1.0
69,2003-11-01,20300035,2003,1610612759,Spurs,3,72.0,0.2680,0.7830,0.1540,14.0,60.0,8.600000,1,2,1,1,1,-1.0
84,2003-11-03,20300043,2003,1610612759,Spurs,4,86.0,0.4290,0.7430,0.3330,20.0,39.0,8.636364,0,2,2,1,-1,1.0
101,2003-11-04,20300051,2003,1610612759,Spurs,5,80.0,0.3820,0.7200,0.4000,21.0,48.0,7.500000,1,3,2,1,1,-1.0
127,2003-11-06,20300064,2003,1610612759,Spurs,6,80.2,0.3692,0.7298,0.2508,17.4,46.6,7.480000,0,3,3,1,-1,1.0
163,2003-11-08,20300082,2003,1610612759,Spurs,7,87.0,0.3656,0.7396,0.3242,17.2,48.4,9.022222,0,3,4,2,-2,-1.0
184,2003-11-10,20300093,2003,1610612759,Spurs,8,88.2,0.3770,0.7446,0.3310,17.4,46.2,10.222222,1,4,4,1,1,-2.0
207,2003-11-12,20300104,2003,1610612759,Spurs,9,88.4,0.3798,0.7232,0.3310,17.4,46.0,11.844444,1,5,4,2,2,1.0
237,2003-11-14,20300119,2003,1610612759,Spurs,10,89.4,0.3854,0.7476,0.3176,16.4,46.4,11.580000,0,5,5,1,-1,2.0
252,2003-11-15,20300127,2003,1610612759,Spurs,11,92.6,0.3920,0.7708,0.3274,19.2,47.0,10.890909,1,6,5,1,1,-1.0
297,2003-11-18,20300149,2003,1610612759,Spurs,12,88.2,0.4056,0.7650,0.3140,21.0,48.2,9.109091,1,7,5,2,2,1.0
323,2003-11-20,20300162,2003,1610612759,Spurs,13,91.4,0.4406,0.7100,0.3940,23.4,46.2,10.960000,0,7,6,1,-1,2.0
335,2003-11-21,20300168,2003,1610612759,Spurs,14,92.4,0.4406,0.7256,0.3560,24.4,48.0,10.133333,1,8,6,1,1,-1.0
409,2003-11-26,20300205,2003,1610612759,Spurs,15,98.2,0.4622,0.7072,0.3960,26.8,48.0,10.966667,1,9,6,2,2,1.0
443,2003-11-28,20300222,2003,1610612759,Spurs,16,100.8,0.4908,0.6876,0.4186,27.8,46.8,11.083333,0,9,7,1,-1,2.0
463,2003-11-29,20300232,2003,1610612759,Spurs,17,99.2,0.4738,0.6534,0.3786,26.0,45.6,11.181818,0,9,8,2,-2,-1.0
479,2003-12-01,20300240,2003,1610612759,Spurs,18,98.2,0.4548,0.6906,0.2974,24.0,47.4,8.460000,0,9,9,3,-3,-2.0
501,2003-12-03,20300251,2003,1610612759,Spurs,19,96.4,0.4400,0.6568,0.3234,22.6,47.6,12.088889,0,9,10,4,-4,-3.0
525,2003-12-05,20300263,2003,1610612759,Spurs,20,90.8,0.4198,0.6488,0.2740,19.8,47.0,9.777778,1,10,10,1,1,-4.0

In [96]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2004) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_SHIFT
2565,2004-11-03,20400012,2004,1610612759,Spurs,1,91.23913,0.442576,0.676848,0.348315,20.326087,44.793478,9.864888,1,1,0,1,1,-4.0
2595,2004-11-05,20400027,2004,1610612759,Spurs,2,101.00000,0.451000,0.769000,0.389000,19.000000,54.000000,11.800000,1,2,0,2,2,1.0
2626,2004-11-07,20400043,2004,1610612759,Spurs,3,105.00000,0.476000,0.633000,0.316000,28.000000,41.000000,11.545455,0,2,1,1,-1,2.0
2673,2004-11-10,20400066,2004,1610612759,Spurs,4,94.00000,0.425000,0.833000,0.333000,17.000000,32.000000,7.545455,1,3,1,1,1,-1.0
2697,2004-11-12,20400078,2004,1610612759,Spurs,5,91.00000,0.468000,0.667000,0.429000,19.000000,48.000000,10.181818,1,4,1,2,2,1.0
2707,2004-11-13,20400083,2004,1610612759,Spurs,6,96.80000,0.454600,0.697600,0.377600,21.400000,42.000000,9.866667,1,5,1,3,3,2.0
2747,2004-11-16,20400103,2004,1610612759,Spurs,7,97.20000,0.451600,0.688200,0.405600,22.200000,41.400000,10.018182,1,6,1,4,4,3.0
2775,2004-11-18,20400117,2004,1610612759,Spurs,8,96.00000,0.449200,0.737400,0.399600,21.600000,41.600000,10.980000,1,7,1,5,5,4.0
2783,2004-11-19,20400121,2004,1610612759,Spurs,9,94.80000,0.445800,0.708400,0.386400,23.400000,45.200000,9.666667,1,8,1,6,6,5.0
2812,2004-11-21,20400136,2004,1610612759,Spurs,10,95.00000,0.446600,0.693600,0.376800,25.000000,41.400000,11.240000,0,8,2,1,-1,6.0
2832,2004-11-22,20400146,2004,1610612759,Spurs,11,94.60000,0.433200,0.711800,0.344800,24.400000,43.400000,10.072727,0,8,3,2,-2,-1.0
2873,2004-11-24,20400166,2004,1610612759,Spurs,12,92.00000,0.433600,0.706600,0.292400,22.400000,41.600000,8.666667,1,9,3,1,1,-2.0
2897,2004-11-26,20400178,2004,1610612759,Spurs,13,91.00000,0.425400,0.655200,0.318600,22.200000,43.200000,8.366667,1,10,3,2,2,1.0
2920,2004-11-27,20400190,2004,1610612759,Spurs,14,91.20000,0.435000,0.682400,0.311400,21.200000,42.200000,8.316667,1,11,3,3,3,2.0
2957,2004-11-30,20400208,2004,1610612759,Spurs,15,94.60000,0.458600,0.719800,0.318600,20.000000,43.800000,9.472727,1,12,3,4,4,3.0
2975,2004-12-01,20400217,2004,1610612759,Spurs,16,97.80000,0.476400,0.738200,0.284600,20.200000,42.400000,9.300000,1,13,3,5,5,4.0
2996,2004-12-03,20400228,2004,1610612759,Spurs,17,100.80000,0.494400,0.750800,0.292000,23.200000,42.800000,11.420000,1,14,3,6,6,5.0
3019,2004-12-04,20400239,2004,1610612759,Spurs,18,98.00000,0.496000,0.748200,0.275200,22.000000,42.600000,9.833333,1,15,3,7,7,6.0
3041,2004-12-06,20400250,2004,1610612759,Spurs,19,101.00000,0.519400,0.758400,0.286200,23.400000,40.000000,10.183333,1,16,3,8,8,7.0
3080,2004-12-08,20400270,2004,1610612759,Spurs,20,97.40000,0.485000,0.752400,0.308000,24.200000,42.800000,11.160000,0,16,4,1,-1,8.0

In [97]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2020) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Heat')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_SHIFT
43832,2020-12-23,22000012,2020,1610612748,Heat,1,111.360825,0.466206,0.79067,0.373804,25.752577,43.56701,12.280272,0,0,1,2,-2,-1.0
43849,2020-12-25,22000005,2020,1610612748,Heat,2,107.000000,0.506000,0.84200,0.350000,25.000000,43.00000,11.543856,1,1,1,1,1,-2.0
43918,2020-12-29,22000051,2020,1610612748,Heat,3,111.000000,0.507000,0.82600,0.432000,29.000000,35.00000,7.958929,0,1,2,1,-1,1.0
43932,2020-12-30,22000058,2020,1610612748,Heat,4,97.000000,0.468000,0.66700,0.297000,23.000000,30.00000,10.623590,1,2,2,1,1,-1.0
43959,2021-01-01,22000071,2020,1610612748,Heat,5,119.000000,0.488000,0.82800,0.385000,25.000000,52.00000,8.783333,0,2,3,1,-1,1.0
44008,2021-01-04,22000096,2020,1610612748,Heat,6,103.400000,0.468200,0.77660,0.335200,24.400000,40.20000,7.630769,1,3,3,1,1,-1.0
44039,2021-01-06,22000111,2020,1610612748,Heat,7,105.600000,0.480600,0.71940,0.359400,26.200000,41.00000,13.511111,0,3,4,1,-1,1.0
44088,2021-01-09,22000136,2020,1610612748,Heat,8,104.400000,0.465600,0.72340,0.345200,25.600000,42.40000,11.200000,1,4,4,1,1,-1.0
44126,2021-01-12,22000157,2020,1610612748,Heat,9,110.600000,0.471000,0.74380,0.360200,27.400000,48.60000,9.400000,0,4,5,1,-1,1.0
44152,2021-01-14,22000174,2020,1610612748,Heat,10,113.600000,0.465800,0.73660,0.351000,27.800000,47.40000,11.900000,0,4,6,2,-2,-1.0
44182,2021-01-16,22000192,2020,1610612748,Heat,11,118.600000,0.490200,0.71560,0.379200,29.400000,47.40000,12.036364,0,4,7,3,-3,-2.0
44202,2021-01-18,22000206,2020,1610612748,Heat,12,115.000000,0.472200,0.78220,0.367800,27.600000,44.20000,10.640000,1,5,7,1,1,-3.0
44228,2021-01-20,22000220,2020,1610612748,Heat,13,116.600000,0.500400,0.77080,0.375600,27.000000,43.00000,12.777778,1,6,7,2,2,1.0
44254,2021-01-22,22000234,2020,1610612748,Heat,14,113.200000,0.499000,0.79340,0.391200,26.400000,40.00000,11.600000,0,6,8,1,-1,2.0
44270,2021-01-23,22000244,2020,1610612748,Heat,15,102.600000,0.492400,0.79500,0.368600,24.800000,37.20000,11.340000,0,6,9,2,-2,-1.0
44300,2021-01-25,22000260,2020,1610612748,Heat,16,105.800000,0.488000,0.84080,0.354600,25.000000,35.20000,11.640000,0,6,10,3,-3,-2.0
44327,2021-01-27,22000275,2020,1610612748,Heat,17,102.800000,0.466200,0.80420,0.323000,24.000000,38.00000,10.800000,0,6,11,4,-4,-3.0
44345,2021-01-28,22000285,2020,1610612748,Heat,18,96.600000,0.426600,0.81000,0.300800,24.200000,38.40000,10.666667,0,6,12,5,-5,-4.0
44376,2021-01-30,22000301,2020,1610612748,Heat,19,95.400000,0.417800,0.79360,0.289600,23.200000,38.20000,11.420000,1,7,12,1,1,-5.0
44402,2021-02-01,22000314,2020,1610612748,Heat,20,100.200000,0.425600,0.80280,0.313200,24.400000,39.60000,13.840000,0,7,13,1,-1,1.0

In [98]:
sorted_team_game_df = sorted_team_game_df.rename(columns = {'TEAM_STREAK_SHIFT': 'TEAM_STREAK_USED_IN_MODEL'})

In [99]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2003) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_USED_IN_MODEL']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_USED_IN_MODEL
3,2003-10-28,20300002,2003,1610612759,Spurs,1,0.0,0.0000,0.0000,0.0000,0.0,0.0,0.000000,1,1,0,1,1,NaN
21,2003-10-29,20300011,2003,1610612759,Spurs,2,83.0,0.4250,0.7690,0.1000,20.0,38.0,9.200000,0,1,1,1,-1,1.0
69,2003-11-01,20300035,2003,1610612759,Spurs,3,72.0,0.2680,0.7830,0.1540,14.0,60.0,8.600000,1,2,1,1,1,-1.0
84,2003-11-03,20300043,2003,1610612759,Spurs,4,86.0,0.4290,0.7430,0.3330,20.0,39.0,8.636364,0,2,2,1,-1,1.0
101,2003-11-04,20300051,2003,1610612759,Spurs,5,80.0,0.3820,0.7200,0.4000,21.0,48.0,7.500000,1,3,2,1,1,-1.0
127,2003-11-06,20300064,2003,1610612759,Spurs,6,80.2,0.3692,0.7298,0.2508,17.4,46.6,7.480000,0,3,3,1,-1,1.0
163,2003-11-08,20300082,2003,1610612759,Spurs,7,87.0,0.3656,0.7396,0.3242,17.2,48.4,9.022222,0,3,4,2,-2,-1.0
184,2003-11-10,20300093,2003,1610612759,Spurs,8,88.2,0.3770,0.7446,0.3310,17.4,46.2,10.222222,1,4,4,1,1,-2.0
207,2003-11-12,20300104,2003,1610612759,Spurs,9,88.4,0.3798,0.7232,0.3310,17.4,46.0,11.844444,1,5,4,2,2,1.0
237,2003-11-14,20300119,2003,1610612759,Spurs,10,89.4,0.3854,0.7476,0.3176,16.4,46.4,11.580000,0,5,5,1,-1,2.0
252,2003-11-15,20300127,2003,1610612759,Spurs,11,92.6,0.3920,0.7708,0.3274,19.2,47.0,10.890909,1,6,5,1,1,-1.0
297,2003-11-18,20300149,2003,1610612759,Spurs,12,88.2,0.4056,0.7650,0.3140,21.0,48.2,9.109091,1,7,5,2,2,1.0
323,2003-11-20,20300162,2003,1610612759,Spurs,13,91.4,0.4406,0.7100,0.3940,23.4,46.2,10.960000,0,7,6,1,-1,2.0
335,2003-11-21,20300168,2003,1610612759,Spurs,14,92.4,0.4406,0.7256,0.3560,24.4,48.0,10.133333,1,8,6,1,1,-1.0
409,2003-11-26,20300205,2003,1610612759,Spurs,15,98.2,0.4622,0.7072,0.3960,26.8,48.0,10.966667,1,9,6,2,2,1.0
443,2003-11-28,20300222,2003,1610612759,Spurs,16,100.8,0.4908,0.6876,0.4186,27.8,46.8,11.083333,0,9,7,1,-1,2.0
463,2003-11-29,20300232,2003,1610612759,Spurs,17,99.2,0.4738,0.6534,0.3786,26.0,45.6,11.181818,0,9,8,2,-2,-1.0
479,2003-12-01,20300240,2003,1610612759,Spurs,18,98.2,0.4548,0.6906,0.2974,24.0,47.4,8.460000,0,9,9,3,-3,-2.0
501,2003-12-03,20300251,2003,1610612759,Spurs,19,96.4,0.4400,0.6568,0.3234,22.6,47.6,12.088889,0,9,10,4,-4,-3.0
525,2003-12-05,20300263,2003,1610612759,Spurs,20,90.8,0.4198,0.6488,0.2740,19.8,47.0,9.777778,1,10,10,1,1,-4.0

In [100]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2005) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_USED_IN_MODEL']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_USED_IN_MODEL
5173,2005-11-01,20500002,2005,1610612759,Spurs,1,96.352381,0.454333,0.725714,0.368771,20.895238,42.32381,11.982224,1,1,0,2,2,1.0
5221,2005-11-04,20500026,2005,1610612759,Spurs,2,102.000000,0.500000,0.762000,0.308000,21.000000,42.00000,10.157591,1,2,0,3,3,2.0
5247,2005-11-05,20500039,2005,1610612759,Spurs,3,102.000000,0.550000,0.500000,0.588000,27.000000,47.00000,10.750000,0,2,1,1,-1,3.0
5269,2005-11-07,20500050,2005,1610612759,Spurs,4,84.000000,0.408000,0.850000,0.357000,14.000000,39.00000,8.300000,1,3,1,1,1,-1.0
5290,2005-11-09,20500061,2005,1610612759,Spurs,5,104.000000,0.453000,0.783000,0.348000,29.000000,49.00000,11.363636,1,4,1,2,2,1.0
5317,2005-11-11,20500074,2005,1610612759,Spurs,6,97.200000,0.480800,0.739000,0.381800,21.400000,44.20000,8.710145,1,5,1,3,3,2.0
5330,2005-11-12,20500081,2005,1610612759,Spurs,7,97.400000,0.493400,0.741200,0.400200,21.000000,44.00000,9.633333,0,5,2,1,-1,3.0
5381,2005-11-15,20500106,2005,1610612759,Spurs,8,96.000000,0.465400,0.814000,0.396800,18.400000,42.40000,8.433333,1,6,2,1,1,-1.0
5403,2005-11-17,20500117,2005,1610612759,Spurs,9,99.800000,0.488600,0.770400,0.392000,20.000000,42.60000,10.940000,1,7,2,2,2,1.0
5443,2005-11-19,20500137,2005,1610612759,Spurs,10,96.200000,0.490200,0.758200,0.377000,18.800000,39.80000,8.933333,1,8,2,3,3,2.0
5465,2005-11-21,20500148,2005,1610612759,Spurs,11,96.800000,0.473000,0.726400,0.348800,18.800000,41.80000,9.836364,1,9,2,4,4,3.0
5501,2005-11-23,20500166,2005,1610612759,Spurs,12,95.400000,0.452200,0.745200,0.313200,18.000000,42.20000,9.200000,1,10,2,5,5,4.0
5521,2005-11-25,20500176,2005,1610612759,Spurs,13,99.000000,0.480000,0.742400,0.291400,21.400000,44.80000,11.280000,0,10,3,1,-1,5.0
5575,2005-11-29,20500203,2005,1610612759,Spurs,14,98.200000,0.465200,0.744000,0.303400,21.200000,45.00000,10.436364,1,11,3,1,1,-1.0
5603,2005-12-01,20500217,2005,1610612759,Spurs,15,99.000000,0.467800,0.711600,0.328800,19.600000,48.20000,10.288889,1,12,3,2,2,1.0
5641,2005-12-03,20500236,2005,1610612759,Spurs,16,98.000000,0.479800,0.714400,0.350000,19.200000,46.40000,9.454545,1,13,3,3,3,2.0
5659,2005-12-05,20500245,2005,1610612759,Spurs,17,98.800000,0.484400,0.670400,0.383400,21.600000,46.60000,10.400000,1,14,3,4,4,3.0
5695,2005-12-07,20500263,2005,1610612759,Spurs,18,98.200000,0.484400,0.639200,0.368800,20.400000,45.20000,10.133333,1,15,3,5,5,4.0
5719,2005-12-09,20500275,2005,1610612759,Spurs,19,98.000000,0.488200,0.663200,0.323600,21.000000,45.20000,10.763636,1,16,3,6,6,5.0
5731,2005-12-10,20500281,2005,1610612759,Spurs,20,100.200000,0.492200,0.706800,0.316400,22.200000,43.80000,12.480000,0,16,4,1,-1,6.0

In [101]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2018) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Bucks')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'TEAM_W', 'TEAM_L', 'TEAM_STREAK', 'TEAM_STREAK_NEW', 'TEAM_STREAK_USED_IN_MODEL']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_EFF_USED_IN_MODEL,TEAM_WINS,TEAM_W,TEAM_L,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_USED_IN_MODEL
38848,2018-10-17,21800003,2018,1610612749,Bucks,1,106.11236,0.480787,0.777281,0.357764,23.134831,39.741573,12.532143,1,1,0,1,1,-1.0
38888,2018-10-19,21800023,2018,1610612749,Bucks,2,113.00000,0.494000,0.750000,0.412000,26.000000,57.000000,11.346316,1,2,0,2,2,1.0
38926,2018-10-22,21800042,2018,1610612749,Bucks,3,118.00000,0.473000,0.619000,0.370000,27.000000,50.000000,15.333333,1,3,0,3,3,2.0
38960,2018-10-24,21800059,2018,1610612749,Bucks,4,124.00000,0.469000,0.708000,0.425000,27.000000,55.000000,16.444444,1,4,0,4,4,3.0
38984,2018-10-26,21800071,2018,1610612749,Bucks,5,123.00000,0.410000,0.933000,0.302000,24.000000,51.000000,11.568269,1,5,0,5,5,4.0
39004,2018-10-27,21800081,2018,1610612749,Bucks,6,120.60000,0.475800,0.747400,0.384400,27.200000,55.000000,13.061538,1,6,0,6,6,5.0
39026,2018-10-29,21800092,2018,1610612749,Bucks,7,120.60000,0.477000,0.780000,0.368600,26.800000,55.000000,9.415385,1,7,0,7,7,6.0
39073,2018-11-01,21800115,2018,1610612749,Bucks,8,121.80000,0.480200,0.814000,0.379000,27.000000,56.400000,15.180000,0,7,1,1,-1,7.0
39108,2018-11-04,21800133,2018,1610612749,Bucks,9,119.60000,0.482800,0.819000,0.356000,25.600000,54.400000,12.046154,1,8,1,1,1,-1.0
39146,2018-11-06,21800152,2018,1610612749,Bucks,10,123.80000,0.497600,0.814200,0.374200,26.800000,55.400000,15.060000,0,8,2,1,-1,1.0
39175,2018-11-08,21800166,2018,1610612749,Bucks,11,119.40000,0.478000,0.843800,0.367800,25.600000,51.400000,11.215385,1,9,2,1,1,-1.0
39193,2018-11-10,21800175,2018,1610612749,Bucks,12,123.60000,0.481000,0.816800,0.352600,27.400000,49.200000,14.060000,0,9,3,1,-1,1.0
39217,2018-11-11,21800187,2018,1610612749,Bucks,13,124.00000,0.472800,0.798200,0.337800,28.000000,48.200000,13.820000,1,10,3,1,1,-1.0
39256,2018-11-14,21800207,2018,1610612749,Bucks,14,125.60000,0.490600,0.774600,0.375800,29.400000,47.400000,13.800000,0,10,4,1,-1,1.0
39289,2018-11-16,21800223,2018,1610612749,Bucks,15,119.40000,0.495000,0.755800,0.348600,27.800000,45.000000,11.325641,1,11,4,1,1,-1.0
39333,2018-11-19,21800245,2018,1610612749,Bucks,16,123.40000,0.509000,0.710200,0.356200,28.200000,47.600000,14.600000,1,12,4,2,2,1.0
39360,2018-11-21,21800259,2018,1610612749,Bucks,17,117.40000,0.497000,0.672800,0.366000,25.800000,48.600000,10.938462,1,13,4,3,3,2.0
39392,2018-11-23,21800275,2018,1610612749,Bucks,18,120.80000,0.513000,0.698400,0.363000,26.400000,50.000000,13.090909,0,13,5,1,-1,3.0
39410,2018-11-24,21800284,2018,1610612749,Bucks,19,119.40000,0.495400,0.708800,0.308400,27.000000,50.400000,13.360000,1,14,5,1,1,-1.0
39430,2018-11-26,21800294,2018,1610612749,Bucks,20,123.80000,0.508200,0.697600,0.332000,28.600000,49.800000,12.854545,0,14,6,1,-1,1.0

In [102]:
sorted_team_game_df[(sorted_team_game_df['TEAM_CITY'] == 'Charlotte') & (sorted_team_game_df['GAME_DATE_EST'] == '2004-11-04')]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,TEAM_PTS,TEAM_FG_PCT,TEAM_FT_PCT,TEAM_FG3_PCT,...,REB_PREV_SEASON_AVG,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,TEAM_FT_PCT_USED_IN_MODEL,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_STREAK,TEAM_STREAK_NEW,TEAM_STREAK_USED_IN_MODEL
2575,2004-11-04,20400017,2004,1610612766,Charlotte,Hornets,96,0.474,0.656,0.125,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1,-1,NaN

### Getting the record W_PCT's columns for the model

### These columns are overall W_PCT, home W_PCT, and road W_PCT for each team

In [103]:
sorted_team_game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 10 to 48161
Data columns (total 62 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GAME_DATE_EST               48182 non-null  object
 1   GAME_ID                     48182 non-null  int64
 2   SEASON                      48182 non-null  int64
 3   TEAM_ID                     48182 non-null  int64
 4   TEAM_CITY                   48182 non-null  object
 5   TEAM_NICKNAME               48182 non-null  object
 6   TEAM_PTS                    48182 non-null  int32
 7   TEAM_FG_PCT                 48182 non-null  float64
 8   TEAM_FT_PCT                 48182 non-null  float64
 9   TEAM_FG3_PCT                48182 non-null  float64
 10  TEAM_AST                    48182 non-null  int32
 11  TEAM_REB                    48182 non-null  int32
 12  TEAM_G                      48182 non-null  int32
 13  TEAM_W                      48182 non-null  int32
 14  TEAM_L                      48182 non-null  int32
 15  TEAM_W_PCT                  48182 non-null  float64
 16  TEAM_HOME_W_PCT             48182 non-null  float64
 17  TEAM_ROAD_W_PCT             48182 non-null  float64
 18  TEAM_RANK                   48182 non-null  int32
 19  TEAM_EFF_USED_IN_MODEL      48182 non-null  float64
 20  TEAM_WINS                   48182 non-null  int32
 21  index1                      48182 non-null  int64
 22  GAME_NUMBER_TEAM            48182 non-null  int64
 23  PTS_LAST_FIVE_AVG           48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG        48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG        48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG       48062 non-null  float64
 27  AST_LAST_FIVE_AVG           48062 non-null  float64
 28  REB_LAST_FIVE_AVG           48062 non-null  float64
 29  PTS_PREV_FIVE_AVG           48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG        48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG        48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG       48032 non-null  float64
 33  AST_PREV_FIVE_AVG           48032 non-null  float64
 34  REB_PREV_FIVE_AVG           48032 non-null  float64
 35  PTS_PREV_GAME               48152 non-null  float64
 36  FG_PCT_PREV_GAME            48152 non-null  float64
 37  FT_PCT_PREV_GAME            48152 non-null  float64
 38  FG3_PCT_PREV_GAME           48152 non-null  float64
 39  AST_PREV_GAME               48152 non-null  float64
 40  REB_PREV_GAME               48152 non-null  float64
 41  PTS_SEASON_AVG              48182 non-null  float64
 42  FG_PCT_SEASON_AVG           48182 non-null  float64
 43  FT_PCT_SEASON_AVG           48182 non-null  float64
 44  FG3_PCT_SEASON_AVG          48182 non-null  float64
 45  AST_SEASON_AVG              48182 non-null  float64
 46  REB_SEASON_AVG              48182 non-null  float64
 47  PTS_PREV_SEASON_AVG         45558 non-null  float64
 48  FG_PCT_PREV_SEASON_AVG      45558 non-null  float64
 49  FT_PCT_PREV_SEASON_AVG      45558 non-null  float64
 50  FG3_PCT_PREV_SEASON_AVG     45558 non-null  float64
 51  AST_PREV_SEASON_AVG         45558 non-null  float64
 52  REB_PREV_SEASON_AVG         45558 non-null  float64
 53  TEAM_PTS_USED_IN_MODEL      48182 non-null  float64
 54  TEAM_FG_PCT_USED_IN_MODEL   48182 non-null  float64
 55  TEAM_FT_PCT_USED_IN_MODEL   48182 non-null  float64
 56  TEAM_FG3_PCT_USED_IN_MODEL  48182 non-null  float64
 57  TEAM_AST_USED_IN_MODEL      48182 non-null  float64
 58  TEAM_REB_USED_IN_MODEL      48182 non-null  float64
 59  TEAM_STREAK                 48182 non-null  int64
 60  TEAM_STREAK_NEW             48182 non-null  int64
 61  TEAM_STREAK_USED_IN_MODEL   48152 non-null  float64
dtypes: float64(44), int32(8), int64(7), object(3)
memory usage: 22.7+ MB

In [104]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2003) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_W', 'TEAM_L', 'TEAM_W_PCT', 'TEAM_HOME_W_PCT', 'TEAM_ROAD_W_PCT', 'TEAM_RANK']]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_RANK
3,2003-10-28,20300002,2003,1610612759,Spurs,1,1,0,1.000,1.000,0.000,1
21,2003-10-29,20300011,2003,1610612759,Spurs,2,1,1,0.500,1.000,0.000,14
69,2003-11-01,20300035,2003,1610612759,Spurs,3,2,1,0.667,1.000,0.000,5
84,2003-11-03,20300043,2003,1610612759,Spurs,4,2,2,0.500,1.000,0.000,17
101,2003-11-04,20300051,2003,1610612759,Spurs,5,3,2,0.600,1.000,0.000,13
...,...,...,...,...,...,...,...,...,...,...,...,...
2463,2004-05-05,40300232,2003,1610612759,Spurs,88,57,25,0.695,0.805,0.585,3
2475,2004-05-09,40300233,2003,1610612759,Spurs,89,57,25,0.695,0.805,0.585,3
2483,2004-05-11,40300234,2003,1610612759,Spurs,90,57,25,0.695,0.805,0.585,3
2489,2004-05-13,40300235,2003,1610612759,Spurs,91,57,25,0.695,0.805,0.585,3
2497,2004-05-15,40300236,2003,1610612759,Spurs,92,57,25,0.695,0.805,0.585,3

In [105]:
sorted_team_game_df['TEAM_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_W_PCT'].shift(1)
sorted_team_game_df['TEAM_HOME_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_HOME_W_PCT'].shift(1)
sorted_team_game_df['TEAM_ROAD_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_ROAD_W_PCT'].shift(1)
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2003) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_W', 'TEAM_L', 'TEAM_W_PCT', 'TEAM_HOME_W_PCT', 'TEAM_ROAD_W_PCT', 'TEAM_W_PCT_SHIFT', 'TEAM_HOME_W_PCT_SHIFT', 'TEAM_ROAD_W_PCT_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_W_PCT_SHIFT,TEAM_HOME_W_PCT_SHIFT,TEAM_ROAD_W_PCT_SHIFT
3,2003-10-28,20300002,2003,1610612759,Spurs,1,1,0,1.000,1.000,0.000,NaN,NaN,NaN
21,2003-10-29,20300011,2003,1610612759,Spurs,2,1,1,0.500,1.000,0.000,1.000,1.000,0.000
69,2003-11-01,20300035,2003,1610612759,Spurs,3,2,1,0.667,1.000,0.000,0.500,1.000,0.000
84,2003-11-03,20300043,2003,1610612759,Spurs,4,2,2,0.500,1.000,0.000,0.667,1.000,0.000
101,2003-11-04,20300051,2003,1610612759,Spurs,5,3,2,0.600,1.000,0.000,0.500,1.000,0.000
127,2003-11-06,20300064,2003,1610612759,Spurs,6,3,3,0.500,0.750,0.000,0.600,1.000,0.000
163,2003-11-08,20300082,2003,1610612759,Spurs,7,3,4,0.429,0.600,0.000,0.500,0.750,0.000
184,2003-11-10,20300093,2003,1610612759,Spurs,8,4,4,0.500,0.667,0.000,0.429,0.600,0.000
207,2003-11-12,20300104,2003,1610612759,Spurs,9,5,4,0.556,0.667,0.333,0.500,0.667,0.000
237,2003-11-14,20300119,2003,1610612759,Spurs,10,5,5,0.500,0.667,0.250,0.556,0.667,0.333
252,2003-11-15,20300127,2003,1610612759,Spurs,11,6,5,0.545,0.667,0.400,0.500,0.667,0.250
297,2003-11-18,20300149,2003,1610612759,Spurs,12,7,5,0.583,0.714,0.400,0.545,0.667,0.400
323,2003-11-20,20300162,2003,1610612759,Spurs,13,7,6,0.538,0.714,0.333,0.583,0.714,0.400
335,2003-11-21,20300168,2003,1610612759,Spurs,14,8,6,0.571,0.750,0.333,0.538,0.714,0.333
409,2003-11-26,20300205,2003,1610612759,Spurs,15,9,6,0.600,0.778,0.333,0.571,0.750,0.333
443,2003-11-28,20300222,2003,1610612759,Spurs,16,9,7,0.563,0.778,0.286,0.600,0.778,0.333
463,2003-11-29,20300232,2003,1610612759,Spurs,17,9,8,0.529,0.778,0.250,0.563,0.778,0.286
479,2003-12-01,20300240,2003,1610612759,Spurs,18,9,9,0.500,0.778,0.222,0.529,0.778,0.250
501,2003-12-03,20300251,2003,1610612759,Spurs,19,9,10,0.474,0.700,0.222,0.500,0.778,0.222
525,2003-12-05,20300263,2003,1610612759,Spurs,20,10,10,0.500,0.700,0.300,0.474,0.700,0.222

In [106]:
sorted_team_game_df['TEAM_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_W_PCT'].shift(1)
sorted_team_game_df['TEAM_HOME_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_HOME_W_PCT'].shift(1)
sorted_team_game_df['TEAM_ROAD_W_PCT_SHIFT'] = sorted_team_game_df.groupby('TEAM_ID')['TEAM_ROAD_W_PCT'].shift(1)
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2005) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_W', 'TEAM_L', 'TEAM_W_PCT', 'TEAM_HOME_W_PCT', 'TEAM_ROAD_W_PCT', 'TEAM_W_PCT_SHIFT', 'TEAM_HOME_W_PCT_SHIFT', 'TEAM_ROAD_W_PCT_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_W_PCT_SHIFT,TEAM_HOME_W_PCT_SHIFT,TEAM_ROAD_W_PCT_SHIFT
5173,2005-11-01,20500002,2005,1610612759,Spurs,1,1,0,1.000,1.000,0.000,0.720,0.927,0.512
5221,2005-11-04,20500026,2005,1610612759,Spurs,2,2,0,1.000,1.000,0.000,1.000,1.000,0.000
5247,2005-11-05,20500039,2005,1610612759,Spurs,3,2,1,0.667,1.000,0.000,1.000,1.000,0.000
5269,2005-11-07,20500050,2005,1610612759,Spurs,4,3,1,0.750,1.000,0.500,0.667,1.000,0.000
5290,2005-11-09,20500061,2005,1610612759,Spurs,5,4,1,0.800,1.000,0.667,0.750,1.000,0.500
5317,2005-11-11,20500074,2005,1610612759,Spurs,6,5,1,0.833,1.000,0.750,0.800,1.000,0.667
5330,2005-11-12,20500081,2005,1610612759,Spurs,7,5,2,0.714,1.000,0.600,0.833,1.000,0.750
5381,2005-11-15,20500106,2005,1610612759,Spurs,8,6,2,0.750,1.000,0.600,0.714,1.000,0.600
5403,2005-11-17,20500117,2005,1610612759,Spurs,9,7,2,0.778,1.000,0.600,0.750,1.000,0.600
5443,2005-11-19,20500137,2005,1610612759,Spurs,10,8,2,0.800,1.000,0.600,0.778,1.000,0.600
5465,2005-11-21,20500148,2005,1610612759,Spurs,11,9,2,0.818,1.000,0.667,0.800,1.000,0.600
5501,2005-11-23,20500166,2005,1610612759,Spurs,12,10,2,0.833,1.000,0.714,0.818,1.000,0.667
5521,2005-11-25,20500176,2005,1610612759,Spurs,13,10,3,0.769,0.833,0.714,0.833,1.000,0.714
5575,2005-11-29,20500203,2005,1610612759,Spurs,14,11,3,0.786,0.857,0.714,0.769,0.833,0.714
5603,2005-12-01,20500217,2005,1610612759,Spurs,15,12,3,0.800,0.857,0.750,0.786,0.857,0.714
5641,2005-12-03,20500236,2005,1610612759,Spurs,16,13,3,0.813,0.875,0.750,0.800,0.857,0.750
5659,2005-12-05,20500245,2005,1610612759,Spurs,17,14,3,0.824,0.875,0.778,0.813,0.875,0.750
5695,2005-12-07,20500263,2005,1610612759,Spurs,18,15,3,0.833,0.889,0.778,0.824,0.875,0.778
5719,2005-12-09,20500275,2005,1610612759,Spurs,19,16,3,0.842,0.900,0.778,0.833,0.889,0.778
5731,2005-12-10,20500281,2005,1610612759,Spurs,20,16,4,0.800,0.900,0.700,0.842,0.900,0.778

In [107]:
sorted_team_game_df[(sorted_team_game_df['SEASON'] == 2016) & (sorted_team_game_df['TEAM_NICKNAME'] == 'Spurs')][['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_W', 'TEAM_L', 'TEAM_W_PCT', 'TEAM_HOME_W_PCT', 'TEAM_ROAD_W_PCT', 'TEAM_W_PCT_SHIFT', 'TEAM_HOME_W_PCT_SHIFT', 'TEAM_ROAD_W_PCT_SHIFT']].head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_W,TEAM_L,TEAM_W_PCT,TEAM_HOME_W_PCT,TEAM_ROAD_W_PCT,TEAM_W_PCT_SHIFT,TEAM_HOME_W_PCT_SHIFT,TEAM_ROAD_W_PCT_SHIFT
33607,2016-10-25,21600003,2016,1610612759,Spurs,1,1,0,1.000,0.000,1.0,0.817,0.976,0.659
33633,2016-10-27,21600016,2016,1610612759,Spurs,2,2,0,1.000,0.000,1.0,1.000,0.000,1.000
33665,2016-10-29,21600032,2016,1610612759,Spurs,3,3,0,1.000,1.000,1.0,1.000,0.000,1.000
33675,2016-10-30,21600037,2016,1610612759,Spurs,4,4,0,1.000,1.000,1.0,1.000,1.000,1.000
33706,2016-11-01,21600053,2016,1610612759,Spurs,5,4,1,0.800,0.500,1.0,1.000,1.000,1.000
33754,2016-11-04,21600077,2016,1610612759,Spurs,6,5,1,0.833,0.500,1.0,0.800,0.500,1.000
33773,2016-11-05,21600086,2016,1610612759,Spurs,7,5,2,0.714,0.333,1.0,0.833,0.500,1.000
33829,2016-11-09,21600114,2016,1610612759,Spurs,8,5,3,0.625,0.250,1.0,0.714,0.333,1.000
33854,2016-11-11,21600127,2016,1610612759,Spurs,9,6,3,0.667,0.400,1.0,0.625,0.250,1.000
33869,2016-11-12,21600134,2016,1610612759,Spurs,10,7,3,0.700,0.400,1.0,0.667,0.400,1.000
33901,2016-11-14,21600150,2016,1610612759,Spurs,11,8,3,0.727,0.500,1.0,0.700,0.400,1.000
33937,2016-11-16,21600168,2016,1610612759,Spurs,12,9,3,0.750,0.500,1.0,0.727,0.500,1.000
33965,2016-11-18,21600182,2016,1610612759,Spurs,13,10,3,0.769,0.500,1.0,0.750,0.500,1.000
34013,2016-11-21,21600206,2016,1610612759,Spurs,14,11,3,0.786,0.571,1.0,0.769,0.500,1.000
34026,2016-11-23,21600213,2016,1610612759,Spurs,15,12,3,0.800,0.571,1.0,0.786,0.571,1.000
34051,2016-11-25,21600225,2016,1610612759,Spurs,16,13,3,0.813,0.571,1.0,0.800,0.571,1.000
34080,2016-11-26,21600240,2016,1610612759,Spurs,17,14,3,0.824,0.571,1.0,0.813,0.571,1.000
34129,2016-11-29,21600264,2016,1610612759,Spurs,18,14,4,0.778,0.500,1.0,0.824,0.571,1.000
34143,2016-11-30,21600272,2016,1610612759,Spurs,19,15,4,0.789,0.500,1.0,0.778,0.500,1.000
34176,2016-12-02,21600289,2016,1610612759,Spurs,20,16,4,0.800,0.556,1.0,0.789,0.500,1.000

In [108]:
sorted_team_game_df = sorted_team_game_df.rename(columns={'TEAM_W_PCT_SHIFT': 'TEAM_W_PCT_USED_IN_MODEL',
                                                          'TEAM_HOME_W_PCT_SHIFT': 'TEAM_HOME_W_PCT_USED_IN_MODEL',
                                                          'TEAM_ROAD_W_PCT_SHIFT': 'TEAM_ROAD_W_PCT_USED_IN_MODEL'})
sorted_team_game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 10 to 48161
Data columns (total 65 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GAME_DATE_EST                  48182 non-null  object
 1   GAME_ID                        48182 non-null  int64
 2   SEASON                         48182 non-null  int64
 3   TEAM_ID                        48182 non-null  int64
 4   TEAM_CITY                      48182 non-null  object
 5   TEAM_NICKNAME                  48182 non-null  object
 6   TEAM_PTS                       48182 non-null  int32
 7   TEAM_FG_PCT                    48182 non-null  float64
 8   TEAM_FT_PCT                    48182 non-null  float64
 9   TEAM_FG3_PCT                   48182 non-null  float64
 10  TEAM_AST                       48182 non-null  int32
 11  TEAM_REB                       48182 non-null  int32
 12  TEAM_G                         48182 non-null  int32
 13  TEAM_W                         48182 non-null  int32
 14  TEAM_L                         48182 non-null  int32
 15  TEAM_W_PCT                     48182 non-null  float64
 16  TEAM_HOME_W_PCT                48182 non-null  float64
 17  TEAM_ROAD_W_PCT                48182 non-null  float64
 18  TEAM_RANK                      48182 non-null  int32
 19  TEAM_EFF_USED_IN_MODEL         48182 non-null  float64
 20  TEAM_WINS                      48182 non-null  int32
 21  index1                         48182 non-null  int64
 22  GAME_NUMBER_TEAM               48182 non-null  int64
 23  PTS_LAST_FIVE_AVG              48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG           48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG           48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG          48062 non-null  float64
 27  AST_LAST_FIVE_AVG              48062 non-null  float64
 28  REB_LAST_FIVE_AVG              48062 non-null  float64
 29  PTS_PREV_FIVE_AVG              48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG           48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG           48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG          48032 non-null  float64
 33  AST_PREV_FIVE_AVG              48032 non-null  float64
 34  REB_PREV_FIVE_AVG              48032 non-null  float64
 35  PTS_PREV_GAME                  48152 non-null  float64
 36  FG_PCT_PREV_GAME               48152 non-null  float64
 37  FT_PCT_PREV_GAME               48152 non-null  float64
 38  FG3_PCT_PREV_GAME              48152 non-null  float64
 39  AST_PREV_GAME                  48152 non-null  float64
 40  REB_PREV_GAME                  48152 non-null  float64
 41  PTS_SEASON_AVG                 48182 non-null  float64
 42  FG_PCT_SEASON_AVG              48182 non-null  float64
 43  FT_PCT_SEASON_AVG              48182 non-null  float64
 44  FG3_PCT_SEASON_AVG             48182 non-null  float64
 45  AST_SEASON_AVG                 48182 non-null  float64
 46  REB_SEASON_AVG                 48182 non-null  float64
 47  PTS_PREV_SEASON_AVG            45558 non-null  float64
 48  FG_PCT_PREV_SEASON_AVG         45558 non-null  float64
 49  FT_PCT_PREV_SEASON_AVG         45558 non-null  float64
 50  FG3_PCT_PREV_SEASON_AVG        45558 non-null  float64
 51  AST_PREV_SEASON_AVG            45558 non-null  float64
 52  REB_PREV_SEASON_AVG            45558 non-null  float64
 53  TEAM_PTS_USED_IN_MODEL         48182 non-null  float64
 54  TEAM_FG_PCT_USED_IN_MODEL      48182 non-null  float64
 55  TEAM_FT_PCT_USED_IN_MODEL      48182 non-null  float64
 56  TEAM_FG3_PCT_USED_IN_MODEL     48182 non-null  float64
 57  TEAM_AST_USED_IN_MODEL         48182 non-null  float64
 58  TEAM_REB_USED_IN_MODEL         48182 non-null  float64
 59  TEAM_STREAK                    48182 non-null  int64
 60  TEAM_STREAK_NEW                48182 non-null  int64
 61  TEAM_STREAK_USED_IN_MODEL      48152 non-null  float64
 62  TEAM_W_PCT_USED_IN_MODEL       48152 non-null  float64
 63  TEAM_HOME_W_PCT_USED_IN_MODEL  48152 non-null  float64
 64  TEAM_ROAD_W_PCT_USED_IN_MODEL  48152 non-null  float64
dtypes: float64(47), int32(8), int64(7), object(3)
memory usage: 23.8+ MB

### At this point, it appears that all of the columns needed for the model have been created

### Will export this dataset to a csv file

#### There should be 24091 rows when combining the two datasets
#### This 24091 value will be reduced later on as the model won't include the first game of the 2003-2204 season for 29 teams nor the first game of the 2004-2005 season for the Charlotte team

In [109]:
print(len(sorted_team_game_df['GAME_ID'].unique()))
print(sorted_team_game_df['GAME_ID'].nunique())
print(df['GAME_ID'].nunique())
print(len(df['GAME_ID'].unique()))

24091
24091
24091
24091

In [110]:
sorted_team_game_df.to_csv('Dataset at Team Level.csv', index=False)

## Have to join the dataset at the team level with the original dataset to get HOME_TEAM and AWAY_TEAM information

In [111]:
sorted_team_game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 10 to 48161
Data columns (total 65 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GAME_DATE_EST                  48182 non-null  object
 1   GAME_ID                        48182 non-null  int64
 2   SEASON                         48182 non-null  int64
 3   TEAM_ID                        48182 non-null  int64
 4   TEAM_CITY                      48182 non-null  object
 5   TEAM_NICKNAME                  48182 non-null  object
 6   TEAM_PTS                       48182 non-null  int32
 7   TEAM_FG_PCT                    48182 non-null  float64
 8   TEAM_FT_PCT                    48182 non-null  float64
 9   TEAM_FG3_PCT                   48182 non-null  float64
 10  TEAM_AST                       48182 non-null  int32
 11  TEAM_REB                       48182 non-null  int32
 12  TEAM_G                         48182 non-null  int32
 13  TEAM_W                         48182 non-null  int32
 14  TEAM_L                         48182 non-null  int32
 15  TEAM_W_PCT                     48182 non-null  float64
 16  TEAM_HOME_W_PCT                48182 non-null  float64
 17  TEAM_ROAD_W_PCT                48182 non-null  float64
 18  TEAM_RANK                      48182 non-null  int32
 19  TEAM_EFF_USED_IN_MODEL         48182 non-null  float64
 20  TEAM_WINS                      48182 non-null  int32
 21  index1                         48182 non-null  int64
 22  GAME_NUMBER_TEAM               48182 non-null  int64
 23  PTS_LAST_FIVE_AVG              48062 non-null  float64
 24  FG_PCT_LAST_FIVE_AVG           48062 non-null  float64
 25  FT_PCT_LAST_FIVE_AVG           48062 non-null  float64
 26  FG3_PCT_LAST_FIVE_AVG          48062 non-null  float64
 27  AST_LAST_FIVE_AVG              48062 non-null  float64
 28  REB_LAST_FIVE_AVG              48062 non-null  float64
 29  PTS_PREV_FIVE_AVG              48032 non-null  float64
 30  FG_PCT_PREV_FIVE_AVG           48032 non-null  float64
 31  FT_PCT_PREV_FIVE_AVG           48032 non-null  float64
 32  FG3_PCT_PREV_FIVE_AVG          48032 non-null  float64
 33  AST_PREV_FIVE_AVG              48032 non-null  float64
 34  REB_PREV_FIVE_AVG              48032 non-null  float64
 35  PTS_PREV_GAME                  48152 non-null  float64
 36  FG_PCT_PREV_GAME               48152 non-null  float64
 37  FT_PCT_PREV_GAME               48152 non-null  float64
 38  FG3_PCT_PREV_GAME              48152 non-null  float64
 39  AST_PREV_GAME                  48152 non-null  float64
 40  REB_PREV_GAME                  48152 non-null  float64
 41  PTS_SEASON_AVG                 48182 non-null  float64
 42  FG_PCT_SEASON_AVG              48182 non-null  float64
 43  FT_PCT_SEASON_AVG              48182 non-null  float64
 44  FG3_PCT_SEASON_AVG             48182 non-null  float64
 45  AST_SEASON_AVG                 48182 non-null  float64
 46  REB_SEASON_AVG                 48182 non-null  float64
 47  PTS_PREV_SEASON_AVG            45558 non-null  float64
 48  FG_PCT_PREV_SEASON_AVG         45558 non-null  float64
 49  FT_PCT_PREV_SEASON_AVG         45558 non-null  float64
 50  FG3_PCT_PREV_SEASON_AVG        45558 non-null  float64
 51  AST_PREV_SEASON_AVG            45558 non-null  float64
 52  REB_PREV_SEASON_AVG            45558 non-null  float64
 53  TEAM_PTS_USED_IN_MODEL         48182 non-null  float64
 54  TEAM_FG_PCT_USED_IN_MODEL      48182 non-null  float64
 55  TEAM_FT_PCT_USED_IN_MODEL      48182 non-null  float64
 56  TEAM_FG3_PCT_USED_IN_MODEL     48182 non-null  float64
 57  TEAM_AST_USED_IN_MODEL         48182 non-null  float64
 58  TEAM_REB_USED_IN_MODEL         48182 non-null  float64
 59  TEAM_STREAK                    48182 non-null  int64
 60  TEAM_STREAK_NEW                48182 non-null  int64
 61  TEAM_STREAK_USED_IN_MODEL      48152 non-null  float64
 62  TEAM_W_PCT_USED_IN_MODEL       48152 non-null  float64
 63  TEAM_HOME_W_PCT_USED_IN_MODEL  48152 non-null  float64
 64  TEAM_ROAD_W_PCT_USED_IN_MODEL  48152 non-null  float64
dtypes: float64(47), int32(8), int64(7), object(3)
memory usage: 23.8+ MB

In [112]:
df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away',
       'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS',
       'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'TEAM_NICKNAME',
       'PLAYER_ID', 'PLAYER_NAME', 'PLAYER_NICKNAME', 'START_POSITION',
       'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TO', 'PF', 'PTS', 'PLUS_MINUS', 'EFF', 'NICKNAME_HOME', 'CITY_HOME',
       'NICKNAME_AWAY', 'CITY_AWAY', 'TEAM_HOME', 'G_HOME', 'W_HOME', 'L_HOME',
       'W_PCT_HOME', 'HOME_RECORD_HOME', 'ROAD_RECORD_HOME', 'HOME_W_PCT_HOME',
       'ROAD_W_PCT_HOME', 'RANK_HOME', 'TEAM_AWAY', 'G_AWAY', 'W_AWAY',
       'L_AWAY', 'W_PCT_AWAY', 'HOME_RECORD_AWAY', 'ROAD_RECORD_AWAY',
       'HOME_W_PCT_AWAY', 'ROAD_W_PCT_AWAY', 'RANK_AWAY', 'GAME_NUMBER_TEAM',
       'index1', 'GAME_NUMBER_PLAYER', 'EFF_SEASON_AVG', 'EFF_PREV_SEASON_AVG',
       'EFF_LAST_FIVE_AVG', 'EFF_PREV_FIVE_AVG', 'EFF_PREV_GAME',
       'EFF_USED_IN_MODEL', 'TEAM_PTS', 'TEAM_FG_PCT', 'TEAM_FT_PCT',
       'TEAM_FG3_PCT', 'TEAM_AST', 'TEAM_REB', 'TEAM_G', 'TEAM_W', 'TEAM_L',
       'TEAM_W_PCT', 'TEAM_HOME_RECORD', 'TEAM_ROAD_RECORD', 'TEAM_HOME_W_PCT',
       'TEAM_ROAD_W_PCT', 'TEAM_RANK', 'TEAM_WINS'],
      dtype='object')

In [113]:
df_columns = ['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'HOME_TEAM_WINS']

In [114]:
sorted_team_game_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_CITY',
       'TEAM_NICKNAME', 'TEAM_PTS', 'TEAM_FG_PCT', 'TEAM_FT_PCT',
       'TEAM_FG3_PCT', 'TEAM_AST', 'TEAM_REB', 'TEAM_G', 'TEAM_W', 'TEAM_L',
       'TEAM_W_PCT', 'TEAM_HOME_W_PCT', 'TEAM_ROAD_W_PCT', 'TEAM_RANK',
       'TEAM_EFF_USED_IN_MODEL', 'TEAM_WINS', 'index1', 'GAME_NUMBER_TEAM',
       'PTS_LAST_FIVE_AVG', 'FG_PCT_LAST_FIVE_AVG', 'FT_PCT_LAST_FIVE_AVG',
       'FG3_PCT_LAST_FIVE_AVG', 'AST_LAST_FIVE_AVG', 'REB_LAST_FIVE_AVG',
       'PTS_PREV_FIVE_AVG', 'FG_PCT_PREV_FIVE_AVG', 'FT_PCT_PREV_FIVE_AVG',
       'FG3_PCT_PREV_FIVE_AVG', 'AST_PREV_FIVE_AVG', 'REB_PREV_FIVE_AVG',
       'PTS_PREV_GAME', 'FG_PCT_PREV_GAME', 'FT_PCT_PREV_GAME',
       'FG3_PCT_PREV_GAME', 'AST_PREV_GAME', 'REB_PREV_GAME', 'PTS_SEASON_AVG',
       'FG_PCT_SEASON_AVG', 'FT_PCT_SEASON_AVG', 'FG3_PCT_SEASON_AVG',
       'AST_SEASON_AVG', 'REB_SEASON_AVG', 'PTS_PREV_SEASON_AVG',
       'FG_PCT_PREV_SEASON_AVG', 'FT_PCT_PREV_SEASON_AVG',
       'FG3_PCT_PREV_SEASON_AVG', 'AST_PREV_SEASON_AVG', 'REB_PREV_SEASON_AVG',
       'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL',
       'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL',
       'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_STREAK',
       'TEAM_STREAK_NEW', 'TEAM_STREAK_USED_IN_MODEL',
       'TEAM_W_PCT_USED_IN_MODEL', 'TEAM_HOME_W_PCT_USED_IN_MODEL',
       'TEAM_ROAD_W_PCT_USED_IN_MODEL'],
      dtype='object')

In [115]:
team_df_columns = ['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_CITY', 'TEAM_NICKNAME', 'GAME_NUMBER_TEAM',
                  'TEAM_EFF_USED_IN_MODEL', 'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL', 'TEAM_FT_PCT_USED_IN_MODEL', 
                   'TEAM_FG3_PCT_USED_IN_MODEL', 'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL', 'TEAM_STREAK_USED_IN_MODEL', 
                   'TEAM_W_PCT_USED_IN_MODEL', 'TEAM_HOME_W_PCT_USED_IN_MODEL', 'TEAM_ROAD_W_PCT_USED_IN_MODEL']

In [116]:
original_df = df[df_columns]
team_df = sorted_team_game_df[team_df_columns]

In [117]:
original_df = original_df.drop_duplicates()
original_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24091 entries, 0 to 501363
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    24091 non-null  object
 1   GAME_ID          24091 non-null  int64
 2   SEASON           24091 non-null  int64
 3   HOME_TEAM_ID     24091 non-null  int64
 4   VISITOR_TEAM_ID  24091 non-null  int64
 5   HOME_TEAM_WINS   24091 non-null  int64
dtypes: int64(5), object(1)
memory usage: 1.3+ MB

In [118]:
team_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48182 entries, 10 to 48161
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GAME_DATE_EST                  48182 non-null  object
 1   GAME_ID                        48182 non-null  int64
 2   SEASON                         48182 non-null  int64
 3   TEAM_ID                        48182 non-null  int64
 4   TEAM_CITY                      48182 non-null  object
 5   TEAM_NICKNAME                  48182 non-null  object
 6   GAME_NUMBER_TEAM               48182 non-null  int64
 7   TEAM_EFF_USED_IN_MODEL         48182 non-null  float64
 8   TEAM_PTS_USED_IN_MODEL         48182 non-null  float64
 9   TEAM_FG_PCT_USED_IN_MODEL      48182 non-null  float64
 10  TEAM_FT_PCT_USED_IN_MODEL      48182 non-null  float64
 11  TEAM_FG3_PCT_USED_IN_MODEL     48182 non-null  float64
 12  TEAM_AST_USED_IN_MODEL         48182 non-null  float64
 13  TEAM_REB_USED_IN_MODEL         48182 non-null  float64
 14  TEAM_STREAK_USED_IN_MODEL      48152 non-null  float64
 15  TEAM_W_PCT_USED_IN_MODEL       48152 non-null  float64
 16  TEAM_HOME_W_PCT_USED_IN_MODEL  48152 non-null  float64
 17  TEAM_ROAD_W_PCT_USED_IN_MODEL  48152 non-null  float64
dtypes: float64(11), int64(4), object(3)
memory usage: 8.0+ MB

In [119]:
home_df = pd.merge(team_df, original_df, how='inner', 
                   left_on=['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID'],
                   right_on=['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'HOME_TEAM_ID'])
home_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24091 entries, 0 to 24090
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GAME_DATE_EST                  24091 non-null  object
 1   GAME_ID                        24091 non-null  int64
 2   SEASON                         24091 non-null  int64
 3   TEAM_ID                        24091 non-null  int64
 4   TEAM_CITY                      24091 non-null  object
 5   TEAM_NICKNAME                  24091 non-null  object
 6   GAME_NUMBER_TEAM               24091 non-null  int64
 7   TEAM_EFF_USED_IN_MODEL         24091 non-null  float64
 8   TEAM_PTS_USED_IN_MODEL         24091 non-null  float64
 9   TEAM_FG_PCT_USED_IN_MODEL      24091 non-null  float64
 10  TEAM_FT_PCT_USED_IN_MODEL      24091 non-null  float64
 11  TEAM_FG3_PCT_USED_IN_MODEL     24091 non-null  float64
 12  TEAM_AST_USED_IN_MODEL         24091 non-null  float64
 13  TEAM_REB_USED_IN_MODEL         24091 non-null  float64
 14  TEAM_STREAK_USED_IN_MODEL      24073 non-null  float64
 15  TEAM_W_PCT_USED_IN_MODEL       24073 non-null  float64
 16  TEAM_HOME_W_PCT_USED_IN_MODEL  24073 non-null  float64
 17  TEAM_ROAD_W_PCT_USED_IN_MODEL  24073 non-null  float64
 18  HOME_TEAM_ID                   24091 non-null  int64
 19  VISITOR_TEAM_ID                24091 non-null  int64
 20  HOME_TEAM_WINS                 24091 non-null  int64
dtypes: float64(11), int64(7), object(3)
memory usage: 4.0+ MB

In [120]:
home_df.head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_EFF_USED_IN_MODEL,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,...,TEAM_FG3_PCT_USED_IN_MODEL,TEAM_AST_USED_IN_MODEL,TEAM_REB_USED_IN_MODEL,TEAM_STREAK_USED_IN_MODEL,TEAM_W_PCT_USED_IN_MODEL,TEAM_HOME_W_PCT_USED_IN_MODEL,TEAM_ROAD_W_PCT_USED_IN_MODEL,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_WINS
0,2003-11-01,20300029,2003,1610612737,Atlanta,Hawks,3,11.333333,94.0,0.4000,...,0.5830,22.0,48.0,-2.0,0.000,0.000,0.000,1610612737,1610612754,0
1,2003-11-03,20300042,2003,1610612737,Atlanta,Hawks,4,9.500000,99.0,0.4680,...,0.3750,23.0,36.0,-3.0,0.000,0.000,0.000,1610612737,1610612740,1
2,2003-11-15,20300128,2003,1610612737,Atlanta,Hawks,10,8.266667,89.6,0.4568,...,0.3662,20.0,40.6,1.0,0.333,0.500,0.286,1610612737,1610612751,0
3,2003-11-17,20300141,2003,1610612737,Atlanta,Hawks,11,10.240000,92.2,0.4598,...,0.3662,20.0,39.8,-1.0,0.300,0.333,0.286,1610612737,1610612764,0
4,2003-11-22,20300177,2003,1610612737,Atlanta,Hawks,14,9.200000,91.4,0.4116,...,0.2902,16.6,42.2,-1.0,0.308,0.250,0.333,1610612737,1610612739,1
5,2003-11-24,20300190,2003,1610612737,Atlanta,Hawks,15,10.200000,90.0,0.4096,...,0.2350,17.8,42.4,1.0,0.357,0.400,0.333,1610612737,1610612765,0
6,2003-11-26,20300202,2003,1610612737,Atlanta,Hawks,16,9.977778,90.8,0.4202,...,0.2218,17.2,43.6,-1.0,0.333,0.333,0.333,1610612737,1610612761,0
7,2003-11-28,20300212,2003,1610612737,Atlanta,Hawks,17,10.440000,90.8,0.4310,...,0.2006,19.4,45.0,-2.0,0.313,0.286,0.333,1610612737,1610612748,1
8,2003-12-02,20300243,2003,1610612737,Atlanta,Hawks,19,11.040000,91.8,0.4384,...,0.2376,21.8,44.8,-1.0,0.333,0.375,0.300,1610612737,1610612749,0
9,2003-12-09,20300293,2003,1610612737,Atlanta,Hawks,22,9.180000,89.4,0.4310,...,0.2710,19.4,44.2,-4.0,0.286,0.333,0.250,1610612737,1610612743,1
10,2003-12-13,20300321,2003,1610612737,Atlanta,Hawks,25,11.800000,93.2,0.4698,...,0.2660,22.6,42.4,-2.0,0.292,0.400,0.214,1610612737,1610612753,0
11,2003-12-17,20300351,2003,1610612737,Atlanta,Hawks,27,10.018182,95.0,0.4492,...,0.3330,24.4,44.8,-4.0,0.269,0.364,0.200,1610612737,1610612744,0
12,2003-12-19,20300365,2003,1610612737,Atlanta,Hawks,28,9.760000,89.6,0.4264,...,0.2930,23.0,44.4,-5.0,0.259,0.333,0.200,1610612737,1610612758,0
13,2003-12-23,20300393,2003,1610612737,Atlanta,Hawks,30,11.688889,88.8,0.4224,...,0.2916,18.6,43.0,-7.0,0.241,0.308,0.188,1610612737,1610612738,1
14,2003-12-27,20300417,2003,1610612737,Atlanta,Hawks,32,10.500000,87.0,0.4418,...,0.2570,18.0,42.0,-1.0,0.258,0.357,0.176,1610612737,1610612765,0
15,2004-01-13,20300534,2003,1610612737,Atlanta,Hawks,39,8.500000,77.2,0.4120,...,0.2154,17.6,37.4,-3.0,0.263,0.333,0.217,1610612737,1610612759,1
16,2004-01-17,20300568,2003,1610612737,Atlanta,Hawks,41,9.044444,78.2,0.4224,...,0.1882,17.4,38.4,-1.0,0.275,0.375,0.208,1610612737,1610612761,1
17,2004-01-19,20300582,2003,1610612737,Atlanta,Hawks,42,8.955556,75.4,0.4054,...,0.2816,16.6,38.8,1.0,0.293,0.412,0.208,1610612737,1610612754,0
18,2004-01-21,20300597,2003,1610612737,Atlanta,Hawks,43,10.333333,81.4,0.4270,...,0.3766,17.6,39.8,-1.0,0.286,0.389,0.208,1610612737,1610612741,1
19,2004-01-23,20300611,2003,1610612737,Atlanta,Hawks,44,11.133333,86.6,0.4482,...,0.4384,19.0,41.4,1.0,0.302,0.421,0.208,1610612737,1610612752,0

In [121]:
home_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_CITY',
       'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_EFF_USED_IN_MODEL',
       'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL',
       'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL',
       'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL',
       'TEAM_STREAK_USED_IN_MODEL', 'TEAM_W_PCT_USED_IN_MODEL',
       'TEAM_HOME_W_PCT_USED_IN_MODEL', 'TEAM_ROAD_W_PCT_USED_IN_MODEL',
       'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'HOME_TEAM_WINS'],
      dtype='object')

In [122]:
home_df = home_df.rename(columns = {'TEAM_ID': 'TEAM_ID_HOME', 'TEAM_CITY': 'TEAM_CITY_HOME', 'TEAM_NICKNAME': 'TEAM_NICKNAME_HOME',
                                     'GAME_NUMBER_TEAM': 'GAME_NUMBER_TEAM_HOME', 'TEAM_EFF_USED_IN_MODEL': 'TEAM_EFF_HOME',
                                     'TEAM_PTS_USED_IN_MODEL': 'TEAM_PTS_HOME', 'TEAM_FG_PCT_USED_IN_MODEL': 'TEAM_FG_PCT_HOME',
                                     'TEAM_FT_PCT_USED_IN_MODEL': 'TEAM_FT_PCT_HOME', 'TEAM_FG3_PCT_USED_IN_MODEL': 'TEAM_FG3_PCT_HOME',
                                     'TEAM_AST_USED_IN_MODEL': 'TEAM_AST_HOME', 'TEAM_REB_USED_IN_MODEL': 'TEAM_REB_HOME', 
                                     'TEAM_STREAK_USED_IN_MODEL': 'TEAM_STREAK_HOME', 'TEAM_W_PCT_USED_IN_MODEL': 'TEAM_W_PCT_HOME',
                                     'TEAM_HOME_W_PCT_USED_IN_MODEL': 'TEAM_HOME_W_PCT_HOME', 'TEAM_ROAD_W_PCT_USED_IN_MODEL': 'TEAM_ROAD_W_PCT_HOME'
                                     })
home_df = home_df[['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID_HOME', 'TEAM_CITY_HOME',
       'TEAM_NICKNAME_HOME', 'GAME_NUMBER_TEAM_HOME', 'TEAM_EFF_HOME',
       'TEAM_PTS_HOME', 'TEAM_FG_PCT_HOME', 'TEAM_FT_PCT_HOME',
       'TEAM_FG3_PCT_HOME', 'TEAM_AST_HOME', 'TEAM_REB_HOME',
       'TEAM_STREAK_HOME', 'TEAM_W_PCT_HOME', 'TEAM_HOME_W_PCT_HOME',
       'TEAM_ROAD_W_PCT_HOME', 'VISITOR_TEAM_ID',
       'HOME_TEAM_WINS']]
home_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24091 entries, 0 to 24090
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          24091 non-null  object
 1   GAME_ID                24091 non-null  int64
 2   SEASON                 24091 non-null  int64
 3   TEAM_ID_HOME           24091 non-null  int64
 4   TEAM_CITY_HOME         24091 non-null  object
 5   TEAM_NICKNAME_HOME     24091 non-null  object
 6   GAME_NUMBER_TEAM_HOME  24091 non-null  int64
 7   TEAM_EFF_HOME          24091 non-null  float64
 8   TEAM_PTS_HOME          24091 non-null  float64
 9   TEAM_FG_PCT_HOME       24091 non-null  float64
 10  TEAM_FT_PCT_HOME       24091 non-null  float64
 11  TEAM_FG3_PCT_HOME      24091 non-null  float64
 12  TEAM_AST_HOME          24091 non-null  float64
 13  TEAM_REB_HOME          24091 non-null  float64
 14  TEAM_STREAK_HOME       24073 non-null  float64
 15  TEAM_W_PCT_HOME        24073 non-null  float64
 16  TEAM_HOME_W_PCT_HOME   24073 non-null  float64
 17  TEAM_ROAD_W_PCT_HOME   24073 non-null  float64
 18  VISITOR_TEAM_ID        24091 non-null  int64
 19  HOME_TEAM_WINS         24091 non-null  int64
dtypes: float64(11), int64(6), object(3)
memory usage: 3.9+ MB

In [123]:
final_df = pd.merge(team_df, home_df, how='inner',
                   left_on=['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID'],
                   right_on=['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'VISITOR_TEAM_ID'])
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24091 entries, 0 to 24090
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GAME_DATE_EST                  24091 non-null  object
 1   GAME_ID                        24091 non-null  int64
 2   SEASON                         24091 non-null  int64
 3   TEAM_ID                        24091 non-null  int64
 4   TEAM_CITY                      24091 non-null  object
 5   TEAM_NICKNAME                  24091 non-null  object
 6   GAME_NUMBER_TEAM               24091 non-null  int64
 7   TEAM_EFF_USED_IN_MODEL         24091 non-null  float64
 8   TEAM_PTS_USED_IN_MODEL         24091 non-null  float64
 9   TEAM_FG_PCT_USED_IN_MODEL      24091 non-null  float64
 10  TEAM_FT_PCT_USED_IN_MODEL      24091 non-null  float64
 11  TEAM_FG3_PCT_USED_IN_MODEL     24091 non-null  float64
 12  TEAM_AST_USED_IN_MODEL         24091 non-null  float64
 13  TEAM_REB_USED_IN_MODEL         24091 non-null  float64
 14  TEAM_STREAK_USED_IN_MODEL      24079 non-null  float64
 15  TEAM_W_PCT_USED_IN_MODEL       24079 non-null  float64
 16  TEAM_HOME_W_PCT_USED_IN_MODEL  24079 non-null  float64
 17  TEAM_ROAD_W_PCT_USED_IN_MODEL  24079 non-null  float64
 18  TEAM_ID_HOME                   24091 non-null  int64
 19  TEAM_CITY_HOME                 24091 non-null  object
 20  TEAM_NICKNAME_HOME             24091 non-null  object
 21  GAME_NUMBER_TEAM_HOME          24091 non-null  int64
 22  TEAM_EFF_HOME                  24091 non-null  float64
 23  TEAM_PTS_HOME                  24091 non-null  float64
 24  TEAM_FG_PCT_HOME               24091 non-null  float64
 25  TEAM_FT_PCT_HOME               24091 non-null  float64
 26  TEAM_FG3_PCT_HOME              24091 non-null  float64
 27  TEAM_AST_HOME                  24091 non-null  float64
 28  TEAM_REB_HOME                  24091 non-null  float64
 29  TEAM_STREAK_HOME               24073 non-null  float64
 30  TEAM_W_PCT_HOME                24073 non-null  float64
 31  TEAM_HOME_W_PCT_HOME           24073 non-null  float64
 32  TEAM_ROAD_W_PCT_HOME           24073 non-null  float64
 33  VISITOR_TEAM_ID                24091 non-null  int64
 34  HOME_TEAM_WINS                 24091 non-null  int64
dtypes: float64(22), int64(8), object(5)
memory usage: 6.6+ MB

In [124]:
final_df.head(20)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID,TEAM_CITY,TEAM_NICKNAME,GAME_NUMBER_TEAM,TEAM_EFF_USED_IN_MODEL,TEAM_PTS_USED_IN_MODEL,TEAM_FG_PCT_USED_IN_MODEL,...,TEAM_FT_PCT_HOME,TEAM_FG3_PCT_HOME,TEAM_AST_HOME,TEAM_REB_HOME,TEAM_STREAK_HOME,TEAM_W_PCT_HOME,TEAM_HOME_W_PCT_HOME,TEAM_ROAD_W_PCT_HOME,VISITOR_TEAM_ID,HOME_TEAM_WINS
0,2003-10-29,20300006,2003,1610612737,Atlanta,Hawks,1,0.000000,0.0,0.0000,...,0.0000,0.0000,0.0,0.0,NaN,NaN,NaN,NaN,1610612737,1
1,2003-10-31,20300024,2003,1610612737,Atlanta,Hawks,2,10.777778,83.0,0.3980,...,0.6130,0.2310,16.0,47.0,-1.0,0.000,0.000,0.000,1610612737,1
2,2003-11-05,20300060,2003,1610612737,Atlanta,Hawks,5,12.000000,90.0,0.4270,...,0.5790,0.2000,22.0,46.0,-1.0,0.333,0.500,0.000,1610612737,1
3,2003-11-08,20300084,2003,1610612737,Atlanta,Hawks,6,10.577778,87.6,0.4120,...,0.6980,0.3678,21.2,42.4,-1.0,0.400,0.667,0.000,1610612737,1
4,2003-11-09,20300089,2003,1610612737,Atlanta,Hawks,7,8.133333,87.6,0.4200,...,0.5260,0.4210,18.0,40.0,3.0,1.000,1.000,1.000,1610612737,0
5,2003-11-11,20300102,2003,1610612737,Atlanta,Hawks,8,11.288889,87.0,0.4358,...,0.7650,0.3850,24.0,52.0,1.0,0.333,0.000,0.500,1610612737,1
6,2003-11-12,20300109,2003,1610612737,Atlanta,Hawks,9,10.440000,87.8,0.4508,...,0.7806,0.3450,18.6,41.6,2.0,0.500,0.667,0.333,1610612737,0
7,2003-11-18,20300147,2003,1610612737,Atlanta,Hawks,12,8.683333,95.0,0.4568,...,0.7758,0.3192,22.0,42.6,1.0,0.556,0.600,0.500,1610612737,0
8,2003-11-21,20300168,2003,1610612737,Atlanta,Hawks,13,8.466667,97.0,0.4526,...,0.7256,0.3560,24.4,48.0,-1.0,0.538,0.714,0.333,1610612737,1
9,2003-11-29,20300224,2003,1610612737,Atlanta,Hawks,18,9.945455,89.6,0.4180,...,0.8010,0.4274,20.8,36.6,-1.0,0.471,0.571,0.400,1610612737,1
10,2003-12-05,20300259,2003,1610612737,Atlanta,Hawks,20,11.688889,92.2,0.4286,...,0.7306,0.4706,19.4,38.8,2.0,0.556,0.750,0.400,1610612737,1
11,2003-12-06,20300273,2003,1610612737,Atlanta,Hawks,21,9.083333,91.8,0.4332,...,0.6808,0.3098,23.4,52.6,-8.0,0.211,0.571,0.000,1610612737,1
12,2003-12-10,20300302,2003,1610612737,Atlanta,Hawks,23,10.280000,92.8,0.4620,...,0.7034,0.3288,26.8,48.0,5.0,0.579,0.625,0.545,1610612737,1
13,2003-12-12,20300313,2003,1610612737,Atlanta,Hawks,24,9.460000,93.6,0.4544,...,0.7094,0.3810,22.2,43.4,1.0,0.773,0.800,0.750,1610612737,1
14,2003-12-16,20300340,2003,1610612737,Atlanta,Hawks,26,10.072727,96.2,0.4648,...,0.7020,0.2398,15.6,44.6,3.0,0.348,0.600,0.154,1610612737,1
15,2003-12-20,20300371,2003,1610612737,Atlanta,Hawks,29,9.950000,88.8,0.4300,...,0.7638,0.3466,17.2,42.0,-2.0,0.333,0.500,0.200,1610612737,1
16,2003-12-26,20300406,2003,1610612737,Atlanta,Hawks,31,9.283333,87.0,0.4292,...,0.7636,0.2276,21.4,43.2,-1.0,0.621,0.692,0.562,1610612737,1
17,2003-12-30,20300439,2003,1610612737,Atlanta,Hawks,33,9.644444,86.8,0.4454,...,0.7726,0.3380,20.6,40.8,-4.0,0.286,0.364,0.235,1610612737,0
18,2004-01-02,20300458,2003,1610612737,Atlanta,Hawks,34,8.733333,86.2,0.4488,...,0.7374,0.4370,24.8,39.6,2.0,0.667,0.615,0.706,1610612737,1
19,2004-01-03,20300471,2003,1610612737,Atlanta,Hawks,35,10.044444,82.8,0.4358,...,0.7894,0.3724,26.0,38.4,1.0,0.606,0.765,0.438,1610612737,0

In [125]:
final_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID', 'TEAM_CITY',
       'TEAM_NICKNAME', 'GAME_NUMBER_TEAM', 'TEAM_EFF_USED_IN_MODEL',
       'TEAM_PTS_USED_IN_MODEL', 'TEAM_FG_PCT_USED_IN_MODEL',
       'TEAM_FT_PCT_USED_IN_MODEL', 'TEAM_FG3_PCT_USED_IN_MODEL',
       'TEAM_AST_USED_IN_MODEL', 'TEAM_REB_USED_IN_MODEL',
       'TEAM_STREAK_USED_IN_MODEL', 'TEAM_W_PCT_USED_IN_MODEL',
       'TEAM_HOME_W_PCT_USED_IN_MODEL', 'TEAM_ROAD_W_PCT_USED_IN_MODEL',
       'TEAM_ID_HOME', 'TEAM_CITY_HOME', 'TEAM_NICKNAME_HOME',
       'GAME_NUMBER_TEAM_HOME', 'TEAM_EFF_HOME', 'TEAM_PTS_HOME',
       'TEAM_FG_PCT_HOME', 'TEAM_FT_PCT_HOME', 'TEAM_FG3_PCT_HOME',
       'TEAM_AST_HOME', 'TEAM_REB_HOME', 'TEAM_STREAK_HOME', 'TEAM_W_PCT_HOME',
       'TEAM_HOME_W_PCT_HOME', 'TEAM_ROAD_W_PCT_HOME', 'VISITOR_TEAM_ID',
       'HOME_TEAM_WINS'],
      dtype='object')

In [126]:
final_df = final_df.rename(columns = {'TEAM_ID': 'TEAM_ID_AWAY', 'TEAM_CITY': 'TEAM_CITY_AWAY', 'TEAM_NICKNAME': 'TEAM_NICKNAME_AWAY',
                                     'GAME_NUMBER_TEAM': 'GAME_NUMBER_TEAM_AWAY', 'TEAM_EFF_USED_IN_MODEL': 'TEAM_EFF_AWAY',
                                     'TEAM_PTS_USED_IN_MODEL': 'TEAM_PTS_AWAY', 'TEAM_FG_PCT_USED_IN_MODEL': 'TEAM_FG_PCT_AWAY',
                                     'TEAM_FT_PCT_USED_IN_MODEL': 'TEAM_FT_PCT_AWAY', 'TEAM_FG3_PCT_USED_IN_MODEL': 'TEAM_FG3_PCT_AWAY',
                                     'TEAM_AST_USED_IN_MODEL': 'TEAM_AST_AWAY', 'TEAM_REB_USED_IN_MODEL': 'TEAM_REB_AWAY', 
                                     'TEAM_STREAK_USED_IN_MODEL': 'TEAM_STREAK_AWAY', 'TEAM_W_PCT_USED_IN_MODEL': 'TEAM_W_PCT_AWAY',
                                     'TEAM_HOME_W_PCT_USED_IN_MODEL': 'TEAM_HOME_W_PCT_AWAY', 'TEAM_ROAD_W_PCT_USED_IN_MODEL': 'TEAM_ROAD_W_PCT_AWAY'
                                     })

final_df = final_df[['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID_HOME', 'TEAM_CITY_HOME',
       'TEAM_NICKNAME_HOME', 'GAME_NUMBER_TEAM_HOME', 'TEAM_EFF_HOME',
       'TEAM_PTS_HOME', 'TEAM_FG_PCT_HOME', 'TEAM_FT_PCT_HOME',
       'TEAM_FG3_PCT_HOME', 'TEAM_AST_HOME', 'TEAM_REB_HOME',
       'TEAM_STREAK_HOME', 'TEAM_W_PCT_HOME', 'TEAM_HOME_W_PCT_HOME',
       'TEAM_ROAD_W_PCT_HOME', 
       'TEAM_ID_AWAY', 'TEAM_CITY_AWAY', 'TEAM_NICKNAME_AWAY', 'GAME_NUMBER_TEAM_AWAY', 'TEAM_EFF_AWAY', 'TEAM_PTS_AWAY',
       'TEAM_FG_PCT_AWAY', 'TEAM_FT_PCT_AWAY', 'TEAM_FG3_PCT_AWAY', 'TEAM_AST_AWAY', 'TEAM_REB_AWAY', 'TEAM_STREAK_AWAY', 'TEAM_W_PCT_AWAY',
       'TEAM_HOME_W_PCT_AWAY', 'TEAM_ROAD_W_PCT_AWAY', 'HOME_TEAM_WINS']]

final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24091 entries, 0 to 24090
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          24091 non-null  object
 1   GAME_ID                24091 non-null  int64
 2   SEASON                 24091 non-null  int64
 3   TEAM_ID_HOME           24091 non-null  int64
 4   TEAM_CITY_HOME         24091 non-null  object
 5   TEAM_NICKNAME_HOME     24091 non-null  object
 6   GAME_NUMBER_TEAM_HOME  24091 non-null  int64
 7   TEAM_EFF_HOME          24091 non-null  float64
 8   TEAM_PTS_HOME          24091 non-null  float64
 9   TEAM_FG_PCT_HOME       24091 non-null  float64
 10  TEAM_FT_PCT_HOME       24091 non-null  float64
 11  TEAM_FG3_PCT_HOME      24091 non-null  float64
 12  TEAM_AST_HOME          24091 non-null  float64
 13  TEAM_REB_HOME          24091 non-null  float64
 14  TEAM_STREAK_HOME       24073 non-null  float64
 15  TEAM_W_PCT_HOME        24073 non-null  float64
 16  TEAM_HOME_W_PCT_HOME   24073 non-null  float64
 17  TEAM_ROAD_W_PCT_HOME   24073 non-null  float64
 18  TEAM_ID_AWAY           24091 non-null  int64
 19  TEAM_CITY_AWAY         24091 non-null  object
 20  TEAM_NICKNAME_AWAY     24091 non-null  object
 21  GAME_NUMBER_TEAM_AWAY  24091 non-null  int64
 22  TEAM_EFF_AWAY          24091 non-null  float64
 23  TEAM_PTS_AWAY          24091 non-null  float64
 24  TEAM_FG_PCT_AWAY       24091 non-null  float64
 25  TEAM_FT_PCT_AWAY       24091 non-null  float64
 26  TEAM_FG3_PCT_AWAY      24091 non-null  float64
 27  TEAM_AST_AWAY          24091 non-null  float64
 28  TEAM_REB_AWAY          24091 non-null  float64
 29  TEAM_STREAK_AWAY       24079 non-null  float64
 30  TEAM_W_PCT_AWAY        24079 non-null  float64
 31  TEAM_HOME_W_PCT_AWAY   24079 non-null  float64
 32  TEAM_ROAD_W_PCT_AWAY   24079 non-null  float64
 33  HOME_TEAM_WINS         24091 non-null  int64
dtypes: float64(22), int64(7), object(5)
memory usage: 6.4+ MB

In [127]:
final_df[(final_df['TEAM_CITY_HOME'] == 'Charlotte') & (final_df['GAME_DATE_EST'] == '2004-11-04')].iloc[0]

GAME_DATE_EST            2004-11-04
GAME_ID                    20400017
SEASON                         2004
TEAM_ID_HOME             1610612766
TEAM_CITY_HOME            Charlotte
TEAM_NICKNAME_HOME          Hornets
GAME_NUMBER_TEAM_HOME             1
TEAM_EFF_HOME              3.581834
TEAM_PTS_HOME                   0.0
TEAM_FG_PCT_HOME                0.0
TEAM_FT_PCT_HOME                0.0
TEAM_FG3_PCT_HOME               0.0
TEAM_AST_HOME                   0.0
TEAM_REB_HOME                   0.0
TEAM_STREAK_HOME                NaN
TEAM_W_PCT_HOME                 NaN
TEAM_HOME_W_PCT_HOME            NaN
TEAM_ROAD_W_PCT_HOME            NaN
TEAM_ID_AWAY             1610612764
TEAM_CITY_AWAY           Washington
TEAM_NICKNAME_AWAY          Wizards
GAME_NUMBER_TEAM_AWAY             2
TEAM_EFF_AWAY             15.334273
TEAM_PTS_AWAY                 103.0
TEAM_FG_PCT_AWAY               0.45
TEAM_FT_PCT_AWAY              0.743
TEAM_FG3_PCT_AWAY             0.333
TEAM_AST_AWAY                  22.0
TEAM_REB_AWAY                  46.0
TEAM_STREAK_AWAY                1.0
TEAM_W_PCT_AWAY                 1.0
TEAM_HOME_W_PCT_AWAY            0.0
TEAM_ROAD_W_PCT_AWAY            1.0
HOME_TEAM_WINS                    0
Name: 21816, dtype: object

In [132]:
final_df[final_df['TEAM_STREAK_HOME'].isna()]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_HOME,TEAM_CITY_HOME,TEAM_NICKNAME_HOME,GAME_NUMBER_TEAM_HOME,TEAM_EFF_HOME,TEAM_PTS_HOME,TEAM_FG_PCT_HOME,...,TEAM_FG_PCT_AWAY,TEAM_FT_PCT_AWAY,TEAM_FG3_PCT_AWAY,TEAM_AST_AWAY,TEAM_REB_AWAY,TEAM_STREAK_AWAY,TEAM_W_PCT_AWAY,TEAM_HOME_W_PCT_AWAY,TEAM_ROAD_W_PCT_AWAY,HOME_TEAM_WINS
0,2003-10-29,20300006,2003,1610612740,New Orleans,Pelicans,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
806,2003-10-31,20300023,2003,1610612763,Memphis,Grizzlies,1,0.000000,0.0,0.0,...,0.507,0.731,0.313,28.0,40.0,1.0,1.0,1.0,0.0,0
1651,2003-10-29,20300014,2003,1610612758,Sacramento,Kings,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
4048,2003-10-28,20300003,2003,1610612747,Los Angeles,Lakers,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
4049,2003-10-29,20300013,2003,1610612744,Golden State,Warriors,1,0.000000,0.0,0.0,...,0.376,0.733,0.280,17.0,46.0,-1.0,0.0,0.0,0.0,0
4868,2003-10-30,20300017,2003,1610612745,Houston,Rockets,1,0.000000,0.0,0.0,...,0.292,0.690,0.400,17.0,66.0,1.0,1.0,1.0,0.0,1
7310,2003-10-30,20300015,2003,1610612760,Seattle,Thunder,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
8944,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
8945,2003-10-29,20300004,2003,1610612738,Boston,Celtics,1,0.000000,0.0,0.0,...,0.408,0.824,0.250,16.0,44.0,-1.0,0.0,0.0,0.0,1
9798,2003-10-29,20300009,2003,1610612750,Minnesota,Timberwolves,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
11360,2003-10-29,20300007,2003,1610612761,Toronto,Raptors,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
12927,2003-10-29,20300005,2003,1610612752,New York,Knicks,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,0
13726,2003-10-29,20300008,2003,1610612765,Detroit,Pistons,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,0
15333,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
16127,2003-10-29,20300012,2003,1610612762,Utah,Jazz,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,1
17693,2003-10-29,20300011,2003,1610612743,Denver,Nuggets,1,0.000000,0.0,0.0,...,0.425,0.769,0.100,20.0,38.0,1.0,1.0,1.0,0.0,1
21774,2003-10-29,20300010,2003,1610612741,Chicago,Bulls,1,0.000000,0.0,0.0,...,0.000,0.000,0.000,0.0,0.0,NaN,NaN,NaN,NaN,0
21816,2004-11-04,20400017,2004,1610612766,Charlotte,Hornets,1,3.581834,0.0,0.0,...,0.450,0.743,0.333,22.0,46.0,1.0,1.0,0.0,1.0,0

In [133]:
final_df[final_df['TEAM_STREAK_AWAY'].isna()]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_HOME,TEAM_CITY_HOME,TEAM_NICKNAME_HOME,GAME_NUMBER_TEAM_HOME,TEAM_EFF_HOME,TEAM_PTS_HOME,TEAM_FG_PCT_HOME,...,TEAM_FG_PCT_AWAY,TEAM_FT_PCT_AWAY,TEAM_FG3_PCT_AWAY,TEAM_AST_AWAY,TEAM_REB_AWAY,TEAM_STREAK_AWAY,TEAM_W_PCT_AWAY,TEAM_HOME_W_PCT_AWAY,TEAM_ROAD_W_PCT_AWAY,HOME_TEAM_WINS
0,2003-10-29,20300006,2003,1610612740,New Orleans,Pelicans,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
1651,2003-10-29,20300014,2003,1610612758,Sacramento,Kings,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
4048,2003-10-28,20300003,2003,1610612747,Los Angeles,Lakers,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
7310,2003-10-30,20300015,2003,1610612760,Seattle,Thunder,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
8944,2003-10-28,20300001,2003,1610612755,Philadelphia,76ers,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
9798,2003-10-29,20300009,2003,1610612750,Minnesota,Timberwolves,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
11360,2003-10-29,20300007,2003,1610612761,Toronto,Raptors,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
12927,2003-10-29,20300005,2003,1610612752,New York,Knicks,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0
13726,2003-10-29,20300008,2003,1610612765,Detroit,Pistons,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0
15333,2003-10-28,20300002,2003,1610612759,San Antonio,Spurs,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
16127,2003-10-29,20300012,2003,1610612762,Utah,Jazz,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1
21774,2003-10-29,20300010,2003,1610612741,Chicago,Bulls,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0

In [134]:
final_df = final_df.dropna()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24073 entries, 1 to 24090
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GAME_DATE_EST          24073 non-null  object
 1   GAME_ID                24073 non-null  int64
 2   SEASON                 24073 non-null  int64
 3   TEAM_ID_HOME           24073 non-null  int64
 4   TEAM_CITY_HOME         24073 non-null  object
 5   TEAM_NICKNAME_HOME     24073 non-null  object
 6   GAME_NUMBER_TEAM_HOME  24073 non-null  int64
 7   TEAM_EFF_HOME          24073 non-null  float64
 8   TEAM_PTS_HOME          24073 non-null  float64
 9   TEAM_FG_PCT_HOME       24073 non-null  float64
 10  TEAM_FT_PCT_HOME       24073 non-null  float64
 11  TEAM_FG3_PCT_HOME      24073 non-null  float64
 12  TEAM_AST_HOME          24073 non-null  float64
 13  TEAM_REB_HOME          24073 non-null  float64
 14  TEAM_STREAK_HOME       24073 non-null  float64
 15  TEAM_W_PCT_HOME        24073 non-null  float64
 16  TEAM_HOME_W_PCT_HOME   24073 non-null  float64
 17  TEAM_ROAD_W_PCT_HOME   24073 non-null  float64
 18  TEAM_ID_AWAY           24073 non-null  int64
 19  TEAM_CITY_AWAY         24073 non-null  object
 20  TEAM_NICKNAME_AWAY     24073 non-null  object
 21  GAME_NUMBER_TEAM_AWAY  24073 non-null  int64
 22  TEAM_EFF_AWAY          24073 non-null  float64
 23  TEAM_PTS_AWAY          24073 non-null  float64
 24  TEAM_FG_PCT_AWAY       24073 non-null  float64
 25  TEAM_FT_PCT_AWAY       24073 non-null  float64
 26  TEAM_FG3_PCT_AWAY      24073 non-null  float64
 27  TEAM_AST_AWAY          24073 non-null  float64
 28  TEAM_REB_AWAY          24073 non-null  float64
 29  TEAM_STREAK_AWAY       24073 non-null  float64
 30  TEAM_W_PCT_AWAY        24073 non-null  float64
 31  TEAM_HOME_W_PCT_AWAY   24073 non-null  float64
 32  TEAM_ROAD_W_PCT_AWAY   24073 non-null  float64
 33  HOME_TEAM_WINS         24073 non-null  int64
dtypes: float64(22), int64(7), object(5)
memory usage: 6.4+ MB

In [135]:
final_df['EFF_DIFFERENCE'] = final_df['TEAM_EFF_HOME'] - final_df['TEAM_EFF_AWAY']
final_df['PTS_DIFFERENCE'] = final_df['TEAM_PTS_HOME'] - final_df['TEAM_PTS_AWAY']
final_df['FG_PCT_DIFFERENCE'] = final_df['TEAM_FG_PCT_HOME'] - final_df['TEAM_FG_PCT_AWAY']
final_df['FT_PCT_DIFFERENCE'] = final_df['TEAM_FT_PCT_HOME'] - final_df['TEAM_FT_PCT_AWAY']
final_df['FG3_PCT_DIFFERENCE'] = final_df['TEAM_FG3_PCT_HOME'] - final_df['TEAM_FG3_PCT_AWAY']
final_df['AST_DIFFERENCE'] = final_df['TEAM_AST_HOME'] - final_df['TEAM_AST_AWAY']
final_df['REB_DIFFERENCE'] = final_df['TEAM_REB_HOME'] - final_df['TEAM_REB_AWAY']
final_df['STREAK_DIFFERENCE'] = final_df['TEAM_STREAK_HOME'] - final_df['TEAM_STREAK_AWAY']
final_df['W_PCT_DIFFERENCE'] = final_df['TEAM_W_PCT_HOME'] - final_df['TEAM_W_PCT_AWAY']
final_df['HOME_ROAD_W_PCT_DIFFERENCE'] = final_df['TEAM_HOME_W_PCT_HOME'] - final_df['TEAM_ROAD_W_PCT_AWAY']

<ipython-input-135-33b693c2a076>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['EFF_DIFFERENCE'] = final_df['TEAM_EFF_HOME'] - final_df['TEAM_EFF_AWAY']
<ipython-input-135-33b693c2a076>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['PTS_DIFFERENCE'] = final_df['TEAM_PTS_HOME'] - final_df['TEAM_PTS_AWAY']
<ipython-input-135-33b693c2a076>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['FG_PCT_DIFFERENCE'] = final_df['TEAM_FG_PCT_HOME'] - final_df['TEAM_FG_PCT_AWAY']
<ipython-input-135-33b693c2a076>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['FT_PCT_DIFFERENCE'] = final_df['TEAM_FT_PCT_HOME'] - final_df['TEAM_FT_PCT_AWAY']
<ipython-input-135-33b693c2a076>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['FG3_PCT_DIFFERENCE'] = final_df['TEAM_FG3_PCT_HOME'] - final_df['TEAM_FG3_PCT_AWAY']
<ipython-input-135-33b693c2a076>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['AST_DIFFERENCE'] = final_df['TEAM_AST_HOME'] - final_df['TEAM_AST_AWAY']
<ipython-input-135-33b693c2a076>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['REB_DIFFERENCE'] = final_df['TEAM_REB_HOME'] - final_df['TEAM_REB_AWAY']
<ipython-input-135-33b693c2a076>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['STREAK_DIFFERENCE'] = final_df['TEAM_STREAK_HOME'] - final_df['TEAM_STREAK_AWAY']
<ipython-input-135-33b693c2a076>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['W_PCT_DIFFERENCE'] = final_df['TEAM_W_PCT_HOME'] - final_df['TEAM_W_PCT_AWAY']
<ipython-input-135-33b693c2a076>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['HOME_ROAD_W_PCT_DIFFERENCE'] = final_df['TEAM_HOME_W_PCT_HOME'] - final_df['TEAM_ROAD_W_PCT_AWAY']

In [136]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24073 entries, 1 to 24090
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GAME_DATE_EST               24073 non-null  object
 1   GAME_ID                     24073 non-null  int64
 2   SEASON                      24073 non-null  int64
 3   TEAM_ID_HOME                24073 non-null  int64
 4   TEAM_CITY_HOME              24073 non-null  object
 5   TEAM_NICKNAME_HOME          24073 non-null  object
 6   GAME_NUMBER_TEAM_HOME       24073 non-null  int64
 7   TEAM_EFF_HOME               24073 non-null  float64
 8   TEAM_PTS_HOME               24073 non-null  float64
 9   TEAM_FG_PCT_HOME            24073 non-null  float64
 10  TEAM_FT_PCT_HOME            24073 non-null  float64
 11  TEAM_FG3_PCT_HOME           24073 non-null  float64
 12  TEAM_AST_HOME               24073 non-null  float64
 13  TEAM_REB_HOME               24073 non-null  float64
 14  TEAM_STREAK_HOME            24073 non-null  float64
 15  TEAM_W_PCT_HOME             24073 non-null  float64
 16  TEAM_HOME_W_PCT_HOME        24073 non-null  float64
 17  TEAM_ROAD_W_PCT_HOME        24073 non-null  float64
 18  TEAM_ID_AWAY                24073 non-null  int64
 19  TEAM_CITY_AWAY              24073 non-null  object
 20  TEAM_NICKNAME_AWAY          24073 non-null  object
 21  GAME_NUMBER_TEAM_AWAY       24073 non-null  int64
 22  TEAM_EFF_AWAY               24073 non-null  float64
 23  TEAM_PTS_AWAY               24073 non-null  float64
 24  TEAM_FG_PCT_AWAY            24073 non-null  float64
 25  TEAM_FT_PCT_AWAY            24073 non-null  float64
 26  TEAM_FG3_PCT_AWAY           24073 non-null  float64
 27  TEAM_AST_AWAY               24073 non-null  float64
 28  TEAM_REB_AWAY               24073 non-null  float64
 29  TEAM_STREAK_AWAY            24073 non-null  float64
 30  TEAM_W_PCT_AWAY             24073 non-null  float64
 31  TEAM_HOME_W_PCT_AWAY        24073 non-null  float64
 32  TEAM_ROAD_W_PCT_AWAY        24073 non-null  float64
 33  HOME_TEAM_WINS              24073 non-null  int64
 34  EFF_DIFFERENCE              24073 non-null  float64
 35  PTS_DIFFERENCE              24073 non-null  float64
 36  FG_PCT_DIFFERENCE           24073 non-null  float64
 37  FT_PCT_DIFFERENCE           24073 non-null  float64
 38  FG3_PCT_DIFFERENCE          24073 non-null  float64
 39  AST_DIFFERENCE              24073 non-null  float64
 40  REB_DIFFERENCE              24073 non-null  float64
 41  STREAK_DIFFERENCE           24073 non-null  float64
 42  W_PCT_DIFFERENCE            24073 non-null  float64
 43  HOME_ROAD_W_PCT_DIFFERENCE  24073 non-null  float64
dtypes: float64(32), int64(7), object(5)
memory usage: 8.3+ MB

In [137]:
final_df = final_df.sort_values('GAME_DATE_EST')
final_df.head(50)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_HOME,TEAM_CITY_HOME,TEAM_NICKNAME_HOME,GAME_NUMBER_TEAM_HOME,TEAM_EFF_HOME,TEAM_PTS_HOME,TEAM_FG_PCT_HOME,...,EFF_DIFFERENCE,PTS_DIFFERENCE,FG_PCT_DIFFERENCE,FT_PCT_DIFFERENCE,FG3_PCT_DIFFERENCE,AST_DIFFERENCE,REB_DIFFERENCE,STREAK_DIFFERENCE,W_PCT_DIFFERENCE,HOME_ROAD_W_PCT_DIFFERENCE
2478,2003-10-30,20300016,2003,1610612753,Orlando,Magic,2,7.600000,85.0,0.3680,...,-2.300000,-3.0,0.0440,-0.1480,0.0900,-7.0,-11.0,0.0,0.000,0.000
1652,2003-10-30,20300018,2003,1610612756,Phoenix,Suns,2,8.222222,82.0,0.3610,...,-1.977778,-10.0,-0.1040,0.1430,-0.0450,-10.0,4.0,0.0,0.000,0.000
1,2003-10-31,20300024,2003,1610612741,Chicago,Bulls,2,5.900000,74.0,0.3170,...,-4.877778,-9.0,-0.0810,-0.1240,0.0170,-2.0,-11.0,0.0,0.000,0.000
18553,2003-10-31,20300025,2003,1610612746,Los Angeles,Clippers,2,7.000000,100.0,0.4180,...,-3.900000,-9.0,0.0100,0.1790,0.0900,-1.0,6.0,-2.0,-1.000,0.000
21775,2003-10-31,20300019,2003,1610612761,Toronto,Raptors,2,10.555556,90.0,0.4250,...,-1.644444,-9.0,-0.0620,0.1330,-0.2500,-8.0,-3.0,0.0,0.000,0.000
14541,2003-10-31,20300026,2003,1610612758,Sacramento,Kings,2,14.666667,106.0,0.5060,...,4.866667,17.0,0.0660,0.2670,-0.1280,2.0,2.0,0.0,0.000,1.000
9799,2003-10-31,20300021,2003,1610612754,Indiana,Pacers,2,8.000000,89.0,0.4560,...,-2.375000,0.0,0.0340,-0.2770,0.2780,-7.0,-3.0,2.0,1.000,0.000
10598,2003-10-31,20300022,2003,1610612751,New Jersey,Nets,2,8.636364,87.0,0.4070,...,-1.909091,-8.0,-0.0400,0.0960,0.1970,0.0,-7.0,-2.0,-1.000,0.000
22566,2003-10-31,20300020,2003,1610612748,Miami,Heat,3,6.700000,75.0,0.3660,...,-1.133333,-12.0,-0.0260,0.0080,0.0840,-1.0,-1.0,-1.0,0.000,0.000
1653,2003-11-01,20300038,2003,1610612757,Portland,Trail Blazers,2,8.727273,92.0,0.4290,...,-0.022727,6.0,-0.0010,0.1790,0.0830,-5.0,-11.0,1.0,0.000,0.000
3255,2003-11-01,20300032,2003,1610612749,Milwaukee,Bucks,3,10.818182,93.0,0.5420,...,-0.598485,-7.0,0.1420,-0.1120,-0.2330,-7.0,-4.0,0.0,0.000,0.000
8118,2003-11-01,20300037,2003,1610612756,Phoenix,Suns,3,9.181818,95.0,0.4130,...,-5.040404,-14.0,-0.0930,0.1110,-0.1500,-16.0,-3.0,0.0,-0.500,1.000
22567,2003-11-01,20300028,2003,1610612753,Orlando,Magic,3,9.700000,98.0,0.4100,...,0.427273,5.0,-0.0250,0.0480,-0.0410,3.0,-4.0,-2.0,0.000,-1.000
11361,2003-11-01,20300027,2003,1610612764,Washington,Wizards,3,8.454545,79.0,0.4430,...,-0.945455,-5.0,-0.0130,0.1370,0.0100,-12.0,-6.0,-2.0,0.000,0.000
13727,2003-11-01,20300029,2003,1610612737,Atlanta,Hawks,3,11.333333,94.0,0.4000,...,3.222222,15.0,0.0120,-0.0360,0.3330,2.0,23.0,-1.0,-0.500,-1.000
14542,2003-11-01,20300039,2003,1610612744,Golden State,Warriors,2,7.900000,87.0,0.3910,...,-0.827273,-2.0,-0.0270,-0.1790,0.2380,3.0,11.0,0.0,-0.500,0.000
16924,2003-11-01,20300036,2003,1610612743,Denver,Nuggets,3,6.250000,85.0,0.3560,...,-3.583333,-15.0,-0.1580,0.0230,-0.2370,-16.0,5.0,-3.0,-0.500,1.000
19369,2003-11-01,20300031,2003,1610612750,Minnesota,Timberwolves,3,3.750000,61.0,0.3330,...,-4.666667,-21.0,-0.0530,-0.0150,-0.1330,-9.0,-13.0,-3.0,-0.500,1.000
20171,2003-11-01,20300033,2003,1610612742,Dallas,Mavericks,3,10.181818,95.0,0.4360,...,0.781818,-4.0,-0.1390,0.1480,-0.4130,-6.0,21.0,0.0,-0.500,0.000
12160,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,3,8.600000,72.0,0.2680,...,1.266667,-11.0,-0.1320,-0.0410,-0.1590,-6.0,12.0,0.0,0.500,1.000
807,2003-11-01,20300030,2003,1610612740,New Orleans,Pelicans,3,10.636364,100.0,0.4490,...,0.036364,7.0,-0.0230,0.2180,0.1370,-2.0,-6.0,0.0,0.000,0.000
20975,2003-11-01,20300034,2003,1610612745,Houston,Rockets,2,13.125000,102.0,0.4870,...,3.125000,11.0,0.1170,-0.0080,0.3400,-3.0,0.0,2.0,1.000,1.000
5679,2003-11-02,20300040,2003,1610612747,Los Angeles,Lakers,3,12.800000,103.0,0.4570,...,-0.200000,-1.0,-0.1370,-0.2030,-0.2310,6.0,15.0,1.0,0.500,1.000
12161,2003-11-03,20300041,2003,1610612753,Orlando,Magic,4,7.400000,85.0,0.3900,...,-0.500000,11.0,-0.0180,-0.1760,0.3400,-4.0,-4.0,0.0,0.333,0.000
17694,2003-11-03,20300043,2003,1610612763,Memphis,Grizzlies,3,9.000000,79.0,0.4170,...,0.363636,-7.0,-0.0120,-0.1980,-0.1020,4.0,1.0,0.0,-0.167,0.000
10599,2003-11-03,20300046,2003,1610612762,Utah,Jazz,3,9.727273,102.0,0.4400,...,0.227273,29.0,-0.0160,-0.0180,-0.1500,5.0,3.0,-2.0,-0.167,1.000
14543,2003-11-03,20300047,2003,1610612757,Portland,Trail Blazers,3,10.083333,104.0,0.4940,...,2.333333,14.0,0.0260,0.2140,-0.1260,5.0,13.0,3.0,0.167,1.000
6493,2003-11-03,20300044,2003,1610612741,Chicago,Bulls,4,5.727273,68.0,0.2800,...,-2.000000,-3.0,-0.0840,0.0000,0.1170,0.0,3.0,0.0,-0.167,0.500
8946,2003-11-03,20300045,2003,1610612742,Dallas,Mavericks,4,16.111111,127.0,0.5170,...,9.555556,46.0,0.1600,0.0700,0.2800,14.0,6.0,5.0,0.667,1.000
2479,2003-11-03,20300042,2003,1610612737,Atlanta,Hawks,4,9.500000,99.0,0.4680,...,0.500000,2.0,-0.0110,0.0910,-0.1250,0.0,4.0,-6.0,-1.000,-1.000
8119,2003-11-04,20300050,2003,1610612749,Milwaukee,Bucks,4,10.700000,98.0,0.4480,...,-0.300000,11.0,0.0230,-0.1630,0.0360,-1.0,8.0,-1.0,-0.333,0.000
8947,2003-11-04,20300051,2003,1610612759,San Antonio,Spurs,5,7.500000,80.0,0.3820,...,-4.100000,-13.0,-0.0880,0.0530,-0.1000,2.0,5.0,3.0,0.500,1.000
6494,2003-11-04,20300049,2003,1610612751,New Jersey,Nets,4,12.777778,98.0,0.4250,...,-0.122222,0.0,-0.0960,0.1110,-0.1710,4.0,-2.0,1.0,0.000,0.000
4869,2003-11-04,20300048,2003,1610612754,Indiana,Pacers,4,11.400000,103.0,0.4480,...,-1.418182,-6.0,-0.0400,-0.2530,-0.1140,-6.0,3.0,0.0,0.000,0.000
808,2003-11-05,20300056,2003,1610612765,Detroit,Pistons,4,10.300000,96.0,0.4170,...,1.936364,6.0,0.0100,-0.0210,0.1210,-3.0,10.0,3.0,0.000,-0.500
20976,2003-11-05,20300061,2003,1610612757,Portland,Trail Blazers,4,8.333333,83.0,0.3920,...,-1.766667,-5.0,0.0190,-0.0710,-0.0430,-1.0,-3.0,-3.0,-0.334,-0.500
9800,2003-11-05,20300055,2003,1610612752,New York,Knicks,4,9.363636,75.0,0.4030,...,-3.036364,-32.0,0.0030,0.0740,-0.3910,1.0,-3.0,2.0,-0.167,-0.500
4870,2003-11-05,20300057,2003,1610612739,Cleveland,Cavaliers,4,10.111111,85.0,0.4790,...,5.838384,25.0,0.1880,0.0980,-0.0400,11.0,-12.0,-2.0,-0.500,0.000
2,2003-11-05,20300060,2003,1610612744,Golden State,Warriors,4,7.800000,72.0,0.3720,...,-4.200000,-18.0,-0.0550,-0.0730,-0.1330,2.0,-4.0,-2.0,0.083,0.500
16925,2003-11-05,20300058,2003,1610612750,Minnesota,Timberwolves,5,11.222222,88.0,0.4440,...,2.222222,0.0,0.0810,0.1410,0.1620,-3.0,-8.0,0.0,-0.167,1.000
3256,2003-11-05,20300054,2003,1610612753,Orlando,Magic,5,6.000000,68.0,0.2500,...,1.300000,2.0,-0.0160,0.0950,-0.1790,-2.0,5.0,-1.0,0.000,0.000
15334,2003-11-05,20300059,2003,1610612762,Utah,Jazz,4,13.000000,93.0,0.4320,...,1.000000,-6.0,0.0190,-0.2760,-0.1380,-5.0,15.0,2.0,0.334,1.000
4050,2003-11-05,20300053,2003,1610612764,Washington,Wizards,4,8.363636,85.0,0.4200,...,-3.969697,-18.0,-0.0860,-0.2410,-0.2600,-7.0,12.0,-5.0,-0.417,-0.500
2480,2003-11-05,20300052,2003,1610612755,Philadelphia,76ers,5,9.700000,94.0,0.4850,...,0.700000,14.0,0.0780,0.1830,0.0280,-2.0,-13.0,2.0,-0.250,0.500
13728,2003-11-06,20300062,2003,1610612751,New Jersey,Nets,5,8.222222,75.0,0.3380,...,-0.141414,4.0,-0.0170,0.0340,0.3330,0.0,-14.0,-3.0,-0.250,-0.500
4051,2003-11-06,20300063,2003,1610612761,Toronto,Raptors,4,4.400000,56.0,0.2750,...,-5.420000,-45.6,-0.1672,0.0470,0.0810,-12.2,-0.4,0.0,0.067,0.667
8120,2003-11-06,20300064,2003,1610612759,San Antonio,Spurs,6,7.480000,80.2,0.3692,...,-4.247273,-32.8,-0.0908,0.1198,-0.1702,-7.6,-1.4,-3.0,-0.400,0.000
20172,2003-11-07,20300075,2003,1610612744,Golden State,Warriors,5,12.666667,99.0,0.4460,...,3.111111,8.0,-0.0150,-0.1550,0.1780,7.0,4.0,-1.0,-0.250,0.667
1654,2003-11-07,20300068,2003,1610612754,Indiana,Pacers,6,9.880000,85.8,0.4250,...,-1.564444,-3.2,0.0460,0.0298,0.0852,0.6,-16.2,7.0,0.800,0.500
20977,2003-11-07,20300074,2003,1610612756,Phoenix,Suns,5,8.666667,80.0,0.3750,...,-0.424242,-7.0,-0.0320,-0.0230,-0.1250,-12.0,-2.0,-1.0,-0.250,0.000

In [138]:
final_df.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID_HOME', 'TEAM_CITY_HOME',
       'TEAM_NICKNAME_HOME', 'GAME_NUMBER_TEAM_HOME', 'TEAM_EFF_HOME',
       'TEAM_PTS_HOME', 'TEAM_FG_PCT_HOME', 'TEAM_FT_PCT_HOME',
       'TEAM_FG3_PCT_HOME', 'TEAM_AST_HOME', 'TEAM_REB_HOME',
       'TEAM_STREAK_HOME', 'TEAM_W_PCT_HOME', 'TEAM_HOME_W_PCT_HOME',
       'TEAM_ROAD_W_PCT_HOME', 'TEAM_ID_AWAY', 'TEAM_CITY_AWAY',
       'TEAM_NICKNAME_AWAY', 'GAME_NUMBER_TEAM_AWAY', 'TEAM_EFF_AWAY',
       'TEAM_PTS_AWAY', 'TEAM_FG_PCT_AWAY', 'TEAM_FT_PCT_AWAY',
       'TEAM_FG3_PCT_AWAY', 'TEAM_AST_AWAY', 'TEAM_REB_AWAY',
       'TEAM_STREAK_AWAY', 'TEAM_W_PCT_AWAY', 'TEAM_HOME_W_PCT_AWAY',
       'TEAM_ROAD_W_PCT_AWAY', 'HOME_TEAM_WINS', 'EFF_DIFFERENCE',
       'PTS_DIFFERENCE', 'FG_PCT_DIFFERENCE', 'FT_PCT_DIFFERENCE',
       'FG3_PCT_DIFFERENCE', 'AST_DIFFERENCE', 'REB_DIFFERENCE',
       'STREAK_DIFFERENCE', 'W_PCT_DIFFERENCE', 'HOME_ROAD_W_PCT_DIFFERENCE'],
      dtype='object')

In [140]:
final_df.to_csv('Dataset With All Columns.csv', index = False)

## Getting Dataset for the Model

In [139]:
model_df = final_df[['GAME_DATE_EST', 'GAME_ID', 'SEASON', 'TEAM_ID_HOME', 'TEAM_CITY_HOME', 'TEAM_NICKNAME_HOME', 'GAME_NUMBER_TEAM_HOME',
                    'TEAM_ID_AWAY', 'TEAM_CITY_AWAY', 'TEAM_NICKNAME_AWAY', 'GAME_NUMBER_TEAM_AWAY',
                    'EFF_DIFFERENCE', 'PTS_DIFFERENCE', 'FG_PCT_DIFFERENCE', 'FT_PCT_DIFFERENCE', 'FG3_PCT_DIFFERENCE', 'AST_DIFFERENCE',
                    'REB_DIFFERENCE', 'STREAK_DIFFERENCE', 'W_PCT_DIFFERENCE', 'HOME_ROAD_W_PCT_DIFFERENCE', 'HOME_TEAM_WINS']]
model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24073 entries, 2478 to 11359
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GAME_DATE_EST               24073 non-null  object
 1   GAME_ID                     24073 non-null  int64
 2   SEASON                      24073 non-null  int64
 3   TEAM_ID_HOME                24073 non-null  int64
 4   TEAM_CITY_HOME              24073 non-null  object
 5   TEAM_NICKNAME_HOME          24073 non-null  object
 6   GAME_NUMBER_TEAM_HOME       24073 non-null  int64
 7   TEAM_ID_AWAY                24073 non-null  int64
 8   TEAM_CITY_AWAY              24073 non-null  object
 9   TEAM_NICKNAME_AWAY          24073 non-null  object
 10  GAME_NUMBER_TEAM_AWAY       24073 non-null  int64
 11  EFF_DIFFERENCE              24073 non-null  float64
 12  PTS_DIFFERENCE              24073 non-null  float64
 13  FG_PCT_DIFFERENCE           24073 non-null  float64
 14  FT_PCT_DIFFERENCE           24073 non-null  float64
 15  FG3_PCT_DIFFERENCE          24073 non-null  float64
 16  AST_DIFFERENCE              24073 non-null  float64
 17  REB_DIFFERENCE              24073 non-null  float64
 18  STREAK_DIFFERENCE           24073 non-null  float64
 19  W_PCT_DIFFERENCE            24073 non-null  float64
 20  HOME_ROAD_W_PCT_DIFFERENCE  24073 non-null  float64
 21  HOME_TEAM_WINS              24073 non-null  int64
dtypes: float64(10), int64(7), object(5)
memory usage: 4.2+ MB

In [141]:
model_df.head(30)

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_HOME,TEAM_CITY_HOME,TEAM_NICKNAME_HOME,GAME_NUMBER_TEAM_HOME,TEAM_ID_AWAY,TEAM_CITY_AWAY,TEAM_NICKNAME_AWAY,...,PTS_DIFFERENCE,FG_PCT_DIFFERENCE,FT_PCT_DIFFERENCE,FG3_PCT_DIFFERENCE,AST_DIFFERENCE,REB_DIFFERENCE,STREAK_DIFFERENCE,W_PCT_DIFFERENCE,HOME_ROAD_W_PCT_DIFFERENCE,HOME_TEAM_WINS
2478,2003-10-30,20300016,2003,1610612753,Orlando,Magic,2,1610612740,New Orleans,Pelicans,...,-3.0,0.044,-0.148,0.090,-7.0,-11.0,0.0,0.000,0.0,0
1652,2003-10-30,20300018,2003,1610612756,Phoenix,Suns,2,1610612739,Cleveland,Cavaliers,...,-10.0,-0.104,0.143,-0.045,-10.0,4.0,0.0,0.000,0.0,1
1,2003-10-31,20300024,2003,1610612741,Chicago,Bulls,2,1610612737,Atlanta,Hawks,...,-9.0,-0.081,-0.124,0.017,-2.0,-11.0,0.0,0.000,0.0,1
18553,2003-10-31,20300025,2003,1610612746,Los Angeles,Clippers,2,1610612760,Seattle,Thunder,...,-9.0,0.010,0.179,0.090,-1.0,6.0,-2.0,-1.000,0.0,0
21775,2003-10-31,20300019,2003,1610612761,Toronto,Raptors,2,1610612764,Washington,Wizards,...,-9.0,-0.062,0.133,-0.250,-8.0,-3.0,0.0,0.000,0.0,1
14541,2003-10-31,20300026,2003,1610612758,Sacramento,Kings,2,1610612755,Philadelphia,76ers,...,17.0,0.066,0.267,-0.128,2.0,2.0,0.0,0.000,1.0,1
9799,2003-10-31,20300021,2003,1610612754,Indiana,Pacers,2,1610612749,Milwaukee,Bucks,...,0.0,0.034,-0.277,0.278,-7.0,-3.0,2.0,1.000,0.0,0
10598,2003-10-31,20300022,2003,1610612751,New Jersey,Nets,2,1610612750,Minnesota,Timberwolves,...,-8.0,-0.040,0.096,0.197,0.0,-7.0,-2.0,-1.000,0.0,1
22566,2003-10-31,20300020,2003,1610612748,Miami,Heat,3,1610612765,Detroit,Pistons,...,-12.0,-0.026,0.008,0.084,-1.0,-1.0,-1.0,0.000,0.0,0
1653,2003-11-01,20300038,2003,1610612757,Portland,Trail Blazers,2,1610612739,Cleveland,Cavaliers,...,6.0,-0.001,0.179,0.083,-5.0,-11.0,1.0,0.000,0.0,1
3255,2003-11-01,20300032,2003,1610612749,Milwaukee,Bucks,3,1610612741,Chicago,Bulls,...,-7.0,0.142,-0.112,-0.233,-7.0,-4.0,0.0,0.000,0.0,1
8118,2003-11-01,20300037,2003,1610612756,Phoenix,Suns,3,1610612747,Los Angeles,Lakers,...,-14.0,-0.093,0.111,-0.150,-16.0,-3.0,0.0,-0.500,1.0,0
22567,2003-11-01,20300028,2003,1610612753,Orlando,Magic,3,1610612765,Detroit,Pistons,...,5.0,-0.025,0.048,-0.041,3.0,-4.0,-2.0,0.000,-1.0,0
11361,2003-11-01,20300027,2003,1610612764,Washington,Wizards,3,1610612751,New Jersey,Nets,...,-5.0,-0.013,0.137,0.010,-12.0,-6.0,-2.0,0.000,0.0,0
13727,2003-11-01,20300029,2003,1610612737,Atlanta,Hawks,3,1610612754,Indiana,Pacers,...,15.0,0.012,-0.036,0.333,2.0,23.0,-1.0,-0.500,-1.0,0
14542,2003-11-01,20300039,2003,1610612744,Golden State,Warriors,2,1610612755,Philadelphia,76ers,...,-2.0,-0.027,-0.179,0.238,3.0,11.0,0.0,-0.500,0.0,1
16924,2003-11-01,20300036,2003,1610612743,Denver,Nuggets,3,1610612758,Sacramento,Kings,...,-15.0,-0.158,0.023,-0.237,-16.0,5.0,-3.0,-0.500,1.0,1
19369,2003-11-01,20300031,2003,1610612750,Minnesota,Timberwolves,3,1610612761,Toronto,Raptors,...,-21.0,-0.053,-0.015,-0.133,-9.0,-13.0,-3.0,-0.500,1.0,1
20171,2003-11-01,20300033,2003,1610612742,Dallas,Mavericks,3,1610612762,Utah,Jazz,...,-4.0,-0.139,0.148,-0.413,-6.0,21.0,0.0,-0.500,0.0,1
12160,2003-11-01,20300035,2003,1610612759,San Antonio,Spurs,3,1610612752,New York,Knicks,...,-11.0,-0.132,-0.041,-0.159,-6.0,12.0,0.0,0.500,1.0,1
807,2003-11-01,20300030,2003,1610612740,New Orleans,Pelicans,3,1610612738,Boston,Celtics,...,7.0,-0.023,0.218,0.137,-2.0,-6.0,0.0,0.000,0.0,1
20975,2003-11-01,20300034,2003,1610612745,Houston,Rockets,2,1610612763,Memphis,Grizzlies,...,11.0,0.117,-0.008,0.340,-3.0,0.0,2.0,1.000,1.0,0
5679,2003-11-02,20300040,2003,1610612747,Los Angeles,Lakers,3,1610612744,Golden State,Warriors,...,-1.0,-0.137,-0.203,-0.231,6.0,15.0,1.0,0.500,1.0,1
12161,2003-11-03,20300041,2003,1610612753,Orlando,Magic,4,1610612752,New York,Knicks,...,11.0,-0.018,-0.176,0.340,-4.0,-4.0,0.0,0.333,0.0,0
17694,2003-11-03,20300043,2003,1610612763,Memphis,Grizzlies,3,1610612759,San Antonio,Spurs,...,-7.0,-0.012,-0.198,-0.102,4.0,1.0,0.0,-0.167,0.0,1
10599,2003-11-03,20300046,2003,1610612762,Utah,Jazz,3,1610612750,Minnesota,Timberwolves,...,29.0,-0.016,-0.018,-0.150,5.0,3.0,-2.0,-0.167,1.0,1
14543,2003-11-03,20300047,2003,1610612757,Portland,Trail Blazers,3,1610612755,Philadelphia,76ers,...,14.0,0.026,0.214,-0.126,5.0,13.0,3.0,0.167,1.0,0
6493,2003-11-03,20300044,2003,1610612741,Chicago,Bulls,4,1610612745,Houston,Rockets,...,-3.0,-0.084,0.000,0.117,0.0,3.0,0.0,-0.167,0.5,0
8946,2003-11-03,20300045,2003,1610612742,Dallas,Mavericks,4,1610612748,Miami,Heat,...,46.0,0.160,0.070,0.280,14.0,6.0,5.0,0.667,1.0,1
2479,2003-11-03,20300042,2003,1610612737,Atlanta,Hawks,4,1610612740,New Orleans,Pelicans,...,2.0,-0.011,0.091,-0.125,0.0,4.0,-6.0,-1.000,-1.0,1

In [142]:
model_df.to_csv('Dataset For ML Modeling.csv', index=False)